.container,
.mobileContainer {
  flex-wrap: wrap;
  list-style: none;
}

.container {
  display: none;
  justify-content: center;
  margin: 18px auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 920px) {
    display: flex;
    max-width: 1200px;
  }

  li {
    margin: 8px 26px;
  }
}

.mobileContainer {
  display: flex;
  margin-top: 36px;
  margin-bottom: 16px;
  padding-left: 14px;
  padding-right: 14px;

  @media screen and (min-width: 920px) {
    display: none;
  }

  li {
    width: calc(100% / 3);
    margin-bottom: 14px;
    text-align: center;

    &:nth-child(n + 10) {
      display: none;
    }

    @media screen and (min-width: 600px) {
      width: calc(100% / 4);

      &:nth-child(n + 10) {
        display: block;
      }
    }
  }
}

.logoImage {
  height: 36px;
  opacity: 20%;

  @media screen and (min-width: 760px) {
    height: 48px;
  }
}