.blue span.ag-header-group-text {
    background-color: lightblue;
}

.green span.ag-header-group-text {
    background-color: lightgreen;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.divider {
    height: 5%;
}

.grid {
    flex: 1 1 auto;
}
