#search-wrapper {
    margin-bottom: 2rem;

    @include media-breakpoint-down(lg) {
        width: 80%;
    }
}

#search-input {
    @extend .form-control;
}

.algolia-autocomplete {
    width: 100%;
}

.algolia-autocomplete .aa-input,
.algolia-autocomplete .aa-hint {
    @extend .form-control;
}

.algolia-autocomplete .aa-hint {
    color: #999;
}

.algolia-autocomplete .aa-dropdown-menu {
    border: 1px solid $border-color;
    width: 30rem;

    @extend %card;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    border-bottom: 1px solid $border-color;
    cursor: pointer;
    padding: 1rem 2rem;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: $blue-2;
    color: $white;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-style: normal;
    font-weight: bold;
}

input + #kbd-hint {
    font-size: 70%;
    opacity: 1;
    position: absolute;
    right: 0.7rem;
    top: 0.7rem;
    transition: all 0.5s linear;

    kbd {
        background-color: $gray-100;
        border: 1px solid $border-color;
        border-bottom-width: 2px;
        color: $gray-700;
    }
}

input:focus + #kbd-hint {
    opacity: 0;
}

input:not(:empty) + #kbd-hint {
    opacity: 0;
}
