.ag-input-field-input:where(
        input:not([type]),
        input[type='text'],
        input[type='number'],
        input[type='tel'],
        input[type='date'],
        input[type='datetime-local'],
        textarea
    ) {
    border-top: none;
    border-left: none;
    border-right: none;
}
