---
import type { Framework } from '@ag-grid-types';
import { urlWithPrefix } from '@utils/urlWithPrefix';

const { framework } = Astro.params;
const { href } = Astro.props;
const url = urlWithPrefix({ url: href, framework: framework as Framework });
---

<a href={url}><slot /></a>
