.release-notes-collapsible{
    width: 100%;
    height: 50px;
    text-align: left;
    background: #f8f8f8;
    font-weight: bold;
    font-size: 18px;
    border-width: 1px;
    display: flex;
    align-items: center;

    // border: none;
    border-color: #babfc7

}

.header-collapsible{
    width: 17%;
    height: 25px;
    text-align: left;
    background: #f8f8f8;
    font-weight: bold;
    font-size: 18px;
    border-width: 1px;
    display: flex;
    align-items: center;
    // border: none;
    border-color: #babfc7
}

.header-collapsible:active{
    // border-style: outset;
}