@use '../../design-system' as *;

$colorFlowBreakpoint: 1050px;

.colorSubsections {
    display: flex;
    flex-direction: column;
    gap: $size-3;
}

.swatches {
    display: flex;
    flex-direction: column;

    h4 {
        margin-bottom: 0;
    }

    ul {
        columns: 2;
        margin-bottom: $size-4 !important; // !important for .ag-styles specificity
    }

    li {
        break-inside: avoid;
        margin-bottom: $size-2;
    }
}

.swatch {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 0 $size-2;
    grid-template-areas:
        'color name'
        'color sassName'
        'color colorValue';
}

.color {
    grid-area: color;
    border-radius: var(--border-radius);
}

.color--light {
    border: 1px solid var(--border-color);
}

.name {
    composes: font-size-large bold-text from global;

    grid-area: name;
    margin-top: -$size-half !important; // !important needed because of .ag-styles specificity
    margin-bottom: $size-half !important; // !important needed because of .ag-styles specificity
    text-transform: capitalize;
}

.cssName {
    grid-area: sassName;
    margin-bottom: $size-half !important; // !important needed because of .ag-styles specificity

    code::before {
        content: 'var(';
    }

    code::after {
        content: ')';
    }
}

.colorValue {
    composes: font-size-extra-small monospace-text from global;

    grid-area: colorValue;

    span {
        opacity: calc(1 / 3);
    }
}
