@use '../../design-system' as *;

.ag-styles {
  @include design-system-styles();
}

.ag-styles .style-guide {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";

  header {
    grid-area: header;
    margin-bottom: 2rem;
  }

  main {
    grid-area: main;
  }

  main > section {
    margin-bottom: 128px;

    h2:first-child {
        margin-bottom: -1rem;
    }
  }

  aside {
    grid-area: sidebar;
    position: fixed;
    padding: $size-3 $size-3 $size-3 0;
  }

  .group-name:not(:first-child) {
    margin-top: $size-2;
  }

  .grid {
    display: flex;
    gap: $size-6;
  }

  .item-label {
    margin-top: $size-4;
    margin-bottom: $size-half;

    span {
        text-transform: capitalize;
    }

    code {
        margin-left: $size-half;
    }
  }

  .text-elements-list {
    display: flex;
    flex-wrap: wrap;

    p {
        min-width: 20%;
    }
  }
}
