$red: #e11f22;
$red-highlight: #eb1c17;

$blue-1: #00407f;
$blue-2: #0084e7;
$blue-3: #8abde3;
$blue-4: #f1f7ff;
$blue-5: #f9fcff;

$grey-1: #6d6d6d;
$grey-2: #a3a4a5;
$grey-3: #c2c2c2;
$grey-4: #ebebeb;

$offwhite: $blue-5;
$white: #ffffff;

$yellow: #fffbd9;
$teal: #00e7b1;

$max-width: 1400px;

$enable-gradients: true;
$enable-shadows: true;

$primary: $blue-2;
$secondary: #a3a4a5;

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'darkblue': $blue-1,
    'lightgrey': $grey-4,
);

$border-color: #dee2e6;
$code-background-color: #212529;

body {
    background-color: $white;
}

@mixin enterprise-icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    background-image: url('../svg/enterprise.svg');
    text-indent: -10000px;
    background-position-y: center;
    background-repeat: no-repeat;
    content: 'e';
    margin-left: 3px;
}
