.menu-view {
    &__title {
        composes: my-2 p-2 from global;
        font-size: 2.0rem;
        font-weight: 500;
        text-align: left;
        text-transform: capitalize;
        margin: 10px 0 0 10px;
        border-radius: 0.3rem;

        @include media-breakpoint-down(md) {
            @supports (position: sticky) {
                position: sticky;
                top: 0;
                z-index: 1;
            }
        }
    }

    &__tile-row {
        composes: d-flex from global;
        flex-wrap: wrap;
        margin: -15px 8px 25px;

    }
    
}