.menu-view {
    &__title {
        composes: ml-3 mb-2 from global;
        font-size: 2.5rem;
        font-weight: 400;
        text-align: left;
    }

    &__tile-row {
        composes: d-flex from global;
        flex-wrap: wrap;
    }
    
}