@use '../../design-system' as *;

.tile {
    $columns-gap: $size-2;

    $columns-2: calc(50% - $columns-gap / 2);
    $columns-3: calc(33.3333% - $columns-gap / 3 * 2);
    $columns-4: calc(25% - $columns-gap / 4 * 3);
    $columns-5: calc(20% - $columns-gap / 5 * 4);

    width: 100%;
    background-color: var(--background-100);
    border-radius: var(--border-radius);
    border: 2px solid var(--bright-blue-gray);
    transition: color $default-transition-timing, border-color $default-transition-timing,
        background-color $default-transition-timing;

    &:focus-visible {
        outline: none;
        border-color: var(--link-color);
    }

    &:not(.videoTile) {
        padding: $size-2;
    }

    @media screen and (min-width: $breakpoint-docs-home-small) {
        width: $columns-2;
    }

    @media screen and (min-width: 1200px) {
        width: $columns-3;
    }

    @media screen and (min-width: 1500px) {
        width: $columns-4;
    }

    @media screen and (min-width: 1800px) {
        width: $columns-5;
    }
}

.docsSectionTile {
    @media screen and (min-width: $breakpoint-docs-home-small) {
        min-height: 21rem;
    }

    h3 {
        display: flex;
        align-items: center;
        gap: $size-half;
        margin-bottom: 0;
        line-height: var(--line-height-ultra-tight);
    }
}

.sectionIcon {
    --icon-size: #{$size-5};
    --text-color: var(--secondary-text-color);

    margin-right: $size-1;
    flex-shrink: 0;
}

.collapseIndicator {
    --icon-size: #{$size-4};
    --text-color: var(--link-color);

    margin-left: auto;
    flex-shrink: 0;

    @media screen and (min-width: $breakpoint-docs-home-small) {
        display: none;
    }
}

.renderedItems {
    margin-top: $size-2;

    @media screen and (max-width: $breakpoint-docs-home-small) {
        a {
            display: inline-block;
            padding-top: $size-half;
            padding-bottom: $size-half;
        }

        &.collapsed {
            display: none;
        }
    }
}

.topLevel {
    display: block;
}

.lowerLevel {
    display: block;
    margin-right: 0.25em;
    white-space: nowrap;
    font-size: var(--font-size-small);
}

.subList {
    padding-left: 0.5rem;

    @media screen and (min-width: $breakpoint-docs-home-small) {
        display: flex;
        flex-wrap: wrap;
    }

    > span:last-child span {
        display: none;
    }
}

.subListComma {
    display: none;

    @media screen and (min-width: $breakpoint-docs-home-small) {
        display: inline;
    }
}

.linkTile {
    text-align: center;

    &:hover {
        border-color: var(--link-hover-color);
    }
}

.linkTileTitle {
    margin-top: $size-2;
}

.videoTile {
    overflow: hidden;
    aspect-ratio: 16/9;
    background-color: var(--background-300);

    &:hover {
        background-color: var(--link-hover-color);
    }

    img {
        border-radius: 3px;
        overflow: hidden;
    }
}

.enterpriseIcon {
    --icon-size: 1rem !important;
    --text-color: red !important;

    margin-left: 0.2em;
    margin-top: -0.1em;
}
