---
import Layout from '../../layouts/Layout.astro';
import CommunityMenu from '@components/community-section/menu';
import LayoutStyles from '@design-system/modules/community-section/Layout.module.scss';
import EventsNew from '@components/community-section/eventsnew';
---

<Layout title="AG Grid">
    <div class="layout-max-width-large">
        <CommunityMenu path={Astro.url.pathname} client:only/>
        <div class={LayoutStyles.container}>
            <header class={LayoutStyles.header}>
                <h1>Events</h1>
                <p>AG Grid is regular sponsor of some of the biggest JavaScript, React & Angular conferences around. Take a look at where we'll be this year, or browse through our previous events</p>
            </header>
            <div class={LayoutStyles.content}>
                <section>
                    <h2>Events</h2>
                    <EventsNew client:only/>
                </section>
            </div>
        </div>
    </div>
</Layout>