.example-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#myGrid {
    flex: 1 1 0px;
    width: 100%;
}

.example-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
}

.ag-cell-inline-editing {
    border: 1px solid lightgreen !important;
}
.yearSelect {
    padding: 4px;
    border: 1px solid var(--ag-border-color);
    background: var(--ag-header-background-color);
    text-align: center;
}

.yearButton {
    margin: 4px;
}
