.ag-cell-inline-editing {
    border: 1px solid lightgreen !important;
}

.yearSelect {
    padding: 4px;
    border: 1px solid var(--ag-border-color);
    background: var(--ag-header-background-color);
    text-align: center;
}

.yearButton {
    margin: 4px;
}
