.ag-sparkline-tooltip {
  background-color: rgba(0, 113, 235, 0.7);
  color: rgb(255, 255, 255);
  border-radius: 2px;
  font: 14px arial, sans-serif;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px 2px;
  padding: 0 5px;
}

.ag-sparkline-tooltip-title {
  display: block;
  font-weight: bold;
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 8px;
}

.ag-sparkline-tooltip-content {
  display: block;
  padding: 8px;
}
