.ag-row.ag-row-pinned-source {
    color: var(--ag-pinned-source-row-text-color);
    background-color: var(--ag-pinned-source-row-background-color);
    font-family: var(--ag-pinned-source-row-font-family);
}

.ag-floating-top-viewport {
    border-bottom: var(--ag-pinned-row-border);
}

.ag-floating-bottom-viewport {
    border-top: var(--ag-pinned-row-border);
}
