.ag-picker-field-display {
    flex: 1 1 auto;
}

.ag-picker-field {
    display: flex;
    align-items: center;
}

.ag-picker-field-icon {
    display: flex;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.ag-picker-field-wrapper {
    overflow: hidden;
    border: var(--ag-picker-button-border);
    border-radius: 5px;
    background-color: var(--ag-picker-button-background-color);
    min-height: max(var(--ag-list-item-height), calc(var(--ag-spacing) * 4));

    &:disabled {
        opacity: 0.5;
    }

    &.ag-picker-has-focus,
    &:focus-within {
        box-shadow: var(--ag-focus-shadow);
        border: var(--ag-picker-button-focus-border);
        background-color: var(--ag-picker-button-focus-background-color);
    }
}
