// All breakpoints have $breakpoint prefix
// E.g. @media screen and (min-width: $breakpoint-site-header-small) {}
$page-margin-padding: 520px;

$site-header-small: 740px;
$size-header-medium: 860px;

$site-footer-two-column: 480px;
$site-footer-four-column: 840px;

$hero-small: 620px;
$hero-large: 1020px;

$quotes-medium: 940px;
$quotes-large: 1200px;

$sponsorship-large: 840px;

$fw-selector-full-width-medium: 740px;
$fw-selector-full-width-large: 1020px;

$docs-search-medium: 720px;
$docs-nav-medium: 992px;

$fw-selector-show-selected-medium: 880px;

$about-small: 660px;
$about-four-column: 880px;
$about-five-column: 1280px;

$pricing-small: 620px;
$pricing-medium: 820px;
$pricing-large: 1200px;

$changelog-pipeline-large: 980px;

$alert-flag-small: 660px;
