@use "sass:math";

// Configuration
// =============
$css-variables-root: ':root' !default; // The root level where CSS variables are applied

// Size constants
// ==============
$border-radius: .25em;

// Transition contstants
// =====================
$default-transition-timing: .25s ease-in-out;

// Typographic constants
// =====================
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$monospace-font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;

$font-weight-normal: 400;
$font-weight-bold: 600;

$font-size-extra-small: math.div(12rem, 16); // convert px values to rems
$font-size-small: math.div(14rem, 16); // convert px values to rems
$font-size-medium: math.div(16rem, 16); // convert px values to rems
$font-size-large: math.div(24rem, 16); // convert px values to rems
$font-size-extra-large: math.div(36rem, 16); // convert px values to rems
$font-size-massive: math.div(54rem, 16); // convert px values to rems
$font-size-gigantic: math.div(82rem, 16); // convert px values to rems

$line-height-tight: 1.25;
$line-height-normal: 1.5;
$line-height-loose: 1.75;

// Color constants (names from color-name.com)
// ===========================================
// blues
$ag-grid-dark-blue: hsl(210, 100%, 20%); // #003264
$dark-cerulean-blue: hsl(210, 100%, 25%); // #00407f
$medium-electric-blue: hsl(210, 95%, 30%); // #044c93
$azure-blue: hsl(211, 100%, 50%); // #007bff
$ag-grid-aqua: hsl(190, 51%, 56%); // #55b4c8
$sky-blue: hsl(211, 100%, 75%); // #80bdff
$water-blue: hsl(211, 100%, 90%); // #cce5ff

// grays
$black: hsl(210, 0%, 0%); // #000000
$dark-gunmetal-gray: hsl(210, 10.81%, 14.51%); // #212529
$auro-metal: hsl(208, 7%, 46%); // #6c757d
$ag-grid-grey: hsl(180, 7%, 73%); // #b4bebe 
$dull-light-gray: hsl(200, 7%, 83%); // #d0d4d6
$light-gray: hsl(210, 14%, 83%); // #ced4da
$platinum-gray: hsl(210, 14%, 89%); // #dee2e6
$ghost-white: hsl(210, 17%, 98%); // #f8f9fa
$white: hsl(210, 0%, 100%); // #ffffff

// others
$ag-grid-orange: hsl(33, 100%, 50%); // #ff8c00
$ag-grid-red: hsl(0, 100%, 50%); // #ff0000
$cerise-pink: hsl(332, 79%, 58%); // #e83e8c