@use "sass:math";
@use "utils" as *;

// Configuration
// =============
$css-variables-root: ':root' !default; // The root level where CSS variables are applied

// Size constants
// ==============
$border-radius: 0.25em;

// Transition contstants
// =====================
$default-transition-timing: 0.25s ease-in-out;

// Size constants
// ==============
$size-1: 8px;
$size-2: $size-1 * 2;
$size-3: $size-1 * 3;
$size-4: $size-1 * 4;
$size-5: $size-1 * 5;
$size-6: $size-1 * 6;

$size-7: $size-1 * 8;
$size-8: $size-1 * 12;
$size-9: $size-1 * 18;
$size-10: $size-1 * 26;

$size-half: math.div($size-1, 2);

// Layout constants
// ================
$max-page-width: 1400px;
$horizontal-margin: 6vw;
$site-header-height: 64px;

// Typographic constants
// =====================
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$monospace-font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;

$font-size-extra-small: px-to-rem(12); // convert px values to rems
$font-size-small: px-to-rem(14); // convert px values to rems
$font-size-medium: px-to-rem(16); // convert px values to rems
$font-size-large: px-to-rem(20); // convert px values to rems
$font-size-extra-large: px-to-rem(24); // convert px values to rems
$font-size-massive: px-to-rem(30); // convert px values to rems
$font-size-gigantic: px-to-rem(40); // convert px values to rems
$font-size-gargantuan: px-to-rem(50); // convert px values to rems

$large-font-size-extra-small: px-to-rem(13); // convert px values to rems
$large-font-size-small: px-to-rem(15); // convert px values to rems
$large-font-size-medium: px-to-rem(18); // convert px values to rems
$large-font-size-large: px-to-rem(22); // convert px values to rems
$large-font-size-extra-large: px-to-rem(26); // convert px values to rems
$large-font-size-massive: px-to-rem(32); // convert px values to rems
$large-font-size-gigantic: px-to-rem(42); // convert px values to rems
$large-font-size-gargantuan: px-to-rem(52); // convert px values to rems

$font-weight-normal: 400;
$font-weight-thin: 300;
$font-weight-bold: 600;

$line-height-normal: 1.5;
$line-height-tight: 1.25;
$line-height-ultra-tight: 1;

$icon-size: 2em;

// Color constants
// ===========================================
// Names from color-name.com
$abstract-colors: (
    // Brand (from logo)
    'ag-grid-dark-blue': #003264,
    'ag-grid-aqua': #55b4c8,
    'ag-grid-orange': #ff8c00,
    'ag-grid-red': #ff0000,
    // Blues
    'dark-cerulean-blue': #00407f,
    'medium-electric-blue': #044c93,
    'azure-blue': #007bff,
    'sky-blue': #80bdff,
    'water-blue': #cce5ff,
    'light-water-blue': #d9f0fa,
    'bright-blue-gray': #eaf0f6,
    'ghost-blue': #f9fcff,
    // Grays
    'black': #000000,
    'dark-gunmetal-gray': #212529,
    'auro-metal': #6c757d,
    'ag-grid-grey': #b4bebe,
    'dull-light-gray': #d0d4d6,
    'light-gray': #ced4da,
    'platinum-gray': #dee2e6,
    'ghost-white': #f8f9fa,
    'white': #ffffff,
    // Other
    'cerise-pink': #e83e8c,
    'danger-red': #dc3545,
    'papaya-whip': #ffeed9,
    'pineapple': #5c3508
);

$color-scales: (
    'primary':
        color-scale(
            (
                'color': #cce5ff,
                'position': 100,
            ),
            (
                'color': #007bff,
                'position': 600,
            )
        ),
    'dark-blue':
        color-scale(
            (
                'color': hsl(210, 94.7%, 29.6%),
                'position': 400,
            ),
            (
                'color': hsl(210, 100%, 19.6%),
                'position': 800,
            )
        ),
    'background':
        color-scale(
            (
                'color': hsl(210, 75%, 98.5%),
                'position': 100,
            ),
            (
                'color': hsl(205, 100%, 85%),
                'position': 600,
            )
        ),
    'neutral':
        color-scale(
            (
                'color': #f8f9fa,
                'position': 100,
            ),
            (
                'color': #212529,
                'position': 900,
            )
        ),
    'red':
        color-scale(
            (
                'color': #ffe8e7,
                'position': 100,
            ),
            (
                'color': #dc3545,
                'position': 700,
            )
        ),
    'pink':
        color-scale(
            (
                'color': hsl(332, 78.7%, 95%),
                'position': 100,
            ),
            (
                'color': hsl(332, 78.7%, 57.6%),
                'position': 700,
            )
        ),
    'orange':
        color-scale(
            (
                'color': hsl(33, 100%, 95%),
                'position': 100,
            ),
            (
                'color': hsl(33, 100%, 50%),
                'position': 700,
            )
        ),
    'green':
        color-scale(
            (
                'color': hsl(135, 80%, 92%),
                'position': 100,
            ),
            (
                'color': hsl(135, 75%, 45%),
                'position': 700,
            )
        ),
    'brown':
        color-scale(
            (
                'color': #ffeed9,
                'position': 100,
            ),
            (
                'color': #5c3508,
                'position': 700,
            )
        ),
);

$dark-scales: (
    'primary':
        color-scale(
            (
                'color': #cce5ff,
                'position': 100,
            ),
            (
                'color': #007bff,
                'position': 600,
            )
        ),
    'dark-blue':
        color-scale(
            (
                'color': hsl(210, 67%, 18%),
                'position': 400,
            ),
            (
                'color': hsl(210, 100%, 12%),
                'position': 800,
            )
        ),
    'background':
        color-scale(
            (
                'color': hsl(205, 50%, 8%),
                'position': 100,
            ),
            (
                'color': hsl(210, 100%, 15%),
                'position': 600,
            )
        ),
    'neutral':
        color-scale(
            (
                'color': #212529,
                'position': 100,
            ),
            (
                'color': hsl(210, 9%, 74%),
                'position': 900,
            )
        ),
    'red':
        color-scale(
            (
                'color': #ffe8e7,
                'position': 100,
            ),
            (
                'color': #dc3545,
                'position': 700,
            )
        ),
    'pink':
        color-scale(
            (
                'color': hsl(332, 78.7%, 95%),
                'position': 100,
            ),
            (
                'color': hsl(332, 78.7%, 57.6%),
                'position': 700,
            )
        ),
    'orange':
        color-scale(
            (
                'color': hsl(33, 100%, 95%),
                'position': 100,
            ),
            (
                'color': hsl(33, 100%, 50%),
                'position': 700,
            )
        ),
    'green':
        color-scale(
            (
                'color': hsl(135, 80%, 92%),
                'position': 100,
            ),
            (
                'color': hsl(135, 75%, 45%),
                'position': 700,
            )
        ),
    'brown':
        color-scale(
            (
                'color': #ffeed9,
                'position': 100,
            ),
            (
                'color': #5c3508,
                'position': 700,
            )
        ),
);

// Semantic colors based on abstract colors
$semantic-colors: (
    // Background
    'default-background-color': white,
    // Text
    'default-text-color': neutral-900,
    'text-color': default-text-color,
    'secondary-text-color': neutral-500,
    // Border
    'border-color': neutral-200,
    // Link
    'link-color': primary-600,
    'link-hover-color': orange-700,
    // Button
    'button-text-color': white,
    'button-color': primary-600,
    'button-hover-color': primary-800,
    'button-active-color': primary-900,
    'button-focus-box-shadow-color': primary-100,
    // Code
    'code-text-color': pink-700,
    'code-background-color': neutral-100,
    // Input
    'input-background-color': default-background-color,
    'input-secondary-background-color': neutral-300,
    'input-secondary-border-color': neutral-500,
    'input-primary-color': primary-600,
    'input-focus-border-color': primary-200,
    'input-focus-box-shadow-color': primary-100,
    'input-error-color': red-700,
    // Table
    'table-odd-row-background-color': background-100,
    // Site header
    'site-header-background': dark-blue-400,
    'site-nav-background': dark-blue-800,
    // Toolbar
    'toolbar-background': background-200,
    // Warnings
    'warning-background': brown-100,
    'warning-text': brown-700
);

// Semantic colors based on abstract colors
$dark-semantic-colors: (
    // Background
    'default-background-color': neutral-100,
    // Text
    'default-text-color': neutral-900,
    'text-color': default-text-color,
    'secondary-text-color': neutral-600,
    // Border
    'border-color': neutral-200,
    // Link
    'link-color': primary-500,
    'link-hover-color': orange-700,
    // Button
    'button-text-color': white,
    'button-color': primary-600,
    'button-hover-color': primary-800,
    'button-active-color': primary-900,
    'button-focus-box-shadow-color': primary-100,
    // Code
    'code-text-color': pink-600,
    'code-background-color': neutral-100,
    // Input
    'input-background-color': default-background-color,
    'input-secondary-background-color': neutral-300,
    'input-secondary-border-color': neutral-500,
    'input-primary-color': primary-600,
    'input-focus-border-color': primary-200,
    'input-focus-box-shadow-color': primary-100,
    'input-error-color': red-600,
    // Table
    'table-odd-row-background-color': background-100,
    // Site header
    'site-header-background': dark-blue-400,
    'site-nav-background': dark-blue-800,
    // Toolbar
    'toolbar-background': background-200,
    // Warnings
    'warning-background': brown-100,
    'warning-text': brown-700,
    // Not semantic
    'bright-blue-gray': neutral-200
);
