.example-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#myGrid {
    flex: 1 1 0px;
    width: 100%;
}

.category-for-sale {
    font-weight: bold;
    background-color: #265538;
}

.category-sold {
    font-weight: bold;
    background-color: #1c305e;
}

.category-in-workshop {
    font-weight: bold;
    background-color: #927e2f;
}

.bt-action {
    margin: 0;
}
