@use "variables" as *;

.changeValue {
    border-radius: 20px;
    padding: 5px 12px;
}

.positive {
    color: $positive-color;
    background-color: rgba($positive-color, 0.1);
}

.negative {
    color: $negative-color;
    background-color: rgba($negative-color, 0.19);
}
