.main-wrapper {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: darkslategray;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    overflow: hidden;
}

.quadrant {
    background-color: aliceblue;
    position: relative;
    display: flex;
    flex: 1 1 50%;
    overflow: hidden;
    border: 1px solid lightgray;
    margin: 10px;
}

.quadrant > div {
    width: 100%;
    height: 100%;
}