body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.main-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #616161;
}

.row {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex: 1 1 auto;
    max-height: 50%;
    justify-content: space-between;
}

.quadrant {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #fdfdfd;
    border: 1px solid lightgray;
    flex: 1 1 auto;
    max-width: calc(50% - 8px);
    margin: 5px;
}

.quadrant:first-child {
    margin-right: 0;
}

.quadrant:last-child {
    margin-left: 0;
}

.row:last-child .quadrant {
    margin-top: 0;
}

.quadrant-top {
    font-weight: bold;
    text-align: center;
}

.quadrant-body {
    flex: 1 1 auto;
    overflow: hidden;
}

