.example-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#myGrid {
    flex: 1 1 0px;
}

label.checkbox {
    display: inline-block;
    user-select: none;
    margin: 20px;
}

.fa-hourglass-half {
    color: navy;
    font-size: 18px;
}
