.example-runner {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 20px 0;
}

.example-runner__header {
    display: flex;
    background-image: linear-gradient(to bottom right, #0084e7, #0067b4);
    padding: 10px;
    border-radius: 5px 5px 0 0;
    height: 3.2rem;
}

.example-runner__title {
    flex: 1;
    font-weight: bold;
    color: white;
    line-height: 2rem;
}

.example-runner__import-type,
.react-version-selector {
    select {
        font-size: 0.9rem;
        padding: 5px;
        border-radius: 5px;
        margin-left: 10px;
    }
}

.example-runner__body {
    display: flex;
}

.example-runner__menu {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    padding: 20px 0;
}

.example-runner__menu-item {
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 12px;
    cursor: pointer;
    color: darkblue;

    a {
        color: darkblue;
    }

    &--selected {
        color: white;
        background-color: darkblue;
    }
}

.example-runner__content {
    flex: 1 1 auto;
    overflow: hidden;
}
