.example-runner {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 20px 0;
}

.example-runner__header {
    display: flex;
    background-image: linear-gradient(to bottom right, #0084e7, #0067b4);
    padding: 10px;
    border-radius: 5px 5px 0 0;
    height: 3.2em;
}

.example-runner__title {
    flex: 1;
    font-weight: bold;
    color: white;
}

.example-runner__import-type,
.react-version-selector {
    select {
        font-size: 0.9rem;
        padding: 5px;
        border-radius: 5px;
        margin-left: 10px;
    }
}
