@use 'design-system' as *;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabContainer {
    display: flex;
    justify-content: space-between;
    gap: $spacing-size-4;
    margin-bottom: $spacing-size-12;

    .tab {
        width: 150px;
        height: 50px;
        border-radius: var(--radius-4xl);
        background: var(--color-button-secondary-bg);
        color: var(--color-fg-primary);
        border: none;
        box-shadow: var(--shadow-lg);
    }

    .activeTab {
        width: 150px;
        height: 50px;
        border-radius: var(--radius-4xl);
        border: none;
        box-shadow: var(--shadow-lg);
    }
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: $spacing-size-2;

    .featureNavButton {
        appearance: none;
        padding: 0;
        text-align: left;
        font-weight: var(--text-regular);
        border: none;
        background-color: transparent;
        box-shadow: none;
    }

    .featureNavIcon {
        fill: var(--color-fg-primary);
    }

    .featureNavIconDisabled {
        fill: var(--color-fg-disabled);
    }
}
