@use '../../design-system/core/' as *;

.footer {
    padding-top: $size-5;
    padding-bottom: calc($size-5 * 2);
    background-color: var(--dark-cerulean-blue);

    // Required to deal with .ag-styles specificity
    &:global(.ag-styles) {
        --text-color: var(--white);
        --link-color: var(--white);
        --link-hover-color: var(--white);
    }

    h4,
    p {
        opacity: 0.6666;
    }

    p:first-child {
        margin-right: $size-4;
    }
}

.row {
    @media screen and (min-width: $breakpoint-site-footer-two-column) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: $breakpoint-site-footer-four-column) {
        justify-content: space-between;
    }
}

.menu-column {
    // Required to deal with .ag-styles specificity
    :global(.ag-styles) & {
        margin-bottom: $size-5;
    }

    @media screen and (min-width: $breakpoint-site-footer-two-column) and (max-width: $breakpoint-site-footer-four-column) {
        width: 50%;

        &:nth-child(even) {
            text-align: right;
        }
    }

    @media screen and (min-width: $breakpoint-site-footer-four-column) {
        &:last-child {
            text-align: right;
        }
    }

    li {
        overflow: hidden;
    }

    a {
        display: inline-block;
        min-width: $size-6;
        margin-top: -12px;
        margin-bottom: -12px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-decoration: underline;
        text-underline-offset: 2px;
        transition: text-decoration-color $default-transition-timing;

        // Required to deal with .ag-styles specificity
        :global(.ag-styles) & {
            text-decoration: underline;
            text-decoration-color: transparent;
        }

        &:hover {
            text-decoration-color: var(--white);

            :global(.icon) {
                opacity: 1;
            }
        }
    }

    :global(.icon) {
        display: inline;
        position: relative;
        width: 22px;
        height: 22px;
        top: -1px;
        margin-right: $size-half;
        opacity: 0.6666;
        transition: opacity $default-transition-timing;
    }
}
