$two-column-breakpoint: 480px;
$four-column-breakpoint: 760px;

.footer {
    color: $white;
    background-color: $ag-dark-blue;

    &__wrapper {
        composes: container-lg py-4 from global;
    }

    &__row {
        @media screen and (min-width: $two-column-breakpoint) {
            display: flex;
            flex-wrap: wrap;
        }

        @media screen and (min-width: $four-column-breakpoint) {
            justify-content: space-between;
        }

        p {
            margin-bottom: 8px;
            line-height: 1.2;
            font-weight: 300;
            opacity: 0.6666;

            &:first-child {
                margin-right: 32px;
            }
        }
    }

    &__links {
        margin-bottom: 40px;

        @media screen and (min-width: $two-column-breakpoint) and (max-width: $four-column-breakpoint) {
            width: 50%;

            &:nth-child(even) {
                text-align: right;
            }
        }

        @media screen and (min-width: $four-column-breakpoint) {
            &:last-child {
                text-align: right;
            }
        }

        &__list {
            padding-left: 0;
            list-style-type: none;
        }

        li {
            overflow: hidden;
        }

        h4 {
            font-size: 1rem;
            opacity: 0.6666;
        }

        a {
            display: inline-block;
            min-width: 48px;
            margin-top: -12px;
            margin-bottom: -12px;
            padding-top: 12px;
            padding-bottom: 12px;
            color: $white;

            &:hover {
                color: $white;
            }
        }
    }
}
