.custom-tooltip {
    width: 165px;
    height: 80px;
    color: var(--ag-foreground-color);
    background-color: #5577CC;
    display: flex;
    flex-direction: column;
}

.custom-tooltip > * {
    margin: 4px;
}

.custom-tooltip > span:first-child {
    font-weight: bold;
}

.custom-tooltip-grouped > span:nth-child(2) {
    padding-top: 4px;
    border-top: 1px solid;
}
