@import './ag-theme-balham-import-legacy-vars';

$ag-foreground-opacity: 0.87 !default;
$ag-secondary-foreground-color-opacity: 0.54 !default;
$ag-disabled-foreground-color-opacity: 0.38 !default;

// Sizing
$ag-grid-size: 4px !default;
$ag-icon-size: 16px !default;

// these three should be changed in environment.ts, too
$ag-row-height: $ag-grid-size * 7 !default;
// theme shortcuts
$ag-default-background: white !default;
$ag-chrome-background: lighten(#ECF0F1, 3) !default;
$ag-active: #0091EA !default;
$ag-foreground-color: #000 !default;
$ag-border-color: #BDC3C7 !default;
$ag-row-border-color: #D9DCDE !default;
$ag-icon-color: #7F8C8D !default;
$ag-alt-icon-color: $ag-default-background !default;
$ag-alt-background: #ECF0F1 !default;
$ag-odd-row-background-color: rgb(252, 253, 254) !default;
$ag-header-cell-moving-background-color: $ag-default-background !default;

$ag-header-column-separator-color: transparentize($ag-border-color, 0.5) !default;

// Derived from above
$ag-foreground-color: rgba($ag-foreground-color, $ag-foreground-opacity) !default; // foreground
$ag-secondary-foreground-color: rgba($ag-foreground-color, $ag-secondary-foreground-color-opacity) !default; // foreground-secondary
$ag-disabled-foreground-color: rgba($ag-foreground-color, $ag-disabled-foreground-color-opacity) !default; // foreground-disabled
$ag-input-border-color: #95A5A6 !default;
$ag-input-disabled-background-color: #ebebeb !default;

$ag-primary-color: $ag-active !default;
$ag-accent-color: $ag-active !default;
$ag-range-selection-background-color: transparentize($ag-active, 0.8) !default;
$ag-range-selection-chart-category-background-color: rgba(0, 255, 132, 0.1) !default;
$ag-range-selection-chart-background-color: rgba(0, 88, 255, 0.1) !default;
$ag-range-selected-color-1: opacify($ag-range-selection-background-color, 0.1) !default;
$ag-range-selected-color-2: opacify($ag-range-selection-background-color, 0.2) !default;
$ag-range-selected-color-3: opacify($ag-range-selection-background-color, 0.3) !default;
$ag-range-selected-color-4: opacify($ag-range-selection-background-color, 0.4) !default;
$ag-range-selection-highlight-color: $ag-active !default;
$ag-selected-color: lighten($ag-active, 40) !default;

$ag-background-color: $ag-default-background !default;

$ag-editor-background-color: $ag-chrome-background !default;
$ag-panel-background-color: $ag-chrome-background !default;
$ag-tool-panel-background-color: $ag-chrome-background !default;
$ag-header-background-color: $ag-chrome-background !default;
$ag-header-cell-hover-background-color: $ag-header-background-color !default;
$ag-header-foreground-color: $ag-secondary-foreground-color !default;

$ag-hover-color: $ag-alt-background !default;
$ag-chip-background-color: darken($ag-alt-background, 5) !default;

$ag-row-stub-background-color: inherit !default;
$ag-row-floating-background-color: inherit !default;

$ag-group-background-color: lighten($ag-tool-panel-background-color, 1%) !default;
$ag-group-border-color: lighten($ag-border-color, 5%) !default;
$ag-group-title-background-color: darken($ag-group-background-color, 5%) !default;
$ag-group-toolbar-background-color: darken($ag-group-background-color, 2%);

// delta changes
$ag-cell-data-changed-color: #fce4ec !default;
$ag-value-change-delta-up-color: #43a047 !default;
$ag-value-change-delta-down-color: #e53935 !default;
$ag-value-change-value-highlight-background-color: transparentize(#16A085, 0.5) !default;

$ag-header-height: $ag-grid-size * 8 !default;
$ag-virtual-item-height: $ag-grid-size * 7 !default;

$ag-column-select-indent-size: $ag-grid-size + $ag-icon-size !default;
$ag-row-group-indent-size: $ag-grid-size * 3 + $ag-icon-size !default;
$ag-cell-horizontal-padding: $ag-grid-size * 3 !default;

$ag-border-radius: 2px !default;

// Fonts
$ag-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !default;

$ag-font-size: 12px !default;
$ag-font-weight: 400 !default;

$ag-secondary-font-family: $ag-font-family !default; //font-secondary
$ag-secondary-font-size: 12px !default; // font-secondary-size
$ag-secondary-font-weight: 600 !default; // font-secondary-weight
$ag-card-radius: 2px !default;
$ag-card-shadow: none !default;

$ag-tooltip-background-color: lighten(#BDC3C7, 5%) !default;
$ag-tooltip-foreground-color: $ag-foreground-color !default;
$ag-tooltip-border-radius: $ag-border-radius !default;
$ag-tooltip-border-color: $ag-tooltip-background-color !default;

$ag-input-height: $ag-grid-size * 4 !default;
$ag-button-text-transform: uppercase !default;
$ag-use-icons-for-pager-buttons: true !default;

// Icons
@import "./font-vars";
