@import "../../ag-theme-base/sass/ag-theme-base";

@if $ag-icon-font-family == 'agGridBalham' {
    @font-face {
        font-family: $ag-icon-font-family;
        src: $ag-icons-data;
        font-weight: normal;
        font-style: normal;
    }
}

@mixin ag-theme-balham() {

    %card {
        border: 1px solid $ag-border-color;
    }

    %tab {
        border: 1px solid transparent;
        border-bottom-width: 0;
        margin: $ag-grid-size;
        margin-bottom: 0;
        padding: $ag-grid-size $ag-grid-size * 2;
    }

    %selected-tab {
        background-color: $ag-default-background;
        border-bottom: 2px solid $ag-primary-color;
        border-bottom: 2px solid $ag-default-background;
        border-color: $ag-border-color;
    }

    @include ag-grid-theme();

    .ag-cell-highlight {
        background-color: $ag-range-selection-highlight-color !important;
    }

    .ag-column-drop-horizontal.ag-width-half:first-child {
        @include ag-theme-rtl(( border-right: 0 ));   
    }

    .ag-column-drop-cell {
        min-height: $ag-grid-size * 6;
    }

    .ag-column-drop-cell-button {
        margin-bottom: $ag-grid-size / 2;
        margin-top: $ag-grid-size / 2;
    }

    .ag-column-drop-cell-button:hover {
        opacity: 1;
    }

    .ag-column-drop-vertical-cell {
        margin-left: $ag-grid-size * 2;
        margin-right: $ag-grid-size * 2;
    }

    .ag-column-drop-vertical-cell-text {
        margin-left: $ag-grid-size * 2;
    }

    .ag-column-drop-horizontal {
        background-color: $ag-panel-background-color;
        height: $ag-header-height;
    }

    .ag-column-drop-horizontal-cell-text {
        margin-left: $ag-grid-size * 2;
    }

    // TODO add variable for all themes
    .ag-menu-option {
        height: $ag-grid-size * 7;
    }

    // TODO add variable for all themes
    .ag-column-select-column-group,
    .ag-column-select-column {
        height: $ag-grid-size * 5;
    }

    .ag-tabs-header {
        border-bottom: 1px solid $ag-border-color;
    }

    .ag-tab {
        margin-bottom: -2px;

        &.ag-tab-selected {
            background-color: $ag-default-background;
            border-bottom-color: transparent;
        }
    }

    .ag-tabs-body,
    .ag-popup-editor,
    .ag-menu {
        background-color: $ag-default-background;
        color: $ag-foreground-color;
    }

    .ag-details-row {
        background-color: $ag-default-background;
    }

    .ag-overlay-loading-wrapper {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .ag-overlay-loading-center {
        background-color: $ag-default-background;
        border: 1px solid $ag-border-color;
        color: $ag-foreground-color;
        padding: $ag-grid-size * 4;
    }

    .ag-rich-select-value {
        border-bottom: 1px solid $ag-border-color;
    }

    .ag-filter-apply-panel {
        border-top: 1px solid $ag-border-color;
    }

    // TODO move to base
    .ag-filter-toolpanel-body {
        background-color: $ag-background-color;
    }
}
