@import "../../ag-theme-base/sass/ag-theme-base";

@include ag-icons-font-face();

@mixin ag-theme-balham() {

    @include ag-grid-theme();

    .ag-tab {
        border: 1px solid transparent;
        border-bottom-width: 0;
        margin: $ag-grid-size;
        margin-bottom: 0;
        padding: $ag-grid-size $ag-grid-size * 2;
    }

    .ag-tab-selected {
        background-color: $ag-background-color;
        border-bottom: 2px solid $ag-background-color;
        border-color: $ag-border-color;
    }

    .ag-column-drop-cell {
        min-height: $ag-grid-size * 6;
    }

    .ag-column-drop-cell-button:hover {
        opacity: 1;
    }

    .ag-column-drop-vertical-cell {
        margin-left: $ag-grid-size * 2;
        margin-right: $ag-grid-size * 2;
    }

    .ag-column-drop-vertical-cell-text {
        margin-left: $ag-grid-size * 2;
    }

    .ag-column-drop-horizontal {
        height: $ag-header-height;
    }

    .ag-column-drop-horizontal-cell-text {
        margin-left: $ag-grid-size * 2;
    }

    // TODO add variable for all themes
    .ag-menu-option {
        height: $ag-grid-size * 7;
    }

    // TODO add variable for all themes
    .ag-column-select-column-group,
    .ag-column-select-column {
        height: $ag-grid-size * 5;
    }

    .ag-tabs-header {
        border-bottom: 1px solid $ag-border-color;
    }

    .ag-menu-header {
        background-color: $ag-header-background-color;
    }

    .ag-tab {
        margin-bottom: -2px;

        &.ag-tab-selected {
            background-color: $ag-background-color;
            border-bottom-color: transparent;
        }
    }

    .ag-details-row {
        background-color: $ag-background-color;
    }

    .ag-overlay-loading-wrapper {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .ag-overlay-loading-center {
        background-color: $ag-background-color;
        border: 1px solid $ag-border-color;
        color: $ag-foreground-color;
        padding: $ag-grid-size * 4;
    }

    .ag-rich-select-value {
        border-bottom: 1px solid $ag-border-color;
    }

    .ag-filter-apply-panel {
        border-top: 1px solid $ag-border-color;
    }

    .ag-tooltip {
        border: none;
        background-color: $ag-balham-tooltip-background-color;
    }
}
