
@mixin grid-border($sides: null, $radius: null, $width: 1px, $color: $ag-border-color) {
    @if $ag-borders {
        @if $sides {
            @each $side in $sides {
              border-#{$side}: solid $width $color;
            }
        }
        @else {
            border: solid $width $color;
        }
        @if $radius {
          border-radius: $radius;
        }
    }
}

@mixin grid-header-cell($padding) {
    padding-left: $padding;
    padding-right: $padding;
}

@mixin grid-cell($height, $padding) {
    line-height: $height;
    @include grid-header-cell($padding);
}

@mixin card() {
    @extend %card !optional;

    background: $ag-card-background;
    border-radius: $ag-card-radius;
    box-shadow: $ag-card-shadow;
    padding: $ag-grid-size;
}

@mixin textbox() {

    @if $ag-customize-inputs {
        background: transparent;
        color: $ag-foreground-color;
        font-family: inherit;
        font-size: inherit;
        height: $ag-input-height;
        padding-bottom: $ag-grid-size;

        @if $ag-input-border-width {
            border-width: $ag-input-border-width;
        }

        @if $ag-input-bottom-border {
            border-bottom: $ag-input-bottom-border;
        }

        &:focus {
            @if $ag-focused-textbox-border-bottom {
                border-bottom: $ag-focused-textbox-border-bottom;
                outline: none;
            }
        }

        &::placeholder {
            color: $ag-disabled-foreground-color;
        }

        &:disabled {
            @if $ag-input-bottom-border-disabled {
                border-bottom: $ag-input-bottom-border-disabled;
            }
        }
    } @else if $ag-input-border-color {
        border-width: 1px;
        border-style: solid;
        border-color: $ag-input-border-color;
    }
    &:disabled {
        color: $ag-disabled-foreground-color;
        @if $ag-input-disabled-background-color {
            background-color: $ag-input-disabled-background-color;
        }
        @if $ag-input-border-color {
            border-color: transparentize($ag-input-border-color, 0.7);
        }
    }
}

@mixin regular-button($color, $background-color, $text-transform) {
    appearance: none;
    background-color: $background-color;
    border: 0;
    color: $color;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-transform: $text-transform;
}

@mixin icon_element($icon, $code) {
  .ag-icon-#{$icon} {
      &:before {
          content: $code;
      }
  }
}

@mixin icons_webfont() {
  .ag-icon {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: '#{$ag-icon-font-family}';
      display: block;
      speak: none;
      font-size: $ag-icon-size;
      color: $ag-icon-color;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }

  @include icon_element('aggregation', $ag-icon-aggregation);
  @include icon_element('arrows', $ag-icon-arrows);
  @include icon_element('asc', $ag-icon-asc);
  @include icon_element('cancel', $ag-icon-cancel);
  @include icon_element('chart', $ag-icon-chart);
  @include icon_element('checkbox-checked', $ag-icon-checkbox-checked);
  @include icon_element('checkbox-indeterminate', $ag-icon-checkbox-indeterminate);
  @include icon_element('checkbox-unchecked', $ag-icon-checkbox-unchecked);
  @include icon_element('color-picker', $ag-icon-color-picker);
  @include icon_element('column', $ag-icon-column);
  @include icon_element('columns', $ag-icon-columns);
  @include icon_element('contracted', $ag-icon-contracted);
  @include icon_element('copy', $ag-icon-copy);
  @include icon_element('cross', $ag-icon-cross);
  @include icon_element('cut', $ag-icon-cut);
  @include icon_element('data', $ag-icon-data);
  @include icon_element('desc', $ag-icon-desc);
  @include icon_element('expanded', $ag-icon-expanded);
  @include icon_element('eye-slash', $ag-icon-eye-slash);
  @include icon_element('eye', $ag-icon-eye);
  @include icon_element('filter', $ag-icon-filter);
  @include icon_element('first', $ag-icon-first);
  @include icon_element('grip', $ag-icon-grip);
  @include icon_element('group', $ag-icon-group);
  @include icon_element('indeterminate', $ag-icon-indeterminate);
  @include icon_element('last', $ag-icon-last);
  @include icon_element('left', $ag-icon-left);
  @include icon_element('linked', $ag-icon-linked);
  @include icon_element('loading', $ag-icon-loading);
  @include icon_element('maximize', $ag-icon-maximize);
  @include icon_element('menu', $ag-icon-menu);
  @include icon_element('minimize', $ag-icon-minimize);
  @include icon_element('minus', $ag-icon-minus);
  @include icon_element('next', $ag-icon-next);
  @include icon_element('none', $ag-icon-none);
  @include icon_element('not-allowed', $ag-icon-not-allowed);
  @include icon_element('paste', $ag-icon-paste);
  @include icon_element('pin', $ag-icon-pin);
  @include icon_element('pivot', $ag-icon-pivot);
  @include icon_element('plus', $ag-icon-plus);
  @include icon_element('previous', $ag-icon-previous);
  @include icon_element('radio-button-off', $ag-icon-radio-button-off);
  @include icon_element('radio-button-on', $ag-icon-radio-button-on);
  @include icon_element('right', $ag-icon-right);
  @include icon_element('save', $ag-icon-save);
  @include icon_element('small-down', $ag-icon-small-down);
  @include icon_element('small-left', $ag-icon-small-left);
  @include icon_element('small-right', $ag-icon-small-right);
  @include icon_element('small-up', $ag-icon-small-up);
  @include icon_element('tick', $ag-icon-tick);
  @include icon_element('tree-closed', $ag-icon-tree-closed);
  @include icon_element('tree-indeterminate', $ag-icon-tree-indeterminate);
  @include icon_element('tree-open', $ag-icon-tree-open);
  @include icon_element('unlinked', $ag-icon-unlinked);

  .ag-icon-checkbox-checked,
  .ag-icon-checkbox-indeterminate,
  .ag-icon-checkbox-unchecked {
      background-color: $ag-alt-icon-color;
      line-height: $ag-icon-size;
      border-radius: 3px;
      &-readonly {
          cursor: default;
          opacity: $ag-disabled-foreground-color-opacity;
      }
  }
  .ag-icon-checkbox-checked {
      color: $ag-accent-color;
      &-readonly:before {
          content: $ag-icon-checkbox-checked;
      }
  }
  .ag-icon-checkbox-indeterminate-readonly:before {
      content: $ag-icon-checkbox-indeterminate;
  }
  .ag-icon-checkbox-unchecked-readonly:before  {
      content: $ag-icon-checkbox-unchecked; 
  }

  .ag-icon-row-drag:before {
      content: $ag-icon-grip;
  }

  .ag-right-arrow:before {
      content: $ag-icon-left;
  }

  .ag-icon-radio-button-on {
      color: $ag-accent-color;
  }

  .ag-right-arrow:before {
      content: $ag-icon-right;
  }
}
