.ag-theme-quartz,
.ag-theme-quartz-dark {
    /* Hide all icons provided by icon fonts. If you wanted to replace some
     icons with SVGs while leaving the rest as the font-based icons
     provided by the theme, use --ag-cion-font-display-{icon-name}
     to selective hide font-based icons. */
    --ag-icon-font-display: none;

    /* Provide icon images for each icon */
    --ag-icon-image-aggregation: url('https://www.ag-grid.com/example-assets/svg-icons/aggregation.svg');
    --ag-icon-image-arrows: url('https://www.ag-grid.com/example-assets/svg-icons/arrows.svg');
    --ag-icon-image-asc: url('https://www.ag-grid.com/example-assets/svg-icons/asc.svg');
    --ag-icon-image-cancel: url('https://www.ag-grid.com/example-assets/svg-icons/cancel.svg');
    --ag-icon-image-chart: url('https://www.ag-grid.com/example-assets/svg-icons/chart.svg');
    --ag-icon-image-checkbox-checked: url('https://www.ag-grid.com/example-assets/svg-icons/checkbox-checked.svg');
    --ag-icon-image-checkbox-indeterminate: url('https://www.ag-grid.com/example-assets/svg-icons/checkbox-indeterminate.svg');
    --ag-icon-image-checkbox-unchecked: url('https://www.ag-grid.com/example-assets/svg-icons/checkbox-unchecked.svg');
    --ag-icon-image-color-picker: url('https://www.ag-grid.com/example-assets/svg-icons/color-picker.svg');
    --ag-icon-image-column: url('https://www.ag-grid.com/example-assets/svg-icons/column.svg');
    --ag-icon-image-columns: url('https://www.ag-grid.com/example-assets/svg-icons/columns.svg');
    --ag-icon-image-contracted: url('https://www.ag-grid.com/example-assets/svg-icons/contracted.svg');
    --ag-icon-image-copy: url('https://www.ag-grid.com/example-assets/svg-icons/copy.svg');
    --ag-icon-image-cut: url('https://www.ag-grid.com/example-assets/svg-icons/cut.svg');
    --ag-icon-image-cross: url('https://www.ag-grid.com/example-assets/svg-icons/cross.svg');
    --ag-icon-image-cut: url('https://www.ag-grid.com/example-assets/svg-icons/cut.svg');
    --ag-icon-image-data: url('https://www.ag-grid.com/example-assets/svg-icons/data.svg');
    --ag-icon-image-desc: url('https://www.ag-grid.com/example-assets/svg-icons/desc.svg');
    --ag-icon-image-expanded: url('https://www.ag-grid.com/example-assets/svg-icons/expanded.svg');
    --ag-icon-image-eye-slash: url('https://www.ag-grid.com/example-assets/svg-icons/eye-slash.svg');
    --ag-icon-image-eye: url('https://www.ag-grid.com/example-assets/svg-icons/eye.svg');
    --ag-icon-image-filter: url('https://www.ag-grid.com/example-assets/svg-icons/filter.svg');
    --ag-icon-image-first: url('https://www.ag-grid.com/example-assets/svg-icons/first.svg');
    --ag-icon-image-grip: url('https://www.ag-grid.com/example-assets/svg-icons/grip.svg');
    --ag-icon-image-group: url('https://www.ag-grid.com/example-assets/svg-icons/group.svg');
    --ag-icon-image-indeterminate: url('https://www.ag-grid.com/example-assets/svg-icons/indeterminate.svg');
    --ag-icon-image-last: url('https://www.ag-grid.com/example-assets/svg-icons/last.svg');
    --ag-icon-image-left: url('https://www.ag-grid.com/example-assets/svg-icons/left.svg');
    --ag-icon-image-loading: url('https://www.ag-grid.com/example-assets/svg-icons/loading.svg');
    --ag-icon-image-maximize: url('https://www.ag-grid.com/example-assets/svg-icons/maximize.svg');
    --ag-icon-image-menu: url('https://www.ag-grid.com/example-assets/svg-icons/menu.svg');
    --ag-icon-image-menu-alt: url('https://www.ag-grid.com/example-assets/svg-icons/menu.svg');
    --ag-icon-image-minimize: url('https://www.ag-grid.com/example-assets/svg-icons/minimize.svg');
    --ag-icon-image-minus: url('https://www.ag-grid.com/example-assets/svg-icons/minus.svg');
    --ag-icon-image-next: url('https://www.ag-grid.com/example-assets/svg-icons/next.svg');
    --ag-icon-image-none: url('https://www.ag-grid.com/example-assets/svg-icons/none.svg');
    --ag-icon-image-not-allowed: url('https://www.ag-grid.com/example-assets/svg-icons/not-allowed.svg');
    --ag-icon-image-paste: url('https://www.ag-grid.com/example-assets/svg-icons/paste.svg');
    --ag-icon-image-pin: url('https://www.ag-grid.com/example-assets/svg-icons/pin.svg');
    --ag-icon-image-pivot: url('https://www.ag-grid.com/example-assets/svg-icons/pivot.svg');
    --ag-icon-image-plus: url('https://www.ag-grid.com/example-assets/svg-icons/plus.svg');
    --ag-icon-image-previous: url('https://www.ag-grid.com/example-assets/svg-icons/previous.svg');
    --ag-icon-image-radio-button-off: url('https://www.ag-grid.com/example-assets/svg-icons/radio-button-off.svg');
    --ag-icon-image-radio-button-on: url('https://www.ag-grid.com/example-assets/svg-icons/radio-button-on.svg');
    --ag-icon-image-right: url('https://www.ag-grid.com/example-assets/svg-icons/right.svg');
    --ag-icon-image-save: url('https://www.ag-grid.com/example-assets/svg-icons/save.svg');
    --ag-icon-image-small-down: url('https://www.ag-grid.com/example-assets/svg-icons/small-down.svg');
    --ag-icon-image-small-left: url('https://www.ag-grid.com/example-assets/svg-icons/small-left.svg');
    --ag-icon-image-small-right: url('https://www.ag-grid.com/example-assets/svg-icons/small-right.svg');
    --ag-icon-image-small-up: url('https://www.ag-grid.com/example-assets/svg-icons/small-up.svg');
    --ag-icon-image-tick: url('https://www.ag-grid.com/example-assets/svg-icons/tick.svg');
    --ag-icon-image-tree-closed: url('https://www.ag-grid.com/example-assets/svg-icons/tree-closed.svg');
    --ag-icon-image-tree-indeterminate: url('https://www.ag-grid.com/example-assets/svg-icons/tree-indeterminate.svg');
    --ag-icon-image-tree-open: url('https://www.ag-grid.com/example-assets/svg-icons/tree-open.svg');
}
