:global(:root) {
    --layout-grid-header-height: 32px;
    --ag-row-border: 1px solid #c41717;
}

:global(.ag-theme-quartz .ag-row-group .ag-icon),
:global(.ag-theme-quartz-dark .ag-row-group .ag-icon) {
    opacity: 0.5;
}

:global(.ag-theme-quartz .ag-row),
:global(.ag-theme-quartz-dark .ag-row) {
    border-bottom: none;
}

:global(.ag-theme-quartz .ag-cell-expandable),
:global(.ag-theme-quartz-dark .ag-cell-expandable) {
    display: flex;
    justify-content: center;
    align-items: center;
}

:global(.ag-theme-quartz .ag-cell),
:global(.ag-theme-quartz-dark .ag-cell) {
    display: flex;
    align-items: center;
}

:global(.ag-theme-quartz-dark .ag-header) {
    background-color: #28313e;
    border-radius: 8px;
    border: none;
}

:global(.ag-theme-quartz .ag-header) {
    background-color: #f9fafb;
    color: #39485d;
    border-radius: 8px;
    border: 1px solid #eff0f1;
}

:global(.ag-theme-quartz .ag-header-cell-text),
:global(.ag-theme-quart-dark .ag-header-cell-text) {
    color: #1f383c;
    display: flex;
    align-items: center;
}

:global(.ag-theme-quartz-dark .ag-header-cell-text) {
    color: #c9d0da;
}

:global(.ag-theme-quartz .ag-root-wrapper),
:global(.ag-theme-quartz-dark .ag-root-wrapper) {
    border: none;
}

.grid {
    height: calc(96vh - var(--layout-grid-header-height));
    --ag-header-background-color: transparent !important;
}

.exampleHeader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    padding-top: 8px;
}

.exampleHeader {
    padding-bottom: 16px;
    padding-top: 8px;
}

.exampleHeader span {
    margin-right: 12px;
    font-size: 14px;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    overflow: visible;
}

.inputWrapper svg {
    position: absolute;
    left: 8px;
    pointer-events: none;
}

.inputWrapper input {
    padding-left: 32px;
    font-size: 14px;
}

.price {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.price span {
    line-height: 100%;
}

.increase {
    opacity: 0.7;
}

.tabs {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--color-bg-secondary);
    padding: 4px;
    border: 1px solid var(--color-border-secondary);
}

.tabButton {
    font-size: 14px;
    font-weight: 500;
    border: none;
    background-color: var(--color-bg-secondary);
    color: var(--color-text-seondary);
    cursor: pointer;
    box-shadow: none;
    transition:
        background 0.3s,
        color 0.3s;
}

.tabButton:hover {
    background: #7c7c7c23;
    color: rgba(37, 37, 37, 0.6);
}

.tabButton.active {
    background: #fff;
    color: #000;
    font-weight: 500;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

:global(.header-status .ag-header-cell-text:before) {
    content: url('/example/inventory/icons/product.svg');
    padding-right: 8px;
    opacity: 0.3;
}

:global(.header-price .ag-header-cell-text:before) {
    content: url('/example/inventory/icons/price.svg');
    padding-right: 8px;
    opacity: 0.3;
}

:global(.header-sku .ag-header-cell-text:before) {
    content: url('/example/inventory/icons/sku.svg');
    padding-right: 8px;
    opacity: 0.3;
}

:global(.header-inventory .ag-header-cell-text:before) {
    content: url('/example/inventory/icons/inventory.svg');
    padding-right: 8px;
    opacity: 0.3;
}

:global(.header-product .ag-header-cell-text:before) {
    content: url('/example/inventory/icons/product.svg');
    padding-right: 8px;
    opacity: 0.3;
}

:global(.header-status .ag-header-cell-text:before) {
    content: url('/example/inventory/icons/status.svg');
    padding-right: 8px;
    opacity: 0.3;
}

:global(.header-calendar .ag-header-cell-text:before) {
    content: url('/example/inventory/icons/calendar.svg');
    padding-right: 8px;
    opacity: 0.3;
}

:global(.header-percentage .ag-header-cell-text:before) {
    content: url('/example/inventory/icons/percentage.svg');
    padding-right: 8px;
    opacity: 0.3;
}

:global(.ag-theme-quartz-dark .ag-header-cell-text:before) {
    filter: invert(1);
}

.stockText {
    opacity: 0.7;
}

.variantsText {
    opacity: 0.7;
}
