.ag-cell-inline-editing {
    z-index: 1;
    border-radius: var(--ag-border-radius);
    padding: 0;
    border: var(--ag-cell-editing-border) !important;
    box-shadow: var(--ag-cell-editing-shadow);

    /* do not add `height` here, it breaks gridOptions.rowHeight for the cellEditor */

    .ag-cell-wrapper,
    .ag-cell-edit-wrapper,
    .ag-cell-editor,
    :where(.ag-cell-editor) .ag-wrapper,
    :where(.ag-cell-editor) .ag-input-field-input {
        height: 100%;
        min-height: 100%;
        width: 100%;
        line-height: normal;
    }
}

:where(.ag-popup-editor) .ag-large-text {
    border-radius: var(--ag-border-radius);
    box-shadow: var(--ag-dropdown-shadow);
    background-color: var(--ag-background-color);
    padding: 0;
}

.ag-large-text-input {
    height: auto;
    padding: var(--ag-cell-horizontal-padding);
}

:where(.ag-rtl .ag-large-text-input) textarea {
    resize: none;
}

.ag-checkbox-edit {
    padding-left: var(--ag-cell-horizontal-padding);
}
