.ag-floating-top .ag-row-pinned.ag-row {
    background-color: #2244cc44;
}

.ag-floating-bottom .ag-row-pinned.ag-row {
    background-color: #2244cc44;
}

.test-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-bottom: 1rem;
    display: flex;
}

button {
    float: left;
    margin-right: 5px;
}

.pinned-rows {
    background-color: #2244cc44;
    width: 15px;
    height: 15px;
    border: 1px solid #888;
    display: inline-block;
    vertical-align: text-top;
}
