/* Manually set dark mode to get a dark scroll bar on the body */
html[data-color-scheme='dark'] body {
    color-scheme: dark;
}

.test-header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 13px;

    margin-bottom: 1rem;
}

.test-header > div {
    vertical-align: middle;
    align-content: center;
}

.test-header button {
    margin-right: 5px;
    margin-bottom: 0;
    margin-top: 0;
}

.test-header input {
    margin-top: 0;
    margin-bottom: 0;
}

.test-header #floating-rows {
    vertical-align: bottom;
}
.ag-floating-top .ag-row-pinned.ag-row {
    background-color: #2244cc44;
}

.ag-floating-bottom .ag-row-pinned.ag-row {
    background-color: #2244cc44;
}
