.page-content {
    position: fixed;
    overflow: auto;
    height: calc(100% - 4rem);
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.content-list {
    padding-inline-start: 1rem;
    padding-block-start: 0;

    li {
        margin-bottom: 0.5rem;
    }
}

.trial-enterprise-icon {
    width: 30px;
    float: left;
    margin-right: 20px;
}

.heading-enterprise {
    &::after {
        @include enterprise-icon;
        margin-left: 6px;
    }
}

.inline-container {
    @extend .container-fluid;
    margin: 0;
    padding: 0;

    .row {
        margin: 0;
        padding: 0;
        @extend .no-gutters;
    }
}

h2.small-block {
    font-size: 1rem;
    font-weight: 600;
}

.figure {
    display: block;
    margin: 1rem auto;
    text-align: center;
}

dl.content {
    dd {
        margin-bottom: 1em;
    }

    dt code {
        margin-left: 1em;
    }
}

.theme-table td,
.theme-table th {
    padding-left: 2em;
}

h1 + p.lead {
    margin-top: 2rem;
    line-height: 1.8;
    margin-bottom: 2rem;
}

.video {
    text-align: center;
    iframe {
        width: 95%;
        height: 435px;
    }
}

.youtube-bar {
     margin-bottom: 10px;
}

.youtube-text {
    padding-left: 5px;
}


.youtube-icon {
    height: 30px;
}

h2 {
    font-size: 1.7rem;
    font-weight: 400;
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

h4 {
    font-size: 1.3rem;
    font-weight: 300;
}

.tabpanel, .tabheader, .tabpanel .content {
    display: flex
}
.tabpanel {
    flex-direction: column;
    height: 500px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.tabheader {
    background-image: linear-gradient(to bottom right, #0084e7, #0067b4);
    height: 50px;
    flex: none;
    align-items: flex-end;
}
.tab {
    height: 40px;
    line-height: 40px;
    background-color: #ebebeb;
    cursor: pointer;
    margin: 0 0 0 10px;
    padding: 0 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    user-select: none;
    -ms-user-select: none;
}
.tab.selected {
    border: 1px solid #ebebeb;
    border-bottom-width: 0;
    background-color: white;
    color: #0084e7;
}
.tabpanel .content {
    height: calc(100% - 45px);
    flex-direction: column;
    overflow: hidden;
}
.tabpanel .content > div {
    overflow-y: auto;
    margin: 10px;
    border: 1px solid lightgray;
    border-left-width: 0;
}
.tabpanel table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
}
.tabpanel tr {
    height: 40px;
}
.tabpanel table th, .tabpanel table td {
    border: 1px solid #ebebeb;
    padding: 5px;
}
.tabpanel table tr:first-of-type th {
    border-top-width: 0;
}
.tabpanel table th {
    text-align: center;
}
.tabpanel table tbody tr td:first-of-type {
    white-space: pre;
}
.hidden {
    display: none !important;
}




