[submodule "grid-packages/ag-grid-angular-cli-example"]
	path = examples-grid/ag-grid-angular-cli-example
	url = https://github.com/ag-grid/ag-grid-angular-cli-example.git
    branch = latest
[submodule "grid-packages/ag-grid-react-example"]
	path = examples-grid/ag-grid-react-example
	url = https://github.com/ag-grid/ag-grid-react-example.git
    branch = latest
[submodule "grid-packages/ag-grid-vue-example"]
	path = examples-grid/ag-grid-vue-example
	url = https://github.com/ag-grid/ag-grid-vue-example.git
    branch = latest
[submodule "charts-packages/ag-charts-react-example"]
	path = examples-charts/ag-charts-react-example
	url = https://github.com/ag-grid/ag-charts-react-example.git
	branch = latest
[submodule "charts-packages/ag-charts-vue-example"]
	path = examples-charts/ag-charts-vue-example
	url = https://github.com/ag-grid/ag-charts-vue-example.git
	branch = latest
[submodule "charts-packages/ag-charts-polymer-example"]
	path = examples-charts/ag-charts-polymer-example
	url = https://github.com/ag-grid/ag-charts-polymer-example.git
	branch = latest
[submodule "charts-packages/ag-charts-angular-example"]
	path = examples-charts/ag-charts-angular-example
	url = https://github.com/ag-grid/ag-charts-angular-example.git
	branch = latest
[submodule "examples-grid/ag-grid-vue3-package-example"]
	path = examples-grid/ag-grid-vue3-package-example
	url = https://github.com/ag-grid/ag-grid-vue3-package-example.git
	branch = latest
[submodule "examples-grid/ag-grid-vue3-example"]
	path = examples-grid/ag-grid-vue3-example
	url = https://github.com/ag-grid/ag-grid-vue3-example.git
	branch = latest
[submodule "examples-charts/ag-charts-vue3-example"]
	path = examples-charts/ag-charts-vue3-example
	url = https://github.com/ag-grid/ag-charts-vue3-example.git
	branch = latest
[submodule "examples-grid/ag-grid-vue-package-example"]
	path = examples-grid/ag-grid-vue-package-example
	url = https://github.com/ag-grid/ag-grid-vue-package-example.git
	branch = latest
[submodule "examples-grid/ag-grid-angular-cli-package-example"]
	path = examples-grid/ag-grid-angular-cli-package-example
	url = https://github.com/ag-grid/ag-grid-angular-cli-package-example.git
	branch = latest
[submodule "examples-grid/ag-grid-react-package-example"]
	path = examples-grid/ag-grid-react-package-example
	url = https://github.com/ag-grid/ag-grid-react-package-example.git
	branch = latest
[submodule "examples-grid/ag-grid-angular-cli-legacy-example"]
	path = examples-grid/ag-grid-angular-cli-legacy-example
	url = https://github.com/ag-grid/ag-grid-angular-cli-legacy-example.git
[submodule "examples-grid/ag-grid-angular-cli-legacy-package-example"]
	path = examples-grid/ag-grid-angular-cli-legacy-package-example
	url = https://github.com/ag-grid/ag-grid-angular-cli-legacy-package-example.git
[submodule "examples-charts/ag-charts-angular-legacy-example"]
	path = examples-charts/ag-charts-angular-legacy-example
	url = https://github.com/ag-grid/ag-charts-angular-legacy-example.git
[submodule "examples-grid/ag-grid-solid-example"]
	path = examples-grid/ag-grid-solid-example
	url = https://github.com/ag-grid/ag-grid-solid-example.git
