.idea/workspace.xml
.idea/tasks.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/encodings.xml
/.idea/atlassian-ide-plugin.xml
.vscode

grid-packages/ag-grid-docs/src/jira_reports/prod/credentials.json

doc-pages_orig

.lernaBuildChain.cache.json

.DS_Store
lerna-debug.log
npm-debug.log
node_modules
.scannerwork

package-lock.json
docs_are_running

*.nosync

**/cypress/videos

.hash

release*.zip
archive*.zip

# latest only
dist

community-modules/all-modules/styles/**
enterprise-modules/all-modules/styles/**
grid-packages/ag-grid-community/styles/**
grid-packages/ag-grid-enterprise/styles/**

# compiled CSS files
community-modules/styles/*.css
# compiled css files as SCSS
community-modules/styles/_css-content.scss

charts-packages/**/dist
community-modules/**/dist
enterprise-modules/**/dist
grid-packages/**/dist

grid-packages/ag-grid-angular/aot/**
grid-packages/ag-grid-angular/dist/**
grid-packages/ag-grid-angular/main.js.map
grid-packages/ag-grid-angular/main.js
grid-packages/ag-grid-angular/main.d.ts
grid-packages/ag-grid-angular/main.metadata.json
community-modules/angular/aot/**
community-modules/angular/dist/**
community-modules/angular/main.js.map
community-modules/angular/main.js
community-modules/angular/main.d.ts
community-modules/angular/main.metadata.json

grid-packages/ag-grid-react/lib/**
grid-packages/ag-grid-react/bundles/**
community-modules/react/lib/**
community-modules/react/bundles/**

grid-packages/ag-grid-community/main.d.ts
grid-packages/ag-grid-community/main.js
grid-packages/ag-grid-enterprise/main.d.ts
grid-packages/ag-grid-enterprise/main.js

grid-packages/ag-grid-vue/lib/**
grid-packages/ag-grid-vue/dist/**
grid-packages/ag-grid-vue/main.js
grid-packages/ag-grid-vue/main.d.ts
grid-packages/ag-grid-vue3/dist/**
grid-packages/ag-grid-vue3/lib/**
grid-packages/ag-grid-vue3/main.js
grid-packages/ag-grid-vue3/main.d.ts
community-modules/vue/lib/**
community-modules/vue/dist/**
community-modules/vue/main.js
community-modules/vue3/lib/**
community-modules/vue3/dist/**
community-modules/vue3/main.js

grid-packages/ag-grid-angular/exports.d.ts
grid-packages/ag-grid-angular/exports.js
grid-packages/ag-grid-angular/exports.js.map
grid-packages/ag-grid-angular/exports.metadata.json

grid-packages/ag-grid-community/src/styles

community-modules/core/typings
community-modules/csv-export/typings
enterprise-modules/core/typings
enterprise-modules/set-filter/typings
enterprise-modules/excel-export/typings

charts-packages/ag-charts-react/lib
charts-packages/ag-charts-react/umd
charts-packages/ag-charts-vue/lib/**
charts-packages/ag-charts-vue3/lib/**
charts-packages/ag-charts-angular/dist
