node_modules
yarn.lock
package-lock.json
dist
*.zip
.github

# Docs
README.md

# Website
.astro
external/ag-website-shared
documentation/update-algolia-indices

# Community grid code
community-modules/angular
community-modules/client-side-row-model
community-modules/core
community-modules/csv-export
community-modules/infinite-row-model
community-modules/react
community-modules/styles
community-modules/theming
community-modules/vue
community-modules/vue3

# Enterprise grid code
enterprise-modules/advanced-filter
enterprise-modules/charts
enterprise-modules/charts-enterprise
enterprise-modules/clipboard
enterprise-modules/column-tool-panel
enterprise-modules/core
enterprise-modules/excel-export
enterprise-modules/filter-tool-panel
enterprise-modules/master-detail
enterprise-modules/menu
enterprise-modules/multi-filter
enterprise-modules/range-selection
enterprise-modules/rich-select
enterprise-modules/row-grouping
enterprise-modules/server-side-row-model
enterprise-modules/set-filter
enterprise-modules/side-bar
enterprise-modules/sparklines
enterprise-modules/status-bar
enterprise-modules/viewport-row-model

# Packages
packages/ag-grid-angular
packages/ag-grid-charts-enterprise
packages/ag-grid-community
packages/ag-grid-enterprise
packages/ag-grid-react
packages/ag-grid-vue
packages/ag-grid-vue3

# Plugins
plugins/ag-grid-generate-example-files
plugins/ag-grid-generate-code-reference-files
plugins/ag-grid-task-autogen

# Scripts
/scripts