<!doctype html>
<html style="height: 100%; margin: 0px; padding: 0px;">

    <head>
        <script data-main="main" src="lib/require.js"></script>
    </head>

    <body ng-controller="mainController" style="height: 100%; margin: 0px; padding: 0px;">

    <!-- Header, height of 100px-->
    <div style="height: 65px; position: absolute; top: 0px; left: 0px;">
        <!-- First row of header, has table options -->
        <div style="padding: 4px;">
            Rows:
            <select ng-model="rowCount" ng-change="onRowCountChanged()">
                <option value="10">10</option>
                <option value="100">100</option>
                <option value="1000">1,000</option>
                <option value="10000">10,000</option>
                <option value="30000">30,000</option>
                <option value="50000">50,000</option>
                <option value="100000">100,000</option>
            </select>
            Cols:
            <select ng-model="colCount" ng-change="onColCountChanged()">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>

            Pinned:
            <select ng-model="angularGrid.pinnedColumnCount">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            Width:
            <select ng-model="width">
                <option value="800px">800px</option>
                <option value="1000px">1500px</option>
                <option value="2000px">4000px</option>
                <option value="100%">100% (fit to screen)</option>
            </select>

            Height:
            <select ng-model="height">
                <option value="400px">400px</option>
                <option value="800px">800px</option>
                <option value="4000px">4000px</option>
                <option value="100%">100% (fit to screen)</option>
            </select>

            Style:
            <select ng-model="style" style="width: 90px;">
                <option value="">-none-</option>
                <option value="ag-fresh">Fresh</option>
                <option value="ag-standard">Standard</option>
                <option value="ag-dark">Dark</option>
            </select>

            Group By:
            <select ng-model="groupBy" ng-change="onGroupByChanged()" style="width: 90px;">
                <option value="">-none-</option>
                <option value="continent">Continent</option>
                <option value="language">Language</option>
                <option value="continent,language">Continent, Language</option>
                <option value="language,continent">Language, Continent</option>
            </select>

        </div>
        <!-- Second row of header, has quick filter -->
        <div style="padding: 4px;">
            <input placeholder="Filter..." type="text" ng-model="angularGrid.quickFilterText"/>
        </div>
    </div>
    <!-- The table div -->
    <div style="padding-top: 65px; height: 100%; box-sizing: border-box;">
        <div angular-grid="angularGrid" ng-style="{width: width, height: height}" ng-class="style"></div>
    </div>
</body>

</html>