@use '../../../../design-system' as ds; // needed to deal with bootstrap conflict

@import '../common/vars.scss';
@import '../common/bootstrap.scss';
@import '../common/grid.scss';
@import '../common/content.scss';
@import '../common/mixins.scss';
@import '../pages/license-pricing.scss';

$hero-breakpoint-medium: 620px;
$hero-breakpoint-large: 1020px;

html,
body {
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
}

.stretch-contents {
    background-color: red;
    display: flex;
    flex-direction: column;
    height: 100%;

    > .info-page {
        flex: 1 1 auto;

        > .row {
            height: 100%;
        }
    }
}

.media a {
    color: darken($blue-2, 5%);

    &:hover {
        text-decoration: none;
        color: $blue-1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.stage-sponsorships {
    @extend %stage;
    background-color: $offwhite;

    &__sponsorships {
        @extend .align-items-center;
        @extend %card, .py-4;

        & > div:first-child {
            @extend .col-md-6, .mb-3, .text-right;
        }

        & > div:nth-child(2) {
            @extend .col-md-5, .ml-auto;

            & > div {
                @extend .py-4;
            }
        }

        h2 {
            @extend .display-4;
            margin: 0;
            padding: 0;
        }

        h3 {
            @extend .display-5;
        }

        img {
            @extend .mr-3;
            height: 4rem;
        }
    }
}

.main-buttons {
    @extend .p-4, .bg-lightgrey, .text-center;

    .get-started-btn {
        @extend .btn, .btn-lg, .py-3, .px-4;
        &:last-child {
            @extend .btn-outline-darkblue, .ml-2, .ml-sm-3;
        }
    }
}

.stage-scenarios {
    @extend %stage;

    background-color: $offwhite;

    &.main {
        background-color: $blue-1;

        h1 {
            font-weight: 500 !important;
            color: $white;
        }
        section {
            @extend .justify-content-center;
            position: relative;
        }
        .loading {
            color: $white;
        }
    }

    &:not(.main, .stage-quotes) {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    .view-code {
        @extend .text-right;

        a {
            @extend .btn, .btn-link;
        }
    }

    .heading-scenarios {
        @extend .display-4, .text-center, .full-width-row, .mb-4;
        @include media-breakpoint-down(md) {
            font-size: 2.5rem;
        }
        @include media-breakpoint-down(sm) {
            font-size: 1.2rem;
        }
        span {
            @extend .display-5, .text-center, .d-block;
            font-weight: 100 !important;
        }
    }

    @keyframes appear {
        from {
            opacity: 0.3;
        }

        to {
            opacity: 0.8;
        }
    }
    section {
        @extend .row, .full-width-row;

        .demo {
            @extend .col-md-12;
            display: block;
            width: calc(100% - 30px);

            .loading {
                animation: appear 500ms linear 0s infinite alternate none running;
                width: 320px;
                height: 500px;
                margin: 0 auto;
                padding-top: 100px;
                text-align: center;

                img {
                    margin-bottom: 1rem;
                }
                p {
                    color: $secondary;
                    font-size: 0.8rem;
                }
            }
        }

        .view-code {
            @extend .text-right, .col, .mt-3;
        }

        #demo-1-header {
            @extend .row, .mb-3;
            & > div {
                @extend .col-md-6;
            }

            & > div:last-child {
                text-align: right;
            }

            input[type='text'] {
                @extend .form-control;
            }
        }
    }
    &__bestHtml5Grid {
        @extend .rounded;
        border: 1px solid $gray-400;
        width: 100%;
        height: 515px;
    }

    &__bestHtml5Grid.small {
        height: 460px;
    }

    &__bestHtml5Grid.small:not(.tall) {
        height: 320px;
    }
}

.homepageHero {
    --text-color: var(--white);

    padding-top: ds.$size-5;
    background-color: var(--dark-cerulean-blue);
    color: var(--text-color); // needed to deal with .ag-styles

    @media screen and (min-width: $hero-breakpoint-medium) {
        padding-top: ds.$size-7;
    }

    @media screen and (min-width: $hero-breakpoint-large) {
        padding-top: ds.$size-8;
    }
}

.heroHeadings {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;

    @media screen and (min-width: $hero-breakpoint-large) {
        text-align: unset;
    }

    h1,
    h2 {
        --line-height: #{ds.$line-height-tight} !important; // !important for .ag-styles specificity
    }

    h1 {
        --font-size: 28px;
        --font-weight: #{ds.$font-weight-bold}; // needed to deal with .ag-styles `

        @media screen and (min-width: $hero-breakpoint-medium) {
            --font-size: #{ds.$font-size-extra-large} !important; // !important for .ag-styles specificity
        }

        @media screen and (min-width: $hero-breakpoint-large) {
            --font-size: min(3.4vw, 54px) !important; // !important for .ag-styles specificity

            margin-top: -0.225em !important; // !important for .ag-styles specificity;
            margin-bottom: 0.5em !important; // !important for .ag-styles specificity;
        }
    }

    h2 {
        max-width: 18em;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1.4em;

        @media screen and (min-width: $hero-breakpoint-medium) {
            --font-size: 22px !important; // !important for .ag-styles specificity
        }

        @media screen and (min-width: $hero-breakpoint-large) {
            --font-size: min(1.9vw, 30px) !important; // !important for .ag-styles specificity
            --font-weight: var(--font-weight-thin) !important; // !important for .ag-styles specificity

            max-width: unset;
        }
    }
}

.heroInner {
    display: flex;
    flex-direction: column;
    gap: 0 ds.$size-4;

    @media screen and (min-width: $hero-breakpoint-large) {
        flex-direction: row;
    }
}

.heroGrid {
    display: flex;
    flex-direction: row-reverse;
    height: 320px;

    @media screen and (min-width: $hero-breakpoint-large) {
        width: 860px;
        height: 416px;
    }
}

.homepageFrameworks {
    background-color: var(--bright-blue-gray);
    padding-top: ds.$size-3;
    padding-bottom: ds.$size-6;

    @media screen and (min-width: 640px) {
        padding-top: ds.$size-6;
    }
}

.frameworksInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: ds.$size-1;

    @media screen and (min-width: 640px) {
        flex-direction: row;
    }

    @media screen and (min-width: 1020px) {
        gap: ds.$size-2;
    }
}

.frameworksLabel {
    font-size: var(--font-size); // needed to deal with .ag-styles
    font-weight: var(--font-weight); // needed to deal with .ag-styles

    @media screen and (min-width: 1020px) {
        --font-size: #{ds.$font-size-large} !important; // !important for .ag-styles specificity
        --font-weight: var(--font-weight-thin) !important; // !important for .ag-styles specificity
    }
}

.homepageQuotes {
    padding-top: ds.$size-7;
    padding-bottom: ds.$size-1;
    background-color: var(--ghost-blue);

    @media screen and (min-width: 940px) {
        padding-top: ds.$size-8;
        padding-bottom: ds.$size-5;
    }
}

.homepageDescription {
    margin-top: ds.$size-6 !important; // !important for .ag-styles specificity
    margin-bottom: ds.$size-6 !important; // !important for .ag-styles specificity

    li:not(:last-child) {
        margin-bottom: ds.$size-3 !important; // !important for .ag-styles specificity
    }

    @media screen and (min-width: 880px) {
        margin-bottom: ds.$size-8 !important; // !important for .ag-styles specificity

        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: ds.$size-2;
        }
    }
}
