@import "../common/vars.scss";
@import "../common/bootstrap.scss";
@import "../common/grid.scss";
@import "../common/content.scss";
@import "../common/mixins.scss";
@import "./demo.scss";
@import "../pages/about.scss";
@import "../pages/example.scss";
@import "../pages/license-pricing.scss";
@import "../pages/privacy.scss";
@import "../pages/cookies";

html,
body {
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
}

.stretch-contents {
    background-color: red;
    display: flex;
    flex-direction: column;
    height: 100%;

    > .info-page {
        flex: 1 1 auto;

        > .row {
            height: 100%;
        }
    }
}

.media a {
    color: darken($blue-2, 5%);
    &:hover {
        text-decoration: none;
        color: $blue-1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.stage-description {
    @extend %stage;
    font-weight: 400;
    font-style: normal;

    section {
        @extend .justify-content-center;
        > div {
            @extend .col-lg, .m-2;
        }
        line-height: 1.7;
        h3 {
            @extend .mb-2, .pt-0;
            color: $grey-1;
            font-weight: 300;
        }

        p {
            @extend .pr-4;
            text-align: justify;
        }
    }
}

.stage-frameworks {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 15px 48px;
    background-color: $ag-site-fw-background;

    @media screen and ( min-width: 640px ) {
        padding-top: 48px;
        flex-direction: row;
    }
}

.stage-frameworks__label {
    opacity: .6666;
    margin-bottom: 8px;

    @media screen and ( min-width: 640px ) {
        margin-bottom: 0;
        margin-right: 8px;
    }

    @media screen and ( min-width: 1020px ) {
        font-size: 22px;
        margin-right: 16px;
    }
}

.stage-sponsorships {
    @extend %stage;
    background-color: $offwhite;

    &__sponsorships {
        @extend .align-items-center;
        @extend %card, .py-4;

        & > div:first-child {
            @extend .col-md-6, .mb-3, .text-right;
        }

        & > div:nth-child(2) {
            @extend .col-md-5, .ml-auto;

            & > div {
                @extend .py-4;
            }
        }

        h2 {
            @extend .display-4;
            margin: 0;
            padding: 0;
        }

        h3 {
            @extend .display-5;
        }

        img {
            @extend .mr-3;
            height: 4rem;
        }
    }
}

.main-buttons {
    @extend .p-4, .bg-lightgrey, .text-center;

    .get-started-btn {
        @extend .btn, .btn-lg, .py-3, .px-4;
        &:last-child {
            @extend .btn-outline-darkblue, .ml-2, .ml-sm-3;
        }
    }
}

.stage-scenarios {
    @extend %stage;

    background-color: $offwhite;

    &.main {
        background-color: $blue-1;

        h1 {
            font-weight: 500 !important;
            color: $white;
        }
        section {
            @extend .justify-content-center;
            position: relative;
        }
        .loading {
            color: $white;
        }
    }

    &:not(.main, .stage-quotes) {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    .view-code {
        @extend .text-right;

        a {
            @extend .btn, .btn-link;
        }
    }

    .heading-scenarios {
        @extend .display-4, .text-center, .full-width-row, .mb-4;
        @include media-breakpoint-down(md) {
            font-size: 2.5rem;
        }
        @include media-breakpoint-down(sm) {
            font-size: 1.2rem;
        }
        span {
            @extend .display-5, .text-center, .d-block;
            font-weight: 100 !important;
        }
    }

    @keyframes appear {
        from {
            opacity: 0.3;
        }

        to {
            opacity: 0.8;
        }
    }
    section {
        @extend .row, .full-width-row;

        .demo {
            @extend .col-md-12;
            display: block;
            width: calc(100% - 30px);

            .loading {
                animation: appear 500ms linear 0s infinite alternate none running;
                width: 320px;
                height: 500px;
                margin: 0 auto;
                padding-top: 100px;
                text-align: center;

                img {
                    margin-bottom: 1rem;
                }
                p {
                    color: $secondary;
                    font-size: 0.8rem;
                }
            }
        }

        .view-code {
            @extend .text-right, .col, .mt-3;
        }

        #demo-1-header {
            @extend .row, .mb-3;
            & > div {
                @extend .col-md-6;
            }

            & > div:last-child {
                text-align: right;
            }

            input[type="text"] {
                @extend .form-control;
            }
        }
    }
    &__bestHtml5Grid {
        @extend .rounded;
        border: 1px solid $gray-400;
        width: 100%;
        height: 515px;
    }

    &__bestHtml5Grid.small {
        height: 460px;
    }

    &__bestHtml5Grid.small:not(.tall) {
        height: 320px;
    }
}

.stage-quotes {
    h2 {
        margin-top: 45px;
    }

    section {
        margin-bottom: 45px;
    }

    @include media-breakpoint-up(sm) {
        h2 {
            margin-top: 0;
        }

        section {
            margin-top: 45px;
            margin-bottom: 0;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}