.ag-field-set {
    display: flex;
    align-items: center;
}

.ag-field-set-wrapper {
    display: flex;
}

.ag-field-set-wrapper-horizontal {
    flex-direction: row;
}

.ag-field-set-wrapper-vertical {
    flex-direction: column;
}
