.dd {
    width: 30px !important
}

.mm {
    width: 30px !important
}

.yyyy {
    width: 40px !important;
}

.reset {
    padding: 2px;
    background-color: red;
    border-radius: 3px;
    font-size: 10px;
    color: white
}