.wrapper {
    display: grid;
    grid-template-rows: 1fr 375px;
    height: 100%;
}

#myGrid {
    grid-row: 1 / 2;
}

#myChart {
    grid-row: 2 / 3;
}

body {
    /* pink category range */
    --ag-range-selection-chart-category-background-color: rgba(255, 0, 132, 0.1);

    /* orange data range */
    --ag-range-selection-chart-background-color: rgba(255, 115, 0, 0.1);
}
