---
import Layout from '@layouts/Layout.astro';
import { getEntry } from 'astro:content';
import styles from '@design-system/modules/archive.module.scss';

const { data: versions } = await getEntry('versions', 'ag-grid-versions');
---

<Layout
    title="AG Grid Archive"
    description="View documentation for previous versions of AG Grid"
    showSearchBar={true}
    showDocsNav={false}
>
    <div class:list={[styles.archivePage, "layout-max-width-small"]}>
        <ul class="list-style-none">
            { versions.map((version) => {
                return <li><a href={`https://www.ag-grid.com/archive/${version.version}`}>AG Grid <b>{version.version}</b> archive</a></li>
            }) }
        </ul>
    </div>
</Layout>
