---
import { getCollection, getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import { getDocsPages } from '../features/docs/utils/pageData';
import type { Framework } from '@ag-grid-types';
import { Changelog } from '@components/changelog/Changelog';
import { DocsNavFromLocalStorage } from '@ag-website-shared/components/docs-navigation/DocsNavFromLocalStorage';

export async function getStaticPaths() {
    const pages = await getCollection('docs');
    return getDocsPages(pages);
}

const pageName = Astro.params.pageName as Framework;

const { data: docsNavData } = await getEntry('docs-nav', 'docsNav');
---

<Layout
    title={'AG Grid Changelog'}
    description={'Identify the specific version in which a feature request or bug fix was included. Find changelog items by issue number, summary content, or version.'}
    showDocsNav={true}
    showSearchBar={true}
>
    <div class:list={['contentViewport layout-grid']}>
        <DocsNavFromLocalStorage client:load menuData={docsNavData} pageName={pageName} />

        <Changelog client:load />
    </div>
</Layout>
