---
import Warning from '@components/alert/Warning';
import Layout from '../layouts/Layout.astro';
---

<Layout title="AG Grid">
    <div class="layout-max-width-small">
        <main>
            <Warning>Work in progress</Warning>
            <p>See <a href="/documentation">Documentation</a></p>
        </main>
    </div>
</Layout>
