---
import { getCollection, getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import { DocsNavFromLocalStorage } from '@ag-website-shared/components/docs-navigation/DocsNavFromLocalStorage';
import { getDocsPages } from '../features/docs/utils/pageData';
import type { Framework, MenuSection } from '@ag-grid-types';
import { Pipeline } from '@components/pipeline/Pipeline';

export async function getStaticPaths() {
    const pages = await getCollection('docs');
    return getDocsPages(pages);
}

const pageName = Astro.params.pageName as Framework;

const { data: docsNavData } = await getEntry('docs-nav', 'docsNav');
---

<Layout
    title={'AG Grid Pipeline'}
    description={'Lists feature requests and bugs in our product backlog. Browse items release date, issue number or summary content'}
    showDocsNav={true}
    showSearchBar={true}
>
    <div class:list={['contentViewport layout-grid']}>
        <DocsNavFromLocalStorage client:load menuData={docsNavData} pageName={pageName} />

        <Pipeline client:load />
    </div>
</Layout>
