---
import Layout from '@layouts/Layout.astro';
import FrameworkRedirectPage from '@ag-website-shared/components/framework-redirect-page/FrameworkRedirectPage.astro';
---

<Layout
    title="AG Grid: API Reference"
    description={'View the AG Grid API Reference Documentation - a feature-rich datagrid for major JavaScript frameworks, offering filtering, grouping, pivoting, and more.'}
    showSearchBar={false}
    showDocsNav={false}
>
    <FrameworkRedirectPage redirectPageName="reference">
        <h1>Redirecting to AG Grid API Reference...</h1>
    </FrameworkRedirectPage>
</Layout>
