---
import { Sitemap } from '@ag-website-shared/components/sitemap/Sitemap';
import parseSitemap from '@ag-website-shared/components/sitemap/utils/sitemaputils';
import Layout from '../layouts/Layout.astro';
import classnames from 'classnames';

const response = await fetch('https://www.ag-grid.com/sitemap-0.xml');
const xmlSitemap = await response.text();
const parsedSitemap = parseSitemap(xmlSitemap);
---

<Layout
    title={'AG Grid Sitemap'}
    description={'The AG Grid sitemap. Contains links to every page on the site, including docs.'}
    showDocsNav={false}
    showSearchBar={true}
>
    <div class:list={['contentViewport layout-grid']}>
        <div className={classnames('layout-max-width-small')}>
            <h1>AG Grid Sitemap</h1>
            <Sitemap client:only="react" sitemap={parsedSitemap} />
        </div>
    </div>
</Layout>
