.toolbar button {
    margin: 2px; padding: 0;
}

.ag-cell {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

label {
    font-weight: normal !important;
}

.ag-menu {
    z-index: 50;
}
