.ag-icon {
    display: block;
    position: relative;
    user-select: none;
    width: var(--ag-icon-size);
    height: var(--ag-icon-size);
}

.ag-disabled,
.ag-column-select-column-group-readonly,
[disabled] {
    .ag-icon {
        opacity: 0.5;
    }
}

.ag-column-select-column-readonly.ag-icon-grip,
.ag-column-select-column-readonly .ag-icon-grip {
    opacity: 0.35;
}
