.locked-col {
    background: #ddd;
    border: 1px solid #aaa;
}

.legend-box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    padding: 1px;
    left: 0;
    top: 0;
    position: absolute;
}
