.outer-div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.button-bar {
    margin-bottom: 1rem;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.grid-wrapper {
    flex: 1 1 auto;
}
