$container-max-widths: (
    sm: 540px,
    md: 970px,
    lg: 1140px,
    xl: 1400px,
);

// only import Bootstrap that does not output CSS, to avoid bloating our generated CSS
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$ag-dark-blue: #00407f;
$ag-blue: #0084e7;

$ag-light-blue: #55b2c6;
$ag-grey: #b4bbbf;
$ag-light-grey: lighten($ag-grey, 10%);
$ag-orange: #ff8b00;
$ag-red: #ff0000;
$primary: $ag-blue;

$ag-site-fw-background: #eaf0f6;