.ag-checkbox-input-wrapper {
  background-color: var(--ag-checkbox-unchecked-background-color);
  border: solid 1px var(--ag-checkbox-unchecked-border-color);
  border-radius: var(--ag-checkbox-border-radius);

  &.ag-checked {
    background-color: var(--ag-checkbox-checked-background-color);
    border-color: var(--ag-checkbox-checked-border-color);

    &::after {
      background-color: var(--ag-checkbox-checked-shape-color);
      mask-image: var(--ag-checkbox-checked-shape-image);
    }
  }

  &.ag-indeterminate {
    background-color: var(--ag-checkbox-indeterminate-background-color);
    border-color: var(--ag-checkbox-indeterminate-border-color);

    &::after {
      background-color: var(--ag-checkbox-indeterminate-shape-color);
      mask-image: var(--ag-checkbox-indeterminate-shape-image);
    }
  }
}
