.ag-input-field,
.ag-select {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ag-input-field-input {
  flex: 1 1 auto;
}

.ag-floating-filter-input .ag-input-field-input[type='date'] {
  /* TODO test and remove */
  /* Fix a bug in Blink rendering engine where date input will not shrink from its default size in a
        flex container, but it will grow. So we give it a very small width and it will grow to the right size */
  width: 1px;
}

.ag-input-field-input {
  width: 100%;
  min-width: 0;
}

.ag-label {
  white-space: nowrap;
  @include ag.unthemed-rtl((margin-right: var(--ag-grid-size)));
}

.ag-label-align-top .ag-label {
  margin-bottom: calc(var(--ag-grid-size) * 0.5);
}

input[class^='ag-'] {
  margin: 0;
  background-color: var(--ag-background-color);
}

textarea[class^='ag-'],
select[class^='ag-'] {
  background-color: var(--ag-background-color);
}

input[class^='ag-'][type='number']:not(.ag-number-field-input-stepper) {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[class^='ag-'][type='range'] {
  padding: 0;
}

input[class^='ag-'][type='button'],
button[class^='ag-'] {
  &:focus-visible {
    box-shadow: var(--ag-focus-shadow);
  }
}
