.ag-input-field,
.ag-select {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ag-input-field-input {
  flex: 1 1 auto;
}

.ag-floating-filter-input .ag-input-field-input[type='date'] {
  /* TODO test and remove */
  /* Fix a bug in Blink rendering engine where date input will not shrink from its default size in a
        flex container, but it will grow. So we give it a very small width and it will grow to the right size */
  width: 1px;
}

.ag-input-field-input {
  width: 100%;
  min-width: 0;
}

.ag-label {
  white-space: nowrap;
  @include ag.unthemed-rtl((margin-right: var(--ag-grid-size)));
}

.ag-label-align-top .ag-label {
  margin-bottom: calc(var(--ag-grid-size) * 0.5);
}
