@import "./ag-theme-material-import-renamed-legacy-vars";

// Taken from the palette of angular material: https://github.com/angular/material2/blob/master/src/lib/core/theming/_palette.scss
$ag-mat-grey-0: #fff;
$ag-mat-grey-50: #fafafa;
$ag-mat-grey-100: #f5f5f5;
$ag-mat-grey-200: #eee;
$ag-mat-grey-300: #e2e2e2;

// Taking primary and accent from the indigo / pink theme: https://github.com/angular/material2/blob/master/src/lib/core/theming/prebuilt/indigo-pink.scss
$ag-mat-indigo-500: #3f51b5;
$ag-mat-pink-A200: #ff4081;
$ag-mat-pink-50: #fce4ec;
$ag-mat-indigo-50: #e8eaf6;

// opacity values used for black values, taken from material spec
$ag-foreground-opacity: 0.87 !default;
$ag-secondary-foreground-color-opacity: 0.54 !default;
$ag-disabled-foreground-color-opacity: 0.38 !default;

/////////////////////////////////////////////////////////////////////////////////////////////////////
// The variables below can be overriden to adjust the look up to the app color scheme
/////////////////////////////////////////////////////////////////////////////////////////////////////

// Sizing
$ag-grid-size: 8px !default;
$ag-icon-size: 18px !default;
$ag-header-height: $ag-grid-size * 7 !default;
$ag-row-height: $ag-grid-size * 6 !default;
$ag-row-border-width: 1px !default;
$ag-toolpanel-indent-size: $ag-grid-size + $ag-icon-size !default;
$ag-row-group-indent-size: $ag-grid-size * 3 + $ag-icon-size !default;
$ag-cell-horizontal-padding: $ag-grid-size * 3 !default;
$ag-virtual-item-height: $ag-grid-size * 5;
$ag-header-icon-size: 14px !default;

// Fonts
$ag-font-family: "Roboto", sans-serif !default; // legacy: font
$ag-font-size: 13px !default;
$ag-font-weight: 400 !default;

$ag-secondary-font-family: "Roboto", sans-serif !default; //font-secondary
$ag-secondary-font-size: 12px !default; // font-secondary-size
$ag-secondary-font-weight: 700 !default; // font-secondary-weight

// Misc
$ag-card-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !default;
$ag-card-radius: 2px;

// Colors
$ag-background-color: $ag-mat-grey-0 !default;
$ag-foreground-color: rgba(#000, $ag-foreground-opacity) !default; // foreground
$ag-secondary-foreground-color: rgba(#000, $ag-secondary-foreground-color-opacity) !default; // foreground-secondary
$ag-disabled-foreground-color: rgba(#000, $ag-disabled-foreground-color-opacity) !default; // foreground-disabled
$ag-header-background-color: $ag-background-color !default;
$ag-header-cell-hover-background-color: darken($ag-header-background-color, 5%) !default;
$ag-header-cell-moving-background-color: $ag-header-cell-hover-background-color !default;
$ag-header-foreground-color: $ag-secondary-foreground-color !default;

$ag-border-color: $ag-mat-grey-300 !default;
$ag-primary-color: $ag-mat-indigo-500 !default;
$ag-accent-color: $ag-mat-pink-A200 !default;
$ag-icon-color: #333 !default;
$ag-alt-icon-color: transparent !default;

$ag-editor-background-color: $ag-mat-grey-50 !default;
$ag-panel-background-color: $ag-mat-grey-200 !default;
$ag-tool-panel-background-color: $ag-mat-grey-50 !default;
$ag-chip-background-color: $ag-mat-grey-300 !default;

$ag-range-selection-background-color: transparentize(darken($ag-mat-indigo-50, 30%), 0.9) !default;
$ag-range-selection-chart-category-background-color: rgba(0, 255, 132, 0.1) !default;
$ag-range-selection-chart-background-color: rgba(0, 88, 255, 0.1) !default;
$ag-range-selection-highlight-color: $ag-mat-pink-50 !default;
$ag-range-selected-color-1: opacify($ag-range-selection-background-color, 0.1) !default;
$ag-range-selected-color-2: opacify($ag-range-selection-background-color, 0.2) !default;
$ag-range-selected-color-3: opacify($ag-range-selection-background-color, 0.3) !default;
$ag-range-selected-color-4: opacify($ag-range-selection-background-color, 0.4) !default;

$ag-hover-color: $ag-mat-grey-50 !default;
$ag-selected-color: $ag-mat-grey-200 !default;
$ag-cell-data-changed-color: $ag-mat-pink-50 !default;

// delta changes
$ag-value-change-delta-up-color: #43a047 !default;
$ag-value-change-delta-down-color: #e53935 !default;
$ag-value-change-value-highlight-background-color: #00acc1 !default;

// Icons
@import "../ag-theme-material-font-vars";

$ag-icon-font-family: $ag-theme-material-icon-font-family !default;
$ag-icons-data: $ag-theme-material-icons-data !default;
$ag-icons-font-codes: $ag-theme-material-icons-font-codes !default;