$positive-color: #46E372;
$negative-color: #FF005C;

.changeValue {
    border-radius: 20px;
    padding: 5px 10px;
}

.positive {
    color: $positive-color;
    background-color: rgba($positive-color, .1);
}

.negative {
    color: $negative-color;
    background-color: rgba($negative-color, .19);
}
