.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-bottom: 1rem;
}

.divider {
    height: 5%;
}

.grid {
    flex: 1 1 auto;
}
