<div class="bs-example bs-example-tabs" style="margin-top: 20px">
    <ul class="nav nav-tabs">
        <li ng-class="active"><a ng-click="selectedTab='source'">Source Code</a></li>
    </ul>

    <div style="margin-top: 5px" class="tab-pane">
        <ul class="nav nav-pills">
            <li role="presentation" ng-repeat="extraPage in extraPages" ng-class="{active: isActivePage(extraPage)}" ><a ng-click="setActivePage(extraPage)">{{extraPage}}</a></li>
        </ul>
        <div ng-style="iframeStyle" style="overflow: auto;"  ng-bind-html="extraPageContent[extraPage]">
        </div>
    </div>
</div>