.example-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
    align-items: center;
    margin-bottom: 8px;
}

#myGrid {
    flex: 1 1 0px;
    width: 100%;
}
