:global(:root) {
    --layout-grid-header-height: 32px;
}

:global(.ag-theme-quartz),
:global(.ag-theme-quartz-dark) {
    --ag-row-height: 65px !important;
    --ag-header-background-color: transparent;
    --ag-odd-row-background-color: rgb(240, 244, 255);
    --ag-row-border-color: rgba(228, 228, 228, 0.1);
    --ag-borders: none;
}

:global(.ag-theme-quartz-dark) {
    --ag-odd-row-background-color: #252f3f;
}

:global(.ag-theme-quartz .ag-cell),
:global(.ag-theme-quartz-dark .ag-cell) {
    display: flex;
    align-items: center !important;
}

:global(.ag-theme-quartz .ag-row-group),
:global(.ag-theme-quartz-dark .ag-row-group) {
    height: 100%;
    display: flex;
    align-items: center !important;
}

:global(.ag-theme-quartz .ag-header),
:global(.ag-theme-quartz-dark .ag-header) {
    text-transform: uppercase;
    border: none;
    opacity: 0.7;
    font-size: 12px;
    border-bottom: 1px rgba(140, 140, 140, 0.176) solid;
}

:global(.ag-theme-quartz .ag-header-cell-text),
:global(.ag-theme-quartz-dark .ag-header-cell-text) {
    letter-spacing: 1.1px;
    font-weight: 600;
}

:global(.ag-theme-quartz .ag-cell),
:global(.ag-theme-quartz-dark .ag-cell) {
    border-left: 1px solid rgba(140, 140, 140, 0.147);
}

:global(.ag-theme-quartz .ag-group-expanded),
:global(.ag-theme-quartz-dark .ag-group-expanded) {
    opacity: 1;
}

:global(.ag-theme-quartz .ag-icon-tree-open),
:global(.ag-theme-quartz-dark .ag-icon-tree-open) {
    border: 1px solid rgba(115, 153, 199, 0.373);
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0px 2px 1px 0px #00000012;
    color: rgb(116, 134, 215);
}

.grid {
    height: calc(100vh - var(--layout-grid-header-height));
}

.icon {
    margin-right: 8px;
}

.container {
    width: 100%;
}

.wrapper {
    display: flex;
    background: var(--color-bg-primary);
    overflow: hidden;
}

.buttonIcon {
    width: 16px;
    height: 16px;
    opacity: 0.7;
    margin-right: 8px;
}
