@use "../../design-system/" as *;

.chartGallery {
    display: flex;
    flex-wrap: wrap;
    gap: $size-2;
    container-type: inline-size;
}

.title {
    font-size: var(--font-size-massive);
    margin-top: $size-7;

    &:first-child {
        margin-top: $size-4;
    }
}

.galleryItem {
    --columns: 1;
    --width: calc((100% - #{$size-2} * (var(--columns) - 1)) / var(--columns));

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: var(--width);
    text-align: center;
    border-radius: var(--border-radius);
    background-color: var(--background-100);
    border: 2px solid var(--bright-blue-gray);
    transition: color $default-transition-timing, border-color $default-transition-timing;

    &:hover {
        border-color: var(--link-hover-color);
    }

    @container (min-width: 460px) {
        --columns: 2;
    }

    @container (min-width: 720px) {
        --columns: 3;
    }

    @container (min-width: 900px) {
        --columns: 4;
    }

    @container (min-width: 1300px) {
        --columns: 5;
    }
}

.thumbnail {
    width: 100%;
}

.name {
    display: block;
    padding: $size-2;
    line-height: var(--line-height-tight);
}
