.chart-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .chart-gallery-item {
        width: calc(50% - 6px);
        border: 1px solid $border-color;
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
        transition: transform 0.5s, box-shadow 0.5s;
        margin-bottom: 12px;

        @include media-breakpoint-up(lg) {
            width: calc(33% - 6px);
        }

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 6px -6px $ag-grey;
        }

        &__link {
            display: block;
            text-decoration: none;
            height: 100%;
            font-size: larger;
        }

        &__thumbnail {
            width: 100%;
        }

        &__name {
            padding: 10px;
            background-color: #f9fcff;
            height: 100%;
        }

        &--empty {
            visibility: hidden;
        }
    }

    &__title {
        font-size: xx-large;
        padding-top: 1.2rem;
        padding-bottom: 0.1rem;
    }
}
