@use "../design-system/" as *;

.exampleWrapper {
    display: flex;
    flex-direction: column;
    overflow: auto;

    max-width: 100%;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - #{$site-header-height});
    
    background-color: white;
}

.exampleWrapperDark {
    background-color: #0a161f;
}

@media (prefers-color-scheme: dark) {
    .exampleWrapperAuto {
        background-color: #0a161f;
    }
}

.gridWrapper {
    margin-top: $size-2;
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
}

.messages {
    padding-top: $size-2;
    padding-left: $size-2;
    display: none;

    &.show {
        display: inline;
    }
}
