@use "sass:map";
@use "../design-system/" as *;

$toolbar-width: 1024px;

.toolbar {
    width: 100%;
    position: relative;

    background: var(--toolbar-background);
    border-bottom: 1px solid var(--border-color);
}

.controlsContainer {
    padding: ($size-1 + 1px) 0 $size-1;
    overflow: auto;
}

.controls {
    display: flex;
    align-items: center;
    width: $toolbar-width;

    select,
    input {
        max-width: 200px;
        margin-right: $size-4;
    }
}

.scrollIndicator {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 70px;
    background: linear-gradient(90deg, transparent 0%, var(--toolbar-background) 110%);
    pointer-events: none;

    @media (min-width: $toolbar-width) {
        display: none;
    }
}

.videoTour {
    display: flex;
    align-items: center;
    gap: $size-1;

    :global(.icon) {
        fill: #f00;
    }
}
