@use "sass:color";

.ag-theme-alpine, .ag-theme-alpine-dark {
    // COLOURS

    // Active colours - same shade, different opacities
    --ag-active-color: #2196f3;
    --ag-row-hover-color: color-mix(in srgb, transparent, var(--ag-active-color) 10%);
    --ag-column-hover-color: color-mix(in srgb, transparent, var(--ag-active-color) 10%);
    --ag-input-focus-border-color: color-mix(in srgb, transparent, var(--ag-active-color) 40%);

    // main colours (overridden by alpine-dark)
    --ag-background-color: #fff;
    --ag-foreground-color: #181d1f;
    --ag-border-color: color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 28%);
    --ag-secondary-border-color: color-mix(in srgb, var(--ag-background-color), var(--ag-border-color) 50%);
    --ag-header-background-color: color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 3%);
    --ag-tooltip-background-color: color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 3%);
    --ag-odd-row-background-color: color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 1%);
    --ag-control-panel-background-color: color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 3%);
    --ag-subheader-background-color: var(--ag-background-color);
    --ag-checkbox-unchecked-color: color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 45%);
    
    // derived colours these are shared by alpine-dark
    --ag-checkbox-background-color: var(--ag-background-color);
    --ag-checkbox-checked-color: var(--ag-active-color);
    --ag-range-selection-border-color: var(--ag-active-color);
    --ag-secondary-foreground-color: var(--ag-foreground-color);
    --ag-input-border-color: var(--ag-border-color);
    --ag-input-border-color-invalid: var(--ag-invalid-color);
    --ag-input-focus-box-shadow: 0 0 2px 0.1rem var(--ag-input-focus-border-color);
    --ag-disabled-foreground-color: color-mix(in srgb, transparent, var(--ag-foreground-color) 50%);
    --ag-chip-background-color: color-mix(in srgb, transparent, var(--ag-foreground-color) 7%);
    --ag-input-disabled-border-color: color-mix(in srgb, transparent, var(--ag-border-color) 30%);
    --ag-input-disabled-background-color: color-mix(in srgb, transparent, var(--ag-border-color) 15%);

    // BORDERS
    --ag-borders: solid 1px;
    --ag-border-radius: 3px;
    --ag-borders-side-button: none;
    --ag-side-button-selected-background-color: transparent;
    --ag-header-column-resize-handle-display: block;
    --ag-header-column-resize-handle-width: 2px;
    --ag-header-column-resize-handle-height: 30%;

    // SIZING
    --ag-grid-size: 6px;
    --ag-icon-size: 16px;
    --ag-row-height: calc(var(--ag-grid-size) * 7);          // if changed, update environment.ts
    --ag-header-height: calc(var(--ag-grid-size) * 8);       // if changed, update environment.ts
    --ag-list-item-height: calc(var(--ag-grid-size) * 4); // if changed, update environment.ts
    --ag-column-select-indent-size: var(--ag-icon-size);
    --ag-set-filter-indent-size: var(--ag-icon-size);
    --ag-advanced-filter-builder-indent-size: calc(var(--ag-icon-size) + var(--ag-grid-size) * 2);
    --ag-cell-horizontal-padding: calc(var(--ag-grid-size) * 3);
    --ag-cell-widget-spacing: calc(var(--ag-grid-size) * 2);

    --ag-widget-container-vertical-padding: calc(var(--ag-grid-size) * 2);
    --ag-widget-container-horizontal-padding: calc(var(--ag-grid-size) * 2);
    --ag-widget-vertical-spacing: calc(var(--ag-grid-size) * 1.5);

    --ag-toggle-button-height: 18px;
    --ag-toggle-button-width: 28px;

    // FONTS
    --ag-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    --ag-font-size: 13px;
    --ag-icon-font-family: agGridAlpine;

    // MISC
    --ag-selected-tab-underline-color: var(--ag-active-color);
    --ag-selected-tab-underline-width: 2px;
    --ag-selected-tab-underline-transition-speed: 0.3s;
    --ag-tab-min-width: 240px;

    --ag-card-shadow: 0 1px 4px 1px rgba(186, 191, 199, 0.4);
    --ag-popup-shadow: var(--ag-card-shadow);
    --ag-side-bar-panel-width: 250px;
};

.ag-theme-alpine-dark {
    --ag-background-color: #181d1f;
    --ag-foreground-color: #fff;
    --ag-border-color: color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 35%);
    --ag-secondary-border-color: color-mix(in srgb, var(--ag-background-color), var(--ag-border-color) 40%);
    --ag-header-background-color: color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 3%);
    --ag-tooltip-background-color: color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 3%);
    --ag-odd-row-background-color: color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 3%);
    --ag-control-panel-background-color: color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 3%);
    --ag-subheader-background-color: #000;
    --ag-input-disabled-background-color: color-mix(in srgb, transparent, var(--ag-border-color) 7%);
    --ag-input-focus-box-shadow:
        0 0 2px 0.5px rgba(255, 255, 255, 0.5),
        0 0 4px 3px var(--ag-input-focus-border-color);
    --ag-card-shadow: 0 1px 20px 1px black;
    
    --ag-advanced-filter-join-pill-color: rgba(200, 50, 50, 0.559);
    --ag-advanced-filter-column-pill-color: rgba(56, 178, 19, 0.43);
    --ag-advanced-filter-option-pill-color: rgba(160, 64, 186, 0.43);
    --ag-advanced-filter-value-pill-color: rgba(0, 123, 198, 0.48);
}