:where([class^='ag-'], [class^='ag-']:focus, [class^='ag-']::after, [class^='ag-']::before) {
  box-sizing: border-box;
  outline: none;
}

:where(button[class^='ag-'], input[class^='ag-']) {
  border: none;
  padding: 0;
  margin: none;
  background: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  cursor: pointer;
}

:where([class^='ag-']::-ms-clear) {
  display: none;
}
