body {
    @extend .m-0, .p-0, .w-100, .h-100;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    -webkit-font-smoothing: antialiased;
}

.custom-block {
    &.note {
        @extend .alert, .alert-primary;

        &.warning {
            @extend .alert-warning;
        }
    
        &.info {
            @extend .alert-info;
        }
    }

    &.note &-heading {
        @extend .h4, .alert-heading;
    }
}

a {
    color: theme-color(primary);
}
