body {
    @extend .m-0, .p-0, .w-100, .h-100;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    -webkit-font-smoothing: antialiased;
}

.note {
    @extend .p-3, .mb-3;
    background-color: lighten(theme-color(warning), 40%);
    border: 1px solid theme-color(warning);

    p:last-child {
        margin-bottom: 0;
    }
}

a {
    color: theme-color(primary);
}
