@import '../../ag-theme-alpine/vars/colors';
$ag-color-background: $ag-alpine-black !default;
$ag-color-foreground: $ag-alpine-white !default;
$ag-color-background-alt: $ag-alpine-gray-1 !default;
$ag-color-primary: $ag-alpine-blue !default;
$ag-color-secondary: $ag-alpine-orange !default;

// selection
$ag-color-selected: darken($ag-color-secondary, 25) !default;
$ag-color-background-range-selection: darken($ag-color-secondary, 34) !default;
$ag-color-background-range-selected-1: lighten($ag-color-background-range-selection, 10) !default;
$ag-color-background-range-selected-2: lighten($ag-color-background-range-selection, 20) !default;
$ag-color-background-range-selected-3: lighten($ag-color-background-range-selection, 30) !default;
$ag-color-background-range-selected-4: lighten($ag-color-background-range-selection, 40) !default;

$ag-color-border-primary: $ag-alpine-gray-3 !default;
$ag-color-border-secondary: transparentize($ag-alpine-gray-2, 0.5) !default;
$ag-color-icon: $ag-alpine-gray-3 !default;

$ag-color-row-hover: transparentize($ag-color-primary, 0.8) !default;

// dropdown arrow
$ag-url-data-image-dropdown-arrow: url($ag-white-dropdown-arrow) !default;
$ag-url-hover-data-image-dropdown-arrow: url($ag-blue-dropdown-arrow) !default;
$ag-url-pressed-data-image-dropdown-arrow: url($ag-black-dropdown-arrow) !default;

// switch needs to be a bit darker
$ag-color-background-toggle-button: $ag-alpine-gray-3 !default;

// shadow should be darker (instead of inverted) for a natural look
$ag-color-chrome-shadow: $ag-alpine-black !default;
