@import './public-vars';

$ag-foreground-opacity: 1 !default;
$ag-secondary-foreground-color-opacity: 1 !default;
$ag-disabled-foreground-color-opacity: 1 !default;

// Sizing
$ag-grid-size: 6px !default;
$ag-icon-size: 16px !default;

// these three should be changed in environment.ts, too
$ag-row-height: $ag-grid-size * 7 !default;

$ag-default-background: $ag-color-background !default;
$ag-background-color: $ag-default-background !default;

$ag-border-color: $ag-color-border-secondary !default;

$ag-icon-color: $ag-color-icon !default;
$ag-alt-icon-color: $ag-default-background !default;
$ag-header-cell-moving-background-color: $ag-default-background !default;

// Derived from above
$ag-secondary-foreground-color: rgba($ag-color-foreground, $ag-secondary-foreground-color-opacity) !default; // foreground-secondary
$ag-disabled-foreground-color: rgba($ag-color-foreground, $ag-disabled-foreground-color-opacity) !default; // foreground-disabled
$ag-input-border-color: $ag-color-border-form-element !default;
$ag-input-disabled-background-color: $ag-color-background-form-element-disabled !default;

$ag-range-selection-highlight-color: $ag-color-secondary !default;

$ag-selected-color: $ag-color-selected !default;
$ag-range-selection-background-color: $ag-color-background-range-selection !default;
$ag-range-selected-color-1: $ag-color-background-range-selected-1 !default;
$ag-range-selected-color-2: $ag-color-background-range-selected-2 !default;
$ag-range-selected-color-3: $ag-color-background-range-selected-3 !default;
$ag-range-selected-color-4: $ag-color-background-range-selected-4 !default;

$ag-range-selection-chart-category-background-color: transparentize($ag-color-background-chart-range-selection-category, 0.9) !default;
$ag-range-selection-chart-background-color: transparentize($ag-color-background-chart-range-selection, 0.9) !default;

$ag-editor-background-color: $ag-chrome-background !default;
$ag-panel-background-color: $ag-chrome-background !default;
$ag-tool-panel-background-color: $ag-chrome-background !default;
$ag-header-background-color: $ag-chrome-background !default;
$ag-header-cell-hover-background-color: $ag-header-background-color !default;
$ag-header-foreground-color: $ag-secondary-foreground-color !default;

$ag-hover-color: $ag-color-row-hover !default;
$ag-chip-background-color: $ag-color-background-chip !default;

$ag-row-stub-background-color: inherit !default;
$ag-row-floating-background-color: inherit !default;

$ag-header-height: $ag-grid-size * 8 !default;
$ag-virtual-item-height: $ag-grid-size * 5 !default;
$ag-row-border-width: 1px !default;

$ag-toolpanel-indent-size: $ag-icon-size !default;
$ag-row-group-indent-size: $ag-grid-size + $ag-icon-size !default;
$ag-cell-horizontal-padding: $ag-grid-size * 3 !default;

$ag-header-icon-size: 14px !default;
$ag-border-radius: 3px !default;

$ag-card-radius: 2px !default;
$ag-card-shadow: none !default;

$ag-tooltip-background-color: $ag-color-background-alt !default;
$ag-tooltip-foreground-color: $ag-color-foreground !default;
$ag-tooltip-border-radius: $ag-border-radius !default;
$ag-tooltip-border-color: $ag-color-background-alt !default;
$ag-tooltip-font-size: $ag-size-font-tooltip !default;

$ag-font-size: $ag-size-font-default !default;
$ag-font-weight: $ag-weight-font-default !default;
$ag-secondary-font-family: $ag-font-family-secondary !default;
$ag-secondary-font-size: $ag-size-font-secondary !default;
$ag-secondary-font-weight: $ag-weight-font-secondary !default;
$ag-accent-color: $ag-color-primary !default;
$ag-primary-color: $ag-color-primary !default;
$ag-foreground-color: $ag-color-foreground !default;
$ag-card-background-color: $ag-background-color !default;
$ag-cell-data-changed-color: $ag-color-cell-data-changed !default;
$ag-value-change-delta-up-color: $ag-color-value-change-delta-up !default;
$ag-value-change-delta-down-color: $ag-color-value-change-delta-down !default;
$ag-value-change-value-highlight-background-color: $ag-color-value-change-value-highlight-background !default;
$ag-icon-color: $ag-color-icon !default;
$ag-icon-opacity: $ag-foreground-opacity !default;
$ag-ag-range-selected-color-1: $ag-range-selected-color-1 !default;
$ag-ag-range-selected-color-2: $ag-range-selected-color-2 !default;
$ag-ag-range-selected-color-3: $ag-range-selected-color-3 !default;
$ag-ag-range-selected-color-4: $ag-range-selected-color-4 !default;
$ag-input-height: $ag-grid-size * 4 !default;
$ag-button-text-transform: uppercase !default;
$ag-use-icons-for-pager-buttons: true !default;

// Icons
@import "./font-vars";

@import '../../ag-theme-base/vars/ag-theme-base-vars';
