#license-pricing {
    @extend %stage, .full-width-row, .justify-content-center;

    .card-footer {
        background-color: transparent;
        border-top: 0;
    }

    #content {
        @extend .mx-3;
        > section {
            @extend .row;
        }

        .page-info {
            p {
                @extend .lead;
            }
        }

        .packages {
            > div {
                @extend .card, .col-md, .py-5, .px-3, .mx-md-4, .mb-3, .mb-md-0;
                &:first-child {
                    @extend .ml-0;
                }
                &:last-child {
                    @extend .mr-0;
                }
                h2 {
                    @extend .card-title;
                }
                h3 {
                    @extend .card-subtitle, .mb-2, .text-muted;
                }
                ul {
                    @extend .card-text;
                }
            }
        }
    }
    
    #licenses {
        .license {
            @extend .card, .col-md, .text-center, .pt-5, .m-3;

            .card-body {
                @extend .card-body;
            }
            &:first-child {
                @extend .ml-md-0;
            }
            &:last-child {
                @extend .mr-md-0;
            }

            > div:last-of-type {
                @extend .card-footer, .mt-md-auto;
            }
            
            background-color: $gray-100;

            img {
                max-width: 4.5rem;
            }
    
            .btn {
                @extend .d-block, .btn-outline-secondary, .btn-lg;
                background-color: $white;
            }
    
            p {
                @extend .mt-5;
                font-size: 0.9rem;
            }

            h3 {
                font-size: 1rem;
            }
        
            h4 {
                font-size: 2rem;
                margin-top: 2rem;
                span {
                    font-size: 0.7rem;
                    font-weight: 300;
                }
                p {
                    @extend .mt-0;
                }
            }
        }
    }
}

