.license-pricing {
    @extend %stage, .full-width-row, .justify-content-center;

    .card-footer {
        background-color: transparent;
        border-top: 0;
    }

    #content {
        @extend .mx-2, .mx-md-5;
        .page-info {
            h1 {
                font-weight: 400;
                font-size: 2.5rem;
            }
            p {
                @extend .lead, .mx-4;
            }
        }

        .packages {
            > div {
                @extend .card, .d-flex, .flex-row, .p-2, .m-5;
                > div:first-child {
                    min-width: 10rem;
                    @extend .d-flex, .justify-content-center, .align-items-start;
                    img {
                        min-width: 5rem;
                    }
                }
                >div:last-child {
                    @extend .flex-fill;
                }
                h2 {
                    @extend .card-title;
                }
                h3 {
                    @extend .card-subtitle, .mb-2, .text-muted;
                }
                ul {
                    @extend .card-text;
                }
                span {
                    font-family: monospace;
                    @extend .mx-2;
                }
                .package-install {
                    @extend .d-flex;
                    span:first-child {
                        @extend .ml-0;
                    }
                    span:last-child {
                        @extend .ml-auto;
                    }
                }
            }
        }
    }
    
    #licenses {
        @extend .row, .px-md-5;
        .license {
            @extend .card, .col-lg, .text-center, .pt-2, .pt-md-5, .mb-3, .m-md-3;

            .card-body {
                @extend .card-body;
            }
            &:first-child {
                @extend .ml-md-0;
            }
            &:last-child {
                @extend .mr-md-0;
            }

            > div:last-of-type {
                @extend .card-footer;
            }
            
            background-color: $gray-100;

            img {
                max-width: 4.5rem;
                @extend .mb-2, .mb-md-5;
            }
    
            .btn {
                @extend .d-block, .btn-outline-secondary, .btn-lg;
                background-color: $white;
            }
    
            p {
                @extend .mt-5;
                font-size: 0.9rem;
            }

            h3 {
                font-size: 1rem;
            }
        
            h4 {
                font-size: 2rem;
                margin-top: 2rem;
                span {
                    font-size: 0.7rem;
                    font-weight: 300;
                }
                p {
                    @extend .mt-0;
                }
            }
        }
    }

    #definitions, #deeper-dive, #timeline {
        > div {
            @extend .row, .mb-4, .justify-content-end;
            > div {
                @extend .d-inline-block;
                &:first-child {
                    @extend .ml-md-3;
                    min-width: 2.5rem;
                    max-width: 2.5rem;
                    
                    img {
                        min-width: 2.5rem;
                        max-width: 2.5rem;
                    }
                }
                &:last-of-type {
                    @extend .col-md;
                    span {
                        @extend .font-weight-bold;
                    }
                }
                > p:nth-of-type(2) {
                    font-weight: 400;
                    color: $grey-1;
                }
                .example {
                    @extend .mb-3, .my-md-3;
                    color: $grey-1;
                    .card-header {
                        @extend .font-weight-bold;
                    }
                }
            }
        }
    }

    #timeline > div {
        @extend .justify-content-center;
    }

    #side-bar {
        @media (max-width:1646px) {
            display: none !important;
        }
    }
}

