.full-width-panel {
  /* undo the white-space setting Fresh puts in */
  white-space: normal;
  height: 100%;
  width: 100%;
  border: 2px solid grey;
  border-style: ridge;
  box-sizing: border-box;
  padding: 5px;
  background-color: darkgray;
}

.full-width-flag {
  float: left;
  padding: 6px;
}

.full-width-summary {
  float: left;
  margin-right: 10px;
}

.full-width-panel label {
  padding-top: 3px;
  display: inline-block;
  font-size: 12px;
}

.full-width-center {
  overflow-y: scroll;
  border: 1px solid grey;
  padding: 2px;
  height: 100%;
  box-sizing: border-box;
  font-family: cursive;
  background-color: #fafafa;
}

.full-width-center p {
  margin-top: 0px;
}
.full-width-title {
  font-size: 20px;
}