.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 8px;
}

.container > button {
    align-self: flex-start;
    font-weight: bold;
}

.grid-wrapper {
    flex: 1 1 0;
}

#myGrid {
    width: 100%;
    height: 100%;
}
