.example-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#myGrid {
    flex: 1 1 auto;
    width: 100%;
}

.column-group-g {
    background-color: #1b6d85;
}

.column-group-c {
    background-color: #67b168;
}

.button-bar {
    margin-bottom: 5px;
}
