.test-grid {
    flex: 1 1 auto;
}

.test-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.test-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-bottom: 1rem;
}

.test-header label {
    margin-left: 10px;
    margin-right: 10px;
}

.test-header label:first-child {
    margin-left: 0;
}

.participant-group {
    background-color: #00E7B1 !important;
}

.medals-group {
    background-color: #5b9bd5 !important;
}

.legend-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
}