---
import CommunityLayout from '@ag-website-shared/components/community/layout/CommunityLayout.astro';
import ToolsExtensions from '@ag-website-shared/components/community/components/ToolsExtensions';
---

<CommunityLayout
    title="AG Grid: Tools & Extensions"
    description="AG Grid has an entire ecosystem of community-built tools, extensions and utilities to help you create your next project, no matter which language or framework you're using."
    pageTitle="Tools & Extensions"
    pageDescription="AG Grid has an entire ecosystem of community-built tools, extensions and utilities to help you create your next project, no matter which language or framework you're using."
>
    <section>
        <ToolsExtensions client:load />
    </section>
</CommunityLayout>
