.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#axisBtn {
    text-transform: capitalize;
}

#myGrid {
    flex: 1;
    height: auto !important;
}

.my-chart {
    flex: 1;
}
