.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#axisBtn {
    text-transform: capitalize;
}

#myGrid {
    flex: 1;
}

.my-chart {
    flex: 1;
    margin-top: 0.5rem;
    border: 1px solid var(--ag-border-color);
}
