.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; /* This will stretch the items to fill the container */
    grid-auto-rows: 1fr; /* This ensures rows take equal height */
    gap: 20px;
  }
  
  .leftColumn {
    flex: 1;
  }
  
  .rightColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .image {
    width: 100%;
    height: auto;
  }

  .smallImage {
    width: 50%;
    height: auto;
  }
  
  .article {
    margin-bottom: 20px; // Adjust as needed for spacing
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .articleText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 8px;
  }

  .sectionTitle {
    margin-top: 32px;
  }