@use '../core' as *;

.comparisonTable {
}

.row {
    display: flex;
    align-items: center;
    min-height: $spacing-size-12;
    padding-top: $spacing-size-2;
    padding-bottom: $spacing-size-2;
    border-top: 1px solid var(--color-border-secondary);
}

.row {
    &:first-child {
        border-top: none;
    }
}

.cell {
    width: calc(100% / var(--num-columns));
    
}
