@use '../core' as *;

.mainNavLargeContainer {
    display: flex;
    margin-right: -16px;
    margin-left: auto;
}

.mainNavLarge {
    display: none;

    @media screen and (min-width: $breakpoint-site-header-small) {
        display: block;
        background-color: var(--site-nav-background);
        margin-left: auto;
        background-color: unset;
        overflow: visible;
    }

    @media screen and (min-width: $breakpoint-site-header-large) {
        margin-left: auto;
    }
}

#mainNavSmall {
    @media screen and (min-width: $breakpoint-site-header-small) {
        display: none;
    }
    width: 100%;
}
