@use '../core' as *;

.container {
    margin-top: $spacing-size-12;
    margin-bottom: calc($spacing-size-12 * 4);
}

.topSection {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-size-8;
    margin-top: $spacing-size-24;
    margin-bottom: $spacing-size-16;

    @media screen and (min-width: $breakpoint-pricing-large) {
        flex-wrap: nowrap;
    }

    h1 {
        font-size: 44px;
        font-weight: var(--text-bold);
        margin-bottom: $spacing-size-2;
        line-height: var(--text-lh-ultra-tight);
    }
}

.intro {
    width: 100%;
    margin-bottom: $spacing-size-8;
    text-align: center;

    @media screen and (min-width: $breakpoint-pricing-large) {
        margin-top: 36px;
        text-align: left;
    }

    p:global(.font-size-large) {
        max-width: 44rem;
        margin: 0 auto;
    }
}

.salesEmail {
    margin-top: $spacing-size-4;
    margin-bottom: $spacing-size-4;

    a {
        @media screen and (max-width: $breakpoint-pricing-small) {
            font-size: var(--text-fs-base);
        }
    }
}

.videoPrompt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: $spacing-size-2 $spacing-size-4;
    margin-top: $spacing-size-12;
    line-height: var(--text-lh-tight);

    @media screen and (min-width: $breakpoint-pricing-small) {
        text-align: left;
    }

    @media screen and (min-width: $breakpoint-pricing-large) {
        justify-content: flex-start;
    }

    h3,
    p {
        margin: 0;
    }
}

.thumbnail {
    width: 33.333%;
    min-width: 160px;
    max-width: 220px;
    border-radius: var(--radius-md);

    img {
        width: 100%;
        aspect-ratio: 16 / 9;
        margin-top: $spacing-size-2;
        object-fit: cover;
        border-radius: var(--radius-md);
    }
}

.licensesOuter {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: $spacing-size-8;
}

.buyTogether {
    --card-color: var(--color-bg-primary);
    --header-tint: 0.95;

    width: 100%;
    display: flex;
    border-radius: 5px;
    border: 1px solid var(--color-border-primary);
    background-color: var(--card-color);

    #{$selector-darkmode} & {
        --card-color: var(--background-100);

        border: 2px solid var(--color-brand-500);
    }
}

.buyTogetherInner {
    width: 100%;
    padding: $spacing-size-4;
    text-align: center;
    border-radius: var(--border-radius);
    background-color: var(--default-background-color);
    opacity: var(--header-tint);

    @media screen and (min-width: $breakpoint-pricing-medium) {
        display: grid;
        grid-template: auto auto / auto auto;
        padding: $spacing-size-4;
        text-align: left;
    }

    p {
        margin-bottom: 0;
    }
}

.left {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $breakpoint-pricing-medium) {
        width: calc(50% - $spacing-size-4);
    }

    p {
        line-height: var(--text-lh-tight);
    }
}

.products {
    width: 100%;
    margin-top: -10px;
    font-size: var(--text-fs-2xl);

    span {
        margin-left: -$spacing-size-3;
        margin-right: -$spacing-size-2;
        color: #00366d;

        #{$selector-darkmode} & {
            color: var(--color-fg-primary) !important;
        }
    }
}

.productLogos svg {
    height: 54px;
    width: fit-content;
    margin-left: -10px;

    #{$selector-darkmode} & {
        :global(#LogoType) * {
            fill: var(--color-fg-primary) !important;
        }
    }
}

.enterpriseProducts {
    margin-top: $spacing-size-2;
    margin-bottom: $spacing-size-6;

    @media screen and (min-width: $breakpoint-pricing-medium) {
        margin-top: $spacing-size-1;
        margin-bottom: auto;
    }

    :global(.icon) {
        --icon-size: #{$spacing-size-4};

        fill: var(--color-text-secondary);

        margin-top: -1px;
        margin-left: -1px;
        opacity: 0.6666;
    }
}

.buyTogetherPrice {
    text-align: center;
    color: var(--color-fg-primary);

    @media screen and (min-width: $breakpoint-pricing-medium) {
        text-align: right;
    }

    p {
        font-weight: var(--text-bold);
        line-height: var(--text-lh-ultra-tight);
    }

    p:first-child {
        margin-bottom: $spacing-size-1;
    }

    p:last-child {
        margin-top: $spacing-size-1;
    }
}

.buyTogetherConfigureButton {
    width: 100%;
    margin-top: $spacing-size-6;

    @media screen and (min-width: $breakpoint-pricing-medium) {
        grid-area: 2 / 1 / 2 / 3;
        text-align: center;
    }
}

.price {
    font-size: 46px !important; // !important for font-size weirdness
    line-height: var(--text-lh-tight);
    font-weight: var(--text-bold);
    letter-spacing: -0.05em;
}

.configure button:not([class^='ag-']) {
    width: 100%;
    height: 100%;
}

.bulkLicenses,
.communityEnterprise,
.videoExplainer,
.licensesInDetail {
    margin-bottom: $spacing-size-24;
}

.bulkLicenses {
    margin-top: $spacing-size-10;
    text-align: center;

    p {
        max-width: 48em;
        margin: 0 auto $spacing-size-2;
    }
}

.ukraineNotice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-size-4;
    max-width: 48em;
    margin: $spacing-size-16 auto $spacing-size-24;

    @media screen and (min-width: $breakpoint-alert-flag-small) {
        flex-direction: row;
    }

    img {
        width: 80px;
    }
}

.communityEnterprise {
    grid-template-columns: 1fr 2fr;
    gap: $spacing-size-6;

    @media screen and (min-width: $breakpoint-pricing-medium) {
        display: grid;
    }

    :global(.button-secondary):not(:last-child) {
        margin-bottom: $spacing-size-2;
    }
}

.community {
    margin-bottom: $spacing-size-8;

    @media screen and (min-width: $breakpoint-pricing-medium) {
        margin-bottom: 0;
    }
}

.enterprise h3 {
    position: relative;
    display: inline-block;
    padding-right: 32px;

    svg {
        --color-icon: var(--color-enterprise-icon);

        position: absolute;
        top: 0;
        right: 0;
        margin-left: 4px;
        width: 26px;
    }
}

.NpmButton svg {
    display: inline-block;
    height: 2.5em;
    margin: -1.15em 0.33em -1em 0;
    fill: var(--color-fg-primary);
}

.videoExplainer {
    display: grid;

    @media screen and (min-width: $breakpoint-pricing-large) {
        grid-template-columns: 2fr 1fr;
        grid-auto-flow: dense;
        gap: $spacing-size-6;
    }

    div {
        margin-bottom: $spacing-size-8;

        @media screen and (min-width: $breakpoint-pricing-large) {
            grid-column: 2;
        }
    }

    h3 {
        font-weight: var(--text-bold);
        line-height: var(--text-lh-tight);

        @media screen and (min-width: $breakpoint-pricing-large) {
            margin-top: -$spacing-size-2;
        }
    }

    iframe {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: var(--radius-md);
        border: none;
    }
}

.licensesInDetail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: $spacing-size-6;

    @media screen and (min-width: $breakpoint-pricing-large) {
        flex-direction: row;
    }

    > h3 {
        width: 100%;
        text-align: center;
        font-weight: var(--text-bold);
    }

    ul {
        line-height: var(--text-lh-tight);
    }

    li:not(:last-child) {
        margin-bottom: $spacing-size-1;
    }

    .singleApplicationLicense {
        --card-color: #0f5bce;
        --header-tint: 90%;
        --content-tint: 96%;

        #{$selector-darkmode} & {
            --card-color: #16325c;
            --header-tint: 66%;
            --content-tint: 88%;
        }
    }

    .multipleApplicationsLicense {
        --card-color: #2aaa33;
        --header-tint: 91%;
        --content-tint: 97%;

        #{$selector-darkmode} & {
            --card-color: #175a1b;
            --header-tint: 72%;
            --content-tint: 88%;
        }
    }

    .singleApplicationLicense,
    .multipleApplicationsLicense {
        @media screen and (min-width: $breakpoint-pricing-large) {
            width: calc(50% - $spacing-size-6 / 2);
        }
    }

    // Needs review after <ul> styling
    .deploymentLicense ul {
        @media screen and (min-width: $breakpoint-pricing-large) {
            columns: 2;
            gap: $spacing-size-6;
        }
    }
}

.contactSales {
    margin-bottom: $spacing-size-20;
    text-align: center;

    p {
        max-width: 740px;
        margin-right: auto;
        margin-bottom: $spacing-size-2;
        margin-left: auto;
    }

    a {
        font-size: var(--text-fs-lg);
        display: inline-block;
    }
}

.chartsPricingOuter,
.chartsPricingOuter iframe {
    min-height: calc(8000px - 100vw * 3.5);

    @media screen and (min-width: 1020px) {
        min-height: calc(8000px - 100vw * 3.2);
    }

    @media screen and (min-width: $breakpoint-pricing-large) {
        min-height: 3200px;
    }
}
