@use '../../design-system/' as *;

.license {
    width: 100%;
    border-radius: var(--radius-md);
    border: 1px solid var(--color-border-primary);
    color: var(--color-fg-primary);

    @media screen and (min-width: $breakpoint-pricing-medium) {
        max-width: calc(50% - $spacing-size-4);
        max-height: 480px;
    }

    p {
        margin: 0;
    }

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100%;
        padding: $spacing-size-4;

        @media screen and (min-width: $breakpoint-pricing-medium) {
            align-items: flex-start;
            text-align: left;
        }
    }
}

.licenseMeta {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-size-8;
    color: var(--color-text-tertiary);

    :global(.icon) {
        margin-top: -1px;
        margin-left: 2px;
        width: 16px;
        opacity: 0.6666;

        * {
            fill: var(--color-text-tertiary);
        }
    }
}

.logo {
    height: 54px;
    width: fit-content;

    @media screen and (min-width: $breakpoint-pricing-medium) {
        margin-left: -10px;
        margin-bottom: -4px;
    }

    #{$selector-darkmode} & {
        :global(#LogoType) * {
            fill: var(--color-fg-primary) !important; // !important required to override SVG inline styles
        }
    }
}

p.name {
    font-size: 46px;
    line-height: var(--text-lh-ultra-tight);
    margin-top: $spacing-size-1;
    margin-bottom: $spacing-size-2;

    @media screen and (min-width: $breakpoint-pricing-medium) and (max-width: $breakpoint-pricing-large) {
        max-width: 340px;
        margin-left: auto;
        margin-right: auto;
    }
}

.price {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-size-4;
}

.price p:first-child {
    color: var(--color-text-tertiary);
    font-size: var(--text-fs-md);
}

.standardPrice {
    display: inline-block;
    position: relative;
    margin-left: $spacing-size-4;
    color: var(--color-text-tertiary);

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: $spacing-size-1 * -1;
        left: $spacing-size-1 * -1;
        height: $spacing-size-1;
        margin-top: $spacing-size-1 * -1;
        background-color: var(--color-text-tertiary);
    }
}

.priceFullDollars,
.standardPrice {
    font-size: 44px;
    line-height: var(--text-lh-ultra-tight);
    letter-spacing: -0.05em;
    padding-top: $spacing-size-1;
    padding-bottom: $spacing-size-2;

    &::before {
        content: '$';
    }
}

.priceFullDollars {
    font-weight: var(--text-bold);
    height: $spacing-size-16;

    :global(#grid) & {
        position: relative;
        top: 4px;
    }
}

.licenseBenefits {
    display: flex;
    flex-direction: column;

    ul li:where(:not(:last-child)) {
        margin-bottom: $spacing-size-1;
    }

    a {
        display: block;
        margin-top: $spacing-size-1;
    }

    ul svg {
        position: relative;
        top: -2px;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        fill: var(--color-util-gray-700);
        background-color: var(--color-util-gray-300);
    }
}

.launchExplainer {
    margin-top: $spacing-size-2;
    min-height: 36px;
    margin-bottom: $spacing-size-4;

    p {
        line-height: var(--text-lh-tight);
    }
}

.licenseActions {
    width: 100%;
    margin-top: auto;

    a {
        width: 100%;
        text-align: center;
    }
}

.learnMoreLink {
    svg {
        --icon-size: 16px;
        --color-icon: var(--color-link);

        transform: translateX(2px);
        transition: transform $transition-default-timing;
    }

    &:hover svg {
        --color-icon: var(--color-link-hover);

        transform: translateX(5px);
    }
}
