@use '../core' as *;

.searchForm {
    position: relative;
    flex-grow: 1;

    @media screen and (min-width: $breakpoint-site-header-medium) {
        width: 380px;
    }

    @media screen and (min-width: $breakpoint-docs-nav-medium) {
        padding-right: $spacing-size-2;
        padding-left: $spacing-size-2;
    }
}
