.example-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#myGrid {
    flex: 1 1 0px;
    width: 100%;
}

.button-group {
    padding-bottom: 4px;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

.undo-redo-input {
    width: 20px;
}

.undo-btn {
    margin-left: 20px;
}

.redo-btn {
    margin-left: 5px;
}
