---
import Layout from '@layouts/Layout.astro';
import { ENABLE_GENERATE_DEBUG_PAGES } from '@constants';

const { title } = Astro.props;
---

<Layout title={title}>
    <main class="layout-page-max-width container">
        {!ENABLE_GENERATE_DEBUG_PAGES && <p>Not generated.</p>}
        {ENABLE_GENERATE_DEBUG_PAGES && <slot />}
    </main>
</Layout>

<style lang="scss">
    @use 'design-system' as *;

    .container {
        display: block;
        margin-top: $spacing-size-12;
        margin-bottom: calc($spacing-size-12 * 4);
    }
</style>
