.ag-full-width-row .ag-react-container {
    height: 100%
}

.full-width-panel {
    position: relative;
    background: #fafafa;
    height: 100%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-left: 2px solid grey;
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
}

.call-record-cell {
    text-align: right;
}

.full-width-detail {
    padding-top: 4px;
}

.full-width-details {
    float: left;
    padding: 5px;
    margin: 5px;
    width: 150px;
}

.full-width-grid {
    margin-left: 150px;
    padding-top: 25px;
    box-sizing: border-box;
    display: block;
    height: 100%;
}
