.installText {
    font-size: var(--text-fs-base);
    color: var(--color-fg-primary);
}

.copyToClipboardIcon {
    fill: var(--color-fg-secondary);
    width: var(--icon-size);
    height: var(--icon-size);
    padding: 6px;

    &:hover {
        cursor: pointer;
        fill: var(--color-util-brand-400);
    }
}
