.api-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

.api-column {
    padding: 0px 5px 5px;
    text-align: center;
    width: 215px;
    max-height: 200px;
}

.api-column button {
    width: 100%;
}

.api-column button:first-child {
    margin-top: 5px;
}

.api-panel button {
    margin: 2px;
}

.grid-div {
    height: 100%;
}

.parent-div {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}
