.ag-header-row-cell {
    display: flex;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--ag-header-background-color);
    color: var(--ag-header-text-color);
    font-size: var(--ag-header-font-size);
    font-family: var(--ag-header-font-family);
    font-weight: var(--ag-header-font-weight);
}
