# Mac OS X dumps these all over the place.
.DS_Store

# Ignore the SimpleTest library if it is installed to /test/.
/test/simpletest/

# Ignore the /vendor/ directory for people using composer
/vendor/

# If the vendor directory isn't being commited the composer.lock file should also be ignored
composer.lock

# Ignore PHPUnit coverage file
clover.xml
