
.ag-basic .ag-cell {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

label {
    font-weight: normal !important;
}

.div-outer-div {
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

.small .div-outer-div {
    padding-bottom: 5px;
}

.div-percent-bar-wrapper {
    position: relative;
    display: flex;
    flex: 1 1 auto;
}

.small .div-percent-bar-wrapper {
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 10px;
}

.div-percent-bar {
    display: flex;
    height: 100%;
}

.div-percent-value {
    position: absolute;
    padding-left: 4px;
    font-weight: bold;
    font-size: 13px;
}

.small .div-percent-value {
    font-weight: 400;
    top: 10px;
}
