.fa-hourglass-half {
    color: navy;
    font-size: 18px;
}

.overlay-loading-center {
    background: var(--ag-background-color);
    border: solid var(--ag-border-width) var(--ag-border-color);
    border-radius: var(--ag-border-radius);
    box-shadow: var(--ag-popup-shadow);
    padding: var(--ag-spacing);
}
