$foreground-opacity: 1 !default;
$secondary-foreground-color-opacity: 1 !default;
$disabled-foreground-color-opacity: 0.5 !default;


// Colors
$border-color: transparent !default;
$background-color: #fff !default;
$foreground-color: #000 !default;
$header-background-color: $background-color !default;
$header-foreground-color: $foreground-color !default;
$icon-color: lightgray !default;
$alt-icon-color: $background-color !default;
$accent-color: transparent !default;
$range-selection-background-color: $icon-color !default;

// Sizing
$grid-size: 4px !default;
$icon-size: 12px !default;
$header-height: $grid-size * 6 + 1 !default;
$row-height: ($grid-size * 6 + 1) !default;
$cell-horizontal-padding: $grid-size * 3 !default;
$virtual-item-height: $grid-size * 5 !default;
$header-icon-size: 14px !default;

// Fonts
$font-family: 'Helvetica Neue', sans-serif !default;
$font-size: 14px !default;
$font-weight: 400 !default;

$secondary-font-family: $font-family !default;
$secondary-font-size: 14px !default;
$secondary-font-weight: 400 !default;

// Tooltip
$tooltip-background-color: #535353 !default;
$tooltip-foreground-color: $foreground-color !default;
$tooltip-border-radius: 2px !default;
$tooltip-padding: 5px !default;
$tooltip-border-width: 1px !default;
$tooltip-border-style: solid !default;
$tooltip-border-color: #ebebeb !default;

// Misc
$card-shadow: none !default;
$card-radius: 0 !default;
$row-border-width: 0 !default;
$transition-speed: 120ms !default;
$cell-horizontal-border: 1px solid transparent !default;

$toolpanel-indent-size: $grid-size + $icon-size !default;
$row-group-indent-size: $grid-size * 3 + $icon-size !default;

$header-cell-moving-background-color: rgb(190, 190, 190) !default;
$input-disabled-background-color: #ebebeb !default;
$input-border-color: #000000 !default;
$scroll-spacer-border: 1px solid if($border-color, $border-color, lightgrey) !default;

$dialog-background-color: $background-color !default;
$dialog-border-size: 1px !default;
$dialog-border-style: solid !default;
$dialog-border-color: $border-color !default;

$dialog-title-background-color: $header-background-color !default;
$dialog-title-foreground-color: $header-foreground-color !default;
$dialog-title-height: $header-height !default;
$dialog-title-font-family: $secondary-font-family !default;
$dialog-title-font-size: $secondary-font-size !default;
$dialog-title-font-weight: $secondary-font-weight !default;
$dialog-title-padding: 5px 10px !default;
$dialog-title-icon-size: max(20px, $icon-size) !default;

$tool-panel-background-color: $background-color !default;
$group-component-background-color: lighten($tool-panel-background-color, 1%) !default;
$group-component-border-color: lighten($border-color, 5%) !default;
$group-component-title-background-color: darken($group-component-background-color, 5%) !default;

$range-selection-chart-background-color: adjust-hue($range-selection-background-color, 25%) !default;
$range-selection-chart-category-background-color: adjust-hue($range-selection-background-color, -80%) !default;


// Icons
$icon-font-family: "agGridClassic" !default;
$icons-data: "AAEAAAALAIAAAwAwT1MvMg8SBlMAAAC8AAAAYGNtYXAXVtK6AAABHAAAAFRnYXNwAAAAEAAAAXAAAAAIZ2x5Zt6soa4AAAF4AAAU4GhlYWQVo2OvAAAWWAAAADZoaGVhB8QD+AAAFpAAAAAkaG10eNYAGFkAABa0AAAA4GxvY2GahJV6AAAXlAAAAHJtYXhwAEUAXQAAGAgAAAAgbmFtZRHBbCUAABgoAAABnnBvc3QAAwAAAAAZyAAAACAAAwP2AZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpMwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAOAAAAAoACAACAAIAAQAg6TP//f//AAAAAAAg6QD//f//AAH/4xcEAAMAAQAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABALYAQANKA0AACgAAASEXByEVIRMDIRUDSv6TeXkBbf1s3NwClAKV1dWrAYABgKsAAAAAAQAA/8AEAAPAACEAAAE1Byc3FwcnESEnNxcHJzchETcXByc3FxEhFwcnNxcHIREBzVJIzc1IUgEJUUjNzUhR/vdSSM3NSFL+91FIzc1IUQEJAvMJUUjNzUhR/vdSSM3NSFL+91FIzc1IUQEJUkjNzUhSAQAAAAAAAQCWAB4DagNiABAAAAEHJwEWFx4BFxYXBycRIxExAa6xZwFqLS4tWi4tLWewpQJCsWcBai4tLVstLS1nsP3dAiQAAAABAQAAwAMAAsAACwAAAQcnByc3JzcXNxcHAwBIuLhIuLhIuLhIuAEISLi4SLi4SLi4SLgABQAB/74D/wPBAA8AHwAjACcALAAABSEiJjURNDYzITIWFREUBgMhIgYVERQWMyEyNjURNCYBMxEjJTMVIwMzESMRA3/9AjVLSzUC/jVLSzT8/hEYGBEDAhEYGP2aVVUBVVVVq1ZWQks1AwM1S0s1/P01SwOsGBH8/xEZGREDAREY/qv+1qqqAar+VgGqAAAAAwAB/74D/wPBAA8AHwApAAABMhYVERQGIyEiJjURNDYzBSEiBhURFBYzITI2NRE0JgcBJzcXEx4BFzEDfzVLSzX9AjVLSzUC//z+ERgYEQMCERgYbP7o/TWu6BImEgPBSzX8/TVLSzUDAzVLVxgR/P8RGRkRAwERGL79/spDiwGoChQKAAAAAAMAAf++A/8DwQAPAB8AIwAAATIWFREUBiMhIiY1ETQ2MwUhIgYVERQWMyEyNjURNCYDITUhA381S0s1/QI1S0s1Av/8/hEYGBEDAhEYGOb+qgFWA8FLNfz9NUtLNQMDNUtXGBH8/xEZGREDAREY/gGqAAAAAgAB/74D/wPBAA8AHwAAATIWFREUBiMhIiY1ETQ2MwUhIgYVERQWMyEyNjURNCYDfzVLSzX9AjVLSzUC//z+ERgYEQMCERgYA8FLNfz9NUtLNQMDNUtXGBH8/xEZGREDAREYAAMAcwBIA40DOAAGAAoAFwAACQEHFwkCITcXIQUwBhUUFjMyNjU0JjEC/f5VPGb+9wFFAUX978zM/mgCTFUyIyMyVQGNAas8Zv73/rsBRc3NQGsqIzIyIyprAAAAAgBVABUBqwNrAAMABwAAAREhEQEVITUBq/6qAVb+qgJr/aoCVgEAq6sAAAAGAFUAFQOrA2sAAwAHAAsADwATABcAACUVITUhFSE1AxUhNSEVITUDFSE1IRUhNQGr/qoDVv6qqv6qA1b+qqr+qgNW/qrAq6urqwFVqqqqqgFWq6urqwAAAwAB/74D/wPBAA8AHwAjAAABMhYVERQGIyEiJjURNDYzBSEiBhURFBYzITI2NRE0JgMVITUDfzVLSzX9AjVLSzUC//z+ERgYEQMCERgYkf4AA8FLNfz9NUtLNQMDNUtXGBH8/xEZGREDAREY/quqqgAAAAADAKsAawNVAxUABwAMABIAAAEzESE1IxEhEyERIREnNSERMxECq6r+AKoCAFX+qwFVq/6rVQJr/gCqAgD/AP6rAVVWVf6rAQAAAAAAAQBuAC4DkgNSAA0AAAkBHgEXCQEHCQEnCQE3AgABGR49Hv7nARl5/uf+53kBGf7neQI5ARkePR7+5/7neQEZ/ud5ARkBGXkAAwB4ANUDnwLhADgARwBaAAABNjc+ATc2Fx4BHwEGBw4BBwYHFhceARcWFw4BJy4BJw4BBwYnLgEnJjc+ATcuATc+ARceARceARcHBgcOAQcGNz4BNzA2BzEnIgYHDgEHBhceARcWFzcuASMxAhomJSZGICEdEBwNNyAgIEAhICAgISBAICAgNm1JIkohO3xCHyUmOw8PDg1DKEBMGBA9MT1sNhAhEJsnKys2AQItI0QkAwWOBAkFAwUDFw0MPicnHgElTh0COSEeHy8ODgEBCQchGxsbNxwbGxoZGjQaGhohDjYZNxksTB0OAgIiHh4qKzkTInA0IyMBBE4mDBgMkAEVFTETEwIBNBg0AeMCAQEDAQ8UFSUODQEzGjQAAAAABwAyACcDzgNZAAsADwAbAB8AKwAwAD0AADciBhUUFjMyNjU0JikBFSEBIgYVFBYzMjY1NCYhFSE1BzIWFRQGIyImNTQ2ARUhNSEhMhYVFAYjIiY1NDYznS0+Pi0sPj4DBf1VAqv8zy0+Pi0sPj4DBf1Vhh4sLB4fLCwDUP1VAqv8zyw+PiwtPj4t/D4sLT4+LSw+1QIEPywsPz8sLD/W1iAsHx8sLB8fLAFO1dU+LSw+PiwtPgAAAAEAlgAjA2oDXQAJAAABETMRNxcJATcXAa+ksGf+lv6WZ7IBQwIa/eewZ/6WAWpnsQAAAAADAAH/wQQBA8EAEAAgACwAAAEyFhURFAYjISImNRE0NjMhFyEiBhURFBYzITI2NRE0JgEzFSMVIzUjNTM1MwOANUxMNf0BNUtLNQL/Afz+EhgYEgMCERgY/sSrq6urq6sDwUs1/QA1S0s1AwA1S1cYEf0BERgYEQL/ERj+rKqqqqqrAAADACIAdgPeAwoAIgBIAFMAAAE3Fz4BMxYXHgEXFhcOAQcXByc3AT4BNzYyMyY0NSMiBgcnBxMmJy4BJyYnDgEHFhceARcWNxcGBwYmJyYnJicuAScmJz4BNzEBPgE3MCYnDgEHFwEoNScgQiNIQkJ3NDMrKm9AN0MhDv7MHj8eChQLAQs1azJQMusqJSU6FBQHIz4aJjEycz8/PzQuLy9fLy8uIh4fNhkYFytqPwHjLkwgPzkLPixTAuEpMgkKAhcXUDY2Pz5rJ0U1KQwBhwcFAQEVKxUKEGZK/tYFERI3JCQpGj8kNCkqOAwMCEEOBQUJEA8bFRoZOyAgIj9vKf6QHUsrUC01VhtqAAAAAwAiAJkD3gLoABsAOwBKAAABFhceARcWFwYHDgEnJicmJy4BJyYnNjc+ATc2Bw4BBxYXHgE3Njc+ATcwJicGBw4BBwYjIicuAScmJzElJjQ1Iw4BBxc+ATc6ATMCCUhCQnc0Mys7VVXFaWljIh4fNhkYFyo1NHtGRbcjPhowREScUlNNMVEiPzkJFxdDKSouLyorQhcXCAFSAQtEhzwlLmYxChQLAugCFxdPNjZAV0VFSAUEPBQaGjohICE/NzdRFxevGUAkQjEyMQYFLRxPLlAsLCUlNw8QEBA5JicsAxYrFQERHU0WDgIAAAACAFUAQAOrA0AABgALAAATIQERJxEBARUzNSNVA1b+qqr+qgFWqqoDQP6r/lWrAQABVf6rVlYAAAIA8gDAAw4CwAADAAkAAAERIxEBJzcnCQEBR1UCHMfHOf8AAQACwP4AAgD+OcfHOf8A/wAAAAAADACr/+sDVQOVAAMABwALAA8AEwAXABsAHwAjACcAKwAvAAA3MxUjJTMVIyUzFSMBMxUjJTMVIyUzFSMBMxUjJTMVIyUzFSMBMxUjJTMVIyEjNTOrqqoBAKqqAQCqqv4AqqoBAKqqAQCqqv4AqqoBAKqqAQCqqv4AqqoBAKqqAaqqqpWqqqqqqgGqqqqqqqoBqqqqqqqqAaqqqqqqAAAAAAUAVf/rA6sDlQAfACMAKAAsADAAAAEzNSERITUjFSMVITUhESE1IREhNSERITUhESMRIRUxASMVMxEjFTM1ESMVMyUjFTMBq6oBVv6qqqsBVQFW/qr+qwFVAVb+qv5WVgFWAaqqqqqqqqr+AKqqA0BV/wBWVqpV/wBV/wBW/wBVAlUBAFX9VVUBq1ZWAVVVVVUAAAADABkBEQPnApMAFgAtADwAAAEWFx4BFxYfAQYHDgEnJi8BNjc+ATc2BQ4BIyImJw4BDwEWFx4BNzY/AS4BJzEHJjQ1Iw4BBxc+ATc2MjMCCD48PHIzNCwkXnp5/3x7YyQxOjl+REMBLRyBUlKBHCE9HANKXl7FX19MAxw/IpkBC0SHPCUuZjEKFAsCkwEMDC0hICskXTU1DyopXyQyJyg3Dw+IR1xcRw4mFwM/ICEBIB9AAhgoDiMVKxUBEB5MFg0CAQAAAgDyAMADDgLAAAMACgAAJSMRMwE3JzcJAScDDlVV/eTHxzkBAP8AOcACAP45x8c5/wD/ADkAAAABAEsAVgO1AyoACwAAARcHCQEeARcHIRUhAW+tZ/6WAWoZNBqvAkj9ugFqrWcBagFqGjMarqsAAAIAVQAVA6sDawAcACcAAAE3FwczFSMeARcHJxUjNQcnNyM1Myc3HgEXNTMVAzM3NScjBxUeARcCVZx5nN3dJ04neZyqnHmc3d2ceSdOJ6qcjmRkjmQZMhkCjpx5nKonTid5nN3dnHmcqpx5J04n3d3+h2SOZGSOGTIZAAAEAAH/vgP/A8EADwAfACcALwAABSEiJjURNDYzITIWFREUBgMhIgYVERQWMyEyNjURNCYBBzcXNxcHFwE3BxcHFzcXA3/9AjVLSzUC/jVLSzT8/hEYGBEDAhEYGP3g40gynzmfMAG3SuUxoDmgMUJLNQMDNUtLNfz9NUsDrBgR/P8RGRkRAwERGP0tSeQxnzmfMQG35UkyoDmgMQADAFUAFQOrA2sAAwAHAAsAACUVITUBFSE1ARUhNQOr/KoDVvyqA1b8qsCrqwFVqqoBVqurAAAAAAQAAf++A/8DwQAPAB8AJwAvAAAFISImNRE0NjMhMhYVERQGAyEiBhURFBYzITI2NRE0JgE3BycHJzcnAQc3JzcnBycDf/0CNUtLNQL+NUtLNPz+ERgYEQMCERgY/WzkSTKfOZ8wAWxJ5DGfOZ8xQks1AwM1S0s1/P01SwOsGBH8/xEZGREDAREY/e5J5DGgOaAxAWzkSTGgOaAxAAEAqwFrA1UCFQADAAATIRUhqwKq/VYCFaoAAAABAWQAwAKcAsAABQAAJTcnNwkBAWTHxzgBAP8A+cfHOf8A/wAAAAAAAQDS/9YDLgOqABQAAAEHJwEWFx4BFxYXBycRNxcJATcXEQGlbGcBLiYlJkwlJiZnbGxn/tL+0mdsAoFsZwEuJiUmTCUmJmds/n5sZ/7SAS5nbAGCAAAAAAMAAf+/BAADwgAcACoAOQAAATIXHgEXFhUUBw4BBwYjIicuAScmNTQ3PgE3NjMFAR4BMzI3PgE3NjU0JicuASMiBw4BBwYVFBYXAQIAal1diygpKSiLXV1qal1diygoKCiLXV1qAVH9qTaGSlhOTnQhIjB0N4ZKWE5OcyIhLysCVwPCKCmLXl1qa11djCgpKSiMXV1ral1eiyko+/2pKjAiIXROTVlKhYEqMCEidE1OWEuGNgJXAAACAKsAQANVA0AACAASAAABIREhESE1MxUXIxUhNSMRIRExAlUBAP1WAQCqq1X+qlUCAALr/VUCq1VVVqqq/gACAAAAAAEAqwAVA1UDFQAPAAABIxEXIQsBITc1MxEjNSEVAwBVqv8AVVX/AKpWqwIAAsD+q1b/AAEAVlUBAFVVAAUAAf++A/8DwQAPAB4AJgA8AEQAAAUhIiY1ETQ2MyEyFhURFAYBNSMiBhURFBY7AREjNTMFIREhMjY1EQ8BJzceARcHJxUjFwcnNx4BFwczNTETIRUhNTQmIwN//QI1S0s1Av41S0v9TIIRGBgRgqurAqn9rAIrERj+DTxzHTodPQzEDT1zcxAeDw1v1f3VAlQYEUJLNQMDNUtLNfz9NUsDAqoYEfz/ERkCVVVV/asZEQIr5w09cx06HD0NxAw9dHMPHg8NbwHmqoERGAAAAAABAKsAawNVAxUACwAAEyERMxEhFSERIxEhqwEAqgEA/wCq/wACFQEA/wCq/wABAAABAWQAwAKcAsAABQAAJSc3JwkBApzHxzj/AAEA+cfHOf8A/wAAAAAAAgAB/78EAAPCABwAOQAAASIHDgEHBhUUFx4BFxYzMjc+ATc2NTQnLgEnJiMVMhceARcWFRQHDgEHBiMiJy4BJyY1NDc+ATc2MwIAal1diygoKCiLXV1qal1diygpKSiLXV1qWE5OdCEiIiF0Tk5YWE5OcyIhISJzTk5YA8IoKYteXWprXV2MKCkpKIxdXWtqXV6LKShXISJ0TU5YWU1OdCEiIiF0Tk1ZWE5NdCIhAAADAAH/vwQAA8IAHAA5AFYAAAEyFx4BFxYVFAcOAQcGIyInLgEnJjU0Nz4BNzYzFSIHDgEHBhUUFx4BFxYzMjc+ATc2NTQnLgEnJiMBFAcOAQcGIyInLgEnJjU0Nz4BNzYzMhceARcWFQIAal1diygpKSiLXV1qal1diygoKCiLXV1qWE5OcyIhISJzTk5YWE5OdCEiIiF0Tk5YAQAUFEUvLzU1Ly5GFBQUFEYuLzU1Ly9FFBQDwigpi15damtdXYwoKSkojF1da2pdXospKFchInRNTlhZTU50ISIiIXROTVlYTk10IiH+VjUvL0UUFBQURS8vNTUuL0YUFBQURi8uNQAAAAEASwBWA7UDKgAPAAABJzcWFx4BFxYXASc3ITUhApKuZy0tLVstLS7+lmet/boCRwIVrmctLS5aLS4t/pZnrasAAAAAAgCAAEADgANAAA0AGAAAAREhESMRFBYzITI2NREFNxcHJzcXETMRMQMr/apVMiMCViMy/qtuPNXVPG5WAcD+1QEr/tUjMjIjASsdbjzV1TxuAZ3+YwAAAAEAqwEVA1UCawADAAATIQkBqwKq/qv+qwJr/qoBVgAAAQFVAGsCqwMVAAMAAAkBEQEBVQFW/qoBwAFV/VYBVQABAVUAawKrAxUAAwAACQIRAVUBVv6qAxX+q/6rAqoAAAEAqwEVA1UCawADAAATCQEhqwFVAVX9VgEVAVb+qgAAAQBEAGYDvAMbAAkAAAkCNxcBHgEXMQO8/cT+xHjEAcQePB4Cov3EATx4wwHEHzweAAAAAAEBVQBrAqsDFQADAAAJAhEBVQFW/qoDFf6r/qsCqgAAAQCrAWsDVQIVAAMAABMhFSGrAqr9VgIVqgAAAAEAqwEVA1UCawADAAATIQkBqwKq/qv+qwJr/qoBVgAAAQAAAAEAAPQffQ9fDzz1AAsEAAAAAADZQY+ZAAAAANlBj5kAAP++BAEDwgAAAAgAAgAAAAAAAAABAAADwP/AAAAEAAAA//8EAQABAAAAAAAAAAAAAAAAAAAAOAQAAAAAAAAAAAAAAAIAAAAEAAC2BAAAAAQAAJYEAAEABAAAAQQAAAEEAAABBAAAAQQAAHMEAABVBAAAVQQAAAEEAACrBAAAbgQAAHgEAAAyBAAAlgQAAAEEAAAiBAAAIgQAAFUEAADyBAAAqwQAAFUEAAAZBAAA8gQAAEsEAABVBAAAAQQAAFUEAAABBAAAqwQAAWQEAADSBAAAAQQAAKsEAACrBAAAAQQAAKsEAAFkBAAAAQQAAAEEAABLBAAAgAQAAKsEAAFVBAABVQQAAKsEAABEBAABVQQAAKsEAACrAAAAAAAKABQAHgA4AHQAlgCwAPgBPAF2AagB1gHsAhgCUgJ4ApwDLAOIA6ID5ARqBOAE/AUYBWgFsgYUBjAGTAaKBtgG9AdCB1AHZAeQB+wIDggsCJQIrAjACRgJmgm8CegJ+AoIChgKKApCClIKYApwAAAAAQAAADgAWwAMAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABAAkAAAABAAAAAAACAAcAcgABAAAAAAADAAkAPAABAAAAAAAEAAkAhwABAAAAAAAFAAsAGwABAAAAAAAGAAkAVwABAAAAAAAKABoAogADAAEECQABABIACQADAAEECQACAA4AeQADAAEECQADABIARQADAAEECQAEABIAkAADAAEECQAFABYAJgADAAEECQAGABIAYAADAAEECQAKADQAvEFnQ2xhc3NpYwBBAGcAQwBsAGEAcwBzAGkAY1ZlcnNpb24gMS4wAFYAZQByAHMAaQBvAG4AIAAxAC4AMEFnQ2xhc3NpYwBBAGcAQwBsAGEAcwBzAGkAY0FnQ2xhc3NpYwBBAGcAQwBsAGEAcwBzAGkAY1JlZ3VsYXIAUgBlAGcAdQBsAGEAckFnQ2xhc3NpYwBBAGcAQwBsAGEAcwBzAGkAY0ZvbnQgZ2VuZXJhdGVkIGJ5IEljb01vb24uAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=" !default;

$aggregation-char: "\e900" !default;
$arrows-char: "\e901" !default;
$asc-char: "\e902" !default;
$cancel-char: "\e903" !default;
$chart-char: "\e904" !default;
$checkbox-checked-char: "\e905" !default;
$checkbox-indeterminate-char: "\e906" !default;
$checkbox-unchecked-char: "\e907" !default;
$color-picker-char: "\e908" !default;
$column-char: "\e909" !default;
$columns-char: "\e90a" !default;
$contracted-char: "\e90b" !default;
$copy-char: "\e90c" !default;
$cross-char: "\e90d" !default;
$cut-char: "\e90e" !default;
$data-char: "\e90f" !default;
$desc-char: "\e910" !default;
$expanded-char: "\e911" !default;
$eye-slash-char: "\e912" !default;
$eye-char: "\e913" !default;
$filter-char: "\e914" !default;
$first-char: "\e915" !default;
$grip-char: "\e916" !default;
$group-char: "\e917" !default;
$indeterminate-char: "\e918" !default;
$last-char: "\e919" !default;
$left-char: "\e91a" !default;
$loading-char: "\e91b" !default;
$maximize-char: "\e91c" !default;
$menu-char: "\e91d" !default;
$minimize-char: "\e91e" !default;
$minus-char: "\e91f" !default;
$next-char: "\e920" !default;
$none-char: "\e921" !default;
$not-allowed-char: "\e922" !default;
$paste-char: "\e923" !default;
$pin-char: "\e924" !default;
$pivot-char: "\e925" !default;
$plus-char: "\e926" !default;
$previous-char: "\e927" !default;
$radio-button-off-char: "\e928" !default;
$radio-button-on-char: "\e929" !default;
$right-char: "\e92a" !default;
$save-char: "\e92b" !default;
$small-down-char: "\e92c" !default;
$small-left-char: "\e92d" !default;
$small-right-char: "\e92e" !default;
$small-up-char: "\e92f" !default;
$tick-char: "\e930" !default;
$tree-closed-char: "\e931" !default;
$tree-indeterminate-char: "\e932" !default;
$tree-open-char: "\e933" !default;

$icons_font_codes: (
    aggregation: $aggregation-char,
    arrows: $arrows-char,
    asc: $asc-char,
    cancel: $cancel-char,
    chart: $chart-char,
    checkbox-checked: $checkbox-checked-char,
    checkbox-indeterminate: $checkbox-indeterminate-char,
    checkbox-unchecked: $checkbox-unchecked-char,
    color-picker: $color-picker-char,
    column: $column-char,
    columns: $columns-char,
    contracted: $contracted-char,
    copy: $copy-char,
    cross: $cross-char,
    cut: $cut-char,
    data: $data-char,
    desc: $desc-char,
    expanded: $expanded-char,
    eye-slash: $eye-slash-char,
    eye: $eye-char,
    filter: $filter-char,
    first: $first-char,
    grip: $grip-char,
    group: $group-char,
    indeterminate: $indeterminate-char,
    last: $last-char,
    left: $left-char,
    loading: $loading-char,
    maximize: $maximize-char,
    menu: $menu-char,
    minimize: $minimize-char,
    minus: $minus-char,
    next: $next-char,
    none: $none-char,
    not-allowed: $not-allowed-char,
    paste: $paste-char,
    pin: $pin-char,
    pivot: $pivot-char,
    plus: $plus-char,
    previous: $previous-char,
    radio-button-off: $radio-button-off-char,
    radio-button-on: $radio-button-on-char,
    right: $right-char,
    save: $save-char,
    small-down: $small-down-char,
    small-left: $small-left-char,
    small-right: $small-right-char,
    small-up: $small-up-char,
    tick: $tick-char,
    tree-closed: $tree-closed-char,
    tree-indeterminate: $tree-indeterminate-char,
    tree-open: $tree-open-char
);
