.copy-code-button {
	color: black;
    background-color: whitesmoke;
    border-radius: 6px;
    display: block;
    margin-left: auto;
    margin-right: 0;
    padding: 3px 8px;
    font-size: .9em;
}

.copy-code-button:hover {
	background-color: #62b9ff;
	border-color: #62b9ff;
	color: white;
}