@import "../vars/ag-theme-blue-vars";
@import "../../ag-theme-classic/sass/ag-theme-classic";

.ag-theme-blue {
    @include ag-theme-classic();

    input,
    select {
        background: $ag-card-background;
        color: $ag-foreground-color;
    }

    .ag-row {
        border-bottom-width: 1px;
        border-bottom-style: dotted;
    }
}
