@import "./ag-theme-common";
@import "./flat-colors";

$default-background: white;
$chrome-background: lighten($flat-clouds, 3);
$active: $flat-belize-hole;

// Taken from the palette of angular material: https://github.com/angular/material2/blob/master/src/lib/core/theming/_palette.scss
$mat-grey-0: #fff;
$mat-grey-50: #fafafa;
$mat-grey-100: #f5f5f5;
$mat-grey-200: #eee;
$mat-grey-300: #e0e0e0;

// Taking primary and accent from the indigo / pink theme: https://github.com/angular/material2/blob/master/src/lib/core/theming/prebuilt/indigo-pink.scss
$mat-indigo-500: #3f51b5;
$mat-pink-A200: #ff4081;
$mat-pink-50: #fce4ec;
$mat-indigo-50: #e8eaf6;

// opacity values used for black values, taken from material spec
$foreground-opacity: 0.87 !default;
$secondary-foreground-color-opacity: 0.54 !default;
$disabled-foreground-color-opacity: 0.38 !default;

/////////////////////////////////////////////////////////////////////////////////////////////////////
// The variables below can be overriden to adjust the look up to the app color scheme
/////////////////////////////////////////////////////////////////////////////////////////////////////

// Sizing
$grid-size: 4px !default;
$icon-size: 16px !default;

// these three should be changed in envronment.ts, too
$row-height: $grid-size * 7 !default;
$header-height: $grid-size * 8 !default;
$virtual-item-height: $grid-size * 7;

$toolpanel-indent-size: $grid-size + $icon-size !default;
$row-group-indent-size: $grid-size * 3 + $icon-size !default;
$cell-horizontal-padding: $grid-size * 3 !default;

$header-icon-size: 14px !default;
$border-radius: 2px;
$odd-row-background-color: rgb(252, 253, 254);

// Icons
$icons-path: "./balham-icons/" !default;

// Fonts
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;

$font-size: 12px !default;
$font-weight: 400 !default;

$secondary-font-family: $font-family !default; //font-secondary
$secondary-font-size: 11px !default; // font-secondary-size
$secondary-font-weight: 600 !default; // font-secondary-weight

// Colors
$foreground-color: rgba(#000, $foreground-opacity) !default; // foreground
$secondary-foreground-color: rgba(#000, $secondary-foreground-color-opacity) !default; // foreground-secondary
$disabled-foreground-color: rgba(#000, $disabled-foreground-color-opacity) !default; // foreground-disabled

$border-color: $flat-silver !default;

$primary-color: $active !default;

$accent-color: $active !default;
$icon-color: $flat-gray-4 !default;
$alt-icon-color: $default-background !default;

$background-color: $default-background !default;

$editor-background-color: $chrome-background !default;

$panel-background-color: $chrome-background !default;

$tool-panel-background-color: $chrome-background !default;
$header-background-color: $chrome-background !default;
$chip-background-color: darken($flat-clouds, 5) !default;

$range-selection-background-color: transparentize($active, 0.8) !default;
$range-selection-highlight-color: $active !default;

$hover-color: $flat-clouds !default;

$selected-color: lighten($active, 40) !default;

$cell-data-changed-color: $mat-pink-50 !default;

// Misc
$transition-speed: 120ms !default;
$card-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
$card-radius: 2px;

// delta changes
$value-change-delta-up-color: #43a047 !default;
$value-change-delta-down-color: #e53935 !default;
$value-change-value-highlight-background-color: #00acc1 !default;

$params: (
    grid-size: $grid-size,
    icon-size: $icon-size,
    header-icon-size: $header-icon-size,
    row-height: $row-height,
    header-height: $header-height,
    virtual-item-height: $virtual-item-height,
    rich-select-item-height: $row-height,
    cell-horizontal-padding: $cell-horizontal-padding,
    toolpanel-indent-size: $toolpanel-indent-size,
    row-group-indent-size: $row-group-indent-size,
    icons-path: $icons-path,
    font-family: $font-family,
    font-size: $font-size,
    font-weight: $font-weight,
    secondary-font-family: $secondary-font-family,
    secondary-font-size: $secondary-font-size,
    secondary-font-weight: $secondary-font-weight,
    foreground-color: $foreground-color,
    foreground-opacity: $foreground-opacity,
    secondary-foreground-color-opacity: $secondary-foreground-color-opacity,
    secondary-foreground-color: $secondary-foreground-color,
    disabled-foreground-color-opacity: $disabled-foreground-color-opacity,
    disabled-foreground-color: $disabled-foreground-color,
    background-color: $background-color,
    border-color: $border-color,
    icon-color: $icon-color,
    alt-icon-color: $alt-icon-color,
    cell-data-changed-color: $cell-data-changed-color,
    chip-background-color: $chip-background-color,
    card-background-color: $background-color,
    editor-background-color-color: $editor-background-color,
    range-selection-background-color: $range-selection-background-color,
    range-selection-highlight-color: $range-selection-highlight-color,
    panel-background-color: $panel-background-color,
    tool-panel-background-color: $tool-panel-background-color,
    accent-color: $accent-color,
    primary-color: $primary-color,
    hover-color: $hover-color,
    selected-color: $selected-color,
    icon-opacity: $foreground-opacity,
    button-text-transform: uppercase,
    card-radius: 2px,
    card-shadow: none,
    input-height: $grid-size * 4,
    use-icons-for-pager-buttons: true,
    value-change-delta-up-color: $value-change-delta-up-color,
    value-change-delta-down-color: $value-change-delta-down-color,
    value-change-value-highlight-background-color: $value-change-value-highlight-background-color,
    odd-row-background-color: $odd-row-background-color
);

.ag-theme-balham {
    .ag-header,
    .ag-row,
    .ag-header-cell,
    .ag-header-group-cell,
    .ag-root {
        box-sizing: border-box;
    }

    %selected-tab {
        border-bottom: 2px solid $primary-color;
    }

    %card {
        border: 1px solid $border-color;
    }

    %tab {
        border: 1px solid transparent;
        border-bottom-width: 0;
        display: inline-block;
        margin: $grid-size;
        margin-bottom: 0;
        padding: $grid-size $grid-size * 2;
    }

    %selected-tab {
        background-color: $default-background;
        border-bottom: 2px solid $default-background;
        border-color: $border-color;
    }

    @include ag-grid-theme($params);

    .ag-header {
        background-color: $header-background-color;
        border-bottom: 1px solid $border-color;
    }

    .ag-cell-highlight {
        background-color: $range-selection-highlight-color !important;
    }

    .ag-header-cell-resize::after {
        height: $header-height - 16px;
        margin-top: 8px;
    }

    [ref="north"] {
        .ag-column-drop {
            border: 1px solid $border-color;
            border-bottom: 0;
        }

        .ag-column-drop.ag-width-half:first-child {
            border-right: 0;
        }
    }

    .ag-row {
        border-bottom-color: lighten($border-color, 10);
    }

    .ag-row-selected {
        border-bottom-color: $selected-color;
    }

    .ag-row-drag {
        background-position-y: center;
    }

    .ag-column-drop-cell {
        height: $grid-size * 6 !important;

        .ag-column-drop-cell-button {
            box-sizing: border-box;
            height: calc(100% - #{$grid-size});
            margin-bottom: $grid-size / 2;
            margin-top: $grid-size / 2;
        }

        .ag-column-drop-cell-button:hover {
            border: 1px solid $border-color;
        }
    }

    .ag-column-drop-vertical .ag-column-drop-cell {
        display: block;
        float: none;
        margin-left: $grid-size * 2;
        margin-right: $grid-size * 2;

        .ag-column-drop-cell-text {
            line-height: $grid-size * 6;
            margin-left: $grid-size * 2;
        }
    }

    .ag-column-drop-horizontal {
        background-color: $panel-background-color;
        height: $header-height;

        .ag-column-drop-empty-message {
            line-height: $header-height;
        }

        .ag-column-drop-cell-text {
            line-height: $grid-size * 6;
            margin-left: $grid-size * 2;
        }
    }

    .ag-filter .ag-filter-header-container {
        height: $grid-size * 6;
    }

    .ag-root {
        border: 1px solid $border-color;
    }

    // bootstrap overrides
    .ag-tab {
        box-sizing: initial;
    }

    .ag-filter .ag-filter-value {
        line-height: $icon-size + $grid-size;
    }

    // tool panel
    .ag-tool-panel {
        border-bottom: 1px solid $border-color;
        border-right: 1px solid $border-color;
        border-top: 1px solid $border-color;

        .ag-column-select-panel {
            padding: $grid-size * 2 0;

            .ag-column-select-column-group,
            .ag-column-select-column {
                height: $grid-size * 5;
                line-height: $grid-size * 5;
            }
        }

        .ag-column-drop {
            padding-bottom: $grid-size * 2;
            padding-top: $grid-size * 2;

            .ag-icon {
                margin-bottom: $grid-size;
            }

            .ag-column-drop-title {
                display: inline-block;
                float: none;
                margin-bottom: $grid-size;
            }

            .ag-column-drop-empty-message {
                height: $grid-size * 4;
                line-height: $grid-size * 4;
                padding-left: $icon-size + $grid-size * 2;
            }
        }
    }

    // real crude adjustments, due to line of elements with display: inline-block in the group cell
    .ag-row-group {
        .ag-icon-expanded,
        .ag-icon-contracted {
            transform: translateY(2px);
        }
    }

    // context menu spacing
    .ag-menu-option {
        height: $grid-size * 7;
        line-height: $grid-size * 7;
    }

    .ag-column-select-panel {
        .ag-column-select-column-group,
        .ag-column-select-column {
            height: $grid-size * 5;
            line-height: $grid-size * 5;
        }
    }

    .ag-filter-filter {
        margin-left: $grid-size;
        margin-right: $grid-size;
        width: calc(100% - #{$grid-size * 2});
    }

    .ag-tab-header {
        border-bottom: 1px solid $border-color;

        .ag-tab {
            margin-bottom: -2px;
        }

        .ag-tab.ag-tab-selected {
            border-bottom-color: transparent;
        }
    }

    .ag-tab-body {
        background-color: $default-background;
    }

    .ag-cell-inline-editing {
        height: $row-height;
        padding: 0;

        input {
            box-sizing: border-box;
        }
    }
}
