@import 'nib'

.ag-fresh 
    .ag-root
        border: 1px solid grey;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

    .ag-cell
        padding: 2px;

    .ag-cell:focus
        //outline: none;

    .ag-cell-focus
        border: 1px solid darkgrey;

    .ag-cell-no-focus
        border-right: 1px dotted grey;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid transparent;

    .ag-pinned-header
        background: linear-gradient(white, lightgrey);
        border-bottom: 1px solid grey;

    .ag-header-container
        background: linear-gradient(white, lightgrey);
        border-bottom: 1px solid grey;

    .ag-header-cell
        border-right: 1px solid grey;

    .ag-header-group-cell
        border-right: 1px solid grey;

    .ag-header-group-cell-with-group
        border-bottom: 1px solid grey;

    .ag-header-cell-label
        padding: 4px 2px 4px 2px ;

    .ag-header-cell-text
        padding-left: 2px;

    .ag-header-group-cell-label
        padding: 4px;
        font-weight: bold;

    .ag-header-group-text
        margin-right: 2px;

    .ag-header-cell-menu-button
        padding: 2px;
        margin-top: 4px;
        border: 1px solid transparent;
        border-radius: 3px;
        box-sizing: content-box; /* When using bootstrap, box-sizing was set to 'border-box' */

    .ag-header-cell-menu-button:hover
        border: 1px solid black;

    .ag-header-icon
        color: maroon;

    .ag-dark .ag-header-expand-icon:hover
        cursor: pointer;

    .ag-row-odd
        background-color: #f6f6f6;

    .ag-row-even
        background-color: white;

    .ag-loading-panel
        background-color: rgba(255, 255, 255, 0.5);

    .ag-loading-center
        background-color: #ffffff;
        border: 1px solid darkgray;
        border-radius: 10px;
        padding: 10px;

    .ag-body
        background-color: #ddd;

    .ag-body-viewport {}

    .ag-pinned-cols-viewport {}

    .ag-row-selected
        background-color: powderblue;

    .ag-group-cell-entire-row
        background-color: #aaa;
        padding: 4px;

    .ag-footer-cell-entire-row
        background-color: #aaa;
        padding: 4px;

    .ag-group-cell
        font-style: italic;

    .ag-footer-cell
        font-style: italic;

    .ag-filter-checkbox
        position: relative;
        top: 2px;
        left: 2px;

    .ag-filter-header-container
        border-bottom: 1px solid lightgrey;

    .ag-filter
        border: 1px solid black;
        background-color: #f0f0f0;

    .ag-selection-checkbox
        margin-left: 4px;

    .ag-paging-panel
        padding: 4px;

    .ag-paging-button
        margin-left: 4px;
        margin-right: 4px;

    .ag-paging-row-summary-panel
        display: inline-block;
        width: 300px;