
ag-style = "bootstrap"
ag-root-font-family = "Helvetica Neue",Helvetica,Arial,sans-serif
ag-root-font-size = 14px

ag-scrollbar-background = inherit
ag-scrollbar-thumb = inherit

ag-border-1 = none

ag-border-color-1 = #000
ag-border-color-2 = #808080

ag-background-1 = #f6f6f6

ag-foreground-1 = #000

ag-header-foreground-1 = #000

ag-separator-color = #d3d3d3

ag-cell-focused-border = 2px solid #217346
ag-cell-no-focus-border-top = 1px solid transparent
ag-cell-no-focus-border-bottom = 1px solid transparent
ag-cell-ltr-no-focus-border-right = none
ag-cell-ltr-no-focus-border-left = 1px solid transparent
ag-cell-rtl-no-focus-border-right = 1px solid transparent
ag-cell-rtl-no-focus-border-left = none

ag-cell-highlight-border = 1px solid darkgreen

ag-cell-padding = 4px

ag-row-selected-background-color = powderblue
ag-row-odd-background-color = #f6f6f6
ag-row-even-background-color = white
ag-row-floating-background-color = #f0f0f0

ag-value-change-delta-up-color = darkgreen
ag-value-change-delta-down-color = darkred
ag-value-change-value-highlight-background-color = #cec

ag-range-selected-color-1 = rgba(120,120,120,0.4)
ag-range-selected-color-2 = rgba(80,80,80,0.4)
ag-range-selected-color-3 = rgba(40,40,40,0.4)
ag-range-selected-color-4 = rgba(0,0,0,0.4)

ag-header-background-1 = none
ag-header-select-padding = 5px 0px 0px 5px

ag-button-background-1 = none
ag-button-foreground-1 = #000
ag-button-border-1 = #808080

ag-header-font-weight = 600

ag-tab-border = 1px solid #d3d3d3
ag-tab-background = #e6e6e6
ag-tab-selected-background = #f6f6f6
ag-tab-padding = 6px 8px 6px 8px

ag-menu-option-active-color = #BDE2E5

ag-select-background = white
ag-select-foreground = #222

ag-menu-option-padding = 2px 4px 2px 4px
ag-menu-option-shortcut-padding = 2px 2px 2px 2px

@import "theme-common"



//stick in an override
//.ag-common
