@import 'nib'

default-border = 1px solid lightgrey

.ag-bootstrap .ag-root {
}

.ag-bootstrap .ag-cell {
  padding: 4px;
}

.ag-bootstrap .ag-pinned-header {
  border-bottom: 2px solid #ddd;
}

.ag-bootstrap .ag-header-container {
  border-bottom: 2px solid #ddd;
}

.ag-bootstrap .ag-header-cell {
  text-align: left;
  border-right: default-border
}

.ag-bootstrap .ag-header-group-cell {
  border-right: default-border;
}

.ag-bootstrap .ag-header-group-cell-with-group {
  border-bottom: default-border;
}

.ag-bootstrap .ag-header-cell-label {
  padding: 5px;
  font-weight: 700;
  font-size: 13px;
}

.ag-bootstrap .ag-header-group-cell-label {
  padding: 5px;
  font-weight: bold;
}

.ag-bootstrap .ag-header-cell-menu-button {
  padding: 2px;
  margin-top: 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: content-box; /* When using bootstrap, box-sizing was set to 'border-box' */
}

.ag-bootstrap .ag-header-cell-menu-button:hover {
  border: default-border;
}

.ag-bootstrap .ag-row-odd {
  background-color: #f6f6f6;
}

.ag-bootstrap .ag-row-even {
  background-color: white;
}

.ag-bootstrap .ag-body {
  background-color: #ffffff;
}

.ag-bootstrap .ag-body-viewport {
  background-color: #ddd;
}

.ag-bootstrap .ag-pinned-cols-viewport {
  background-color: #ddd
}

.ag-bootstrap .ag-row-selected {
  background-color: #B2DFEE;
  /*background-color: #ECF1EF;*/
}

.ag-bootstrap .ag-group-cell-entire-row {
  background-color: #aaa;
}

.ag-bootstrap .ag-group-cell {
}

.ag-bootstrap .ag-filter-checkbox {
  position: relative;
  top: 2px;
  left: 2px;
}

.ag-bootstrap .ag-filter-header-container {
  border-bottom: 1px solid lightgrey;
}

.ag-bootstrap .ag-filter {
  border: 1px solid black;
  background-color: #f0f0f0;
}

.ag-bootstrap .ag-selection-checkbox {
  margin-left: 4px;
}