@import "vars/material"

@import "theme-common"

.ag-material
  .ag-row-hover
    background-color #eeeeee !important
  .ag-cell-not-inline-editing
    padding-top 15px
  .ag-header-cell-menu-button:hover
    border 1px solid grey

  .ag-header-cell-label
    text-align left

  .ag-header
    border-bottom 1px solid grey

  // we want checkbox to have more spacing to the right and left
  .ag-selection-checkbox
    padding-right 12px
    padding-left 12px
