@import "vars/dark"

@import "theme-common"

// custom css for dark, we want to change the scrollbars

.ag-dark

  ::-webkit-scrollbar
    width 12px
    height 12px
    background #302E2E

    &-thumb
      background-color #626262

  ::-webkit-scrollbar-corner
    background #302E2E

  select
    background-color ag-select-background
    color ag-foreground-1

  input
    background-color ag-select-background
    color ag-foreground-1

