.custom-tooltip {
    color: var(--ag-foreground-color);
    background-color: #5577cc;
    padding: 5px;
}

.custom-tooltip p,
.custom-tooltip h3 {
    margin: 5px;
    white-space: nowrap;
}

.custom-tooltip p:first-of-type {
    font-weight: bold;
}
