/*
  Custom Theme
*/

.ag-theme-alpine {
  --ag-checkbox-checked-color: rgb(126, 46, 132);
}

.ag-theme-alpine-dark {
  --ag-checkbox-checked-color: rgb(126, 46, 132);
}

/*
  Row Styles
*/

.row {
  font-family: 'Courier New';
}

.successful-mission:hover {
  background: green;
}

.unsucessful-mission:hover {
  background: red;
}

/*
  Cell Styles
*/

.mission-cell {
  font-weight: 900;
  cursor: pointer;
}
