.sparkline-tooltip {
    border: 1px solid rgb(185,219,255);
    border-radius: 4px;
    font: 14px Menlo, Monaco, "Courier New", monospace;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px 2px;
    line-height: 20px;
    overflow: hidden;
}

.tooltip-title {
    text-align: left;
    color: rgb(0,76,159);
    font-weight: bold;
    background-color: rgb(185,219,255);
    padding: 10px;
}

.tooltip-content {
    font-size: 16px;
    background-color: rgb(255,255,255);
    text-align: center;
    padding: 10px;
}