.ag-paging-panel {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: calc(var(--ag-spacing) * 4);
    padding: calc(var(--ag-spacing) * 0.5) var(--ag-cell-horizontal-padding);
    min-height: var(--ag-pagination-panel-height);
    border-top: var(--ag-footer-row-border);
    flex-wrap: wrap-reverse;
    row-gap: calc(var(--ag-spacing) * 0.5);

    @container (width < 600px) {
        justify-content: center;
    }
}

:where(.ag-paging-page-size) .ag-wrapper {
    min-width: 50px;
}

.ag-paging-row-summary-panel,
.ag-paging-page-summary-panel {
    margin: calc(var(--ag-spacing) * 0.5);
}

.ag-paging-page-summary-panel {
    display: flex;
    align-items: center;
    gap: var(--ag-cell-widget-spacing);

    .ag-disabled & {
        pointer-events: none;
    }
}

.ag-paging-button {
    position: relative;
    cursor: pointer;

    &.ag-disabled {
        cursor: default;
        opacity: 0.5;
    }
}

.ag-paging-number,
.ag-paging-row-summary-panel-number {
    font-weight: 500;
    font-variant-numeric: tabular-nums;
}

.ag-paging-description {
    /* avoids misalignment of buttons and text */
    line-height: 0;
}
