@use "../../design-system/" as *;

:global(.ag-card).singleApplicationLicense {
    --card-color: #0f5bce !important; // !important for .ag-styles specificity
    --header-tint: 0.93 !important; // !important for .ag-styles specificity
    --content-tint: 0.95 !important; // !important for .ag-styles specificity
}

:global(.ag-card).multipleApplicationsLicense {
    --card-color: #2aaa33 !important; // !important for .ag-styles specificity
    --header-tint: 0.94 !important; // !important for .ag-styles specificity
    --content-tint: 0.96 !important; // !important for .ag-styles specificity
}

.licenses {
    display: flex;
    gap: $size-3;
}

.license {
    display: flex;
    flex-direction: column;
    width: 50%;

    :global(.top),
    :global(.bottom) {
        padding: $size-3 !important; // !important for .ag-styles specificity
    }

    :global(.top) {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: $size-7 0;
        height: 100%; // bit of a hack?
    }

    :global(.bottom) {
        display: grid;
        grid-template-columns: auto auto;
    }
}

.price,
:global(.top) .licenceMeta {
    display: grid;
    grid-template-rows: 16px 58px 16px;

    p {
        margin: 0 !important; // !important for .ag-styles specificity
        line-height: 1 !important; // !important for .ag-styles specificity
    }
}

.name {
    align-self: center;
}

.price {
    justify-self: end;

    p:last-child {
        max-width: 160px;
        line-height: 1.25 !important; // !important for .ag-styles specificity
    }
}

.priceFullDollars {
    :global(.top) & {
        font-weight: var(--font-weight-bold) !important; // !important for .ag-styles specificity
    }

    &::before {
        content: '$';
    }

    &::after {
        content: '.00';
        font-size: $font-size-large;
        font-weight: 400 !important; // !important for .ag-styles specificity
        color: var(--secondary-text-color);
    }
}

:global(.bottom) .licenceMeta {
    display: grid;

    p {
        margin-bottom: $size-1 !important; // !important for .ag-styles specificity
        line-height: 1 !important; // !important for .ag-styles specificity
    }

    p:last-child {
        align-self: end;
    }
}

.licenceBenifits {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    li {
        position: relative;

        &::before {
            content: '•';
            position: absolute;
            left: -0.6666em;
            color: var(--secondary-text-color);
        }
    }

    a {
        margin-top: $size-2 !important; // !important for .ag-styles specificity
    }
}

.licenceActions {
    display: flex;
    flex-direction: column;
    justify-self: end;
    align-self: end;
    align-items: flex-end;
    gap: $size-1;
}

.learnMoreLink {
    &:hover::after {
        transform: translateY(0.125em);
    }

    &::after {
        content: '↓';
        position: absolute;
        padding-left: 0.25em;
        transition: transform $default-transition-timing;
    }
}
