@use "../../design-system/" as *;

// Wrap in media query to show wide licence layouts for specific screen sizes
@mixin wide-layout {
    @media screen and (min-width: $breakpoint-pricing-small) and (max-width: $breakpoint-pricing-medium),
        (min-width: $breakpoint-pricing-large) {
        @content;
    }
}

:global(.ag-card).singleApplicationLicense {
    --card-color: #0f5bce !important; // !important for .ag-styles specificity
    --header-tint: 0.93 !important; // !important for .ag-styles specificity
    --content-tint: 0.95 !important; // !important for .ag-styles specificity
}

:global(.ag-card).multipleApplicationsLicense {
    --card-color: #2aaa33 !important; // !important for .ag-styles specificity
    --header-tint: 0.94 !important; // !important for .ag-styles specificity
    --content-tint: 0.96 !important; // !important for .ag-styles specificity
}

.licenses {
    display: flex;
    flex-wrap: wrap;
    gap: $size-3;
}

.license {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width: $breakpoint-pricing-medium) {
        width: calc(50% - $size-3 / 2);
    }

    p {
        margin: 0 !important; // !important for .ag-styles specificity
    }

    :global(.top),
    :global(.bottom) {
        padding-left: $size-2 !important; // !important for .ag-styles specificity
        padding-right: $size-2 !important; // !important for .ag-styles specificity
    }

    :global(.top) {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 'meta meta' 'benifits price' 'actions actions';
        padding-top: $size-3 !important; // !important for .ag-styles specificity
        padding-bottom: $size-2 !important; // !important for .ag-styles specificity

        @include wide-layout {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            grid-template-areas: 'meta price' 'benifits actions';
            gap: $size-7 $size-3;
            height: 100%;
        }
    }

    :global(.bottom) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'meta price' 'required required';
        padding-top: $size-2 !important; // !important for .ag-styles specificity
        padding-bottom: $size-2 !important; // !important for .ag-styles specificity

        p {
            font-size: 12px !important;
        }
    }
}

.licenceMeta {
    grid-area: meta;
    display: flex;
    flex-direction: column;

    svg {
        position: relative;
        top: -1px;
        width: 16px;
        opacity: 0.6666;

        * {
            fill: var(--secondary-text-color) !important;
        }
    }

    :global(.top) & {
        margin-bottom: $size-5 !important; // !important for .ag-styles specificity
        text-align: center;

        @include wide-layout {
            margin-bottom: 0 !important; // !important for .ag-styles specificity
            text-align: left;
        }
    }
}

p.name {
    :global(.top) & {
        font-size: 46px !important; // !important for .ag-styles specificity
        line-height: 1 !important; // !important for .ag-styles specificity
        margin-top: $size-half !important; // !important for .ag-styles specificity
        margin-bottom: $size-1 !important; // !important for .ag-styles specificity

        @media screen and (min-width: $breakpoint-pricing-medium) and (max-width: $breakpoint-pricing-large) {
            max-width: 340px;
            margin-left: auto !important; // !important for .ag-styles specificity
            margin-right: auto !important; // !important for .ag-styles specificity
        }
    }

    :global(.bottom) & {
        font-size: $font-size-large !important; // !important for .ag-styles specificity
        line-height: 1 !important; // !important for .ag-styles specificity
        margin-top: $size-2 !important; // !important for .ag-styles specificity
        margin-bottom: auto !important; // !important for .ag-styles specificity

        @include wide-layout {
            margin-top: $size-1 !important; // !important for .ag-styles specificity
            font-size: 30px !important; // !important for .ag-styles specificity
        }
    }
}

.price {
    grid-area: price;
    justify-self: end;
    align-self: end;
    text-align: right;

    :global(.bottom) & p:last-child {
        max-width: 140px;
    }

    @include wide-layout {
        align-self: start;
    }
}

p.priceFullDollars {
    line-height: 1.25 !important; // !important for .ag-styles specificity
    letter-spacing: -0.05em;

    &::before {
        content: '$';
    }

    &::after {
        @include wide-layout {
            content: '.00';
            font-size: $font-size-large;
            font-weight: 400 !important; // !important for .ag-styles specificity
            color: var(--secondary-text-color);
        }
    }

    :global(.top) & {
        font-size: 46px !important; // !important for .ag-styles specificity
        font-weight: var(--font-weight-bold) !important; // !important for .ag-styles specificity

        @include wide-layout {
            font-size: $font-size-massive !important; // !important for .ag-styles specificity
        }
    }

    :global(.bottom) & {
        font-size: 36px !important; // !important for .ag-styles specificity
    }
}

.licenceBenifits {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media screen and (min-width: $breakpoint-pricing-medium) and (max-width: $breakpoint-pricing-large) {
        min-height: 130px;
    }

    a {
        display: block;
        margin-top: $size-half !important; // !important for .ag-styles specificity

        @include wide-layout {
            margin-top: $size-2 !important; // !important for .ag-styles specificity
        }
    }
}

.licenceActions {
    grid-area: actions;
    margin-top: $size-5 !important; // !important for .ag-styles specificity

    @include wide-layout {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 0 !important; // !important for .ag-styles specificity
    }

    a {
        width: 100%;
        text-align: center;

        &:not(:last-child) {
            margin-bottom: $size-half;
        }

        @include wide-layout {
            width: unset;
            text-align: unset;
        }
    }
}

.learnMoreLink {
    &:hover::after {
        transform: translateY(0.125em);
    }

    &::after {
        content: '↓';
        padding-left: 0.25em;
        transition: transform $default-transition-timing;
    }
}

.devLicenceRequired {
    padding-top: $size-2 !important; // !important for .ag-styles specificity
    grid-area: required;
}
