@import "./ag-theme-base-import-legacy-vars";

$ag-foreground-opacity: 1 !default;
$ag-secondary-foreground-color-opacity: 1 !default;
$ag-disabled-foreground-color-opacity: 0.5 !default;

$ag-borders: true !default;

// Colors
// Apply a border around the grid and between elements
$ag-foreground-color: #000 !default;
$ag-background-color: #fff !default;
$ag-border-color: $ag-foreground-color !default;
$ag-secondary-border-color: $ag-border-color !default;
$ag-row-border-color: $ag-secondary-border-color !default;
$ag-header-background-color: $ag-background-color !default;
$ag-header-foreground-color: $ag-foreground-color !default;
$ag-icon-color: lightgray !default;
$ag-alt-icon-color: $ag-background-color !default;
$ag-accent-color: transparent !default;
$ag-range-selection-background-color: $ag-icon-color !default;

// Sizing
$ag-grid-size: 4px !default;
$ag-icon-size: 12px !default;
$ag-header-height: $ag-grid-size * 6 + 1 !default;
$ag-row-height: ($ag-grid-size * 6 + 1) !default;
$ag-rich-select-item-height: $ag-row-height !default;
$ag-cell-horizontal-padding: $ag-grid-size * 3 !default;
$ag-cell-widget-spacing: $ag-cell-horizontal-padding !default;
$ag-virtual-item-height: $ag-grid-size * 5 !default;
$ag-header-icon-size: 14px !default;
$ag-input-height: null !default;
$filter-tool-panel-group-indent: 16px !default;
$filter-tool-panel-top-level-row-height: $ag-grid-size * 8 !default;
$filter-tool-panel-sub-level-row-height: $ag-grid-size * 6 !default;

// Fonts
$ag-font-family: 'Helvetica Neue', sans-serif !default;
$ag-font-size: 14px !default;
$ag-font-weight: 400 !default;

$ag-secondary-font-family: $ag-font-family !default;
$ag-secondary-font-size: 14px !default;
$ag-secondary-font-weight: 400 !default;

// Tooltip
$ag-tooltip-background-color: $ag-background-color !default;
$ag-tooltip-foreground-color: $ag-foreground-color !default;
$ag-tooltip-border-radius: 2px !default;
$ag-tooltip-padding: 5px !default;
$ag-tooltip-border-width: 1px !default;
$ag-tooltip-border-style: solid !default;
$ag-tooltip-border-color: #ebebeb !default;

// Misc

// Separator between columns in the header
// For best UX, use either this or $ag-header-column-resize-handle but not both
$ag-header-column-separator: $ag-borders !default;
    $ag-header-column-separator-top: 25% !default;
    $ag-header-column-separator-bottom: 25% !default;
    $ag-header-column-separator-width: 1px !default;
    $ag-header-column-separator-color: transparentize($ag-border-color, 0.5) !default;

// Visible marker for resizeable columns. Displays in the same position as the column
// separator, but only when the column is resizeable
$ag-header-column-resize-handle: not $ag-header-column-separator !default;
    $ag-header-column-resize-handle-top: 25% !default;
    $ag-header-column-resize-handle-bottom: 25% !default;
    $ag-header-column-resize-handle-width: 1px !default;
    $ag-header-column-resize-handle-color: transparentize($ag-border-color, 0.5) !default;

// radius applied to the the grid wrapper grid
$ag-grid-radius: null !default;

// radius applied to popup elements
$ag-card-radius: $ag-grid-radius !default;
$ag-card-shadow: none !default;
$ag-row-border-width: 0 !default;
$ag-transition-speed: 120ms !default;
$ag-cell-horizontal-border: 1px solid transparent !default;

$ag-toolpanel-indent-size: $ag-grid-size + $ag-icon-size !default;
$ag-row-group-indent-size: $ag-grid-size * 3 + $ag-icon-size !default;

$ag-header-cell-moving-background-color: rgb(190, 190, 190) !default;
$ag-input-disabled-background-color: null !default;
$ag-input-border-color: null !default;
$ag-scroll-spacer-border: 1px solid if($ag-border-color, $ag-border-color, lightgrey) !default;

$ag-dialog-background-color: $ag-background-color !default;
$ag-dialog-border-size: 1px !default;
$ag-dialog-border-style: solid !default;
$ag-dialog-border-color: $ag-border-color !default;

$ag-dialog-title-background-color: $ag-header-background-color !default;
$ag-dialog-title-foreground-color: $ag-header-foreground-color !default;
$ag-dialog-title-height: $ag-header-height !default;
$ag-dialog-title-font-family: $ag-secondary-font-family !default;
$ag-dialog-title-font-size: $ag-secondary-font-size !default;
$ag-dialog-title-font-weight: $ag-secondary-font-weight !default;
$ag-dialog-title-padding: 5px 10px !default;
$ag-dialog-title-icon-size: max(20px, $ag-icon-size) !default;

$ag-tool-panel-background-color: $ag-background-color !default;
// TODO these should all be null defaulted. Move opinionated styles out of base theme and into balham / material.
$ag-group-background-color: null !default;
$ag-group-border-color: null !default;
$ag-group-title-background-color: null !default;
$ag-group-toolbar-background-color: null !default;

$ag-range-selection-chart-background-color: adjust-hue($ag-range-selection-background-color, 25%) !default;
$ag-range-selection-chart-category-background-color: adjust-hue($ag-range-selection-background-color, -80%) !default;

// Optionals TODO move elsewhere
// TODO See if we can default the values here and remove the overrides from derived themes
$ag-card-background: $ag-background-color !default;
$ag-header-background-image: null !default;
$ag-header-background-color: null !default;
$ag-full-width-tabs: null !default;
$ag-odd-row-background-color: null !default;
$ag-value-change-delta-up-color: null !default;
$ag-value-change-delta-down-color: null !default;
$ag-menu-option-active-color: null !default;
$ag-row-stub-background-color: null !default;
$ag-value-change-value-highlight-background-color: null !default;
$ag-row-floating-background-color: null !default;
$ag-primary-color: null !default;

// Flags

$ag-customize-buttons: false !default;
$ag-customize-inputs: false !default;

// Icons
@import "./font-vars";
