
.ag-dialog {
    .ag-chart-menu {
        .ag-icon-menu {
            background-size: 25px 25px;
        }
    }
}

.ag-chart {
    position: relative;
    display: flex;
    .ag-chart-canvas-wrapper {
        flex: 1 1 auto;

        canvas {
            display: block;
        }
    }

    .ag-chart-menu {
        position: absolute;
        top: 10px;
        right: 20px;

        .ag-icon-menu {
            background-size: 25px 25px;
        }
    }
}