.ag-chart {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
    .ag-chart-canvas-wrapper {
        flex: 1 1 auto;

        canvas {
            display: block;
        }
    }

    .ag-chart-menu {
        position: absolute;
        top: 10px;
        right: 20px;
        width: 24px;
        height: 82px;
        overflow: hidden;
        > span {
            background-size: 24px 24px;
            width: 24px;
            height: 24px;
            cursor: pointer;
        }
    }
}

.ag-chart-tabbed-menu {
    > div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .ag-tab-header {
        flex: none;
    }
    .ag-tab-body {
        display: flex;
        flex: 1 1 auto;
        align-items: stretch;
        > div {
            flex: 1 1 auto;
        }
        overflow: hidden;
    }

    .ag-chart-settings {
        overflow-x: hidden;
        position: relative;
        .ag-chart-settings-wrapper {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            .ag-chart-settings-mini-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                > div {
                    cursor: pointer;
                    canvas {
                        display: block;
                    }
                }
            }
        }
    }


    .ag-chart-data-wrapper {
        width: 100%;
        height: 100%;
        overflow: auto;
        position: relative;
    }

}