.ag-grid-pinned-left-cells .custom-detail {
    background-color: #cc222244;
}

.ag-grid-pinned-right-cells .custom-detail {
    background-color: #33cc3344;
}

.ag-grid-scrolling-cells .custom-detail {
    background-color: #2244cc44;
}
