.mood {
    border-radius: 15px;
    border: 1px solid grey;
    background-color: #e6e6e6;
    padding: 15px;
    text-align: center;
    display: inline-block;
    outline: none;
}

.default {
    border: 1px solid transparent !important;
    padding: 4px;
}

.selected {
    border: 1px solid lightgreen !important;
    padding: 4px;
}

.numeric-input {
    box-sizing: border-box;
    padding-left: var(--ag-padding);
    width: 100%;
    height: 100%;
}
