@use '../core' as *;

.searchForm {
    position: relative;
    flex-grow: 1;

    @media screen and (min-width: $breakpoint-site-header-medium) {
        width: 380px;
    }

    @media screen and (min-width: $breakpoint-site-header-large) {
        width: 440px;
    }
}
