@function encodecolor($string) {
    @if $string == null {
        @return '';
    }

    @if type-of($string) == 'color' {
        $hex: str-slice(ie-hex-str($string), 4);
        $string: unquote('#{$hex}');
    }
    $string: '%23' + $string;
    @return $string;
}

$red: #e11f22;
$red-highlight: #EB1C17;
$blue-1: #00407f;
$blue-2: #0084e7;
$blue-3: #8abde3;
$blue-4: #f1f7ff;
$offwhite: rgb(249, 252, 255);
$white: #ffffff;
$yellow: #FFFBD9;
$teal: #00E7B1;

$max-width: 1400px;

$primary: $blue-2;
$secondary: #A3A4A5;

$border-color: #dee2e6;
$code-background-color: #212529;

body {
    background-color: $white;
}

@mixin enterprise-icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    background-image: url('../svg/enterprise.svg');
    text-indent: -10000px;
    background-size: 0.85em 0.85em;
    background-position-y: center;
    background-repeat: no-repeat;
    content: 'e';
    margin-left: 3px;
}

.enterprise-icon {
    @include enterprise-icon;
    vertical-align: baseline;
    transform: translatey(2px);
}
