@use '../core' as *;

ul,
ol {
    padding-left: 2.25em;

    &:not(:last-child) {
        margin-bottom: $size-2;
    }
}

li:not(:last-child) {
    margin-bottom: $size-1;
}

li > ol,
li > ul {
    padding-left: 1.5em;
}

ul.list-style-none,
ol.list-style-none,
.list-style-none > li ul,
.list-style-none > li ol {
    padding-left: 0;
    list-style: none;

    li:not(:last-child) {
        margin-bottom: 0;
    }
}

pre {
    --font-family: #{$monospace-font-family};

    background-color: var(--neutral-200);
    padding: $size-1 $size-2;
    border-radius: var(--border-radius);
}

hr {
    height: 2px;
    border-radius: 1px;
    background-color: var(--border-color);
    border: 0;
}

address {
    font-style: inherit;
    line-height: inherit;
}
