@use '../core' as *;

button#{$exclude-grid-selector} {
    font-family: var(--font-family);
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
}

button#{$exclude-grid-selector},
input[type='reset']#{$exclude-grid-selector},
input[type='submit']#{$exclude-grid-selector},
.button,
.button-secondary {
    appearance: none;
    display: inline-block;
    font-size: var(--font-size);
    font-weight: $font-weight-bold;
    padding: 0.375em 1em 0.5em;
    letter-spacing: 0.025em;
    white-space: nowrap;
    border-radius: var(--border-radius);
    background-color: var(--button-color);
    color: var(--button-text-color);
    cursor: pointer;
    outline: none;
    border: 2px solid transparent;
    box-shadow: 0 0 0 4px transparent;
    transition:
        background-color $default-transition-timing,
        border $default-transition-timing,
        box-shadow $default-transition-timing;

    &:hover,
    &.hover {
        background-color: var(--button-hover-color);
        color: var(--button-text-color) !important;
    }

    &:active {
        background-color: var(--button-active-color);
        transition: background-color 0.125s ease-in-out;
    }

    &:focus-visible {
        border-color: var(--button-hover-color);
        box-shadow: 0 0 0 4px var(--button-focus-box-shadow-color);
    }

    &:disabled,
    &[disabled],
    &.disabled {
        --button-color: var(--neutral-200);
        --button-hover-color: var(--neutral-200);
        --button-active-color: var(--neutral-200);
        --button-text-color: var(--neutral-800);
        --button-focus-box-shadow-color: transparent;

        cursor: default;
    }

    .icon {
        --icon-size: 2em;

        display: inline-block;
        position: relative;
        bottom: 0.05em;
        margin: -1em 0.125em -1em 0;
        fill: var(--button-text-color);
    }
}

.button-secondary {
    --button-color: var(--primary-100);
    --button-hover-color: var(--primary-300);
    --button-active-color: var(--primary-400);
    --button-text-color: var(--dark-blue-800);
    --button-focus-box-shadow-color: var(--900);

    #{$darkmode-selector} & {
        --button-color: var(--background-100);
        --button-hover-color: #2a343e;
        --button-active-color: var(--primary-500);
        --button-text-color: var(--default-text-color);
        --button-focus-box-shadow-color: var(--900);
        border: 1px solid var(--input-border-color)
    }
}

.button-input {
    --button-color: var(--input-background-color);
    --button-hover-color: var(--input-background-color);
    --button-active-color: var(--input-background-color);
    --button-text-color: var(--default-text-color);
    --button-focus-box-shadow-color: var(--input-focus-box-shadow-color);

    border: 2px solid var(--border-color);
    transition:
        border-color $default-transition-timing,
        box-shadow $default-transition-timing;

    &:hover:not(:disabled):not([readonly]),
    &:focus-visible:not(:disabled):not([readonly]) {
        border-color: var(--input-focus-border-color);
    }

    &:focus-visible:not(:disabled):not([readonly]) {
        box-shadow: 0 0 0 3px var(--input-focus-box-shadow-color);
    }
}

.button-style-none,
.button-as-link {
    --button-text-color: var(--default-text-color);

    appearance: none;
    padding: 0;
    text-align: left;
    font-weight: var(--font-weight-normal);
    border: none;
    background-color: transparent;
    box-shadow: none;

    &:hover,
    &:active {
        color: var(--button-text-color);
        background-color: transparent;
    }

    &:focus-visible {
        box-shadow: none;
    }
}

.button-as-link {
    --button-text-color: var(--link-color);
    --text-color: var(--link-color);
    --icon-size: 1.5em;

    transition: color $default-transition-timing;

    &:hover {
        --button-text-color: var(--link-hover-color);
        --text-color: var(--link-hover-color);
    }
}
