@use '../core' as *;

@mixin button {
  appearance: none;

  font-size: var(--font-size);
  padding: 0.5em 1em;
  letter-spacing: 0.025em;
  border-radius: var(#{--border-radius});
  background-color: var(#{--button-color});
  color: $white;
  border: none;
  transition: background-color $default-transition-timing;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:hover {
    background-color: var(#{--button-hover-color});
  }

  &:active {
    background-color: var(#{--button-active-color});
    transition: background-color 0.125s ease-in-out;
  }
}

button {
  @include button();
}

.btn {
  --font-size: 24px;
  --button-color: red;
  --button-hover-color: orange;
}
