@use 'sass:math';
@use 'sass:map';
@use '../core' as *;

fieldset#{$exclude-grid-selector} {
    margin: 0;
    padding: 0;
    border: none;

    &:not(:last-child) {
        margin-bottom: $size-2;
    }
}

legend#{$exclude-grid-selector} {
    padding: unset;
}

label#{$exclude-grid-selector} {
    fieldset & {
        display: block;
    }

    + input#{$exclude-grid-selector},
    + select#{$exclude-grid-selector} {
        margin-left: $size-1;
    }

    &[for*='radio'],
    &[for*='checkbox'],
    &[for*='switch'] {
        cursor: pointer;
    }

    .req {
        color: var(--input-error-color);
    }
}

input#{$exclude-grid-selector} {
    font-size: var(--font-size);
}

input[type='text']#{$exclude-grid-selector},
input[type='search']#{$exclude-grid-selector},
input[type='email']#{$exclude-grid-selector},
input[type='checkbox']#{$exclude-grid-selector},
input[type='number']#{$exclude-grid-selector},
select#{$exclude-grid-selector} {
    color: var(--default-text-color);

    &:disabled,
    &[readonly] {
        background-color: var(--neutral-100);
    }
}

input[type='text'],
input[type='search'],
input[type='email'],
input[type='number'] {
    &#{$exclude-grid-selector} {
        padding: math.div(6em, 16) math.div(12em, 16);
        line-height: var(--line-height-normal);
        border-radius: var(--border-radius);
        background-color: var(--input-background-color);
        border: 2px solid var(--input-border-color);
        outline: none;
        transition:
            border-color $default-transition-timing,
            box-shadow $default-transition-timing;

    #{$darkmode-selector} & {
        border: 1px solid var(--input-border-color);
    }

    &::placeholder {
        font-style: italic;
        color: var(--secondary-text-color);

        #{$darkmode-selector} & {
            color: var(--neutral-800);
        }
    }

        &:hover:not(:disabled):not([readonly]),
        &:focus:not(:disabled):not([readonly]),
        &:focus-visible:not(:disabled):not([readonly]) {
            border-color: var(--input-focus-border-color);
        }

        #{$darkmode-selector} & {
            border-width: 1px;
        }
    }
}

// Hide native search icons for iOS Safari
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input[type='checkbox']#{$exclude-grid-selector},
input[type='radio']#{$exclude-grid-selector} {
    $square-size: 1.25em;

    appearance: none;
    position: relative;
    width: $square-size;
    height: $square-size;
    top: math.div(4em, 16);
    outline: none;

    &:not(:disabled) {
        cursor: pointer;
    }

    &:checked {
        background-color: var(--input-primary-color);
    }
}

input[type='checkbox']:not(.switch)#{$exclude-grid-selector} {
    $svg-tick: url('data:image/svg+xml;utf8,<svg fill="none" stroke="%23fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="m9 15 3.75 3.75L21 10.5"/></svg>');

    border-radius: var(--border-radius);
    border: 0.125em solid var(--input-secondary-border-color);
    background-image: $svg-tick;
    transition:
        background-color $default-transition-timing,
        border-color $default-transition-timing,
        box-shadow $default-transition-timing;

    &:hover:not(:disabled):not([readonly]),
    &:focus:not(:disabled):not([readonly]),
    &:focus-visible:not(:disabled):not([readonly]),
    &:checked {
        border-color: var(--input-primary-color);
    }
}

input[type='checkbox'].switch {
    $height: 1.25em;

    width: 2em;
    height: $height;
    background-color: var(--input-secondary-background-color);
    border-radius: math.div($height, 2);
    background-image: radial-gradient(
        var(--input-background-color) calc($height / 2 - 3px),
        transparent calc($height / 2 - 3px)
    );
    background-repeat: no-repeat;
    background-size: $height $height;
    transition:
        background-position $default-transition-timing,
        background-color $default-transition-timing,
        box-shadow $default-transition-timing;

    &:checked {
        background-position: right;
        background-color: var(--input-primary-color);
    }
}

input[type='radio']#{$exclude-grid-selector} {
    border-radius: 50%;
    box-shadow:
        inset 0 0 0 0.125em var(--input-secondary-border-color),
        inset 0 0 0 0.25em var(--input-background-color);
    transition:
        background-color $default-transition-timing,
        box-shadow $default-transition-timing;

    &:hover:not(:disabled):not([readonly]),
    &:checked {
        box-shadow:
            inset 0 0 0 0.125em var(--input-primary-color),
            inset 0 0 0 0.25em var(--input-background-color);
    }

    &:focus:not(:disabled):not([readonly]),
    &:focus-visible:not(:disabled):not([readonly]) {
        box-shadow:
            inset 0 0 0 0.125em var(--input-primary-color),
            inset 0 0 0 0.25em var(--input-background-color),
            0 0 0 3px var(--input-focus-box-shadow-color);
    }
}

select#{$exclude-grid-selector} {
    $svg-chevron-down: url('data:image/svg+xml;utf8,<svg fill="none" stroke="%23212529" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 30"><path d="m7.5 13.688 5.25 4.125L18 13.688"/></svg>');

    $svg-chevron-down-dark: url('data:image/svg+xml;utf8,<svg fill="none" stroke="%23f8f9fa" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 30"><path d="m7.5 13.688 5.25 4.125L18 13.688"/></svg>');

    appearance: none;
    padding: math.div(6em, 16) math.div(36em, 16) math.div(6em, 16) math.div(12em, 16);
    font-size: 1rem;
    line-height: var(--line-height-normal);
    border-radius: var(--border-radius);
    background-color: var(--input-background-color);
    background-image: $svg-chevron-down;
    background-repeat: no-repeat;
    background-position: center right;
    border: 2px solid var(--input-border-color);
    outline: none;
    transition:
        border-color $default-transition-timing,
        box-shadow $default-transition-timing;

    #{$darkmode-selector} & {
        border: 1px solid var(--input-border-color);
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &:invalid,
    &[disabled] {
        color: var(--secondary-text-color);
    }

    &:hover:not(:disabled):not([readonly]),
    &:focus:not(:disabled):not([readonly]),
    &:focus-visible:not(:disabled):not([readonly]) {
        border-color: var(--input-focus-border-color);
    }

    #{$darkmode-selector} & {
        background-image: $svg-chevron-down-dark;
    }
}

input[type='range']#{$exclude-grid-selector} {
    @mixin track {
        height: math.div(4em, 16);
        background-color: var(--input-secondary-background-color);
        border-radius: var(--border-radius);
    }

    @mixin thumb {
        appearance: none;
        width: 1em;
        height: 1em;
        margin-top: math.div(-6em, 16);
        border-radius: 50%;
        border: none;
        background-color: var(--input-primary-color);
        transition: background-color $default-transition-timing;
    }

    appearance: none;
    min-height: $size-3;
    border-radius: var(--border-radius);
    background-color: transparent;
    outline: none;
    border: 2px solid transparent;
    cursor: pointer;
    transition:
        border-color $default-transition-timing,
        box-shadow $default-transition-timing;

    &:focus-visible:not(:disabled):not([readonly]) {
        border-color: var(--input-focus-border-color);
        box-shadow: 0 0 0 3px var(--input-focus-box-shadow-color);
    }

    // Using mixins as -webkit & -moz properties cannot be used as comma seperted list
    &::-webkit-slider-runnable-track {
        @include track;
    }
    &::-moz-range-track {
        @include track;
    }
    &::-webkit-slider-thumb {
        @include thumb;
    }
    &::-moz-range-thumb {
        @include thumb;
    }

    &:hover::-webkit-slider-thumb,
    &:hover::-moz-range-thumb {
        background-color: var(--link-hover-color);
    }
}

.input-field {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: $size-half;
    }

    input,
    select {
        margin-left: 0;
    }

    select {
        align-self: flex-start;
    }

    &.inline {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: $size-half $size-1;

        label {
            display: inline-block;
            margin-bottom: 0;
        }

        input[type='text'],
        input[type='search'],
        input[type='email'] {
            min-width: 280px;
        }
    }
}

.input-error {
    label {
        color: var(--input-error-color);
    }

    input,
    select {
        --border-color: var(--input-error-color);
        --input-focus-border-color: var(--input-error-color);
    }

    .error {
        margin-top: $size-half;
        color: var(--input-error-color);
    }
}

.extra-info {
    margin-top: $size-half;
    color: var(--secondary-text-color);
}
