@use '../core' as *;

a {
  text-decoration: none;
  color: var(--link-color);

  &:hover {
    color: var(--link-hover-color);
  }
}

code {
  font-size: 0.9rem;
  padding: 0 0.2em;
  font-family: var(#{--monospace-font-family});
  white-space: normal;
  border-radius: var(#{--border-radius});
  color: $cerise-pink;
  background-color: $ghost-white;
  border: 1px solid rgba(black, 0.1);
}

kbd {
  color: var(--text-color); // Bootstrap conflict 

  display: inline-block;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  font-family: var(#{--font-family});
  border-radius: var(#{--border-radius});
  background-color: $ghost-white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgb(0 0 0 / 20%), inset 0 0 0 2px $white;
  text-shadow: 0 1px 0 $white;
}