@use '../core' as *;
@use 'sass:map';

a#{$exclude-grid-selector} {
    text-decoration: none;
    color: var(--link-color);
    transition: color $default-transition-timing;

    &:hover {
        color: var(--link-hover-color);
    }

    > .icon {
        --icon-size: 1.5em;
        --text-color: var(--link-color);
    }

    &:hover > .icon {
        --text-color: var(--link-hover-color);
    }
}

code#{$exclude-grid-selector} {
    font-size: 0.875em;
    padding: 0 0.2em;
    font-family: var(--monospace-font-family);
    white-space: normal;
    border-radius: var(--border-radius);
    background-color: var(--code-background-color);
    color: var(--code-text-color);
    border: 1px solid rgba(black, 0.1);

    #{$darkmode-selector} & {
        -webkit-font-smoothing: subpixel-antialiased;

        border: 1px solid rgba(255,255,255,0.1);
        background-color: transparent;
        color: var(--default-text-color);
        background-color: #121f29;
        padding: 2px 6px;
        font-size: 13px;
        letter-spacing: 0.5px;
    }
}

kbd#{$exclude-grid-selector} {
    display: inline-block;
    margin: 0.1em 0.1em;
    padding: 0.1em 0.6em 0.15em;
    font-size: 0.875em;
    font-family: var(--font-family);
    border-radius: var(--border-radius);
    background-color: var(--default-background-color);
    border: 1px solid var(--border-color);
    box-shadow: inset 0 -2px 0 var(--neutral-200);

    #{$darkmode-selector} & {
        color: var(--default-text-color);
        background-color: #151F28;
        text-shadow: -1px -1px var(--neutral-100);
        border: 1px solid rgba(255,255,255,0.2);
        border-bottom: 2px solid rgba(255,255,255,0.1);
        box-shadow: inset 0 -2px 0 var(--neutral-100);
        font-weight: 500;
        border-radius: 6px;
    }
}

img#{$exclude-grid-selector},
svg#{$exclude-grid-selector} {
    vertical-align: middle;
}

svg#{$exclude-grid-selector} {
    overflow: hidden;
}
