.expandable-snippet {

    &__code-sample {
        composes: my-2 from global;
    }

    .json-property {

        &-type-nested-object {
            > .json-property {
                padding-left: 32px;
            }
        }
    }

    .json-object-union, .json-object {
        padding-left: 32px;
    }

    .indent-level {
        margin-left: 32px;
    }

    .deprecated {
        text-decoration: line-through;
    }

    .expandable > * {
        cursor: pointer;
    }

    .unexpandable {
        cursor: default;
    }
}
