@use '../../../core/' as *;

.socialChannelContainer {
    display: flex;
    justify-content: space-around;
    margin: 0px $spacing-size-40;
}

.socialChannelContainer .socialChannelIcon {
    --icon-size: 64px;
    fill: var(--color-util-gray-600);
}
