.supportChannelContainer {
    display: flex;
    justify-content: space-around; // This ensures horizontal layout with space between the items
    align-items: center;
    gap: 64px;
    flex-wrap: wrap;
    margin-top: 24px;

    .link {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        color: color-mix(in srgb, var(--color-gray-400), var(--color-fg-primary) 20%);
        font-weight: 400;

        .supportChannel {
            .header {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                margin-bottom: 16px;

                .text {
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            img {
                width: 28px;
                height: 28px;
                margin-right: 12px;
            }

            .cta {
                margin-top: 8px;
            }
        }
    }
}
