<template>
  <div style="width: 800px;">
    <h1>Group Row Example</h1>
    <div style="width: 400px; height: 200px;">
      <ag-grid-aurelia #agGrid style="width: 100%; height: 100%;" class="ag-fresh"
                       grid-options.bind="gridOptions">
        <ag-grid-column header-name="Country" field="country" width.bind="100" row-group-index.bind="0">
        </ag-grid-column>
        <ag-grid-column header-name="Name" field="name" width.bind="100">
        </ag-grid-column>
        <ag-grid-column header-name="Gold" field="gold" width.bind="100" agg-func="sum">
        </ag-grid-column>
        <ag-grid-column header-name="Silver" field="silver" width.bind="100" agg-func="sum">
        </ag-grid-column>
        <ag-grid-column header-name="Bronze" field="bronze" width.bind="100" agg-func="sum">
        </ag-grid-column>
      </ag-grid-aurelia>
    </div>
  </div>
  </div>
</template>
