.explorer-container {
    composes: pt-1 from global;

    height: calc(100vh - 210px);
    border: solid 1px $ag-light-grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 0 !important;

    h2:first-child,
    h3:first-child,
    h4:first-child {
        margin-top: 0 !important;
    }

    &__body {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    &__left {
        width: 40%;
        min-width: 350px;
    }

    &__right {
        width: 60%;
        min-width: 350px;
        overflow-y: scroll;
    }

    &__options {
        margin: 0 0 10px 10px;
        position: relative;
        overflow: hidden;
        height: 100%;
    }

    &__chart {
        position: relative;
        overflow: hidden;
        height: 50%;
        min-height: 250px;
    }

    &__code {
        overflow: auto;
        height: 50%;
    }

    &__launcher {
        background: linear-gradient(to bottom right, #0084e7, #0067b4);
        color: white;
    }

    &.fullscreen {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background: white;

        &__left {
            width: 500px;
        }

        &__right {
            width: calc(100vw - 500px);
        }
    }
}
