.explorer-container {
    composes: pt-1 from global;

    height: calc(100vh - 210px);
    border: solid 1px $ag-light-grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    &__body {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        overflow: hidden;
    }

    &__left {
        width: 40%;
    }

    &__right {
        flex: 1 1 auto;
    }

    &__options {
        position: relative;
        overflow: hidden;
        height: 100%;
    }

    &__chart {
        position: relative;
        overflow: hidden;
        height: 50%;
    }

    &__code {
        padding-top: 1rem;
        overflow: auto;
        height: 50%;
    }

    &__launcher {
        height: 40px;
        background: lightgray;
        margin: 0px 10px 5px 10px;
        text-align: right;
    }
}
