@use "../../design-system/" as *;

.launcher {
    position: relative;
    display: flex;
    align-items: center;
    gap: $size-1;
    bottom: $size-half;
    margin-right: $size-2 !important; // !important for .ag-styles specificity

    // Extra specificity to override .ag-styles specificity
    &:global(.list-style-none) {
        margin-bottom: 0 !important; // !important for .ag-styles specificity
    }

    label {
        color: var(--secondary-text-color);
    }

    select {
        margin-right: $size-2;
    }

    button {
        --text-color: var(--link-color);
        --icon-size: 1.5em;

        &:hover {
            --text-color: var(--link-hover-color);
        }
    }

    svg {
        transition: fill $default-transition-timing;
    }
}
