.ag-floating-top .ag-row {
    background-color: #00e5ff;
}

.ag-floating-bottom .ag-row {
    background-color: #00e5ff;
}

.test-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}