@use 'design-system' as *;

.container {
    display: flex;
    width: 100%;
}

.faqItem {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    background-color: var(--color-gray-800);
    border: 1px solid var(--color-util-gray-300);

    &.active .faqAnswer {
        max-height: 500px; // adjust as necessary
    }
}

.imageContainer,
.listContainer {
    flex: 1;
}

.imageContainer {
    .image {
        width: 100%;
        height: auto;
        padding: $spacing-size-6;
    }
}

.divider {
    height: 100%;
    width: 2px;
    color: red;
    background-color: red;
}

.questionContainer {
    display: flex;

    .questionIndex {
        flex: 0 1 auto;
        font-weight: bold;
    }

    .detailsContainer {
        flex: 1;
        padding-left: $spacing-size-12;
    }

    .questionText {
        flex: 1;
        font-weight: bold;
    }

    .questionIcon {
        flex: 0 1 auto;
        font-weight: bold;
    }
}

.answersContainer {
    .faqAnswer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }
}
