---
import LogoMark from '@components/logo/LogoMark';
import styles from '@legacy-design-system/modules/HeroGrid.module.scss';
---

<div id="heroGrid" style={{ height: '100%', width: '100%' }} class="ag-theme-quartz-dark">
    <div class={styles.loadingLogoContainer}>
        <LogoMark client:load isSpinning />
    </div>
</div>

<script>
    import { initGrid } from './heroGrid';

    let gridParams = {
        selector: '#heroGrid',
    };
    const searchParams = new URLSearchParams(window.location.search);
    if (searchParams.get('isCI') === 'true') {
        gridParams = {
            ...gridParams,
            suppressUpdates: true,
            useStaticData: true,
        };
    }

    document.addEventListener('DOMContentLoaded', () => initGrid(gridParams));
</script>
