@use "ag";

@mixin output {
    .ag-advanced-filter-header {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: var(--ag-cell-horizontal-padding);
        padding-right: var(--ag-cell-horizontal-padding);
    }

    .ag-advanced-filter {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .ag-advanced-filter-apply-button, .ag-advanced-filter-builder-button {
        line-height: normal;
        @include ag.unthemed-rtl((margin-left: calc(var(--ag-grid-size) * 2)));
        cursor: pointer;

        &:disabled {
            cursor: default;
        }
    }

    .ag-advanced-filter-builder-button {   
        display: flex;
        font-weight: 600;
        padding: var(--ag-grid-size);
        border: 0;
        background-color: unset;

        &:hover:not(:disabled) {
            background-color: var(--ag-row-hover-color);
        }
    }

    .ag-advanced-filter-builder-button-label {
        margin-left: var(--ag-grid-size);
    }

    // BUILDER

    .ag-advanced-filter-builder {
        @include ag.selectable(none);
        width: 100%;
        background-color: var(--ag-control-panel-background-color);
        display: flex;
        flex-direction: column;
    }

    .ag-advanced-filter-builder-list {
        @include ag.list-item-hovered();
        flex: 1;
        overflow: auto;
    }

    .ag-advanced-filter-builder-button-panel {
        display: flex;
        justify-content: flex-end;
        padding: var(--ag-widget-container-vertical-padding) var(--ag-widget-container-horizontal-padding);
        border-top: var(--ag-borders-secondary) var(--ag-secondary-border-color);
    }

    .ag-advanced-filter-builder-apply-button, .ag-advanced-filter-builder-cancel-button {
        margin-left: calc(var(--ag-grid-size) * 2);
    }

    .ag-advanced-filter-builder-item-wrapper {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        padding-top: var(--ag-grid-size);
        padding-bottom: var(--ag-grid-size);
        padding-left: calc(var(--ag-advanced-filter-builder-indent-size) - var(--ag-grid-size));
        padding-right: var(--ag-advanced-filter-builder-indent-size);
    }

    .ag-advanced-filter-builder-item,
    .ag-advanced-filter-builder-item-condition,
    .ag-advanced-filter-builder-pill-wrapper,
    .ag-advanced-filter-builder-pill,
    .ag-advanced-filter-builder-item-buttons {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .ag-advanced-filter-builder-pill-wrapper {
        margin: 0px var(--ag-grid-size);
    }

    .ag-advanced-filter-builder-pill {
        position: relative;
        border-radius: var(--ag-border-radius);
        padding: var(--ag-grid-size) calc(var(--ag-grid-size) * 2);
        min-height: calc(100% - var(--ag-grid-size) * 3);
        min-width: calc(var(--ag-grid-size) * 2);
    }

    // @include ag.keyboard-focus((ag-advanced-filter-builder-pill, ag-advanced-filter-builder-item-button), -4px);

    .ag-keyboard-focus {
        .ag-advanced-filter-builder-pill:focus {
            outline: none;
            &::after {
                content: '';
                position: absolute;
                background-color: transparent;
                pointer-events: none;
                top: -4px;
                left: -4px;
                display: block;
                width: calc(100% + 8px);
                height: calc(100% + 8px);
                border: 1px solid;
                border-color: var(--ag-input-focus-border-color);
            }
        }
    }

    .ag-keyboard-focus {
        .ag-advanced-filter-builder-item-button:focus {
            outline: none;
            &::after {
                content: '';
                position: absolute;
                background-color: transparent;
                pointer-events: none;
                top: -4px;
                left: -4px;
                display: block;
                width: calc(100% + 8px);
                height: calc(100% + 8px);
                border: 1px solid;
                border-color: var(--ag-input-focus-border-color);
            }
        }
    }

    .ag-advanced-filter-builder-pill-display {
        margin-right: var(--ag-grid-size);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .ag-advanced-filter-builder-join-pill {
        background-color: lightpink;
    }

    .ag-advanced-filter-builder-column-pill {
        background-color: lightcyan;
    }

    .ag-advanced-filter-builder-option-pill {
        background-color: lightgreen;
    }

    .ag-advanced-filter-builder-value-pill {
        background-color: lightgrey;
    }

    @for $i from 1 to 10 {
        .ag-advanced-filter-builder-indent-#{$i} {
            @include ag.unthemed-rtl(( padding-left: calc(#{$i} * var(--ag-advanced-filter-builder-indent-size)) ));
        }
    }
    
    .ag-advanced-filter-builder-item-button {
        position: relative;
        cursor: pointer;
        color: var(--ag-secondary-foreground-color);
        opacity: 50%;
    }

    .ag-advanced-filter-builder-item-button-wrapper {
        margin: 0 calc(var(--ag-grid-size) * 0.5);
    }

    .ag-advanced-filter-builder-item-button-disabled {
        color: var(--ag-disabled-foreground-color);
        cursor: default;
    }

    .ag-advanced-filter-builder-virtual-list-item {
        display: flex;
        cursor: default;
        height: var(--ag-list-item-height);

        &:hover {
            background-color: var(--ag-row-hover-color);

            .ag-advanced-filter-builder-item-button {
                opacity: 100%;
            }
        }
    }

    .ag-keyboard-focus .ag-advanced-filter-builder-virtual-list-item-highlight .ag-advanced-filter-builder-item-button {
        opacity: 100%;
    }

    .ag-advanced-filter-builder-invalid {
        color: var(--ag-invalid-color);
        cursor: default;
    }

    .ag-advanced-filter-builder-validation .ag-advanced-filter-builder-invalid {
        opacity: 100%;
    }
}