@mixin output {
    .ag-root-wrapper, .ag-sticky-top, .ag-dnd-ghost {
        background-color: var(--ag-background-color);
    }

    [class*="ag-theme-"] {
        -webkit-font-smoothing: antialiased;
        font-family: var(--ag-font-family);
        font-size: var(--ag-font-size);
        line-height: normal;
        color: var(--ag-foreground-color);
    }
}
 