@use 'design-system' as *;

.outer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $spacing-size-2;
    border-top: 1px solid var(--example-border-color);

    label {
        display: block;
    }

    > div:where(:not(:last-child)) {
        margin-bottom: $spacing-size-2;
    }
}

.simpleSelect {
    margin-left: 0;
    padding: 0 $spacing-size-6 0 0;
    border: none;
}

.importInfoIcon svg {
    --icon-size: 1.25em;
    --color-icon: var(--color-fg-secondary);

    position: relative;
    bottom: 0.125em;

    &:hover {
        --color-icon: var(--color-link);
    }
}
