@use 'design-system' as *;

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // margin: $spacing-size-8 0px 0px 0px; Margin for title
    background: linear-gradient(transparent, rgba(14, 68, 145, 0.05));
    #{$selector-darkmode} & {
        background: linear-gradient(transparent, rgba(255, 255, 255, 0.05));
    }

    h1 {
        margin-bottom: $spacing-size-2;

        @media screen and (max-width: $breakpoint-community-small) {
            display: flex;
            justify-content: center;
        }
    }

    p {
        color: var(--color-text-tertiary);
        text-align: center;
    }
}

.description {
    display: flex;
    font-size: var(--text-fs-xl);

    @media screen and (max-width: $breakpoint-community-small) {
        display: flex;
        justify-content: center;
    }
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

section {
    margin-top: $spacing-size-12;
    margin-bottom: $spacing-size-32;
}

.gradient {
    position: absolute;
    height: 100px;
    width: 100vw;
}
