@use 'design-system' as *;

.toolPanel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: $spacing-size-4;

    @media screen and (min-width: $breakpoint-site-header-small) {
        margin-top: 0;
    }
}
