@use 'design-system' as *;

.container {
    width: 100%;
    margin-top: $spacing-size-8;
    margin-bottom: calc($spacing-size-12 * 2.5);

    @media screen and (min-width: $breakpoint-docs-nav-medium) {
        width: calc(var(--layout-width-9-12));
    }

    @media screen and (min-width: $breakpoint-docs-nav-large) {
        width: calc(var(--layout-width-9-12) + $spacing-size-16);
    }

    :global(.ag-filter-icon) {
        display: none;
    }
}

.header {
    display: flex;
    flex-direction: column;
    gap: $spacing-size-10;
    margin-bottom: $spacing-size-4;
}

.searchBarOuter {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0 $spacing-size-2;
    width: var(--layout-width-4-4);
    margin-top: $spacing-size-12;
    margin-bottom: $spacing-size-2;

    :global(.icon) {
        --icon-size: 1.25em;
        --color-icon: var(--color-fg-secondary);

        position: absolute;
        left: 0.625em;
    }

    input[type='search'] {
        width: 100%;
        padding-left: 2em;

        @media screen and (min-width: $breakpoint-changelog-pipeline-large) {
            width: max(33.33%, 28em);
        }

        &::-webkit-search-cancel-button {
            display: none;
        }
    }
}

.searchExplainer {
    line-height: var(--text-lh-tight);

    @media screen and (max-width: $breakpoint-changelog-pipeline-large) {
        display: none;
    }
}

.checkboxLabel {
    position: relative;
    top: -1px;
}

.fontClass {
    font-size: 15px;
}

.link::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 $spacing-size-1 0 $spacing-size-1;
}
