@use 'design-system' as *;

.markdown {
    li > ul {
        margin-bottom: $spacing-size-4;
    }

    // Style <h5> as <u> to match previous releases
    h5 {
        font-size: var(--text-fs-base);
        font-weight: var(--text-regular);
        text-decoration: underline;
    }
}
