@import "../vars/ag-theme-finance-dark-vars";
@import "../../ag-theme-finance/sass/ag-theme-finance-common";

.ag-theme-finance-dark {
    @include ag-theme-finance($params);

    input,
    select {
        background-color: $odd-row-background-color;
        color: $foreground-color;
    }

    .ag-filter-toolpanel-body {
        background-color: $background-color;
    }

    .ag-angle-select {
        .ag-angle-select-field {
            .ag-parent-circle {
                background-color: #ffffff;
            }
            .ag-child-circle {
                background-color: #4c4c4c;
            }
        }
    }
}

