body {
    --ag-background-color: IndianRed;
}
.ag-details-grid {
    --ag-background-color: MediumSeaGreen;
    --ag-data-background-color: MediumSeaGreen;
    --ag-odd-row-background-color: MediumSeaGreen;
    --ag-header-background-color: SeaGreen;
}
