.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#myGrid {
    flex: 1 1 0px;
}

.my-chart {
    flex-grow: 1;
    height: 10px !important;
    display: inline-block;
    border: 1px solid lightgrey;
}

#buttons {
    padding-bottom: 10px;
}
