.ag-theme-quartz,
.ag-theme-quartz-dark {
    --ag-card-radius: 10px;
    --ag-card-shadow: 0 10px 40px rgb(83, 0, 106);
    --ag-popup-shadow: var(--ag-card-shadow);
}

.ag-theme-quartz .ag-menu,
.ag-theme-quartz-dark .ag-menu {
    min-width: 350px;
    background-color: #55aa77;
}
