.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#toolPanel {
    text-align: center;
}

.spacer {
    display: inline-block;
    min-width: 20px;
}

#myChart {
    height: 100%;
}