@use 'design-system' as *;

.headingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px $spacing-size-32;
    margin-bottom: $spacing-size-12;
}

.heading {
    font-size: 48px;
    font-weight: var(--text-bold);
}

.subHeading {
    font-size: var(--text-fs-lg);
    text-align: center;
}

.statsContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: $spacing-size-12;
}

.stat {
    display: flex;
    font-size: 64px;
    font-weight: var(--text-bold);
    color: var(--color-util-brand-600);
}

.statName {
    text-align: center;
}

.quotesContainer {
    margin: $spacing-size-6 0px;
    blockquote {
        --quote-background-color: var(--color-util-gray-100);
    }
}
