@import '../vars/ag-theme-alpine-vars';

$checkbox-size: 15px;
$checkbox-border-radius: $border-radius;

@mixin active-invert {
    color: $color-background;
    background-color: $color-primary;
}

@mixin box-shadow($color) {
    box-shadow: 0 0 2px 0.1rem transparentize($color, 0.6);
}

@mixin primary-box-shadow {
    @include box-shadow($color-primary);
}

@mixin chrome-box-shadow {
    box-shadow: 0 1px 4px 1px transparentize($color-chrome-shadow, 0.6);
}

@mixin checkbox($color: $color-secondary) {
    -webkit-appearance: none;
    width: $checkbox-size;
    height: $checkbox-size;
    vertical-align: middle;
    border-radius: $checkbox-border-radius;
    border: 1px solid $color-border-form-element;
    background: $color-background;
    transition: background-color 0.1s linear;
    display: block;
    margin: 0;

    &:focus {
        @include box-shadow($color);
        border-color: $color;
        outline: none;
    }

    // the element creates the flashing effect when the checkbox is ticked.
    &::before {
        content: ' ';
        width: $checkbox-size - 2;
        height: $checkbox-size - 2;
        background: $color-background;
        display: block;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        visibility: hidden;
        position: absolute;
        transition: background-color 0.2s linear;
        border-radius: $checkbox-border-radius;
        z-index: 2;
    }

    &::after {
        content: ' ';
        border-right: 1px solid $color-background;
        border-bottom: 1px solid $color-background;
        display: block;
        transform: rotate(45deg);
        transition: all 0.2s linear;
        clip-path: inset(0px 5px 0px 0px);
        width: 5px;
        height: 9px;
        margin-left: 4px;
        margin-right: 4px;
        margin-top: 1px;
    }

    &:checked {
        background-color: $color;
        border-color: $color;
    }

    &:checked::after {
        clip-path: inset(0px 0px 0px 0px);
    }

    &:checked::before {
        background: transparentize($color-background, 1);
        visibility: visible;
    }

    &:indeterminate {
        background-color: $color;
        border-color: $color;
    }

    &:indeterminate::after {
        clip-path: inset(0px 0px 0px 0px);
        transform: rotate(0deg);
        margin-top: 6px;
        margin-left: 2px;
        margin-right: 2px;
        width: 9px;
        border-bottom-width: 1.5px;
        height: 0px;
    }

    &:disabled {
        background-color: $color-background-form-element-disabled;
        border-color: transparentize($color-border-form-element, 0.7);
    }

    &:checked:disabled {
        background-color: transparentize($color, 0.5);
        border-color: transparentize($color, 0.3);
    }
}

%form-font {
    font: $font-form-element;
}

%halo {
    transition: box-shadow 0.1s ease-out;

    &:focus {
        border-color: $color-primary;
        @include primary-box-shadow();
    }
}

%custom-selection {
    &::selection {
        @include active-invert();
    }
    caret-color: $color-primary;
}

%input-box {
    @extend %halo, %form-font, %custom-selection;
    appearance: none;
    -webkit-appearance: none;
    border-radius: $border-radius;
    padding: $grid-size;
    border: 1px solid $color-border-form-element;
    background: $color-background;
    color: $color-foreground;
    box-sizing: border-box;
}

%input-text {
    @extend %input-box;
}

%label {
    @extend %form-font;
}

@mixin with-dropdown-arrow() {
    background-image: $url-data-image-dropdown-arrow !important;
    background-repeat: no-repeat;
    background-position: right $grid-size top $grid-size;
    background-size: $grid-size * 3;
    padding-right: $grid-size * 4;

    &:hover {
        background-image: $url-hover-data-image-dropdown-arrow !important;
    }

    &:active {
        background-image: $url-pressed-data-image-dropdown-arrow !important;
    }

    .ag-rtl & {
        background-position: left $grid-size top $grid-size;
        padding-right: $grid-size;
        padding-left: $grid-size * 4;
    }
}

%select {
    @include with-dropdown-arrow();
    @extend %input-box;

    &::-ms-expand {
        display: none;
    }
}

%radio-button {
    @extend %halo;
    -webkit-appearance: none;
    border: 1px solid $color-border-form-element;
    border-radius: 100%;
    width: $checkbox-size;
    height: $checkbox-size;
    margin: 0;
    margin-top: -$size-font-form-element / 4;
    vertical-align: middle;
    background: $color-background;

    &::after {
        content: ' ';
        border-radius: 100%;
        background: $color-primary;
        width: 0;
        height: 0;
        display: block;
        margin-left: $checkbox-size - 8;
        margin-top: $checkbox-size - 8;
        transition: all 0.08s ease-out;
    }

    &:checked {
        // border-color: $color-primary;
        &::after {
            width: $checkbox-size - 8;
            height: $checkbox-size - 8;
            margin-left: 3px;
            margin-right: 3px;
            margin-top: 3px;
        }
    }
}

%button {
    @extend %form-font, %halo;

    appearance: none;
    -webkit-appearance: none;
    border-radius: $border-radius;
    border: 1px solid $color-primary;
    color: $color-primary;
    background: $color-background;
    font-weight: 600;
    padding: $grid-size $grid-size * 2;
    // transition: all 0.1s;

    &:hover {
        border-color: $color-primary;
        background-color: transparentize($color-primary, 0.9);
        color: $color-primary;
    }

    &:active {
        border-color: $color-primary;
        background-color: transparentize($color-primary, 0.1);
        color: $color-background;
    }
}

%reset-button {
    color: $color-form-element-secondary;
    border-color: $color-form-element-secondary;
    font-weight: 500;

    &:hover {
        border-color: $color-primary;
        background-color: transparentize($color-primary, 0.9);
        color: $color-primary;
    }

    &:active {
        border-color: $color-primary;
        background-color: transparentize($color-primary, 0.1);
        color: $color-background;
    }
}

$toggle-button-height: 18px;
$toggle-button-width: 28px;

@mixin toggle-button($color: $color-primary) {
    box-sizing: border-box;
    -webkit-appearance: none;
    width: $toggle-button-width;
    height: $toggle-button-height;
    background-color: $color-background-toggle-button;
    border-color: $color-background-toggle-button;
    border-radius: $toggle-button-height / 2;
    margin: 0;
    position: relative;

    &:focus {
        box-shadow: none;
        border-color: $color-background-toggle-button;
    }

    &:checked {
        background-color: $color;
        border-color: $color-primary;
    }

    &::before {
        box-sizing: border-box;
        height: $toggle-button-height;
        width: $toggle-button-height;
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: $toggle-button-height / 2;
        transition: left 100ms linear;
        top: -1px;
        left: -1px;
        // below resets stuff from checkbox
        visibility: visible;
        border: 1px solid $color-border-form-element;
        padding: 0;
    }

    &:checked::before {
        left: $toggle-button-width - $toggle-button-height + 1;
        border-color: $color-primary;
    }

    &::after {
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        content: none;
        line-height: 20px;
        display: block;
        text-align: right;
        padding-left: 5px;
        padding-right: 5px;
        transform: none;
        width: auto;
        height: auto;
        border: 0;
    }

    &:checked::after {
        text-align: left;
        content: ' ';
    }
}

@mixin range-track {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3px;
    background-color: $color-border-form-element;
    border-radius: $border-radius;
}

@mixin range-thumb {
    margin: 0;
    padding: 0;
    background: blue;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background: $color-background;
    border: 1px solid $color-border-primary;
    border-radius: 12px;
}

@mixin ms-fill {
}

@mixin focus-range-track {
    background: $color-primary;
}

@mixin focus-range-thumb {
    border-color: $color-primary;
    @include primary-box-shadow();
}

%range {
    -webkit-appearance: none;
    width: 100%;

    &:focus {
        outline: none;

        &::-webkit-slider-runnable-track {
            @include focus-range-track;
        }

        &::-moz-range-track {
            @include focus-range-track;
        }

        &::-ms-track {
            @include focus-range-track;
        }
        &::-ms-fill-lower {
            @include focus-range-track;
        }

        &::-ms-fill-upper {
            @include focus-range-track;
        }

        &::-webkit-slider-thumb {
            @include focus-range-thumb;
        }

        &::-ms-thumb {
            @include focus-range-thumb;
        }
        &::-moz-range-thumb {
            @include focus-range-thumb;
        }
    }

    &::-webkit-slider-runnable-track {
        @include range-track;
    }

    &::-moz-range-track {
        @include range-track;
    }

    &::-ms-track {
        @include range-track;
    }

    &::-webkit-slider-thumb {
        @include range-thumb;
        transform: translateY(-4px);
    }

    &::-ms-thumb {
        @include range-thumb;
        height: 8.4px;
    }
    &::-moz-range-thumb {
        @include range-thumb;
    }

    &::-ms-fill-lower {
        @include ms-fill;
    }
    &::-ms-fill-upper {
        @include ms-fill;
    }
}
