.ag-basic .ag-cell {
    padding-top: 2px;
    padding-bottom: 2px;
}

.cell-act {
    background: rgba(255, 0, 0, 0.1);
}

.cell-bud {
    background: rgba(0, 255, 0, 0.1);
}

.cell-figure {
    text-align: right;
}
