.ag-styled-root {
    display: contents;
    line-height: normal;
    cursor: default;
    white-space: normal;
    -webkit-font-smoothing: antialiased;
    font-family: var(--ag-font-family);
    font-size: var(--ag-font-size);
    font-weight: var(--ag-font-weight);
    color-scheme: var(--ag-browser-color-scheme);
    color: var(--ag-text-color);

    --ag-indentation-level: 0;

    /* We use this to hide focus outlines when we are rendering a more attractive box
       shadow, but forced colour mode hides hides box shadows and requires outlines. */
    @media not (forced-colors: active) {
        --ag-internal-accessible-no-outline: none;
    }
}

/* TODO scoped to ag-toolbar for minor release, should make global in v37.0 */
:where(.ag-toolbar) .ag-react-container:where(:not(.ag-react-wrapper-block)) {
    display: contents;
}
