.example-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#myGrid {
    flex: 1 1 0px;
    width: 100%;
}

.example-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
}

/** Add widths to avoid pagination controls changing size when the number of digits changes, i.e [1] -> [500] **/
.ag-paging-description {
    width: 160px;
    text-align: center;
}

/** Add widths to avoid pagination controls changing size when the number of digits changes, i.e [1] -> [500] **/
.ag-paging-row-summary-panel {
    width: 200px;
    text-align: center;
}
