@use "../../design-system/" as *;

.codeViewer {
    --files-min-width: 10em;
    --mobile-header-height: #{$size-4};

    height: 100%;
    container-type: inline-size;
}

.inner {
    display: flex;
    min-width: 100%;
    height: 100%;
    transition: transform 0.33s ease-in-out, min-width 0.33s ease-in-out;

    @container (width < 640px) {
        height: calc(100% - var(--mobile-header-height));

        .hideFiles & {
            transform: translateX(calc(var(--files-min-width) * -1));
            min-width: calc(100% + var(--files-min-width));
        }
    }
}

.mobileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 $size-2;
    height: var(--mobile-header-height);
    padding: 0 $size-2;
    border-bottom: 2px solid var(--bright-blue-gray);
    overflow-x: auto;
    overflow-y: hidden;

    @container (width > 640px) {
        display: none;
    }

    button,
    span {
        flex-shrink: 0;
    }

    svg {
        --icon-size: 1.125em;

        position: relative;
        margin-left: $size-half;
        bottom: 0.125em;
    }
}

.hidden {
    display: none;
}

.files {
    position: relative;
    flex-shrink: 0;
    min-width: var(--files-min-width);
    overflow-y: auto;
    overflow-x: hidden;
    padding: $size-1 0 $size-1 $size-1;
    color: var(--secondary-text-color);
    box-shadow: inset -2px 0 0 0 var(--bright-blue-gray);

    @container (width < 640px) {
        width: var(--files-min-width);
    }

    h4 {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: $size-half + 2px;
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-normal);

        &:not(:first-child) {
            margin-top: $size-5;
        }
    }
}

.file {
    --file-border-color: transparent;

    position: relative;
    width: 100%;
    padding: 0 $size-2 2px $size-half;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 2px solid var(--file-border-color);
    border-left: 2px solid var(--file-border-color);
    border-bottom: 2px solid var(--file-border-color);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    transition: color $default-transition-timing, background-color $default-transition-timing,
        border-color $default-transition-timing;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: var(--border-radius);
        height: var(--border-radius);
        right: 0;
        border-right: 2px solid var(--bright-blue-gray);
        opacity: 0;
        transition: opacity $default-transition-timing;
    }

    &::before {
        top: -4px;
        border-bottom-right-radius: var(--border-radius);
        border-bottom: 2px solid var(--bright-blue-gray);
        box-shadow: 2px 2px 0 0 var(--background-100);
    }

    &::after {
        bottom: -4px;
        border-top-right-radius: var(--border-radius);
        border-top: 2px solid var(--bright-blue-gray);
        box-shadow: 2px -2px 0 0 var(--background-100);
    }

    &.isActive {
        --file-border-color: var(--bright-blue-gray);

        color: var(--text-color);
        background-color: var(--background-100);

        &::before,
        &::after {
            opacity: 1;
        }
    }
}

.code {
    flex-grow: 1;
    overflow: hidden;

    > div {
        height: 100%;
    }

    pre {
        height: 100%;
        margin-bottom: 0;
        border-radius: 0;
        border: none;
    }
}
