@use "../../design-system/" as *;

.codeViewer {
    display: flex;
    height: 100%;
}

.hidden {
    display: none;
}

.files {
    position: relative;
    flex-shrink: 0;
    min-width: 10rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: $size-1 0 $size-1 $size-1;
    color: var(--secondary-text-color);
    box-shadow: inset -2px 0 0 0 var(--bright-blue-gray);

    h4 {
        margin-top: 0 !important; // !important for .ag-styles specificity
        margin-bottom: 0 !important; // !important for .ag-styles specificity
        padding-left: $size-half + 2px !important; // !important for .ag-styles specificity
        font-size: var(--font-size-small) !important; // !important for .ag-styles specificity
        font-weight: var(--font-weight-normal) !important; // !important for .ag-styles specificity

        &:not(:first-child) {
            margin-top: $size-5 !important; // !important for .ag-styles specificity
        }
    }
}

.file {
    --file-border-color: transparent;

    position: relative;
    width: 100%;
    padding: 0 $size-2 2px $size-half !important; // !important for .ag-styles specificity
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold) !important; // !important for .ag-styles specificity
    border-top: 2px solid var(--file-border-color) !important; // !important for .ag-styles specificity
    border-left: 2px solid var(--file-border-color) !important; // !important for .ag-styles specificity
    border-bottom: 2px solid var(--file-border-color) !important; // !important for .ag-styles specificity
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    transition: color $default-transition-timing, background-color $default-transition-timing,
        border-color $default-transition-timing;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: var(--border-radius);
        height: var(--border-radius);
        right: 0;
        border-right: 2px solid var(--bright-blue-gray);
        opacity: 0;
        transition: opacity $default-transition-timing;
    }

    &::before {
        top: -4px;
        border-bottom-right-radius: var(--border-radius);
        border-bottom: 2px solid var(--bright-blue-gray);
        box-shadow: 2px 2px 0 0 var(--ghost-blue);
    }

    &::after {
        bottom: -4px;
        border-top-right-radius: var(--border-radius);
        border-top: 2px solid var(--bright-blue-gray);
        box-shadow: 2px -2px 0 0 var(--ghost-blue);
    }

    &.isActive {
        --file-border-color: var(--bright-blue-gray);

        color: var(--text-color) !important; // !important for .ag-styles specificity
        background-color: var(--ghost-blue) !important; // !important for .ag-styles specificity

        &::before,
        &::after {
            opacity: 1;
        }
    }
}

.code {
    width: 100%;
    overflow: auto;

    > div {
        height: 100%;
    }

    pre {
        height: 100%;
        border: none !important; // !important for .ag-styles specificity
        border-radius: 0 !important; // !important for .ag-styles specificity
        margin-bottom: 0 !important; // !important for .ag-styles specificity
    }
}
