@use "../../design-system/" as *;

.codeViewer {
    --files-min-width: 10em;
    --mobile-header-height: #{$size-4};

    height: 100%;
    container-type: inline-size;
    border: 1px solid var(--example-border-color);
    border-radius: $size-1;
    overflow: hidden;
}

.inner {
    display: flex;
    min-width: 100%;
    height: 100%;
    transition: transform 0.33s ease-in-out, min-width 0.33s ease-in-out;

    @container (width < 640px) {
        height: calc(100% - var(--mobile-header-height));

        .hideFiles & {
            transform: translateX(calc(var(--files-min-width) * -1));
            min-width: calc(100% + var(--files-min-width));
        }
    }
}

.mobileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 $size-2;
    height: var(--mobile-header-height);
    padding: 0 $size-2;
    border-bottom: 1px solid var(--secondary-border-color);
    overflow-x: auto;
    overflow-y: hidden;

    @container (width > 640px) {
        display: none;
    }

    button:not([class^="ag-"]),
    span {
        flex-shrink: 0;
    }

    svg {
        --icon-size: 1.125em;

        position: relative;
        margin-left: $size-half;
        bottom: 0.125em;
    }
}

.hidden {
    display: none;
}

.files {
    position: relative;
    flex-shrink: 0;
    min-width: var(--files-min-width);
    overflow-y: auto;
    overflow-x: hidden;
    padding: $size-1 0 $size-1 $size-1;
    color: var(--secondary-text-color);
    box-shadow: inset -1px 0 0 0 var(--example-border-color);

    @container (width < 640px) {
        width: var(--files-min-width);
    }

    h4 {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: $size-half + 2px;
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-normal);

        &:not(:first-child) {
            margin-top: $size-5;
        }
    }
}

.file {
    --file-border-color: transparent;

    width: 100%;
    padding: 0 $size-2 2px $size-half;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 1px solid var(--file-border-color);
    border-left: 1px solid var(--file-border-color);
    border-bottom: 1px solid var(--file-border-color);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    transition: color $default-transition-timing, background-color $default-transition-timing,
        border-color $default-transition-timing;

    &:focus-visible {
        border-color: var(--primary-300);

        #{$darkmode-selector} & {
            border-color: var(--primary-200);
            background-color: #121f29;
        }
    }

    &.isActive {
        --file-border-color: var(--example-border-color);

        color: var(--text-color);
        background-color: var(--default-background-color);

        #{$darkmode-selector} & {
            background-color: #121f29;
        }
    }
}

.code {
    flex-grow: 1;
    overflow: hidden;

    > div {
        height: 100%;
    }

    pre:global(.code) {
        height: 100%;
        margin-bottom: 0;
        border-radius: 0;
        border: none !important;
    }

    pre > code {
        border-radius: 0;
        border: none !important;
    }
}
