@use "../../design-system/" as *;

.exampleOuter {
    --example-border-color: color-mix(in srgb, var(--secondary-border-color), var(--border-color));

    margin-bottom: $size-2;

    #{$darkmode-selector} & {
        --example-border-color: color-mix(in srgb, var(--default-background-color), white 10%);
    }
}

.tabsContainer {
    container-type: inline-size;
}

.header {
    display: flex;
    margin-top: $size-1;
}

.tabsNavList {
    border: 1px solid var(--example-border-color);
    border-radius: $size-1;
    padding: 0;
    overflow: hidden;

    li {
        padding: 0 $size-2;
        border-radius: $size-half;
        transition: background-color .25s ease-in-out;
    }

    li:global(.active) {
        background-color: var(--background-300);

        #{$darkmode-selector} & {
            background-color: #202A34;
        }
    }

    button {
        padding: 8px 4px;
    }
}

.externalLinks {
    display: flex;
    align-items: center;
    gap: $size-2;
    flex-shrink: 0;
    margin-left: auto;

    li {
        margin-bottom: 0.125em !important;
    }

    @container (max-width: 780px) {
        :global(.verbs) {
            display: none;
        }
    }
}

.importInfoIcon {
    margin-right: -$size-half;

    &:hover svg {
        opacity: 1;
    }

    svg {
        --text-color: var(--secondary-text-color);

        opacity: 0.5;
        transition: opacity $default-transition-timing;
    }
}

:global(.tabs-content).content {
    overflow: auto;
    padding: 0;
}
