@use "../../design-system/" as *;

.tabsContainer {
    container-type: inline-size;
    margin-bottom: $size-2;
}

.externalLinks {
    display: flex;
    align-items: center;
    gap: $size-2;
    flex-shrink: 0;
    margin-left: auto;
    padding-right: $size-2;

    li {
        margin-bottom: 0.125em !important;
    }
}

.importInfoIcon {
    margin-right: -$size-half;

    &:hover svg {
        opacity: 1;
    }

    svg {
        --text-color: var(--secondary-text-color);

        opacity: 0.5;
        transition: opacity $default-transition-timing;
    }
}

:global(.tabs-content).content {
    overflow: auto;
    padding: 0;
}
