.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  list-style: none;
  justify-content: center;
  margin: 18px auto;
  padding-left: 15px;
  padding-right: 15px;
  gap: 50px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 54px;
  line-height: 63px;
  letter-spacing: -0.025em;
  margin: 0;
  text-align: center;

  color: #212529;
}