.test-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.test-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
}

.ag-row {
    border-color: #99999966 !important;
}
.ag-row-level-0 {
    background-color: transparent !important;
}
.ag-row-level-1 {
    background-color: #99999944 !important;
}
.ag-row-level-2 {
    background-color: #99999922 !important;
}
.legend-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid darkgrey;
}
.legend-label {
    position: relative;
    top: -5px;
    margin-right: 20px;
}
