@import "../vars/ag-theme-base-vars";
@import '../../mixins/ag-theme-mixins';
@import "./parts/reset";
@import "./parts/grid-layout";
@import "./parts/grid-borders";
@import "./parts/menu";
@import "./parts/sidebar";
@import "./parts/filter-tool-panel";
@import "./parts/columns-tool-panel";
@import "./parts/widgets";
@import "./parts/header";
@import "./parts/footer";
@import "./parts/column-drop";
@import "./parts/charts";

@mixin ag-grid-theme() {
    -webkit-font-smoothing: antialiased;
    color: $ag-foreground-color;
    font-family: $ag-font-family;
    font-size: $ag-font-size;
    line-height: normal;
    .ag-root-wrapper {
        background-color: $ag-background-color;
    }
    @include ag-icons-webfont();

    @include ag-theme-base-part-reset();
    @include ag-theme-base-part-widgets();
    @include ag-theme-base-part-grid-layout();
    @include ag-theme-base-part-grid-borders();
    @include ag-theme-base-part-menu();
    @include ag-theme-base-part-sidebar();
    @include ag-theme-base-part-filter-tool-panel();
    @include ag-theme-base-part-columns-tool-panel();
    @include ag-theme-base-part-header();
    @include ag-theme-base-part-footer();
    @include ag-theme-base-part-column-drop();
    @include ag-theme-base-part-charts();
}
