/* styles */

.top .ag-root-wrapper {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.bottom .ag-root-wrapper {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
