.ag-header-group-cell.ag-column-first {
    background-color: #2244CC66;
    color: white;
}

.ag-header-cell.ag-column-first {
    background-color: #2244CC44;
    color: white;
}

.ag-floating-filter.ag-column-first {
    background-color: #2244CC22;
}

.ag-header-group-cell.ag-column-last {
    background-color: #33CC3366;
}

.ag-header-cell.ag-column-last {
    background-color: #33CC3344;
}

.ag-floating-filter.ag-column-last {
    background-color: #33CC3322;
}
