.framework-selector {
    @extend .d-flex;
}

.framework-selector__option {
    @extend .p-1, .flex-grow-1, .mx-1;
    position: relative;
    background-color: theme-color(light);
    border-radius: 5px;
    height: 40px;

    &--selected {
        box-shadow: 0px 0px 5px 2px theme-color(light);
    }
}

.framework-selector img {
    height: 100%;
    max-height: 100%;
    cursor: pointer;
}
