.side-nav {
    position: fixed;
    top: 4rem;
    right: 0;
    width: 300px;
    border-left: solid 1px lighten(theme-color(secondary), 40%);
    font-size: 0.9rem;
    @extend .my-4, .mx-3, .pl-3, .list-unstyled;

    a {
        @extend .d-block, .my-2;
    }

    &__item--level-2 {
        font-weight: 500;
    }

    &__item--level-3 {
        @extend .ml-2;
    }

    &__item--level-4 {
        @extend .ml-3;
    }

    &__link {
        color: theme-color(secondary);
        text-decoration: none;

        &:hover {
            color: theme-color(primary);
            text-decoration: none;
        }
    }
}
