.title {
    clear: both;
    padding-top: 1rem;
}

.chartNavigation {
    padding-top: 1rem;
}

.left {
    float: left;
}

.right {
    float: right;
}

// .doc-page fallout
div :global(.tabs-header) ul {
    margin-bottom: 0 !important;
}
