@use "sass:map";
@use '../design-system' as *;

.doc-page-wrapper {
    --docs-page-max-width: 68em;

    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $breakpoint-docs-nav-medium) {
        @include page-horizontal-margins();
    }

    @media screen and (min-width: $breakpoint-docs-nav-medium) and (max-width: $breakpoint-docs-nav-large) {
        padding-right: var(--horizontal-margin);
    }

    @media screen and (min-width: $breakpoint-docs-nav-extra-large) {
        --docs-page-max-width: 74em;
    }
}

%enterprise-icon {
    display: inline-block;
    background-image: url('../images/enterprise.svg');
    text-indent: -10000px;
    background-position-y: center;
    background-repeat: no-repeat;
    content: 'e';

    #{$darkmode-selector} & {
        --text-color: var(--active-color);
        }
}

.doc-page {
    flex: 1 1 0px;
    min-width: 0px;
    padding-top: $size-4 + $size-half;
    padding-bottom: $size-7;

    @media screen and (min-width: $breakpoint-docs-nav-large) {
        padding-right: $size-6;
        padding-left: $size-3;
        max-width: var(--docs-page-max-width);
    }

    &.noSideMenu {
        @media screen and (min-width: $breakpoint-docs-nav-large) {
            padding-right: $horizontal-margin;
            max-width: none;
        }

        @media screen and (min-width: 1600px) {
            padding-right: calc(50vw - $max-page-width / 2);
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &:hover :global(.docs-header-icon) {
            opacity: 0.5;
        }
    }

    :global(.docs-header-icon) {
        position: relative;
        padding-left: 0;
        margin-left: $size-1;
        font-size: inherit;
        opacity: 0;
        transition: opacity 0.33s ease-in-out;

        &:hover {
            opacity: 1 !important;
        }

        svg {
            position: relative;
            width: 0.85em;
            height: 0.85em;
            top: -0.1em;
            visibility: visible;
            fill: var(--link-color);
        }
    }

    enterprise-icon::after {
        @extend %enterprise-icon;

        #{$darkmode-selector} & {
            --text-color: var(--active-color);
            }
        

        width: 1rem;
        margin-left: 0.25rem;
    }

    ul li > p {
        margin-bottom: 0.25rem;
    }

    :global(.alert) {
        margin-bottom: $size-2;
    }
}

.docsPageHeader {
    position: relative;
}

.docsPageTitle {
    margin-bottom: $size-1;

    @media screen and (min-width: $breakpoint-docs-search-medium) {
    }

    @media screen and (min-width: $breakpoint-docs-nav-medium) {
        line-height: var(--line-height-ultra-tight);
    }

    > span {
        margin-bottom: $size-1;
    }
}

.pageTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.pageTitleGroup {
    display: flex;
    flex-direction: column;
}

.headerFramework {
    display: block;
    font-size: var(--font-size-extra-large);
    font-weight: var(--font-weight-normal);
    color: var(--secondary-text-color);
    padding-bottom: 6px;
}

.enterpriseLabel {
    display: inline-block;
    position: relative;
    bottom: 0.05em;
    padding-left: $size-1;
    font-size: var(--font-size-extra-large);
    font-weight: var(--font-weight-normal);
    color: var(--secondary-text-color);

    @media screen and (min-width: $breakpoint-docs-search-medium) {
        position: absolute;
        top: 2.25em;
        right: -2px;
        bottom: auto;
        padding-left: 0;
    }

    @media screen and (min-width: $max-page-width) {
        top: 1.8em;
    }

    :global(.icon) {
        --icon-size: 1.25em;
        --text-color: var(--enterprise-icon-color) ;

        #{$darkmode-selector} & {
            --text-color: #3893f9;
            }

        position: relative;
        margin-left: $size-half;
        top: -0.1em;
    }
}

// Align two column markdown tables
.pageSections > div > table {
    table-layout: fixed;
}

// Hack to target "intro" section of docs page
.pageSections > div > p:first-child {
    --font-size-extra-large: #{$font-size-extra-large};

    font-size: var(--font-size-extra-large);
    margin-bottom: $size-4;

    code {
        font-size: 0.8em;
    }
}

// Hack to target markdown images and not images within components
.pageSections > div > div *:not([class]) img {
    max-width: 100%;
}

.pageSections > div {
    > h2 {
        margin-top: $size-6;
    }

    > h3,
    > h4 {
        margin-top: $size-5;
    }

    p,
    > ul,
    > ol,
    > table,
    > pre {
        font-size: var(--font-size-medium);
    }

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    > p,
    > ul,
    > ol,
    > table,
    > hr {
        @media screen and (min-width: $max-page-width) {
            @include font-size-responsive();
        }
    }
}
