.docs-home {
    composes: container-lg px-0 from global;

    margin-left: 0;

    @media (min-width: 2075px) {
        margin-left: calc((100% - 300px) / 2 - 730px);
    }

    h2 {
        background-color: $grey-2;
        color: $white;
    }

    @include media-breakpoint-down(md) {
        h2 {
            font-size: 1.5rem;
        }
    }

    &__getting-started {
        text-align: left;

        &__title {
            composes: mb-2 p-2 from global;
            font-size: 2.5rem;
            font-weight: 400;
            text-align: left;
        }

        &__row {
            composes: d-flex ml-3 mb-2 from global;
            height: 9.5rem;
        }

        &__item_pane {
            display: flex;
            flex-grow: 1;
        }

        &__item {
            composes: d-flex flex-column justify-content-center align-items-center mr-3 p-2 from global;
            background: #002f61;
            border-radius: 5px;
        }

        &__item_logo {
            composes: p-2 from global;
            position: relative;
            width: 7.5rem;
            height: 7.5rem;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__item_label {
            text-align: center;
            a {
                color: white;
            }
        }
    }
}
