@use '../design-system' as *;

.docsHome {
    margin-bottom: $size-7;

    @media screen and (max-width: $breakpoint-docs-nav-medium) {
        @include page-horizontal-margins();
    }

    @media screen and (min-width: $breakpoint-docs-nav-medium) {
        padding-right: max(var(--horizontal-margin), calc(50vw - var(--max-page-width) / 2));
    }
}

/**
    Layout
*/

.section {
    margin-top: $size-3;
}

.sectionInner {
    display: flex;
    flex-wrap: wrap;
    gap: $size-1;

    @media screen and (min-width: $breakpoint-docs-home-small) {
        gap: $size-2;
    }
}

.gettingStartedSection .sectionInner {
    line-height: var(--line-height-tight);

    @media screen and (max-width: $breakpoint-docs-home-small) {
        gap: $size-2;

        >a {
            width: calc(50% - $size-2 / 2);
        }
    }
}

/**
    Card
*/

.gridContainer {
    display: grid;
    row-gap: 25px;
}

.cardGroup {
    display: grid;
    gap: 25px;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    @media (max-width: $breakpoint-docs-home-small) {
        grid-auto-flow: row;
        /* Change to a single column layout on small screens */
    }
}

.card {
    background: var(--neutral-200);
    border-radius: 12px;
    padding: 14px;
    display: grid;
}

.cardTransparent:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.cardTransparent {
    background: transparent;
    padding: 14px;
    display: grid;
}

.cardOutline {
    border: 2px solid var(--neutral-200);
    border-radius: 12px;
    padding: 12px;
}

.cardTitle {
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
}

.cardTitleMiddle {
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.cardIcon {
    align-self: center;
    margin-left: auto;
}

.cardImage {
    margin-bottom: 12px;
}

.cardDate {
    align-self: center;
    margin-left: auto;
}

.cardDivider {
    margin: 8px 4px 8px 4px;
    height: 0.5px !important;
    background-color: var(--neutral-300);
    height: 2px;
}

.cardLink {
    font-weight: 700;
    align-self: flex-end;
    margin-left: auto;
    margin: 12px 0px 0px auto;
}

.socialIconsContainer {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.socialIcon {
    margin: 12px;
    max-height: 52px;
}

/**
Tabs 
*/


.tab {
    padding: '15px';
    cursor: 'pointer';
    transition: 'background-color 0.3s';
}

/*
*/

.timelineContainer {
    display: flex;
    flex-wrap: wrap;
    /* Allow content to wrap to the next line */
}

.timelineColumn {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin: 5px;
    /* Add margin for spacing between columns */
}

/* Customize styles as needed */
.column:nth-child(odd) {
    background-color: #f0f0f0;
}

/* New row styles */
.newRow {
    flex-basis: 100%;
    /* Take up the full width of the container */
}

.newColumn {
    padding: 6px;
    text-align: center;
    margin: 5px;
    /* Add margin for spacing */
}