
@mixin ag-theme-base-part-column-drop {
    
    .ag-column-drop-horizontal {
        background-color: $ag-panel-background-color;
        height: $ag-row-height;
        @include ag-grid-border(bottom);

        .ag-icon-small-left,
        .ag-icon-small-right {
            margin: 0 $ag-grid-size;
            opacity: $ag-secondary-foreground-color-opacity;
        }

        .ag-column-drop-empty-message {
            opacity: $ag-disabled-foreground-color-opacity;
        }
    }

    @include ag-auto-rtl(".ag-column-drop-horizontal", (
        padding-left: $ag-cell-horizontal-padding
    ));

    @include ag-auto-rtl(".ag-column-drop-horizontal .ag-column-drop-icon", (
        margin-right: $ag-cell-horizontal-padding
    ));

    .ag-column-drop-cell {
        background: $ag-chip-background-color;
        border-radius: $ag-grid-size * 4;
        min-height: $ag-grid-size * 4;
        padding: 0 $ag-grid-size / 2;

        .ag-column-drop-cell-text {
            margin: 0 $ag-grid-size;
        }

        .ag-column-drop-cell-button {
            min-width: $ag-grid-size * 4;

            margin: 0 $ag-grid-size / 2;
            opacity: $ag-secondary-foreground-color-opacity;

            &:hover {
                opacity: $ag-foreground-opacity;
            }
        }

        .ag-column-drag {
            margin-left: $ag-grid-size * 2;
        }
    }

    .ag-column-drop-vertical {
        padding-top: $ag-grid-size * 2;
        padding-bottom: $ag-grid-size * 2;

        .ag-column-drop-cell {
            margin-top: $ag-grid-size;
            margin-left: $ag-grid-size;
            margin-top: $ag-grid-size;
        }
    }
    

    .ag-select-agg-func-popup {
        @include ag-card();

        background: $ag-background-color;
        height: $ag-grid-size * 5 * 3.5;
        padding: 0;

        .ag-virtual-list-item {
            cursor: default;
            line-height: $ag-grid-size * 5;
            padding-left: $ag-grid-size * 2;
        }

        .ag-virtual-list-item:hover {
            background-color: $ag-menu-option-active-color;
        }
    }
}
