
@mixin ag-theme-base-part-columns-tool-panel {
    
    .ag-pivot-mode-panel {
        height: $ag-header-height;
        display: flex;
    }

    .ag-pivot-mode-select {
        display: flex;
        align-items: center;

        @include ag-theme-rtl(( margin-left: $ag-widget-container-horizontal-padding ));
    }
    
    .ag-column-select-header {
        height: $ag-header-height;
        align-items: center;
        padding: 0 $ag-widget-container-horizontal-padding;

        @include ag-border(secondary, bottom);
    }
    
    .ag-column-panel-column-select {
        @include ag-border(secondary, (bottom, top));
    }

    .ag-column-group-icons,
    .ag-column-select-header-icon {
        color: $ag-secondary-foreground-color;
    }
}