
@mixin ag-theme-base-part-columns-tool-panel {
    
    .ag-pivot-mode-panel {
        height: $ag-header-height;
        display: flex;
    }

    .ag-pivot-mode-select {
        display: flex;
        align-items: center;
        margin-left: $ag-grid-size;

        @include ag-theme-rtl(( margin-left: $ag-grid-size ));
    }
    
    .ag-column-select-header {
        height: $ag-header-height;
        align-items: center;
    }
    
    .ag-column-panel-column-select {
        @include ag-border(secondary, (bottom, top));
    }

    .ag-column-select-header-filter-wrapper {
        margin-left: $ag-grid-size;
        margin-right: $ag-grid-size;
    }

    .ag-column-group-icons,
    .ag-column-select-header-icon {
        color: $ag-secondary-foreground-color;
    }
}