
@mixin ag-theme-base-part-grid-borders {

    // TODO refactor the code behind selections and borders so that we don't need these complicated selectors
    //      while doing that, consider improving the look and feel. Borders and selections don't overlap well
    //      because theyre' based on flat colours. If we rendered borders using semi-transparent overlays
    //      whenthen they would combine over whatever background colour they're above

    .ag-cell {
        @include ag-theme-rtl(( border-right: $ag-cell-horizontal-border ));
    }

    .ag-ltr {
        .ag-cell:not(.ag-cell-focus),
        .ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell),
        .ag-root:not(.ag-has-focus) .ag-cell {
            &.ag-cell-first-right-pinned:not(.ag-cell-range-left) {
                border-left: 1px solid $ag-border-color;
            }
            &.ag-cell-last-left-pinned:not(.ag-cell-range-right) {
                border-right: 1px solid $ag-border-color;
            }
        }
    }

    .ag-rtl {
        .ag-cell:not(.ag-cell-focus),
        .ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell),
        .ag-root:not(.ag-has-focus) .ag-cell {
            &.ag-cell-first-right-pinned:not(.ag-cell-range-left) {
                border-left: 1px solid $ag-border-color;
            }
            &.ag-cell-last-left-pinned:not(.ag-cell-range-right) {
                border-right: 1px solid $ag-border-color;
            }
        }
    }
    
    .ag-row-selected {
        background-color: $ag-selected-color;
    }

    .ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell) {
        border: 1px solid transparent;
        &.ag-cell-range-top {
            border-top-color: $ag-primary-color;
        }
        &.ag-cell-range-right {
            border-right-color: $ag-primary-color;
        }
        &.ag-cell-range-bottom {
            border-bottom-color: $ag-primary-color;
        }
        &.ag-cell-range-left {
            border-left-color: $ag-primary-color;
        }
    }

    // we do not want to color the range color when the cell is also focused
    .ag-cell-range-selected:not(.ag-cell-focus) {
        background-color: $ag-range-selection-background-color;
        &.ag-cell-range-chart {
            background-color: $ag-range-selection-chart-background-color;
        }

        &.ag-cell-range-chart.ag-cell-range-chart-category {
            background-color: $ag-range-selection-chart-category-background-color;
        }
    }

    .ag-cell-range-selected-1:not(.ag-cell-focus) {
        background-color: $ag-range-selected-color-1;
    }

    .ag-cell-range-selected-2:not(.ag-cell-focus) {
        background-color: $ag-range-selected-color-2;
    }

    .ag-cell-range-selected-3:not(.ag-cell-focus) {
        background-color: $ag-range-selected-color-3;
    }

    .ag-cell-range-selected-4:not(.ag-cell-focus) {
        background-color: $ag-range-selected-color-4;
    }

    .ag-ltr,
    .ag-rtl {
        .ag-selection-fill-top {
            border-top: 1px dashed $ag-primary-color;
            &.ag-cell.ag-cell-range-selected {
                border-top: 1px dashed darken($ag-border-color, 20%);
            }
        }

        .ag-selection-fill-right {
            border-right: 1px dashed $ag-primary-color;
            &.ag-cell.ag-cell-range-selected {
                border-right: 1px dashed darken($ag-border-color, 20%);
            }
        }

        .ag-selection-fill-bottom {
            border-bottom: 1px dashed $ag-primary-color;
            &.ag-cell.ag-cell-range-selected {
                border-bottom: 1px dashed darken($ag-border-color, 20%);
            }
        }

        .ag-selection-fill-left {
            border-left: 1px dashed $ag-primary-color;
            &.ag-cell.ag-cell-range-selected {
                border-left: 1px dashed darken($ag-border-color, 20%);
            }
        }
    }

    %selection-handle {
        position: absolute;
        width: 6px;
        height: 6px;
        bottom: -1px;
        right: -1px;
        background-color: $ag-primary-color;
    }

    .ag-fill-handle {
        @extend %selection-handle;
        cursor: cell;
    }

    .ag-range-handle {
        @extend %selection-handle;
        cursor: nwse-resize;
    }
}
