
@mixin ag-theme-base-part-header {
    
    .ag-header {
        background-color: $ag-header-background-color;
        border-bottom: 1px solid $ag-border-color;
    }
    
    .ag-header-row {
        color: $ag-header-foreground-color;
        font-weight: $ag-secondary-font-weight;
        font-size: $ag-secondary-font-size;
        font-family: $ag-secondary-font-family;
    }

    .ag-pinned-right-header {
        border-left: 1px solid $ag-border-color;
    }

    .ag-pinned-left-header {
        border-right: 1px solid $ag-border-color;
    }

    .ag-header-row {
        border: none;
        height: $ag-header-height;
    }

    .ag-header-label-icon {
        margin-left: $ag-grid-size;
    }

    .ag-header-cell,
    .ag-header-group-cell {
        padding-left: $ag-cell-horizontal-padding;
        padding-right: $ag-cell-horizontal-padding;
        
        &.ag-header-cell-moving {
            background-color: $ag-header-cell-moving-background-color;
        }
    }

    .ag-header-icon {
        color: $ag-secondary-foreground-color;
    }

    .ag-header-expand-icon {
        @include ag-theme-rtl(( padding-left: 4px ));
    }

    .ag-header-row:not(:first-child) {
        .ag-header-cell,
        .ag-header-group-cell.ag-header-group-cell-with-group {
            border-top: solid 1px $ag-border-color;
        }
    }

    // This logic with :not(.ag-column-resizing) is to prevent a mouseover effect
    // being applied to the adjacent cell as the user resizes a cell, because
    // during a resize, the mouse will momentarily move over the neighbouring cell
    .ag-header-group-cell:not(.ag-column-resizing) + .ag-header-group-cell,
    .ag-header-cell:not(.ag-column-resizing) + .ag-header-cell,
    .ag-header-group-cell:first-of-type,
    .ag-header-cell:first-of-type {
        @if ($ag-header-cell-hover-background-color and $ag-header-background-color != $ag-header-cell-hover-background-color) {
            &:hover,
            &.ag-column-resizing {
                background-color: $ag-header-cell-hover-background-color;
            }
        }
    }
    
    @if $ag-header-column-separator {
        .ag-header-cell::after,
        .ag-header-group-cell::after {
            content: "";
            position: absolute;
            z-index: 1;
            display: block;
            width: $ag-header-column-separator-width;
            height: $ag-header-column-separator-height;
            background-color: $ag-header-column-separator-color;

            @include ag-theme-rtl(( right: 0 ));
        }
    }
    
    @if $ag-header-column-resize-handle {
        .ag-header-cell-resize {
            display: flex;
            align-items: center;
        }

        .ag-header-cell-resize::after {
            content: "";
            position: absolute;
            z-index: 1;
            display: block;
            left: calc(50% - #{$ag-header-column-resize-handle-width / 2});
            width: $ag-header-column-resize-handle-width;
            height: $ag-header-column-resize-handle-height;
            background-color: $ag-header-column-resize-handle-color;
        }
    }

    .ag-header-select-all {
        @include ag-theme-rtl(( margin-right: $ag-cell-horizontal-padding ));
    }

    .ag-dnd-ghost {
        @include ag-card();

        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 3px;
        position: absolute;
        text-overflow: ellipsis;
        user-select: none;
        z-index: 10;
        @include ag-grid-border($color: $ag-secondary-border-color);
        color: $ag-secondary-foreground-color;
        font-weight: $ag-secondary-font-weight;
        font-size: $ag-secondary-font-size;
        font-family: $ag-secondary-font-family;
        height: $ag-header-height !important;
        line-height: $ag-header-height;
        margin: 0;
        padding: 0 $ag-grid-size * 2;
        transform: translateY($ag-grid-size * 2);
    }

    .ag-dnd-ghost-icon {
        height: 100%;
        margin-right: $ag-grid-size;
        color: $ag-foreground-color;
    }
    
    .ag-floating-filter-button {
        @include ag-theme-rtl(( margin-left: $ag-grid-size * 3 ));
    }

    .ag-floating-filter-button-button {
        appearance: none;
        background: transparent;
        border: 0;
        height: $ag-icon-size;
        padding: 0;
        width: $ag-icon-size;
    }

    .ag-filter-loading {
        background-color: #e6e6e6;
        height: 100%;
        padding: 5px;
        position: absolute;
        top: 34px;
        width: 100%;
        z-index: 1;
    }
}
