
@mixin ag-theme-base-part-menu {

    .ag-menu {
        @include ag-card();
        padding: 0;
    }

    .ag-menu-list {
        cursor: default;
        width: 100%;
    }

    .ag-menu-option-active {
        background-color: $ag-hover-color;
    }

    .ag-menu-option-disabled {
        opacity: 0.5;
    }

    .ag-menu-option-text {
        margin-left: $ag-grid-size;
    }

    .ag-menu-option-icon {
        padding-left: $ag-grid-size;
        padding-right: $ag-grid-size;
        min-width: $ag-icon-size + $ag-grid-size * 2;
    }

    .ag-menu-option-shortcut {
        padding-left: $ag-grid-size * 2;
    }
    

    .ag-menu-separator {
        height: $ag-grid-size * 2;
    }

    .ag-menu-separator-cell:after {
        content: "";
        display: block;
        @include ag-grid-border(top, $color: $ag-secondary-border-color);
    }

    .ag-menu-option-popup-pointer {
        width: $ag-icon-size + $ag-grid-size * 2;
        text-align: center;
    }


    ////////////////////////////////////////
    // Column Filter
    ////////////////////////////////////////
    .ag-tabs-header {
        background: $ag-panel-background-color;
        min-width: 220px;
        width: 100%;
        // TODO structural style
        display: flex;
    }
    
    .ag-tab {
        border-bottom: $ag-selected-tab-underline-width solid transparent;
        // TODO structural styles
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;

        @if $ag-full-width-tabs {
            flex: 1 1 auto;
        }
        
        @if $ag-selected-tab-underline-transition-speed {
            transition: border-bottom $ag-selected-tab-underline-transition-speed;
        }
    }

    .ag-tab-selected {
        border-bottom-color: $ag-selected-tab-underline-color;
    }

    .ag-tabs-body {
        padding: $ag-grid-size / 2 0;
    }

    .ag-menu-header {
        color: $ag-secondary-foreground-color;
    }

    ////////////////////////////////////////
    // Value Set Filter
    ////////////////////////////////////////

    .ag-filter-condition-option-button {
        margin: 0 3px 0 6px;
        width: 12px;
        height: 17px;
        vertical-align: top;
    }

    .ag-filter-select,
    .ag-filter-body {
        margin-bottom: $ag-grid-size;
    }

    .ag-filter-body {
        margin-top: 0;
    }

    .ag-filter-filter {
        margin-left: $ag-grid-size;
        margin-right: $ag-grid-size;

        @include ag-theme-rtl((padding-left: $ag-grid-size));
    }

    // string filter type
    .ag-filter-select {
        margin: $ag-grid-size;
    }

    .ag-set-filter-list {
        height: $ag-virtual-item-height * 6;
    }

    .ag-set-filter-item {
        height: $ag-virtual-item-height;
    }

    .ag-set-filter-item-checkbox, .ag-set-filter-item-value {
        @include ag-theme-rtl((margin-left: 5px));
    }

    .ag-filter-header-container {
        @include ag-grid-border(bottom, $color: $ag-secondary-border-color);
        padding-bottom: $ag-grid-size / 2;
    }

    .ag-filter-apply-panel {
        // TODO structural styles
        display: flex;
        justify-content: flex-end;
        padding: $ag-grid-size;
        padding-top: $ag-grid-size * 2;
    }
    
    .ag-filter-apply-panel-button {
        line-height: 1.5;
        @if $ag-customize-buttons {
            @include ag-regular-button($ag-button-color, $ag-button-background-color, $ag-button-text-transform);
        }

        @include ag-theme-rtl((margin-left: $ag-grid-size * 2));
    }

    .ag-column-select-column-group,
    .ag-column-select-column {
        height: $ag-grid-size * 4;
    }

    .ag-column-select-checkbox,
    .ag-column-select-column-label,
    .ag-column-group-icons {
        margin-left: $ag-grid-size;
        margin-right: $ag-grid-size;
    }

    .ag-column-select-list {
        @include ag-grid-border(top, $color: $ag-secondary-border-color);
        padding-top: $ag-grid-size;
    }
}
