
@mixin ag-theme-base-part-reset {
    
    * {
        box-sizing: border-box;
        &:focus,
        *:before,
        *:after {
            outline: none;
            box-sizing: border-box;
        }
    }

    label {
        margin-bottom: 0;
    }

    ::-ms-clear {
        display: none;
    }

}
