.greenBackground {
    background-color: #b5e6b5;
}

.redFont {
    color: red;
    font-style: italic;
    text-decoration: underline;
}

.darkGreyBackground {
    background-color: #888888;
    color: #fff;
}

.notInExcel {
    color: #1b6d85;
}

#myGrid {
    width: 100%;
    height: 100%;
}