node_modules
src
.npmignore
tsconfig.json
tsconfig.lib.json
tsconfig.spec.json
tsconfig.types.json
tsconfig.types.watch.json
tsconfig.watch.json
!dist
!dist/types/src
dist/**/*.test.*
project.json
jest.config.js
*.map
