@import "../vars/ag-theme-balham-dark-vars";
@import "../../ag-theme-balham/sass/ag-theme-balham-common";

.ag-theme-balham-dark {
    @include ag-theme-balham($params);

    @include scrollbars(14px, #6b6b6b, #1c1f20, #959595);

    input,
    select {
        background-color: $odd-row-background-color;
        color: $foreground-color;
    }

    .ag-floating-filter-body input {
        border-width: 1px;
        border-style: solid;
    }

    .ag-filter-toolpanel-body {
        background-color: $background-color;
    }
}

