.ag-cell-inline-editing {
    z-index: 1;
    border-radius: var(--ag-border-radius);
    padding: 0;

    /* do not add `height` here, it breaks gridOptions.rowHeight for the cellEditor */

    .ag-cell-wrapper,
    .ag-cell-edit-wrapper,
    .ag-cell-editor,
    .ag-cell-editor .ag-wrapper,
    .ag-cell-editor input {
        height: 100%;
        width: 100%;
        line-height: normal;
    }
}

/* checkbox cell wrapper needs 100% height in its default (non-editing) state
   otherwise there's a layout shift when you edit a cell and the 100% height of
   the .ag-cell-edit-wrapper defined above kicks in */
.ag-checkbox-cell {
    height: 100%;
}

.ag-popup-editor .ag-large-text,
.ag-autocomplete-list-popup {
    border-radius: var(--ag-border-radius);
    box-shadow: var(--ag-dropdown-shadow);
    background-color: var(--ag-background-color);
    padding: 0;
}

.ag-large-text-input {
    height: auto;
    padding: var(--ag-cell-horizontal-padding);
}

.ag-rtl .ag-large-text-input textarea {
    resize: none;
}

.ag-checkbox-edit {
    padding-left: var(--ag-cell-horizontal-padding);
}
