.ag-label {
    white-space: nowrap;
    margin-right: var(--ag-spacing);
}

.ag-label-align-right {
    .ag-label {
        order: 1;
        margin-left: var(--ag-spacing);
    }

    > * {
        flex: none;
    }
}

.ag-label-align-top {
    flex-direction: column;
    align-items: flex-start;

    > * {
        align-self: stretch;
    }
}

.ag-label-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}

.ag-label-align-top .ag-label {
    margin-bottom: calc(var(--ag-spacing) * 0.5);
}
