:where([class^='ag-']) {
    box-sizing: border-box;
    outline: none;

    &:focus,
    &::after,
    &::before,
    &:focus-within {
        box-sizing: border-box;
        outline: none;
    }

    &:where(button) {
        border: none;
        padding: 0;
        margin: 0;
        background: none;
        color: inherit;
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        line-height: inherit;
        cursor: pointer;
    }

    &::-ms-clear {
        display: none;
    }
}
