.ag-tool-panel-wrapper {
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: default;
    user-select: none;
    width: var(--ag-side-bar-panel-width);
}

.ag-select-agg-func-item {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    > * {
        flex: none;
    }
}

.ag-tool-panel-horizontal-resize {
    cursor: ew-resize;
    height: 100%;
    position: absolute;
    top: 0;
    width: 5px;
    z-index: 1;
}

.ag-side-bar {
    position: relative;
}

.ag-side-bar-left .ag-tool-panel-horizontal-resize {
    right: -3px;
}

.ag-side-bar-right .ag-tool-panel-horizontal-resize {
    left: -3px;
}

.ag-side-bar {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--ag-side-bar-background-color);
}

.ag-side-bar-left {
    order: -1;
    flex-direction: row;
}

.ag-side-buttons {
    position: relative;
    width: calc(var(--ag-icon-size) + var(--ag-spacing) * 2);
}

.ag-side-button {
    &.ag-selected {
        &:not(:first-of-type) {
            border-top: solid 1px var(--ag-border-color);
        }
        border-bottom: solid 1px var(--ag-border-color);
        background-color: var(--ag-background-color);
    }
}

.ag-side-button-button {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--ag-spacing);
    align-items: center;
    white-space: nowrap;
    cursor: pointer;

    padding: calc(var(--ag-spacing) * 3) 0;
    width: 100%;

    &:focus {
        box-shadow: none;
    }
}

.ag-side-button-button:focus-visible {
    box-shadow: inset var(--ag-focus-shadow);
}

.ag-side-button-label {
    writing-mode: vertical-lr;
}

@media (max-resolution: 1.5x) {
    /* On Windows, on low res screens only, most custom fonts look awful in
         vertical-lr mode. Use "Segoe UI" in preference. In practice this is a
         Windows-only fix since most non-Windows computers don't have Segoe UI
         installed. */
    .ag-side-button-label {
        font-family: 'Segoe UI', var(--ag-font-family);
        /* ... and additionally apply a rotation to fix rendering in Firefox */
        transform: rotate(0.05deg);
    }
}

/* sidebar visually on left */
.ag-ltr .ag-side-bar-left,
.ag-rtl .ag-side-bar-right {
    border-right: var(--ag-side-panel-border);

    .ag-tool-panel-wrapper {
        /*rtl:ignore*/
        border-left: var(--ag-side-panel-border);
    }
}
/* sidebar visually on right */
.ag-rtl .ag-side-bar-left,
.ag-ltr .ag-side-bar-right {
    border-left: var(--ag-side-panel-border);

    .ag-tool-panel-wrapper {
        /*rtl:ignore*/
        border-right: var(--ag-side-panel-border);
    }
}

.ag-chart-menu-panel {
    border-left: var(--ag-side-panel-border);
}
