.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two columns of equal width */
    column-gap: 12px;
}

.leftColumn {
    grid-column: 1 / 2;
    grid-row: 1 / 4; /* Spans all three rows of the right column */
}

.rightColumn {
    grid-column: 2 / 3;
}

/* Ensure the grid container fits the content of the left column */
.gridContainer {
    align-items: start;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.horizontal {
        flex-direction: row;

        img {
            width: auto;
            max-width: 40%;
            height: auto;
            padding: 0;
        }
    }

    img {
        width: 100%; // Adjust based on your layout needs
        margin-bottom: 10px;
    }

    .minorArticleImage {
        padding: 0px 10px 20px 10px !important;
        object-fit: contain;
    }

    .content {
        padding: 0px 10px 20px 0px !important;

        h2,
        p,
        a {
            margin: 0px 0;
        }

        .rightColumnTitle {
            font-size: 18px;
        }

        .leftColumnDescription {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.6em; // Adjust based on your design
            height: 3.2em; // 2 lines of text, adjust line-height * number of lines
            margin: 5px 0; // Assuming you want to keep the original margin
        }

        .rightColumnDescription {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.6em; // Adjust based on your design
            height: 3.2em; // 3 lines of text, adjust line-height * number of lines
            margin: 5px 0; // Assuming you want to keep the original margin
        }
    }
}

.linkWrapper {
    all: unset;
    cursor: pointer;
}
