.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns in larger screens */
    grid-gap: 24px; /* Space between grid items */
    align-items: start;
}

@media (min-width: 768px) {
    /* Adjust based on your design breakpoints */
    .gridContainer {
        grid-template-columns: repeat(4, 1fr); /* Four columns for larger screens */
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff; /* Adjust based on your design */
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-xs);
    border: 1px solid var(--color-border-secondary);
    min-height: 375px; /* Set a minimum height for each card */
    overflow: hidden; /* Ensures that anything going beyond the bounds of the card, such as the image, is clipped */
}

.articleImage {
    width: 100%; /* Ensures the image covers the full width */
    height: auto; /* Maintains aspect ratio */
    margin-bottom: 0px; /* No space between image and the text content */
    object-fit: cover; /* Ensures the image covers the space; this might crop the image */
    border-top-left-radius: var(--radius-md); /* Matches the card's top-left radius */
    border-top-right-radius: var(--radius-md); /* Matches the card's top-right radius */
}

.content {
    padding: 16px; /* Adds padding to the content inside the card */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articleTitle,
.articleDescription,
.learnMoreLink {
    margin: 0px; /* Maintains existing spacing, adjust as needed */
}

.articleTitle {
    font-size: 18px; /* Adjust based on your design */
    margin-bottom: 5px; /* Spacing between title and description */
}

.articleDescription {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.6em;
    height: 4.8em; /* Adjust based on the desired number of lines */
}

.learnMoreLink {
    margin-top: 10px; /* Spacing above 'Read article' link */
    text-decoration: none;
    color: var(--color-link); /* Adjust based on your design */
}

.linkWrapper {
    all: unset;
    cursor: pointer;
}
