html {
    position: fixed;
    height: 100%;
    width: 100%;
  }
  
body {
  height: 100%;
  width: 100%;
}

.bp3-input-group {
  line-height: 25px;
}

.ag-floating-filter-body input {
  line-height: 19px;
}


.bp3-input-group .bp3-button {
  min-width: 16px;
  min-height: 16px;
}

.ag-menu .bp3-input-group .bp3-button {
  min-width: 24px;
  min-height: 24px;
}

.bp3-input-group .bp3-button svg {
  transform: scaleX(0.8) scaleY(0.8);
}

.ag-menu .bp3-input-group {
  margin: 0 4px 4px;
}

.ag-menu .bp3-input-group .bp3-button svg {
  transform: scaleX(1) scaleY(1);
}

.bp3-input:focus {
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
:focus {
  outline: none;
} 