.example-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#myGrid {
    flex: 1 1 0px;
    width: 100%;
}

.example-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.ag-row-level-0 {
    background-color: #cc222244 !important;
}
.ag-row-level-1 {
    background-color: #33cc3344 !important;
}
.ag-row-level-2 {
    background-color: #2244cc44 !important;
}
.legend-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid darkgrey;
}
.legend-label {
    position: relative;
    margin-right: 20px;
    padding-left: 0.25rem;
}
