.div-outer-div {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.small .div-outer-div {
    padding-bottom: 5px;
}

.div-percent-bar-wrapper {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    height: 100%;
}

.small .div-percent-bar-wrapper {
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 10px;
}

.div-percent-bar {
    display: flex;
    height: 100%;
}

.div-percent-value {
    position: absolute;
    padding-left: 4px;
    font-weight: bold;
    font-size: 13px;
    left: 5px;
    top: 0;
}

.small .div-percent-value {
    font-weight: 400;
    top: 10px;
}

[class^='ag-theme'][class*='dark'] {
    @include scrollbars(15px, #6b6b6b, #1c1f20, #959595, #424242);
}
