.example-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.example-header {
    margin-bottom: 8px;
    color: var(--ag-secondary-foreground-color);
}

#myGrid {
    flex: 1 1 0;
}
