.example-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#myGrid {
    flex: 1 1 0px;
    width: 100%;
}

.example-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}

.example-wrapper td.labels {
    width: 200px;
}

.example-wrapper td.buttons-container {
    width: 200px;
}

.example-wrapper td.buttons-container button:not(#myGrid button, #myChart button, button[class*='ag-']) {
    padding: 0.4em;
    margin: 0 0.2em 0 0;
}
