html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.container__left {
    width: 45%;
}

.container__options {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.container__right {
    flex-direction: column;
    width: 55%;
}

.container__chart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.container__code {
    overflow: auto;
    height: 50%;
}