html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container__body {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.container__head {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container__left {
    flex-grow: 1;
}

.container__options {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.container__right {
    flex-direction: column;
    width: 50%;
}

.container__chart {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.container__chart .chart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100;
    padding: 10px;
}

.container__chart .ag-chart-wrapper {
    border: 1px solid #aaa;
    box-sizing: border-box;
    overflow: hidden;
}

.container__code {
    margin-top: 10px;
    overflow: auto;
    height: 50%;
}