.ag-icon {
  display: block;
  speak: none;
  width: var(--ag-icon-size);
  height: var(--ag-icon-size);

  &::before {
    content: '';
    display: block;
    width: var(--ag-icon-size);
    height: var(--ag-icon-size);
    background-color: currentColor;
  }
}

.ag-disabled,
.ag-column-select-column-group-readonly,
[disabled] {
  /* TODO this is messy, should use the fact that icons now inherit color to do
  this. Also some compoennts set the container opacity when disabled in which
  case icons don't need special treatment */
  .ag-icon {
    opacity: 0.5;
  }
}

/* TODO move this to core */
.ag-icon-grip {
  opacity: 0.7;
}
.ag-column-select-column-readonly.ag-icon-grip,
.ag-column-select-column-readonly .ag-icon-grip {
  opacity: 0.35;
}

/*
    TODO restore once we move back to inline SVG icons
  .ag-icon {
    width: var(--ag-icon-size);
    height: var(--ag-icon-size);
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: currentColor;
    stroke-width: var(--ag-icon-stroke-width);

    > * {
      vector-effect: non-scaling-stroke;
    }

    .ag-icon-grip {
      fill: currentColor;
    }
  } */
