@import '../../ag-theme-base/sass/ag-theme-base';
@import './ag-theme-alpine-mixins';

@if $ag-icon-font-family == 'agGridAlpine' {
    @font-face {
        font-family: $ag-icon-font-family;
        src: $ag-icons-data;
        font-weight: normal;
        font-style: normal;
    }
}

@mixin ag-theme-alpine() {
    @include ag-grid-theme();

    color: $ag-color-foreground;

    &.ag-popup {
        color: $ag-color-foreground;
    }

    .ag-header-cell {
        border-color: $ag-border-color;
    }

    ////////////////////////////////////////
    // filter menu
    ////////////////////////////////////////
    .ag-filter {
        .ag-filter-body-wrapper {
            padding: $ag-grid-size * 2;
            .ag-filter-select,
            .ag-filter-body,
            .ag-filter-filter {
                margin: 0;
            }

            .ag-filter-select,
            .ag-filter-body,
            .ag-filter-condition {
                &:not(:last-child) {
                    margin-bottom: $ag-grid-size * 2;
                }
            }

            .ag-filter-filter {
                @extend %input-text;
            }

            .ag-filter-select {
                @extend %select;
            }

            .ag-input-wrapper {
                overflow: visible;
            }
        }

        .ag-filter-apply-panel {
            padding: 0;
            padding-top: $ag-grid-size * 3;
            margin: $ag-grid-size * 2;
            margin-top: 0;
            border-top: 1px solid $ag-border-color;

            button {
                @extend %button;
            }

            button[ref='eClearButton'] {
                @extend %reset-button;
            }
        }

        .ag-filter-condition input[type='radio'] {
            @extend %radio-button;
        }

        .ag-filter-condition label {
            @extend %label;
            display: inline-block;
            margin: 0;
            margin-left: $ag-grid-size * 1;
        }

        .ag-native-checkbox {
            @include ag-checkbox($ag-color-primary);
        }
    }

    .ag-filter-header-container {
        margin-bottom: $ag-grid-size;
        .ag-set-filter-item {
            margin-top: $ag-grid-size;
            margin-bottom: $ag-grid-size;
        }
    }
    ////////////////////////////////////////
    // context menu and enterprise column menu
    ////////////////////////////////////////
    .ag-menu {

        .ag-menu-list {
            margin: 0;
        }
    }

    .ag-menu-list {
        font: $ag-font-chrome;
        padding: $ag-grid-size * 2;
        margin: 0;

        .ag-menu-option > span {
            padding-top: $ag-grid-size;
            padding-bottom: $ag-grid-size;
        }

        .ag-menu-option-shortcut {
            text-align: right;
            font-size: 0.7rem;
            vertical-align: super;
            opacity: 0.7;
        }
    }

    .ag-tab-header {
        min-width: 15rem;
        border-bottom: 1px solid $ag-border-color;
        justify-content: center;

        .ag-tab {
            padding: $ag-grid-size $ag-grid-size * 4;
            padding-bottom: $ag-grid-size - 2;

            .ag-icon {
                display: block;
            }
            border-bottom: 2px solid transparent;
            margin-bottom: -0px;
            transition: all 0.3s linear;
        }

        .ag-tab-selected {
            .ag-icon {
                color: $ag-color-primary;
            }

            border-bottom-color: $ag-color-primary;
        }
    }

    // resets from the main theme
    .ag-tab-body {
        padding: 0;

        .ag-menu-list {
            & > div:first-child > span {
                padding-top: $ag-grid-size;
            }
            & > div:last-child > span {
                padding-bottom: $ag-grid-size;
            }
        }
    }

    ////////////////////////////////////////
    // Popup
    ////////////////////////////////////////
    &.ag-popup > div:not(.ag-tooltip-custom) {
        @include ag-chrome-box-shadow();
        border: 1px solid $ag-secondary-border-color;
        border-radius: $ag-border-radius;
        @include ag-chrome-box-shadow();
    }

    &.ag-dnd-ghost {
        @include ag-chrome-box-shadow();
        border-radius: $ag-border-radius;
    }

    ////////////////////////////////////////
    // Selection Checkbox
    ////////////////////////////////////////
    .ag-selection-checkbox input {
        @include ag-checkbox;
    }

    ////////////////////////////////////////
    // Header Checkbox
    ////////////////////////////////////////
    .ag-checkbox {
        .ag-input-wrapper {
            overflow: visible;
        }

        input {
            @include ag-checkbox;
        }
    }

    ////////////////////////////////////////
    // Header Checkbox
    ////////////////////////////////////////
    &.ag-popup .ag-tooltip {
        font-size: $ag-tooltip-font-size;
        padding: $ag-grid-size / 2 $ag-grid-size;
    }


    ////////////////////////////////////////
    // Pinned Containers
    ////////////////////////////////////////
    .ag-pinned-left-header,
    .ag-root:not(.ag-has-focus) .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right) {
        border-right: 1px solid $ag-border-color !important;
    }

    .ag-pinned-right-header {
        border-left-color: $ag-border-color;
    }


    .ag-ltr .ag-root:not(.ag-has-focus) .ag-cell.ag-cell-first-right-pinned:not(.ag-cell-range-left) {
        border-left-color: $ag-border-color;
    }

    ////////////////////////////////////////
    // Floating Filter
    ////////////////////////////////////////
    .ag-input-wrapper input:not([type]) {
        @extend %input-text;
        border-color: $ag-color-border-form-element;
        font-size: smaller;
    }

    .ag-floating-filter-body {
        .ag-input-wrapper {
            overflow: visible;
        }
    }
    .ag-ltr .ag-floating-filter-button {
        margin-left: $ag-grid-size / 2;
    }
    .ag-floating-filter-button {
        button {
            @extend %button;
            background-position: right $ag-grid-size / 2 top $ag-grid-size / 2;
            padding: $ag-grid-size - 1;
            height: $ag-icon-size + $ag-grid-size * 2 - 2;
            width: $ag-grid-size * 5;
            border-radius: $ag-border-radius;
            border: 1px solid $ag-color-border-form-element;
            text-align: left;

            .ag-icon {
                color: $ag-color-border-form-element;
            }

            &:hover .ag-icon {
                color: $ag-color-primary;
            }

            &:active .ag-icon {
                color: $ag-color-background;
            }
        }
    }

    ////////////////////////////////////////
    // Navigation
    ////////////////////////////////////////
    .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected),
    .ag-has-focus .ag-cell-focus.ag-cell-range-single-cell,
    .ag-cell-focus.ag-cell-range-single-cell.ag-cell-range-handle {
        border: 1px solid $ag-color-primary;
    }

    .ag-cell.ag-cell-inline-editing {
        @include ag-primary-box-shadow();
        border-radius: 0;
        padding: 0;
        height: 100%;
        overflow: visible;

        // text editor
        .ag-input-wrapper .ag-cell-edit-input {
            @extend %input-text;
            border: 0;
            border-radius: 0;
            padding-left: $ag-grid-size * 3 - 1;
            padding-right: $ag-grid-size * 3 - 1;
            font: $ag-font-default;
        }

        // select editor
        .ag-cell-edit-input select {
            @extend %select;
            border: 0;
            border-radius: 0;
            padding-left: $ag-grid-size * 3 - 1;
            padding-right: $ag-grid-size * 3 - 1;
            background-position: right $ag-grid-size top $ag-row-height / 2 - 9;
            font: $ag-font-default;
        }
    }

    ////////////////////////////////////////
    // Popup editing
    ////////////////////////////////////////
    .ag-popup > div.ag-popup-editor {
        @include ag-primary-box-shadow();
        min-height: $ag-row-height;
        border-color: $ag-color-primary;
        border-radius: 0;
        padding: 0;
        overflow: visible;
        box-sizing: border-box;

        // text editor
        .ag-input-wrapper .ag-cell-edit-input,
        .ag-cell-edit-input select {
            border: 0;
            border-radius: 0;
            padding-left: $ag-grid-size * 3 - 1;
            padding-right: $ag-grid-size * 6 - 1;
            font: $ag-font-default;
            line-height: $ag-row-height - $ag-grid-size * 2 - 2;
        }

        .ag-input-wrapper .ag-cell-edit-input {
            @extend %input-text;
        }

        // select editor
        .ag-cell-edit-input select {
            @extend %select;
            background-position: right $ag-grid-size top $ag-row-height / 2 - 9;
        }

        textarea {
            @extend %custom-selection;
            border: 0;
            color: $ag-color-foreground;
            background: $ag-color-background;
            font: $ag-font-default;
            padding: $ag-grid-size * 2 $ag-grid-size * 3;
        }
    }

    ////////////////////////////////////////
    // Rich Select
    ////////////////////////////////////////
    .ag-rich-select {
        .ag-rich-select-value {
            border-bottom: 1px solid $ag-secondary-border-color;
        }

        .ag-virtual-list-item {
            height: $ag-grid-size * 5;
        }

        .ag-rich-select-row-selected {
            @include ag-active-invert;
        }
    }

    ////////////////////////////////////////
    // Column Chooser
    ////////////////////////////////////////
    .ag-column-select-panel {
        .ag-primary-cols-header-panel {
            border-top: 0;
            padding-left: $ag-grid-size * 1;
            padding-top: $ag-grid-size * 2;
            padding-bottom: $ag-grid-size * 2;
            height: auto;

            & > [ref='eExpand'] {
                margin-left: $ag-grid-size;
            }

            & > [ref='eExpand'].ag-hidden + div {
                margin-left: $ag-grid-size * 2;
            }

            .ag-checkbox {
                @include ag-checkbox($ag-color-primary);
            }

            .ag-input-wrapper {
                margin-right: $ag-grid-size * 2;
            }
        }

        .ag-primary-cols-list-panel {
            margin-left: $ag-grid-size * 2;
            margin-right: $ag-grid-size * 2;
            padding-left: 0;
        }

        .ag-primary-cols-list-panel .ag-checkbox input {
            @include ag-checkbox($ag-color-primary);
        }

        .ag-primary-cols-list-panel .ag-column-group-icons {
            margin-left: 0;
        }

        .ag-primary-cols-list-panel > div {
            height: $ag-grid-size * 5;
        }

        .ag-primary-cols-filter-wrapper.ag-input-wrapper {
            overflow: visible;
        }

        .ag-primary-cols-filter {
            @extend %input-box;
        }
    }

    ////////////////////////////////////////
    // Overlay
    ////////////////////////////////////////
    .ag-overlay-loading-center {
        @include ag-chrome-box-shadow();
        border: 1px solid $ag-border-color;
        padding: $ag-grid-size * 2 $ag-grid-size * 3;
        font: $ag-font-default;
    }

    .ag-overlay-loading-wrapper {
        background-color: transparentize($ag-color-background, 0.25);
    }

    ////////////////////////////////////////
    // Grouping
    ////////////////////////////////////////
    .ag-group-checkbox input[type='checkbox'] {
        display: inline-block;
        vertical-align: middle;
        transform: translatey(-1px);
    }


    ////////////////////////////////////////
    // Group panel
    ////////////////////////////////////////

    .ag-column-drop-horizontal {
        // Align the first pill to the header
        font: $ag-font-chrome;
        .ag-icon-group {
            margin-right: $ag-grid-size * 2;
        }
    }

    .ag-column-drop-cell {
        padding: 0;
    }

    .ag-column-drop-cell-drag-handle {
        margin-left: $ag-grid-size;
        transform: translateY(1px);
    }

    .ag-column-drop-cell-text {
        transform: translateY(-1px);
    }

    .ag-column-drop-cell-button {
        min-width: auto;
        transform: translateY(2px);
    }

    ////////////////////////////////////////
    // Status Bar
    ////////////////////////////////////////
    .ag-status-bar {
        border: 0;
        border-top: 1px solid $ag-border-color;
        font: $ag-font-chrome;
        font-size: $ag-size-font-status-bar;
        padding-left: $ag-cell-horizontal-padding;
        padding-right: $ag-cell-horizontal-padding;

        div.ag-name-value:first-child {
            margin-left: 0;
        }

        div.ag-name-value:last-child {
            margin-right: 0;
        }

        .ag-name-value-value {
            font-weight: 600;
        }
    }

    ////////////////////////////////////////
    // Side Bar
    ////////////////////////////////////////

    .ag-side-bar {
        font: $ag-font-chrome;
    }

    .ag-tool-panel-wrapper {
        background-color: $ag-color-background-alt;

        .ag-pivot-mode-select {
            margin-left: $ag-grid-size * 2;
            input {
                @include ag-toggle-button;
            }
        }
    }

    .ag-column-drop-vertical {
        padding-top: 0;

        & > div:first-child {
            background-color: $ag-color-background;
            padding: $ag-grid-size * 2 $ag-grid-size * 2;
            @include ag-grid-border(bottom, $color: $ag-secondary-border-color);
            & > span:first-child {
                margin-left: 0px;
                // display: none;
            }
        }

        .ag-column-drop-list {
            padding: $ag-grid-size;
        }

        .ag-column-drop-empty-message {
            font-weight: inherit;
            opacity: 0.5;
            border: 1px dashed $ag-border-color;
            margin: $ag-grid-size * 2;
            padding: $ag-grid-size * 2;
        }
    }

    // filter panel
    .ag-filter-panel {
        .ag-filter-body-wrapper {
            padding: $ag-grid-size * 2;
            padding-top: $ag-grid-size;
        }

        .ag-filter-apply-panel {
            margin: 0;
            margin-bottom: $ag-grid-size;
            padding-top: $ag-grid-size * 2;
            justify-content: space-evenly;
            button {
                font-size: 0.8em;
                padding: $ag-grid-size / 2 $ag-grid-size;
            }
        }

        .ag-filter-toolpanel-instance {
            font-weight: $ag-weight-font-chrome;

            .ag-filter-toolpanel-header {
                padding: $ag-grid-size $ag-grid-size * 2;
                background-color: $ag-color-background;
                border-bottom: 1px solid $ag-border-color;

                [ref='eExpand'] {
                    margin-right: $ag-grid-size;
                }
            }

            .ag-filter-air {
                border-top: 0;
            }
        }
    }

    // side buttons
    .ag-side-buttons {
        width: $ag-grid-size * 5;

        .ag-side-button {
            box-sizing: border-box;
            margin-bottom: $ag-grid-size;
            display: flex;
            align-items: center;
            transition: border-color 0.3s linear;

            button {
                background: none;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                appearance: none;
                padding: 0;
                & > div {
                    margin-left: $ag-grid-size;
                    margin-bottom: $ag-grid-size;
                }
                & > span {
                    margin-left: $ag-grid-size * 1.5;
                }
            }

            border-left: 2px solid transparent;

            &.ag-selected {
                border-color: $ag-color-primary;

                button {
                    background: none;
                    border: 0;
                    margin-left: 0;
                    color: $ag-color-primary;

                    & > div .ag-icon {
                        color: $ag-color-primary;
                    }
                }
            }
        }
    }

    ////////////////////////////////////////
    // Dialog
    ////////////////////////////////////////
    .ag-panel {
        .ag-title-bar {
            background-color: $ag-dialog-title-background-color;
            border-bottom: 1px solid $ag-border-color;
            color: $ag-dialog-title-foreground-color;
            height: $ag-dialog-title-height;
            font-size: $ag-dialog-title-font-size;
            font-weight: $ag-dialog-title-font-weight;
            font-family: $ag-dialog-title-font-family;
            padding: $ag-grid-size $ag-cell-horizontal-padding;

            .ag-title-bar-buttons {
                .ag-button {
                    height: $ag-dialog-title-icon-size;
                    width: $ag-dialog-title-icon-size;
                    .ag-icon {
                        line-height: $ag-dialog-title-icon-size;
                        font-size: $ag-dialog-title-icon-size;
                    }
                    border-radius: $ag-border-radius;

                    &:hover,
                    &.ag-has-popup {
                        background-color: inherit;
                        .ag-icon {
                            color: $ag-color-primary;
                        }
                    }

                    &:not(:last-child) {
                        margin-right: $ag-grid-size;
                    }
                }
            }
        }

        .ag-message-box {
            .ag-message-box-button-bar {
                height: 30px;
                background-color: $ag-header-background-color;
                padding: 2px;
                button {
                    border-radius: $ag-card-radius;
                }
            }
        }
    }

    .ag-chart {
        .ag-chart-menu {
            top: $ag-grid-size * 2;
            right: $ag-grid-size * 3;
            & > .ag-icon {
                opacity: 1;
                &:hover {
                    background: inherit;
                    color: $ag-color-primary;
                }
            }
        }

        .ag-chart-tabbed-menu {
            font: $ag-font-chrome;

            .ag-tab-selected {
                color: $ag-color-primary;
            }
        }

        .ag-tab-body {
            background-color: $ag-color-background-alt;
        }

        .ag-chart-docked-container .ag-panel {
            border-left: 1px solid $ag-border-color;
        }

        .ag-chart-settings-nav-bar {
            border-top: 1px solid $ag-border-color;
        }

        // Data Tab
        .ag-chart-data {
            .ag-radio-button {
                margin: 0;
                padding: $ag-grid-size 0;

                input[type='radio'] {
                    @extend %radio-button;
                    margin-top: 0;
                    margin-right: 2px;
                }
            }

            .ag-checkbox {
                padding: $ag-grid-size 0;
            }
        }

        .ag-native-checkbox {
            @include ag-checkbox($ag-color-primary);
            margin-right: 2px;
        }

        input.ag-native-toggle-button {
            flex: none;
            width: unset;
            min-width: unset;
            @include ag-toggle-button;
        }

        // Format tab
        .ag-chart-format, .ag-chart-data {
            // the overflow hidden hides the halo effect - so we overwrite it here
            .ag-input-wrapper {
                overflow: visible;
            }

            textarea {
                @extend %custom-selection;
                border: 1px solid $ag-color-primary;
                border-radius: $ag-border-radius;
                padding: $ag-grid-size;
                color: $ag-color-foreground;
                background: $ag-color-background;
            }

            select {
                @extend %select;
            }

            input[type='number'] {
                @extend %input-text;
                font-size: 0.9em;
                padding-right: 0;
            }

            input[type='range'] {
                @extend %range;
            }
        }
    }

    .ag-group {
        background: $ag-color-background-alt;
    }


    .ag-charts-top-level-group-title-bar {
        font: $ag-font-chrome;
        background: $ag-color-background;
        @include ag-grid-border(bottom, $color: $ag-secondary-border-color);
        padding: $ag-grid-size $ag-grid-size * 2;

        .ag-column-group-icons {
            margin-left: -2px;
            margin-right: $ag-grid-size;
            transform: translateY(1px);
        }
    }

    .ag-charts-top-level-group-container {
        @include ag-grid-border(bottom, $color: $ag-secondary-border-color);
        margin-left: 0;
        // TODO what does this do?
        justify-content: flex-start;
        padding: $ag-grid-size $ag-grid-size * 2;

        .ag-group-item {
            margin: 0;
            margin-right: 0;
        }
    }

    .ag-charts-top-level-group-toolbar {
        padding: $ag-grid-size $ag-grid-size * 2;
        height: auto;
        background: $ag-color-background;
        input.ag-native-checkbox {
            @include ag-toggle-button;
        }
    }

    .ag-charts-sub-level-group-container {
        padding: $ag-grid-size * 2 0;
    }
    .ag-charts-sub-level-group-title-bar {
        padding: $ag-grid-size 0;
        height: auto;
    }

    // Color Picker
    .ag-color-picker > .ag-wrapper {
        border-radius: $ag-border-radius;
        border-color: $ag-border-color;

        & > div {
            height: $ag-grid-size * 4;
        }
    }

    .ag-picker-button:hover .ag-icon {
        color: $ag-color-primary;
    }

    .ag-color-panel {
        .ag-spectrum-slider {
            border: 1px solid $ag-border-color;
            box-shadow: 0 0px 1px 1px $ag-color-background;
        }
    }

    // remove styling for toggle button, we do it with ckeckboxes
    .ag-toggle-button {
        &.ag-selected .ag-input-wrapper {
            background: unset;
        }
        .ag-input-wrapper {
            background-color: unset;
            border: unset;
            border-radius: unset;
        }
    }

    .ag-angle-select {
        .ag-angle-select-field {
            .ag-parent-circle {
                background-color: $ag-color-border-form-element;
            }
            .ag-child-circle {
                background-color: $ag-color-background;
            }
        }
    }

    // hover effect on menu icons
    [ref='eMenu'].ag-header-icon {
        // @extend %button;
        // padding: $ag-grid-size / 2;

        .ag-icon {
            color: $ag-color-primary;
        }

        &:active .ag-icon {
            // color: $ag-color-background;
        }
    }

    // RTL Overrides
    // TODO simplify this a lot, use ag-auto-rtl, and move stuff to the base
    .ag-rtl {
        .ag-filter .ag-filter-apply-panel button + button {
            margin-left: 0;
            margin-right: $ag-grid-size * 2;
        }

        .ag-floating-filter-button {
            margin-right: $ag-grid-size / 2;
            button {
                background-position: left $ag-grid-size / 2 top $ag-grid-size / 2;
                padding-left: $ag-grid-size * 4;
            }
        }

        .ag-cell.ag-cell-inline-editing .ag-cell-edit-input select {
            background-position: left $ag-grid-size top $ag-row-height / 2 - 9;
        }

        ////////////////////////////////////////
        // Popup editing
        ////////////////////////////////////////
        .ag-popup > div.ag-popup-editor {
            .ag-input-wrapper .ag-cell-edit-input,
            .ag-cell-edit-input select {
                padding-right: $ag-grid-size * 3 - 1;
                padding-left: $ag-grid-size * 6 - 1;
            }

            // select editor
            .ag-cell-edit-input select {
                background-position: left $ag-grid-size top $ag-row-height / 2 - 9;
            }
        }

        .ag-menu-list {
            .ag-menu-option-shortcut {
                text-align: left !important;
                padding-left: 0 !important;
                padding-right: $ag-grid-size * 2 !important;
            }
        }

        ////////////////////////////////////////
        // Column Chooser
        ////////////////////////////////////////
        .ag-column-select-panel {
            .ag-primary-cols-header-panel {
                padding-right: $ag-grid-size * 1;

                & > [ref='eExpand'] {
                    margin-right: $ag-grid-size;
                    margin-left: 0;
                }

                & > [ref='eExpand'].ag-hidden + div {
                    margin-right: $ag-grid-size * 2;
                    margin-left: 0;
                }
            }
        }

        .ag-column-drop-cell-drag-handle {
            margin-left: 0;
            margin-right: $ag-grid-size;
        }

        .ag-group-checkbox {
            display: block;
            // this should not be necessary, but I am negating some weird inline flex idea
            margin-top: $ag-grid-size / 2;
        }
        .ag-rich-select {
            .ag-rich-select-value {
                background-position: left $ag-grid-size top $ag-row-height / 2 - $ag-icon-size / 2;
                padding-right: $ag-cell-horizontal-padding;
            }
            .ag-rich-select-row {
                padding-right: $ag-cell-horizontal-padding;
            }
        }

        .ag-side-bar {
            .ag-side-button {
                border-left-width: 0;
                border-right: 2px solid transparent;

                button {
                    & > div {
                        margin-left: 0;
                        margin-right: $ag-grid-size;
                    }

                    & > span {
                        margin-left: 0;
                        margin-right: $ag-grid-size * 1;
                        writing-mode: vertical-rl;
                    }
                }
            }
        }

        .ag-column-select-panel .ag-primary-cols-header-panel .ag-input-wrapper {
            margin-left: $ag-grid-size;
            margin-right: $ag-grid-size;
        }

        .ag-column-select-panel .ag-column-tool-panel-column-group .ag-column-group-icons {
            margin: 0;
        }

        .ag-column-select-panel .ag-column-tool-panel-column .ag-column-select-checkbox {
            margin: 0;
            margin-left: $ag-grid-size;
        }

        .ag-tool-panel-wrapper .ag-column-drop > div:first-child > span:first-child {
            margin-left: $ag-grid-size;
            margin-right: 0;
        }

        .ag-tool-panel-wrapper .ag-pivot-mode-panel .ag-pivot-mode-select {
            margin-right: $ag-grid-size * 2;
        }

        .ag-chart-settings-next-btn,
        .ag-chart-settings-prev-btn {
            transform: scaleX(-1);
        }

        .ag-chart-docked-container .ag-panel {
            border-left: none;
            border-right: 1px solid $ag-border-color;
        }

        .ag-group .ag-group-title-bar .ag-column-group-icons {
            margin-left: $ag-grid-size;
            margin-right: 0;
            transform: scaleX(-1);
        }

        .ag-slider > .ag-wrapper > div:not(:first-of-type),
        .ag-angle-select > .ag-wrapper > div:not(:first-of-type) {
            margin-left: 0;
            margin-right: $ag-grid-size * 2;
        }

        .ag-chart .ag-chart-format input[type='number'] {
            @extend %input-text;
            font-size: 0.9em;
            padding-right: $ag-grid-size;
            padding-left: 0;
        }
    }

    .ag-panel .ag-title-bar .ag-title-bar-buttons .ag-button .ag-icon {
        font-size: $ag-icon-size;
    }

    .ag-header-expand-icon {
        transform: translateY($ag-grid-size / 2);
    }
}
