@import '../vars/ag-theme-alpine-vars';
@import '../../ag-theme-base/sass/ag-theme-base';

@include ag-icons-font-face();

@mixin ag-theme-alpine() {
    @include ag-grid-theme();

    @include ag-native-inputs();

    .ag-filter-toolpanel-header,
    .ag-filter-toolpanel-search,
    .ag-status-bar,
    .ag-header-row,
    .ag-panel-title-bar-title {
        font-weight: 700;
        color: $ag-header-foreground-color;
    }

    .ag-row {
        font-size: $ag-font-size + 1;
    }

    %ag-text-input {
        min-height: $ag-grid-size * 4;
        border-radius: $ag-border-radius;
    }

    .ag-tab {
        padding: $ag-grid-size * 1.5;
        transition: color 0.4s;
    }
    .ag-tab-selected {
        color: $ag-alpine-active-color;
    }

    .ag-menu {
        background-color: $ag-control-panel-background-color;
    }

    .ag-menu-header {
        background-color: $ag-control-panel-background-color;
        padding-top: 1px; // hack to align column menu tab header border with header row border
    }
    
    .ag-tabs-header {
        @include ag-border(primary, bottom);
    }

    .ag-charts-minichart-group-title-bar {
        padding: $ag-grid-size $ag-grid-size * 2;
        line-height: $ag-icon-size + $ag-grid-size - 2;
    }

    .ag-chart-mini-thumbnail {
        background-color: $ag-background-color;
    }
    
    .ag-chart-settings-nav-bar {
        @include ag-border(secondary, top);
    }

    .ag-charts-format-sub-level-group {
        border-left: dashed 1px $ag-border-color;
        padding-left: $ag-grid-size;
        margin-bottom: $ag-grid-size * 2;
    }

    .ag-charts-format-sub-level-group-title-bar {
        padding-top: 0;
        background: none;
        font-weight: 700;
    }

    .ag-charts-format-sub-level-group-container {
        padding-bottom: 0;
    }
    
    .ag-dnd-ghost {
        font-size: $ag-font-size - 1;
        font-weight: 700;
    }

    .ag-side-buttons {
        width: $ag-grid-size * 5;
    }

    .ag-set-filter-item {
        margin-left: $ag-grid-size * 2;
        margin-right: $ag-grid-size * 2;
    }

    .ag-standard-button {
        appearance: none;
        -webkit-appearance: none;
        border-radius: $ag-border-radius;
        border: 1px solid $ag-alpine-active-color;
        color: $ag-alpine-active-color;
        background: $ag-background-color;
        font-weight: 600;
        padding: $ag-grid-size $ag-grid-size * 2;
        // transition: all 0.1s;
    
        &:hover {
            border-color: $ag-alpine-active-color;
            background-color: transparentize($ag-alpine-active-color, 0.9);
        }
    
        &:active {
            border-color: $ag-alpine-active-color;
            background-color: transparentize($ag-alpine-active-color, 0.1);
            color: $ag-background-color;
        }
    }

    .ag-menu-header {
        min-width: 240px;
    }

    .ag-column-drop-vertical {
        min-height: 75px;
        max-height: 175px;
    }

    .ag-tool-panel-wrapper {
        width: 250px;
    }

    .ag-column-drop-vertical-title-bar {
        background-color: $ag-background-color;
        // TODO widget-group-padding
        padding: $ag-grid-size * 2;
        @include ag-border(secondary, bottom);
    }

    .ag-column-drop-vertical-empty-message {
        display: flex;
        align-items: center;
        border: dashed 1px $ag-border-color;
        margin: $ag-grid-size * 2;
        padding: $ag-grid-size * 2;
    }

    .ag-column-drop-empty-message {
        color: rgba($ag-foreground-color, 0.75);
    }

    .ag-filter-toolpanel-instance-filter {
        border: none;
        padding-left: $ag-grid-size * 3;
    }

    .ag-status-bar {
        font-weight: normal;
    }

    .ag-status-name-value-value {
        font-weight: 700;
    }

    .ag-paging-number, .ag-paging-row-summary-panel-number {
        font-weight: 700;
    }

    .ag-column-drop-cell-button {
        opacity: 0.5;

        &:hover {
            opacity: 0.75;
        }
    }

    .ag-header-cell-menu-button,
    .ag-side-button-button,
    .ag-tab,
    .ag-panel-title-bar-button,
    .ag-header-expand-icon,
    .ag-column-group-icons,
    .ag-group-expanded .ag-icon,
    .ag-group-contracted .ag-icon,
    .ag-chart-settings-prev,
    .ag-chart-settings-next,
    .ag-group-title-bar-icon,
    .ag-column-select-header-icon,
    .ag-floating-filter-button-button,
    .ag-filter-toolpanel-expand {
        &:hover {
            color: $ag-alpine-active-color;
        }
    }

    .ag-chart-settings-card-item.ag-not-selected:hover {
        opacity: 0.35;
    }

    .ag-panel-title-bar-button {
        @include ag-theme-rtl((
            margin-left: $ag-grid-size * 2,
            margin-right: $ag-grid-size
        ));
    }

    .ag-filter-toolpanel-group-container {
        padding-left: $ag-grid-size;
    }

    .ag-filter-toolpanel-instance-filter {
        background: rgba(0, 0, 0, 0.03);
        border-left: dashed 1px $ag-border-color;
        margin-left: $ag-grid-size + $ag-icon-size / 2 - 1px;
        padding-left: $ag-icon-size / 2;
        margin-right: $ag-grid-size * 2;
    }
}
