@mixin ag-active-invert {
    color: $ag-background-color;
    background-color: $ag-color-primary;
}

%form-font {
    font: $ag-font-form-element;
}

%custom-selection {
    &::selection {
        @include ag-active-invert();
    }
    caret-color: $ag-color-primary;
}

%input-box {
    @extend %halo, %form-font, %custom-selection;
    appearance: none;
    -webkit-appearance: none;
    border-radius: $ag-border-radius;
    padding: $ag-grid-size;
    border: 1px solid $ag-color-border-form-element;
    background: $ag-background-color;
    color: $ag-color-foreground;
    box-sizing: border-box;
}

%input-text {
    @extend %input-box;
}

%label {
    @extend %form-font;
}

// TODO remove this and use icon font
@mixin ag-with-dropdown-arrow() {
    background-image: $ag-url-data-image-dropdown-arrow !important;
    background-repeat: no-repeat;
    background-position: right $ag-grid-size top $ag-grid-size;
    background-size: $ag-grid-size * 3;
    padding-right: $ag-grid-size * 4;

    &:hover {
        background-image: $ag-url-hover-data-image-dropdown-arrow !important;
    }

    &:active {
        background-image: $ag-url-pressed-data-image-dropdown-arrow !important;
    }
}

%select {
    @include ag-with-dropdown-arrow();
    @extend %input-box;

    &::-ms-expand {
        display: none;
    }
}

%button {
    @extend %form-font, %halo;

    appearance: none;
    -webkit-appearance: none;
    border-radius: $ag-border-radius;
    border: 1px solid $ag-color-primary;
    color: $ag-color-primary;
    background: $ag-background-color;
    font-weight: 600;
    padding: $ag-grid-size $ag-grid-size * 2;
    // transition: all 0.1s;

    &:hover {
        border-color: $ag-color-primary;
        background-color: transparentize($ag-color-primary, 0.9);
        color: $ag-color-primary;
    }

    &:active {
        border-color: $ag-color-primary;
        background-color: transparentize($ag-color-primary, 0.1);
        color: $ag-background-color;
    }
}

%reset-button {
    color: $ag-color-form-element-secondary;
    border-color: $ag-color-form-element-secondary;
    font-weight: 500;

    &:hover {
        border-color: $ag-color-primary;
        background-color: transparentize($ag-color-primary, 0.9);
        color: $ag-color-primary;
    }

    &:active {
        border-color: $ag-color-primary;
        background-color: transparentize($ag-color-primary, 0.1);
        color: $ag-background-color;
    }
}

@mixin ag-range-track {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3px;
    background-color: $ag-color-border-form-element;
    border-radius: $ag-border-radius;
}

@mixin ag-range-thumb {
    margin: 0;
    padding: 0;
    background: blue;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background: $ag-background-color;
    border: 1px solid $ag-border-color;
    border-radius: 12px;
}

@mixin ag-ms-fill {
}

@mixin ag-focus-range-track {
    background: $ag-color-primary;
}

@mixin ag-focus-range-thumb {
    border-color: $ag-color-primary;
    @include ag-box-shadow($ag-color-primary);
}

%range {
    -webkit-appearance: none;
    width: 100%;

    &:focus {
        outline: none;

        &::-webkit-slider-runnable-track {
            @include ag-focus-range-track;
        }

        &::-moz-range-track {
            @include ag-focus-range-track;
        }

        &::-ms-track {
            @include ag-focus-range-track;
        }
        &::-ms-fill-lower {
            @include ag-focus-range-track;
        }

        &::-ms-fill-upper {
            @include ag-focus-range-track;
        }

        &::-webkit-slider-thumb {
            @include ag-focus-range-thumb;
        }

        &::-ms-thumb {
            @include ag-focus-range-thumb;
        }
        &::-moz-range-thumb {
            @include ag-focus-range-thumb;
        }
    }

    &::-webkit-slider-runnable-track {
        @include ag-range-track;
    }

    &::-moz-range-track {
        @include ag-range-track;
    }

    &::-ms-track {
        @include ag-range-track;
    }

    &::-webkit-slider-thumb {
        @include ag-range-thumb;
        transform: translateY(-4px);
    }

    &::-ms-thumb {
        @include ag-range-thumb;
        height: 8.4px;
    }
    &::-moz-range-thumb {
        @include ag-range-thumb;
    }

    &::-ms-fill-lower {
        @include ag-ms-fill;
    }
    &::-ms-fill-upper {
        @include ag-ms-fill;
    }
}
