---
import '@design-system/design-system.scss';
import SiteHeader from '@components/site-header/SiteHeader.astro';

interface Props {
    title: string;

    showSearchBar?: boolean;
    showDocsNav?: boolean;
    hideHeader?: boolean;
}

const { title, showSearchBar, showDocsNav, hideHeader } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <script is:inline>
            const htmlEl = document.querySelector('html');
            const localDarkmode = localStorage['documentation:darkmode'];
            const isOSDarkmode = (
                window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
            ).toString();

            htmlEl.classList.add('no-transitions');
            htmlEl.dataset.darkMode = localDarkmode !== undefined ? localDarkmode : isOSDarkmode;
            htmlEl.offsetHeight; // Trigger a reflow, flushing the CSS changes
            htmlEl.classList.remove('no-transitions');
        </script>

        <div class="mainContainer">
            {!hideHeader && <SiteHeader showSearchBar={showSearchBar} showDocsNav={showDocsNav} />}
            <slot />
        </div>

        <style lang="scss">
            @use '../design-system' as *;

            html {
                overflow-x: hidden;
            }

            main {
                flex: 1 1 auto;
                min-width: 0px;
            }

            .mainContainer {
                width: 100%;
                min-height: 100vh;
                padding: 0;
            }
        </style>
    </body>
</html>
