

$ag-alpine-active-color: #2196f3 !default;
$ag-background-color: #181d1f !default;
$ag-foreground-color: #fff !default;
$ag-border-color: #68686e !default;
$ag-secondary-border-color: rgba(#585652, 0.5) !default;
$ag-header-background-color: #222628 !default;
$ag-odd-row-background-color: #222628 !default;
$ag-control-panel-background-color: #222628 !default;
$ag-subheader-background-color: #000 !default;

// TODO var removed, what's the new equivilent?
// $ag-color-background-toggle-button: $ag-alpine-gray-3 !default;

@import "../../ag-theme-alpine/vars/ag-theme-alpine-vars";
