@use 'design-system' as *;

.lightImage {
    border-bottom: 1px solid var(--color-border-secondary);
    max-width: 456px;

    #{$selector-darkmode} & {
        display: none;
    }
}

.darkImage {
    display: none;
    max-width: 500px;
    border-bottom: 1px solid var(--color-border-secondary);

    #{$selector-darkmode} & {
        display: block;
    }
}
