
.ag-fresh .ag-root {
    border: 1px solid grey;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ag-fresh .ag-cell {
    border-right: 1px solid grey;
    padding: 4px;
}

.ag-fresh .ag-pinned-header  {
    background: -webkit-linear-gradient(white, lightgrey); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, lightgrey); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, lightgrey); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, lightgrey); /* Standard syntax */
    border-bottom: 1px solid grey;
}

.ag-fresh .ag-header-container {
    background: -webkit-linear-gradient(white, lightgrey); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, lightgrey); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, lightgrey); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, lightgrey); /* Standard syntax */
    border-bottom: 1px solid grey;
}

.ag-fresh .ag-header-cell {
    border-right: 1px solid grey;
}

.ag-fresh .ag-header-group-cell {
    border-right: 1px solid grey;
}

.ag-fresh .ag-header-group-cell-with-group {
    border-bottom: 1px solid grey;
}

.ag-fresh .ag-header-cell-label {
    padding: 4px 2px 4px 2px ;
}

.ag-fresh .ag-header-cell-text {
    padding-left: 2px;
}

.ag-fresh .ag-header-group-cell-label {
    padding: 4px;
    font-weight: bold;
}

.ag-fresh .ag-header-group-text {
    margin-right: 2px;
}

.ag-fresh .ag-header-cell-menu-button {
    padding: 2px;
    margin-top: 4px;
    border: 1px solid transparent;
    border-radius: 3px;
    box-sizing: content-box; /* When using bootstrap, box-sizing was set to 'border-box' */
}

.ag-fresh .ag-header-cell-menu-button:hover {
    border: 1px solid black;
}

.ag-fresh .ag-header-icon {
    color: maroon;
}

.ag-dark .ag-header-expand-icon:hover {
    cursor: pointer;
}

.ag-fresh .ag-row-odd {
    background-color: #f6f6f6;
}

.ag-fresh .ag-row-even {
    background-color: white;
}

.ag-fresh .ag-loading-panel {
    background-color: rgba(255, 255, 255, 0.5);
}

.ag-fresh .ag-loading-center {
    background-color: #ffffff;
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 10px;
}

.ag-fresh .ag-body {
    background-color: #ddd;
}

.ag-fresh .ag-body-viewport {
}

.ag-fresh .ag-pinned-cols-viewport {
}

.ag-fresh .ag-row-selected {
    background-color: #B2DFEE;
}

.ag-fresh .ag-group-cell-entire-row {
    background-color: #aaa;
    padding: 4px;
}

.ag-fresh .ag-footer-cell-entire-row {
    background-color: #aaa;
    padding: 4px;
}

.ag-fresh .ag-group-cell {
    font-style: italic;
}

.ag-fresh .ag-footer-cell {
    font-style: italic;
}

.ag-fresh .ag-filter-checkbox {
    position: relative;
    top: 2px;
    left: 2px;
}

.ag-fresh .ag-filter-header-container {
    border-bottom: 1px solid lightgrey;
}

.ag-fresh .ag-filter {
    border: 1px solid black;
    background-color: #f0f0f0;
}

.ag-fresh .ag-selection-checkbox {
    margin-left: 4px;
}

.ag-fresh .ag-paging-panel {
    padding: 4px;
}

.ag-fresh .ag-paging-button {
    margin-left: 4px;
    margin-right: 4px;
}

.ag-fresh .ag-paging-row-summary-panel {
    display: inline-block;
    width: 300px;
}