
.ag-dark .ag-root {
    border: 1px solid grey;
    color: #e0e0e0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ag-dark .ag-cell {
    border-right: 1px solid grey;
    padding: 4px;
}

.ag-dark .ag-header-container {
    background-color: #430000;
    border-bottom: 1px solid grey;
}

.ag-dark .ag-pinned-header {
    background-color: #430000;
    border-bottom: 1px solid grey;
}

.ag-dark .ag-header-cell {
    border-right: 1px solid grey;
}

.ag-dark .ag-header-cell-label {
    padding: 4px 2px 4px 2px ;
}

.ag-dark .ag-header-cell-text {
    padding: 2px;
}

.ag-dark .ag-header-group-cell-label {
    font-weight: bold;
    padding: 4px;
}

.ag-dark .ag-header-group-cell {
    border-right: 1px solid grey;
}

.ag-dark .ag-header-group-text {
    margin-right: 2px;
}

.ag-dark .ag-header-group-cell-with-group {
    border-bottom: 1px solid grey;
}

.ag-dark .ag-header-cell-menu-button {
    padding: 2px;
    margin-top: 4px;
    border: 1px solid transparent;
    border-radius: 3px;
    box-sizing: content-box; /* When using bootstrap, box-sizing was set to 'border-box' */
}

.ag-dark .ag-header-cell-menu-button:hover {
    border: 1px solid #e0e0e0;
}

.ag-dark .ag-header-icon {
    stroke: white;
    fill: white;
}

.ag-dark .ag-header-expand-icon:hover {
    cursor: pointer;
}

.ag-dark .ag-row-odd {
    background-color: #302E2E;
}

.ag-dark .ag-row-even {
    background-color: #403E3E;
}

.ag-dark .ag-loading-panel {
    background-color: rgba(255, 255, 255, 0.5);
}

.ag-dark .ag-loading-center {
    background-color: #ffffff;
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 10px;
    color: black;
}

.ag-dark .ag-body {
    background-color: #ddd;
}

.ag-dark .ag-body-viewport {
}

.ag-dark .ag-pinned-cols-viewport {
}

.ag-dark .ag-row-selected {
    background-color: #000000;
}

.ag-dark .ag-group-cell-entire-row {
    background-color: #aaa;
    padding: 4px;
}

.ag-dark .ag-footer-cell-entire-row {
    background-color: #aaa;
    padding: 4px;
}

.ag-dark .ag-group-cell {
    font-style: italic;
}

.ag-dark .ag-footer-cell {
    font-style: italic;
}

.ag-dark .ag-filter {
    color: black;
}

.ag-dark .ag-filter-checkbox {
    position: relative;
    top: 2px;
    left: 2px;
}

.ag-dark .ag-filter-header-container {
    border-bottom: 1px solid lightgrey;
}

.ag-dark .ag-filter {
    border: 1px solid black;
    background-color: #f0f0f0;
}

.ag-dark .ag-selection-checkbox {
    margin-left: 4px;
}

.ag-dark .ag-paging-panel {
    color: black;
    padding: 4px;
}

.ag-dark .ag-paging-button {
    margin-left: 4px;
    margin-right: 4px;
}

.ag-dark .ag-paging-row-summary-panel {
    display: inline-block;
    width: 300px;
}