---
import styles from '../policyPage.module.scss';
---

<button id="ot-sdk-btn" class:list={[styles.settingsButton, 'ot-sdk-show-settings']}> Cookie Settings</button>
<p>Details of the cookies we use are listed in the table below.</p>
<div id="ot-sdk-cookie-policy"></div>
