<div style="width: 760px;">
    <div style="display: inline-block;width: 100%">
        <div style="float: left">
            <b>Employees Skills and Contact Details</b>
            {{rowCount}}
        </div>
    </div>
    <div style="margin-top: 10px">
        <div>
            <span>
                Grid API:
                <button [disabled]="allSelected" (click)="allSelected=true;gridOptions.api.selectAll()"
                        class="btn btn-primary">Select All</button>
                <button [disabled]="!allSelected" (click)="allSelected=false;gridOptions.api.deselectAll()"
                        class="btn btn-primary">Clear Selection</button>
            </span>
            <span style="float: right;">
                Column API:
                <button [disabled]="countryHidden"
                        (click)="countryHidden=true; gridOptions.columnApi.setColumnVisible('country', false)"
                        class="btn btn-primary">Hide Country Column</button>
                <button [disabled]="!countryHidden"
                        (click)="countryHidden=false;gridOptions.columnApi.setColumnVisible('country', true)"
                        class="btn btn-primary">Show Country Column</button>
            </span>
        </div>
        <div style="display: inline-block;width: 100%;margin-top: 10px;margin-bottom: 10px">
            <div style="float: left">
                <label>
                    <input type="checkbox" (change)="showToolPanel=$event.target.checked"/>
                    Show Tool Panel
                </label>
            </div>
            <div style="float: left; margin-left: 20px">
                <button (click)="createRowData()" class="btn btn-primary">Refresh Data</button>
            </div>
            <div style="float: left; margin-left: 20px">
                <input (keyup)="onQuickFilterChanged($event)" id="quickFilterInput" style="width: 225px"
                       class="form-control" placeholder="Type text to filter..."/>
            </div>
            <div style="float: right">
                Filter API:
                <button (click)="dobFilter()" class="btn btn-primary">DOB equals to 01/01/2000</button>
            </div>
        </div>

        <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-balham"

                         [gridOptions]="gridOptions"
                         [columnDefs]="columnDefs"
                         [showToolPanel]="showToolPanel"
                         [rowData]="rowData"

                         enableColResize
                         enableSorting
                         enableFilter
                         groupHeaders
                         suppressRowClickSelection
                         toolPanelSuppressGroups
                         toolPanelSuppressValues
                         rowSelection="multiple"

                         (modelUpdated)="onModelUpdated()"
                         (cellClicked)="onCellClicked($event)"
                         (cellDoubleClicked)="onCellDoubleClicked($event)"
                         (cellContextMenu)="onCellContextMenu($event)"
                         (cellValueChanged)="onCellValueChanged($event)"
                         (cellFocused)="onCellFocused($event)"
                         (rowSelected)="onRowSelected($event)"
                         (selectionChanged)="onSelectionChanged()"
                         (filterModified)="onFilterModified()"
                         (virtualRowRemoved)="onVirtualRowRemoved($event)"
                         (rowClicked)="onRowClicked($event)"
                         (gridReady)="onReady($event)"

                         (columnEverythingChanged)="onColumnEvent($event)"
                         (columnRowGroupChanged)="onColumnEvent($event)"
                         (columnValueChanged)="onColumnEvent($event)"
                         (columnMoved)="onColumnEvent($event)"
                         (columnVisible)="onColumnEvent($event)"
                         (columnGroupOpened)="onColumnEvent($event)"
                         (columnResized)="onColumnEvent($event)"
                         (columnPinnedCountChanged)="onColumnEvent($event)">
        </ag-grid-angular>
    </div>
</div>
