.ag-row-level-0  [col-id="gold"]{
    background-color: #00aa84;
}

.ag-row-level-0  [col-id="silver"]{
    background-color: #00aa84;
}

.ag-row-level-0  [col-id="bronze"]{
    background-color: #00aa84;
}

.ag-row-level-0  [col-id="total"]{
    background-color: #00aa84;
}
