@use 'design-system' as *;

.campaignOuter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: $spacing-size-8;
    font-size: var(--text-fs-lg);
    max-width: Min(90ch, calc(100vw - $spacing-size-8));
    margin: $spacing-size-24 auto 0;
}

.campaignHero {
    position: relative;
    margin-bottom: $spacing-size-8;

    &:before {
        position: absolute;
        content: '';
        width: calc(100vw - 60px);
        height: 70%;
        left: 50%;
        transform: translateX(calc(-50vw + 30px));
        z-index: -1;
        border-radius: 8px;
        background: linear-gradient(0deg, #dde9f9 -61.34%, #ffffff 89.79%);
        border-left: 1px solid linear-gradient(0deg, #dde9f9 -61.34%, #0e449126 89.79%);
        border-right: 1px solid linear-gradient(0deg, #dde9f9 -61.34%, #0e449126 89.79%);
        border-bottom: 1px solid #0e449126;

        #{$selector-darkmode} & {
            background: linear-gradient(0deg, #29384b -61.34%, #141d2c 89.79%);
            border-left: 1px solid linear-gradient(0deg, #29384b -61.34%, #f1bbde26 89.79%);
            border-right: 1px solid linear-gradient(0deg, #29384b -61.34%, #f1bbde26 89.79%);
            border-bottom: 1px solid #f1bbde26;
        }

        @media screen and (max-width: 940px) {
            width: 120vw;
            transform: translateX(-60vw);
        }
    }

    h1 {
        font-size: 72px;
        text-align: center;
        line-height: var(--text-lh-tight);
        margin-bottom: $spacing-size-8;
        font-weight: var(--text-bold);

        @media screen and (max-width: $breakpoint-landing-page-medium) {
            font-size: 52px;
        }
    }

    h2 {
        margin: 0px $spacing-size-48;
        text-align: center;
        margin-bottom: $spacing-size-8;

        @media screen and (max-width: $breakpoint-landing-page-medium) {
            margin: 0;
        }
    }

    code {
        white-space: nowrap;
    }
}

.campaignDummyVideo {
    aspect-ratio: 16 / 9;
    width: Min(100%, calc(100vw - $spacing-size-16)) !important;
    margin-top: -$spacing-size-6;
    margin-bottom: $spacing-size-12;
    border-radius: 8px;
}

.campaignBenefitsContainer {
    display: flex;
    gap: $spacing-size-4;
}

.autoICExample {
    margin-top: $spacing-size-8;

    footer:last-of-type {
        margin-top: $spacing-size-4;
        justify-content: center;
    }
}

.campaignBenefitsList {
    border: 1px solid var(--color-util-gray-200);
    border-radius: 8px;
    padding: $spacing-size-4;
    box-shadow: 0 2px 4px #0000001a;

    #{$selector-darkmode} & {
        border-color: var(--color-util-gray-300);
        background-color: #192232;
    }

    h2 {
        font-size: var(--text-fs-2xl);
        line-height: var(--text-lh-2xl);
        margin-bottom: $spacing-size-6;
        color: var(--color-brand-500);

        #{$selector-darkmode} & {
            color: var(--color-brand-200);
        }
    }

    ul {
        text-align: left;
        width: 50ch;

        @media screen and (max-width: $breakpoint-landing-page-medium) {
            width: auto;
        }
    }

    li {
        margin-bottom: $spacing-size-3;
    }
}

// license-pricing.module.scss content
// ===================================
.trialLicence {
    display: flex;
    flex-direction: column;
    gap: $spacing-size-4 $spacing-size-10;
    padding-top: $spacing-size-16;
    padding-bottom: $spacing-size-16;
    text-align: left;

    > .trialLicenceSeparator {
        width: 1px;
        align-self: stretch;
    }

    @media screen and (min-width: $breakpoint-pricing-medium) {
        flex-direction: row;
        align-items: center;
        padding-top: $spacing-size-24;
        padding-bottom: $spacing-size-20;
        border-top: 1px solid var(--color-border-secondary);
    }
}

.trialLicenceCopy {
    flex: 1;
    padding-top: $spacing-size-4;
    padding-bottom: $spacing-size-8;

    h3 svg {
        --icon-size: 36px;

        margin-right: $spacing-size-2;
        transform: translateY(-3px);
    }

    h4 svg {
        --icon-size: #{$spacing-size-6};

        margin-right: $spacing-size-2;
        transform: translateY(-2px);
    }

    > p {
        margin-bottom: $spacing-size-10;
    }

    > .trialLicenceSeparator {
        height: 1px;
        margin-top: $spacing-size-6;
        margin-bottom: $spacing-size-6;
    }
}

.trialLicenceCopyItem {
    --icon-color: var(--color-link);

    display: flex;

    svg {
        flex-shrink: 0;
        margin-right: $spacing-size-2;
        transform: translateY(-$spacing-size-1);
    }

    b {
        color: var(--color-fg-primary);
    }
}

.enterpriseIcon {
    --icon-color: var(--color-enterprise-icon);
}

.trialLicenceSeparator {
    background-color: var(--color-border-secondary);
}

.trialLicenceForm {
    flex: 1;
}

.licenceKeyDocs {
    --section-background-color: var(--color-util-brand-50);

    padding-top: $spacing-size-12;
    padding-bottom: $spacing-size-6;

    #{$selector-darkmode} & {
        --section-background-color: var(--color-util-gray-100);
    }
}

/* mobile breakpoint responsive */
@media screen and (max-width: $breakpoint-pricing-medium) {
    .licensesOuter {
        display: flex;
        flex-direction: column;
        gap: $spacing-size-8;
        padding-top: $spacing-size-3;
    }

    .desktopTableContainer {
        display: none;
    }
}

// end license-pricing.module.scss content
// =======================================
