@use 'design-system' as *;

.whatsNewOuter {
    img,
    video,
    iframe {
        max-width: 100%;
        border-radius: var(--radius-md);
        overflow: hidden;
    }

    iframe {
        width: 100%;
        aspect-ratio: 16/9;
    }
}

.whatsNewPost {
    margin-bottom: $spacing-size-32;
}
