.ag-row-pinned-source {
    color: var(--ag-input-disabled-text-color);
}

.ag-viewport {
    --ag-pinned-row-border-width: 2px;
}

.ag-floating-top-border {
    border-bottom: var(--ag-pinned-row-border-width) solid var(--ag-border-color);
}

.ag-floating-bottom-border {
    border-top: var(--ag-pinned-row-border-width) solid var(--ag-border-color);
}
