.ag-row-pinned-source {
    color: var(--ag-pinned-source-row-text-color);
    background-color: var(--ag-pinned-source-row-background-color);
    font-weight: var(--ag-pinned-source-row-font-weight);
}

.ag-row-pinned-manual {
    color: var(--ag-pinned-row-text-color);
    background-color: var(--ag-pinned-row-background-color);
    font-weight: var(--ag-pinned-row-font-weight);
}
