@import "../vars/ag-theme-material-vars";
@import "../../ag-theme-base/sass/ag-theme-base";

@include ag-icons-font-face();

.ag-theme-material {

    @include ag-grid-theme();

    .ag-filter-toolpanel-header,
    .ag-status-bar,
    .ag-header-row,
    .ag-panel-title-bar-title,
    .ag-side-button-button {
        font-size: $ag-font-size - 1;
        font-weight: 600;
        color: $ag-header-foreground-color;
    }

    .ag-tab {
        height: $ag-grid-size * 4.5;
    }

    .ag-tabs-header,
    .ag-column-drop-horizontal {
        background-color: $ag-subheader-background-color;
    }

    .ag-radio-button {
        input {
            &:focus, &:checked {
                border-color: $ag-checkbox-checked-background-color;
            }
            &:focus {
                box-shadow: 0 0 2px 0.1rem transparentize($ag-checkbox-checked-background-color, 0.6);
            }
    
            &:checked::after{
                background-color: $ag-checkbox-checked-background-color;
            }
        }
    }

    .ag-header-cell, .ag-header-group-cell {
        transition: background-color 0.5s;
    }

    .ag-cell-highlight-animation {
        transition: background-color 1s;
    }

    .ag-cell-inline-editing {
        padding: $ag-grid-size;
        height: $ag-row-height + $ag-grid-size * 3;
    }

    .ag-side-button-button {
        color: $ag-secondary-foreground-color;
    }

    .ag-column-drop-vertical {
        border-bottom: solid 1px $ag-border-color;
        padding-top: $ag-grid-size;
        padding-bottom: $ag-grid-size;
        
        &.ag-last-column-drop {
            border-bottom: none;
        }
    }

    .ag-column-drop-vertical-cell {
        margin-left: 0;
    }

    .ag-column-drop-vertical-empty-message {
        font-size: $ag-font-size - 1;
        font-weight: 600;
        color: $ag-disabled-foreground-color;
    }

    .ag-status-bar {
        border: solid 1px $ag-border-color;
    }

    .ag-column-select {
        border-bottom: solid 1px $ag-border-color;
    }

    .ag-column-select-header, .ag-column-select-list {
        border-top: solid 1px $ag-border-color;
    }

    .ag-group-title-bar {
        padding: $ag-grid-size * 0.75 $ag-grid-size;
    }

    .ag-charts-format-sub-level-group-title-bar {
        padding: $ag-grid-size * 0.5 $ag-grid-size;
    }

    %ag-text-input {

        background: transparent;
        color: $ag-foreground-color;
        font-family: inherit;
        font-size: inherit;
        height: $ag-grid-size * 5;
        padding-bottom: $ag-grid-size;

        border-width: 0;

        border-bottom: 2px solid $ag-border-color;

        &:focus {
            border-bottom: 2px solid $ag-mat-primary-color;
            outline: none;
        }

        &::placeholder {
            color: $ag-disabled-foreground-color;
        }

        &:disabled {
            border-bottom: 1px solid $ag-border-color;
        }
    }

    .ag-standard-button {
        appearance: none;
        background-color: transparent;
        border: 0;
        color: $ag-mat-primary-color;
        font-family: inherit;
        font-size: inherit;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }
    
    .ag-dnd-ghost {
        font-size: $ag-font-size - 1;
        font-weight: 600;
    }
}