@import "../vars/ag-theme-material-vars";
@import "../../ag-theme-base/sass/ag-theme-base";

@include ag-icons-font-face();

.ag-theme-material {

    @include ag-grid-theme();

    .ag-tab {
        height: $ag-grid-size * 4.5;
    }

    .ag-icon-checkbox-checked,
    .ag-icon-checkbox-checked-readonly,
    .ag-icon-checkbox-unchecked,
    .ag-icon-checkbox-unchecked-readonly,
    .ag-icon-checkbox-indeterminate,
    .ag-icon-checkbox-indeterminate-readonly,
    .ag-icon-radio-button-on,
    .ag-icon-radio-button-off {
        height: $ag-icon-size + 6;
        width: $ag-icon-size + 6;
        font-size: $ag-icon-size + 6;
        line-height: $ag-icon-size + 6;
    }

    .ag-header-cell, .ag-header-group-cell {
        background-color: $ag-header-background-color;
        transition: background-color 0.5s;
    }

    .ag-cell-highlight-animation {
        transition: background-color 1s;
    }

    .ag-cell-inline-editing {
        padding: $ag-grid-size;
        height: $ag-row-height + $ag-grid-size * 3;
    }

    .ag-menu-option {
        height: $ag-grid-size * 5 - 2;
    }

    .ag-side-bar {
        border-bottom: none;
        border-top: none;
    }

    .ag-side-button-button {
        color: $ag-secondary-foreground-color;
        font-family: $ag-secondary-font-family;
        font-size: $ag-secondary-font-size;
        font-weight: $ag-secondary-font-weight;
        background-color: transparent;
    }

    .ag-side-bar-right .ag-side-button-button {
        @include ag-theme-rtl((border-left-width: 2px));
    }
    
    .ag-side-bar-left .ag-side-button-button {
        @include ag-theme-rtl((border-right-width: 2px));
    }

    .ag-filter-toolpanel-body {
        background-color: $ag-background-color;
    }

    .ag-column-drop-vertical {
        border-bottom: solid 1px $ag-border-color;

        padding-top: $ag-grid-size;
        padding-bottom: $ag-grid-size;
    }

    .ag-status-bar {
      border: solid 1px $ag-border-color;
    }

    .ag-column-select {
        // TODO move to base theme with new flag
        border-bottom: solid 1px $ag-secondary-border-color;
    }

    .ag-column-select-header, .ag-column-select-list {
        // TODO move to base theme with new flag
        border-top: solid 1px $ag-secondary-border-color;
    }

    .ag-group-title-bar {
        padding: $ag-grid-size * 0.75 $ag-grid-size;
    }

    .ag-charts-format-sub-level-group-title-bar {
        padding: $ag-grid-size * 0.5 $ag-grid-size;
    }
}
