.getting-started {
    composes: d-flex from global;

    &__card {
        composes: card flex-grow-1 m-3 p-4 from global;

        &__logo {
            composes: my-5 from global;

            height: 100px;
        }

        &__button {
            composes: btn btn-primary from global;
        }
    }
}
