@use "../design-system/" as *;

.container {
    margin-top: $size-6;
    margin-bottom: calc($size-6 * 4);
}

.topSection {
    display: flex;
    flex-wrap: wrap;
    gap: $size-4;
    margin-top: $size-8;
    margin-bottom: $size-7;

    @media screen and (min-width: $breakpoint-pricing-large) {
        flex-wrap: nowrap;
    }

    h1 {
        font-size: 44px;
        font-weight: var(--font-weight-bold);
        margin-bottom: $size-1;
        line-height: $line-height-ultra-tight;
    }
}

.intro {
    width: 100%;
    margin-bottom: $size-4;
    text-align: center;

    @media screen and (min-width: $breakpoint-pricing-large) {
        margin-top: 36px;
        text-align: left;
    }

    p:global(.font-size-large) {
        max-width: 44rem;
        margin: 0 auto;
    }
}

.salesEmail {
    margin-top: $size-2;
    margin-bottom: $size-2;

    a {
        @media screen and (max-width: $breakpoint-pricing-small) {
            font-size: $font-size-medium;
        }
    }
}

.videoPrompt {
    --line-height: $line-height-tight;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: $size-1 $size-2;
    margin-top: $size-6;

    @media screen and (min-width: $breakpoint-pricing-small) {
        text-align: left;
    }

    @media screen and (min-width: $breakpoint-pricing-large) {
        justify-content: flex-start;
    }

    h3,
    p {
        margin: 0;
    }
}

.thumbnail {
    width: 33.333%;
    min-width: 160px;
    max-width: 220px;
    border-radius: var(--border-radius);

    img {
        width: 100%;
        aspect-ratio: 16 / 9;
        margin-top: $size-1;
        object-fit: cover;
        border-radius: var(--border-radius);
    }
}

.licensesOuter {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: $size-4;
}

.buyTogether {
    --card-color: #0665cb;
    --header-tint: 0.95;
    
    width: 100%;
    display: flex;
    border-radius: 5px;
    border: 3px solid var(--card-color);
    background-color: var(--card-color);

    #{$darkmode-selector} & {
        border: 1px solid rgba(255,255,255,0.2);
        border-radius: 6px;
        --card-color: var(--background-100);
    }


}

.buyTogetherInner {
    display: flex;
    flex-direction: column;
    gap: $size-2;
    width: 100%;
    padding: $size-2;
    text-align: center;
    border-radius: var(--border-radius);
    background-color: var(--default-background-color);
    opacity: var(--header-tint);

    #{$darkmode-selector} & {

    }

    @media screen and (min-width: $breakpoint-pricing-medium) {
        flex-direction: row;
        justify-content: space-between;
        gap: $size-4;
        padding: $size-2 $size-2;
        text-align: left;
    }

    p {
        margin-bottom: 0;
    }
}

.left {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $breakpoint-pricing-medium) {
        width: 50%;
    }

    p {
        line-height: var(--line-height-tight);
    }
}

.products {
    font-size: var(--font-size-massive);
}

.enterpriseProducts {
    margin-top: $size-1;
    margin-bottom: $size-3;
    
    @media screen and (min-width: $breakpoint-pricing-medium) {
        margin-top: $size-half;
        margin-bottom: auto;
    }

    :global(.icon) {
        --icon-size: #{$size-2};

        margin-top: -1px;
        margin-left: -1px;
        opacity: 0.6666;
    }
}

.right {
    @media screen and (min-width: $breakpoint-pricing-medium) {
        width: 50%;
        max-width: 340px;
    }

    :global(.button) {
        width: 100%;
        margin-top: $size-1;
        text-align: center;
    }
}

.rightInner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: $size-1;
}

.rightInfo {
    text-align: right;
}

.rightPrice {
    text-align: left;

    p {
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-ultra-tight);
    }

    p:first-child {
        margin-bottom: $size-half;
    }

    p:last-child {
        margin-top: $size-half;
    }
}

.price {
    font-size: 46px !important; // !important for font-size weirdness
    line-height: $line-height-tight;
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.05em;
}

.configure button:not([class^="ag-"]) {
    width: 100%;
    height: 100%;
}


.bulkLicenses,
.communityEnterprise,
.videoExplainer,
.licensesInDetail {
    margin-bottom: $size-8;
}

.bulkLicenses {
    margin-top: $size-5;
    text-align: center;

    p {
        max-width: 48em;
        margin: 0 auto $size-1;
    }
}

.ukraineNotice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $size-2;
    max-width: 48em;
    margin: $size-7 auto $size-8;

    @media screen and (min-width: $breakpoint-alert-flag-small) {
        flex-direction: row;
    }

    img {
        width: 80px;
    }
}

.communityEnterprise {
    grid-template-columns: 1fr 2fr;
    gap: $size-3;

    @media screen and (min-width: $breakpoint-pricing-medium) {
        display: grid;
    }

    :global(.button-secondary):not(:last-child) {
        margin-bottom: $size-1;
    }
}

.community {
    margin-bottom: $size-4;

    @media screen and (min-width: $breakpoint-pricing-medium) {
        margin-bottom: 0;
    }
}

.enterprise h3 {
    position: relative;
    display: inline-block;
    padding-right: 32px;

    svg {
        --text-color: var(--enterprise-icon-color);

        
    #{$darkmode-selector} & {
        --text-color: #3893f9;
        }

        position: absolute;
        margin-top: -4px;
        margin-left: 4px;
        width: 26px;
    }
}

.NpmButton svg {
    display: inline-block;
    height: 2.5em;
    margin: -1.15em 0.33em -1em 0;
    fill: var(--button-text-color);
}

.videoExplainer {
    display: grid;

    @media screen and (min-width: $breakpoint-pricing-large) {
        grid-template-columns: 2fr 1fr;
        grid-auto-flow: dense;
        gap: $size-3;
    }

    div {
        margin-bottom: $size-4;

        @media screen and (min-width: $breakpoint-pricing-large) {
            grid-column: 2;
        }
    }

    h3 {
        --line-height: $line-height-tight;

        font-weight: var(--font-weight-bold);

        @media screen and (min-width: $breakpoint-pricing-large) {
            margin-top: -$size-1;
        }
    }

    iframe {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: var(--border-radius);
        border: none;
    }
}

.licensesInDetail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: $size-3;

    @media screen and (min-width: $breakpoint-pricing-large) {
        flex-direction: row;
    }

    > h3 {
        width: 100%;
        text-align: center;
        font-weight: var(--font-weight-bold);
    }

    ul {
        --line-height: $line-height-tight;
    }

    li:not(:last-child) {
        margin-bottom: $size-half;
    }

    .singleApplicationLicense {
        --card-color: #0f5bce;
        --header-tint: 90%;
        --content-tint: 96%;

        #{$darkmode-selector} & {
            --card-color: #16325c;
            --header-tint: 66%;
            --content-tint: 88%;
        }
    }

    .multipleApplicationsLicense {
        --card-color: #2aaa33;
        --header-tint: 91%;
        --content-tint: 97%;

        #{$darkmode-selector} & {
            --card-color: #175a1b;
            --header-tint: 72%;
            --content-tint: 88%;
        }
    }

    .singleApplicationLicense,
    .multipleApplicationsLicense {
        @media screen and (min-width: $breakpoint-pricing-large) {
            width: calc(50% - $size-3 / 2);
        }
    }

    // Needs review after <ul> styling
    .deploymentLicense ul {
        @media screen and (min-width: $breakpoint-pricing-large) {
            columns: 2;
            gap: $size-3;
        }
    }
}

.contactSales {
    margin-bottom: $size-10;
    text-align: center;

    p {
        max-width: 740px;
        margin-right: auto;
        margin-bottom: $size-1;
        margin-left: auto;
    }

    a {
        font-size: $font-size-extra-large;
        display: inline-block;
    }
}
