@use '../../design-system' as *;

@import '~bootstrap/scss/card';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/utilities/display';
@import '~bootstrap/scss/utilities/spacing';

.searchResults {
    display: none;
    position: absolute;
    width: 100%;
    max-width: calc(100vw - $size-4);
    max-height: 24rem;
    top: 48px;
    left: 0;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    background-color: var(--white);
    border-top: 2px solid var(--border-color);
    overflow-y: auto;
    z-index: 999;
    box-shadow: inset 0 -2px 0 0 var(--border-color);

    @media screen and (min-width: $breakpoint-docs-search-medium) {
        top: 42px;
        border-top: none;
    }

    li {
        line-height: var(--line-height-tight);
        margin-bottom: -2px;
    }

    li:first-child a {
        border-top: none;
    }

    a,
    .resultsMessage,
    :global(.ais-InfiniteHits-loadMore) {
        position: relative;
        display: block;
        padding: $size-2;
        border: 2px solid var(--border-color);
        background-color: transparent !important; // !important needed because of .ag-styles specificity
        outline: none !important; // !important needed because of .ag-styles specificity
        transition: color $default-transition-timing, background-color $default-transition-timing,
            border-color $default-transition-timing;

        &:focus,
        &:focus-visible {
            position: relative;
            border-color: var(--input-focus-border-color);
            background-color: var(--bright-blue-gray) !important; // !important needed because of .ag-styles specificity
            z-index: 1002;
        }
    }

    a {
        color: var(--text-color) !important; // !important needed because of .ag-styles specificity
    }

    h4 {
        margin-bottom: $size-half !important; // !important needed because of .ag-styles specificity
        font-weight: var(--font-weight-bold) !important; // !important needed because of .ag-styles specificity
    }

    a:hover h4,
    a:hover .breadcrumb {
        color: var(--link-color);
    }

    mark {
        background-color: transparent;
        padding: 0;
    }

    &.isOpen {
        display: block;
    }
}

.breadcrumb {
    color: var(--secondary-text-color);
}

:global(.ais-InfiniteHits-list) {
    margin-bottom: 0 !important; // !important needed because of .ag-styles specificity
    padding-left: 0 !important; // !important needed because of .ag-styles specificity
    list-style: none;
}

:global(.ais-Highlight-highlighted),
:global(.ais-Snippet-highlighted) {
    color: var(--link-color);
    font-weight: var(--font-weight-bold);
}

button:global(.ais-InfiniteHits-loadMore) {
    width: 100%;
    padding: $size-half !important; // !important for .ag-styles specificity
    margin-bottom: -2px !important; // !important for .ag-styles specificity
    border-top-right-radius: 0 !important; // !important for .ag-styles specifici!important; // !important for .ag-styles specificityy
    border-top-left-radius: 0 !important; // !important for .ag-styles specificity
    font-weight: var(--font-weight-normal) !important; // !important for .ag-styles specificity
    box-shadow: none !important; // !important needed because of .ag-styles specificity
    color: var(--link-color) !important; // !important for .ag-styles specificity

    &:hover {
        background-color: var(--bright-blue-gray) !important; // !important needed because of .ag-styles specificity
    }
}

.hitCount {
    position: absolute;
    display: none;
    top: 2px;
    right: 2px;
    padding: 8px 8px 9px 8px;
    font-size: var(--font-size-small);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.33s ease-in-out;

    @media screen and (min-width: $breakpoint-docs-search-medium) {
        display: inline-block;
    }

    &.hasResults {
        opacity: 1;
    }
}

.resultsMessage {
    border-top: none !important;
}
