.search-box {
    position: relative;
    display: flex;
    align-items: center;

    &__input {
        composes: form-control from global;

        padding-left: 2rem !important;

        &:focus + .search-box__icon {
            color: $primary;
        }
    }

    &__icon {
        composes: ml-2 from global;

        @media all and (-ms-high-contrast:none) { // IE 11 
            top: 0.75rem;
            left: 0px;
        }

        position: absolute;
    }
}
