@use '../../design-system' as *;

.searchBox {
    display: flex;
    align-items: center;
    position: relative;
    max-width: calc(100vw - 143px);

    @media screen and (min-width: $breakpoint-docs-search-medium) {
        max-width: unset;
    }

    &:global('.results-open') {
        background-color: red;
    }

    input {
        width: 100%;
        padding-top: 0.4375em !important; // !important for .ag-styles specificity
        padding-bottom: 0.4375em !important; // !important for .ag-styles specificity
        padding-left: 2em !important; // !important for .ag-styles specificity;

        @media screen and (min-width: $breakpoint-docs-search-medium) {
            padding-right: 80px !important; // !important for .ag-styles specificity;
        }
    }

    :global(.icon) {
        --icon-size: 1.25em;
        --text-color: var(--secondary-text-color);

        position: absolute;
        left: 0.625em;
    }
}

.resultsOpen {
    border-bottom-right-radius: 0 !important; // !important for .ag-styles specificity
    border-bottom-left-radius: 0 !important; // !important for .ag-styles specificity
}
