.search-result {
    composes: card from global;

    position: absolute !important;
    z-index: 99999;
    width: 400px;
    margin-top: 0.25rem;
    display: none !important;

    &__hit-wrapper {
        composes: card-header p-1 from global;

        text-align: end;
    }

    &__hit-count {
        composes: badge badge-pill badge-primary from global;
    }

    &--show {
        display: block !important;
    }
}
