@use '../../design-system' as *;

@import '~bootstrap/scss/card';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/utilities/display';
@import '~bootstrap/scss/utilities/spacing';

.search-result {
    composes: card from global;

    position: absolute !important;
    z-index: 99999;
    width: 600px;
    max-width: calc(100vw - $size-4);
    top: 50px;
    left: 0;
    margin-top: 0.4rem;
    display: none !important;

    &__hit-wrapper {
        composes: card-header p-1 pb-2 pr-2 from global;

        text-align: end;
    }

    &__hit-count {
        composes: badge badge-pill badge-primary from global;
    }

    &--show {
        display: block !important;
    }

    &__hit-item {
        &__breadcrumb {
            composes: mb-1 from global;
            opacity: 0.8;
            font-size: 0.8rem;
        }
    }

    &__message {
        composes: p-2 from global;
    }
}

:global(.ais-InfiniteHits-list) {
    @extend .list-group, .list-group-flush;
}

:global(.ais-InfiniteHits-item) {
    @extend .list-group-item, .list-group-item-action, .p-0;
    overflow: hidden;

    a {
        outline: none;
        color: $dark;
        font-size: 0.85rem;
        @extend .d-block, .p-3;

        &:hover,
        &:focus {
            background-color: $primary;
            text-decoration: none;
            color: $light;

            mark {
                color: $light;
            }
        }
    }

    .ais-Snippet {
        white-space: normal;
        font-size: 0.9rem;
    }

    mark {
        @extend .p-0;
        background-color: transparent;
        color: $primary;
        font-weight: bold;
    }

    h4 {
        font-size: 1rem;
        font-weight: bold;
    }
}

:global(.ais-InfiniteHits-loadMore) {
    @extend .card-footer;

    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    border-left: none;
    border-right: none;
    border-bottom: none;

    &:not(:global(.ais-InfiniteHits-loadMore--disabled)) {
        &:hover,
        &:focus {
            background-color: $primary;
            color: $light;
        }
    }
}

:global(.ais-InfiniteHits-loadMore--disabled) {
    &::before {
        content: 'No more results';
        font-size: 0.8rem;
    }

    font-size: 0;
}

:global {
    .ais-InfiniteHits {
        max-height: 400px;
        overflow-y: auto;
    }
}
