.icon {
    height: 16px;
    width: 16px;
    padding-top: 1px;
}

.iconContainer button {
    margin: 8px;
    width: 24px;
}

.iconLink {
    display: flex;
    justify-content: center;
    align-items: center;
}
