.flagCell {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
    gap: 8px;
}

.employeeData {
    display: flex;
    flex-direction: column;
}

.employeeData > span {
    line-height: 20px;
}

.image {
    width: 24x;
    height: 24px;
}
