.example-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

.value {
    margin-right: 20px;
    font-weight: bold;
    width: 50px;
    display: inline-block;
    text-align: right;
    padding-right: 2px;
}
