.example-wrapper {
    display: flex;
    height: 100%;
}

.inner-col {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.inner-col.vertical-toolbar {
    display: flex;
    flex: none;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.toolbar {
    height: 30px;
}

.vertical-toolbar > span {
    padding: 10px;
    margin: 10px;
    cursor: default;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-modify: none;
}

button.factory {
    height: 25px;
    border-radius: 5px;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
}

button i {
    margin-right: 10px;
}

.factory-red {
    background-color: indianred;
}

.factory-green {
    background-color: darkseagreen;
}

.factory-blue {
    background-color: cornflowerblue;
}

.green-row {
    background-color: #ddffdd !important;
}

.red-row {
    background-color: #ffdddd !important;
}

.blue-row {
    background-color: #ddddff !important;
}
