@use 'design-system' as *;

.outer {
    display: flex;
    justify-content: center;
}

.figmaCommunityButton {
    white-space: normal;
    text-align: center;

    :global(svg.icon) {
        --icon-size: #{$spacing-size-5};

        margin-left: $spacing-size-1;
    }
}
