---
import { Icon } from '@ag-website-shared/components/icon/Icon';
import styles from './FigmaCommunityButton.module.scss';
---

<div class={styles.outer}>
    <a
        class:list={[styles.figmaCommunityButton, 'button']}
        href="https://www.figma.com/community/file/1360600846643230092/ag-grid-design-system"
        target="_blank"
    >
        <span>AG Grid Design System - Figma Community</span>
        <Icon name="figmaCommunity" />
    </a>
</div>
