{
  "extends": [
    "plugin:compat/recommended"
  ],
  "env": {
    "browser": true,
    "es6": false,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 5
  },
  "plugins": [
    "ie11"
  ],
  "rules": {
    "ie11/no-collection-args": [
      "error"
    ],
    "ie11/no-for-in-const": [
      "error"
    ],
    "ie11/no-weak-collections": [
      "error"
    ]
  },
  "settings": {
    "polyfills": [
      "Reflect",
      "document.registerElement" //  we do an existence check for this in our web component - mute this accordingly
    ]
  }
}