<!--
 This page mostly contains layout and presentation code - it is not an important part
 of understanding the examples provided
-->
<ul *ngIf="!fromDocs" class="nav nav-pills">
    <li *ngFor="let example of examples" role="presentation" [class.active]="currentExample === example.key">
        <a (click)="setCurrentExample(example.key)">{{example.title}}</a>
    </li>
</ul>

<div *ngIf="currentExample=='rich-grid'">
    <rich-grid></rich-grid>
</div>
<div *ngIf="currentExample=='rich-grid-declarative'">
    <ag-rich-grid-declarative></ag-rich-grid-declarative>
</div>
<div *ngIf="currentExample=='from-component'">
    <ag-from-component></ag-from-component>
</div>
<div *ngIf="currentExample=='from-rich-component'">
    <ag-from-rich-component></ag-from-rich-component>
</div>
<div *ngIf="currentExample=='editor-component'">
    <ag-editor-component></ag-editor-component>
</div>
<div *ngIf="currentExample=='floating-row'">
    <ag-floating-row-renderer-component></ag-floating-row-renderer-component>
</div>
<div *ngIf="currentExample=='full-width'">
    <ag-full-width-renderer-component></ag-full-width-renderer-component>
</div>
<div *ngIf="currentExample=='group-row'">
    <ag-group-row-renderer-component></ag-group-row-renderer-component>
</div>
<div *ngIf="currentExample=='filter'">
    <ag-filter-component></ag-filter-component>
</div>
<div *ngIf="currentExample=='master-detail'">
    <ag-masterdetail-master></ag-masterdetail-master>
</div>
<div *ngIf="currentExample=='grouped-data'">
    <ag-grouped-data-component></ag-grouped-data-component>
</div>
