p {
    font-size: 1em;
    margin: 0;
}

.cell-renderer-outer {
    height: 80px;
}

.cell-renderer-outer form {
    height: 100%;
}

.container {
    max-width: 960px;
    height: 100%;
    margin: 10% auto;
    padding: 2.5em;
}

form > div {
    height: 100%;
    display: flex;
    background-color: #99999944;
}

form > div > div {
    min-width: 33.3%;
}

label {
    display: block;
    margin: 0.75em 25%;
    font-weight: bold;
}
