@use "sass:map";
@use '../../../design-system' as ds;

$z-index-mouse-mask: 10000; // NOTE: Above .ag-dnd-ghost z-index of 9999
$z-index-debug-canvas: $z-index-mouse-mask + 10;
$z-index-splash: $z-index-debug-canvas + 10;
$z-index-debug-panel: $z-index-splash + 10;
$z-index-splash-contents: 10;

:global(.automated-integrated-charts-grid.ag-theme-alpine-dark) {
    background-color: #00162d;
    position: relative;

    @media screen and (max-width: ds.$breakpoint-automated-row-grouping-medium) {
        width: 200% !important;
        height: 500px !important;
        margin-top: ds.$size-3 * -1;
        margin-bottom: calc(500px / -2 + ds.$size-2);
        transform-origin: top left;
        transform: scale(0.5);
        border-radius: 8px;
        overflow: hidden;
        pointer-events: none;
    }

    svg[class*='logo-mark'] {
        position: absolute;
        display: block;
        width: 64px * 2;
        height: 48px * 2;
        top: 51%;
        left: 50%;
        transform: translate(-60px, -48px) scale(1.5);
        z-index: 1;
    }

    // Button overrides for .ag-styles specificity
    :global(button.ag-side-button-button) {
        // Inherit text styles
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;

        // Button styles
        background: transparent;
        padding: calc(var(--ag-grid-size) * 2) 0 calc(var(--ag-grid-size) * 2) 0;
        width: 100%;
        margin: 0;
        min-height: calc(var(--ag-grid-size) * 18);
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;

        border: none;
        border-top: var(--ag-borders-side-button) var(--ag-border-color);
        border-bottom: var(--ag-borders-side-button) var(--ag-border-color);

        &:focus {
            box-shadow: none;
        }
    }

    // Set mini filter overrides for .ag-styles specificity
    :global(.ag-mini-filter) {
        margin: var(--ag-widget-container-vertical-padding) var(--ag-widget-container-horizontal-padding);
    }

    // Set filter overrides for .ag-styles specificity
    :global(.ag-set-filter-item) {
        margin: 0px var(--ag-widget-container-horizontal-padding);
    }

    // Set chart panel button overrides for .ag-styles specificity
    :global(.ag-chart-tool-panel-button-enable) {
        :global(.ag-chart-menu-close) {
            position: absolute;
            top: 50%;
            transition: transform 0.33s ease-in-out;
            padding: 0;
            display: block;
            cursor: pointer;
            border: none;

            right: 0;

            :global(.ag-icon) {
                padding: 14px 5px 14px 2px;
            }

            &::before {
                content: '';
                position: absolute;
                top: -40px;
                bottom: -40px;

                right: 0;
            }
        }
    }

    // Set chart panel group container overrides for .ag-styles specificity
    :global(.ag-charts-format-top-level-group-container) {
        margin-left: calc(var(--ag-grid-size) * 2);
    }
    :global(.ag-charts-format-top-level-group-item) {
        margin: var(--ag-grid-size) 0;
    }
    :global(.ag-charts-format-sub-level-group-container > *) {
        margin-bottom: var(--ag-widget-vertical-spacing);
    }
}

.contents {
    line-height: var(--line-height-tight) !important; // !important for .ag-styles specificity;
    color: var(--text-color);
    z-index: $z-index-splash + $z-index-splash-contents;

    @media screen and (min-width: ds.$breakpoint-automated-row-grouping-medium) {
        max-width: 22em;
        margin-left: 10% !important; // !important for .ag-styles specificity;
        margin-right: 10% !important; // !important for .ag-styles specificity;
    }

    @media screen and (min-width: ds.$breakpoint-automated-row-grouping-large) {
        font-size: var(--font-size-extra-large) !important; // !important for .ag-styles specificity;
    }

    h2 {
        --font-weight: var(--font-weight-bold);

        @media screen and (max-width: ds.$breakpoint-automated-row-grouping-medium) {
            font-size: min(var(--font-size-massive), 8.5vw) !important; // !important for .ag-styles specificity;
        }

        @media screen and (min-width: ds.$breakpoint-automated-row-grouping-large) {
            font-size: var(--font-size-gigantic) !important; // !important for .ag-styles specificity;
        }
    }

    .hide & {
        pointer-events: none;
    }
}

.contentsInner {
    transition: opacity 0.33s ease-in-out;
}

.exploreExampleButton {
    margin-top: ds.$size-2 !important; // !important for .ag-styles specificity;
    padding: 0.375em 0.8em 0.5em 1em !important; // !important for .ag-styles specificity;
    outline: transparent 3px solid !important; // !important for .ag-styles specificity;
    outline-offset: 0;
    transition: outline-color 0.15s ease-in-out, outline-offset 0.15s ease-in-out !important; // !important for .ag-styles specificity;

    @media screen and (max-width: ds.$breakpoint-automated-row-grouping-medium) {
        display: none !important; // !important for .ag-styles specificity;
    }

    @media screen and (min-width: ds.$breakpoint-automated-row-grouping-large) {
        margin-top: ds.$size-4 !important; // !important for .ag-styles specificity;
        font-size: var(--font-size-extra-large) !important; // !important for .ag-styles specificity;
    }

    &:hover,
    &:focus,
    &:focus-visible {
        box-shadow: none !important; // !important for .ag-styles specificity;
    }

    :global(.exampleHover) &,
    &:hover,
    &:focus-visible {
        --button-text-color: var(--ag-grid-dark-blue);

        outline-color: var(--sky-blue) !important; // !important for .ag-styles specificity;
        outline-offset: 4px;
    }

    :global(.icon) {
        --icon-size: 1.5em !important; // !important for .ag-styles specificity;

        margin: -1em 0 -1em 0.25em !important; // !important for .ag-styles specificity;
    }
}

.getStartedLink {
    --icon-size: 1.25em;
    --text-color: var(--link-color);

    position: relative;
    display: inline-block;
    margin-top: ds.$size-4 !important; // !important for .ag-styles specificity;
    padding-right: ds.$size-3;
    transition: color ds.$default-transition-timing;

    @media screen and (min-width: ds.$breakpoint-automated-row-grouping-medium) {
        margin-top: ds.$size-6 !important; // !important for .ag-styles specificity;
    }

    @media screen and (min-width: ds.$breakpoint-automated-row-grouping-large) {
        margin-top: ds.$size-8 !important; // !important for .ag-styles specificity;
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -3px;
        left: 0;
        height: 2px;
        background-color: var(--text-color);
        transition: background-color ds.$default-transition-timing;

        @media screen and (max-width: ds.$breakpoint-automated-row-grouping-medium) {
            display: none;
        }
    }

    &:hover,
    &:focus-visible {
        --text-color: var(--link-hover-color);

        :global(.icon) {
            transform: translateX(4px);
        }
    }

    :global(.icon) {
        position: absolute;
        bottom: 0;
        right: -0.33em;
        transition: transform ds.$default-transition-timing, fill ds.$default-transition-timing;
    }
}

.mouseMask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 41px 1rem 1rem;
    overflow: hidden;
    z-index: $z-index-mouse-mask;
    pointer-events: none;

    // Start off hidden
    opacity: 0;

    :global(.mouse) {
        position: absolute;
        top: 6px;
        left: 4px;
    }

    :global(.highlight) {
        opacity: 0.15;
    }

    :global(.animate-click) {
        transform-origin: 50% calc(50% - 1px);
        opacity: 0;
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
        transform: scale(0.1);
    }

    :global(.animate .animate-click) {
        opacity: 0.3;
        transform: scale(1);
    }
}
