@use '../core' as *;

.archivePage {
    width: 100%;

    ul {
        margin-top: $spacing-size-12;
        margin-bottom: $spacing-size-32;
    }

    li {
        margin-top: $spacing-size-4;
    }

    a {
        font-weight: var(--text-regular);
    }
}