@use '../core' as *;

.mainNavLarge {
    display: none;

    @media screen and (min-width: $breakpoint-site-header-small) {
        display: block;
    }
}

#mainNavSmall {
    width: 100%;

    @media screen and (min-width: $breakpoint-site-header-small) {
        display: none;
    }
}
