@use 'design-system' as *;

.aboutPage {
    h2 {
        font-size: 40px;
        font-weight: var(--text-bold);
        letter-spacing: -1px;

        width: auto;
    }
}
.introSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: $spacing-size-20;
    padding-bottom: $spacing-size-20;

    p {
        max-width: 600px;
        padding-top: $spacing-size-3;
        line-height: 1.6;
    }
}

.aboutHeaderImage {
    max-width: 800px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    user-select: none;
}

.customerLogos {
    padding-top: $spacing-size-20;
    padding-bottom: $spacing-size-20;
}

.memoriumSection {
    padding-top: $spacing-size-20;
    padding-bottom: $spacing-size-20;

    .content {
        display: flex;
        flex-direction: row;
        gap: $spacing-size-12;

        p {
            max-width: 600px;
            padding-top: $spacing-size-3;
            line-height: 1.6;
        }

        div {
            max-width: 500px;
        }

        img {
            max-width: 200px;
        }
    }
}

.historySection {
    padding-top: $spacing-size-20;
    padding-bottom: $spacing-size-20;
}
