.participant-group {
    background-color: #33cc3344;
}

.medals-group {
    background-color: #2244cc44;
}

.legend-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
}
