@use '../design-system' as *;

.announcements {
}

.versions {
    margin-top: $size-4 !important; // !important for .ag-styles specificity
    margin-bottom: $size-4 !important; // !important for .ag-styles specificity

    > div:not(:last-child) {
        margin-bottom: $size-2;
    }
}

.newsletterSignup {
    margin-bottom: $size-4 !important; // !important for .ag-styles specificity

    label {
        display: block;
        margin-bottom: $size-half !important; // !important for .ag-styles specificity
    }

    input[type='email'] {
        width: 100%;
        margin-bottom: $size-1 !important; // !important for .ag-styles specificity
        margin-left: 0 !important; // !important for .ag-styles specificity
    }
}

.announcement {
    composes: card my-2 from global;

    &--highlighted {
        background-color: #f1f7ff !important;
    }

    p {
        font-size: 0.8rem;
    }

    h5,
    h6 {
        font-size: 1rem;

        a {
            color: $body-color;
            text-decoration: none;
        }
    }

    ul {
        list-style: none;
        padding-left: 0;
        padding-inline-start: 0;
    }

    &__list-item {
        composes: py-1 from global;
    }

    &__flag {
        height: 12px;
        padding-right: 5px;
        vertical-align: baseline;
    }
}
