@use '../design-system' as *;

.versions {
    margin-top: $size-4 !important; // !important for .ag-styles specificity
    margin-bottom: $size-4 !important; // !important for .ag-styles specificity

    > div:not(:last-child) {
        margin-bottom: $size-2;
    }
}

.newsletterSignup {
    margin-bottom: $size-4 !important; // !important for .ag-styles specificity

    label {
        display: block;
        margin-bottom: $size-half !important; // !important for .ag-styles specificity
    }

    input[type='email'] {
        width: 100%;
        margin-bottom: $size-1 !important; // !important for .ag-styles specificity
        margin-left: 0 !important; // !important for .ag-styles specificity
    }
}

.announcement {
    padding: $size-1;
    border-radius: var(--border-radius);
    background-color: var(--bright-blue-gray);
}
