@use '../design-system' as *;

.versions {
    margin-top: $size-4;
    margin-bottom: $size-4;

    > div:not(:last-child) {
        margin-bottom: $size-2;
    }
}

.newsletterSignup {
    margin-bottom: $size-4;

    label {
        display: block;
        margin-bottom: $size-half;
    }

    input[type='email'] {
        width: 100%;
        margin-bottom: $size-1;
        margin-left: 0;
    }
}

.announcement {
    padding: $size-1;
    background-color: var(--background-100);
    border-radius: var(--border-radius);
    border: 2px solid var(--bright-blue-gray);
}
