.breadcrumbs {
    margin-bottom: 1rem;

    a {
        color: $primary;
    }
}

.reference {
    height: 1px; // needed for divs to fit table cell heights correctly

    &__name {
        font-weight: bold;
        color: inherit;
        word-break: keep-all;
    }

    &__required {
        color: red;
    }

    &__type {
        color: $primary;
        font-size: 0.9rem;
        white-space: nowrap;
    }

    &__expander-cell {
        padding: 0 !important;
        width: 0.65rem !important;
        + td {
            width: 280px;
        }
    }

    &__expander {
        composes: pt-2 from global;

        background-color: $light;
        height: 100%;
        padding: 0 1px;

        svg {
            transition: all 0.5s;
            height: 0.8rem;
            width: 1rem;
            vertical-align: middle;
        }
    }

    &__code-sample {
        composes: my-2 from global;
    }
}
