.feature-overview {
    &__feature {
        composes: py-3 d-flex flex-wrap from global;
        border-top: 1px solid lightgray;
    }

    &__feature:nth-child(even) &__feature_description {
        order: 1;
    }

    &__feature_title {
        composes: w-100 from global;
    }

    &__feature_description {
        composes: m-2 from global;
        flex: 1 1 40%;
    }

    &__feature_image {
        composes: m-2 from global;
        flex: 1 1 40%;
        a {
            display: flex;
            flex-direction: column;
            text-align: end;
        }
    }
}