@use '../design-system' as *;

.frameworkSelector {
    --icon-size: #{$size-3};

    display: flex;
    background-color: var(--input-background-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    margin-top: -18px;

    #{$darkmode-selector} & {
        background-color: #151d26;
    }
}

.selectFrameworkContainer {
    position: relative;
    display: flex;
    align-items: center;

    img {
        width: var(--icon-size);
        height: var(--icon-size);
        margin: 10px;
        border-radius: 4px;
    }

    span {
        display: block;
        width: 1px;
        height: calc(100% - 12px);
        background-color: #28333d;
    }

    select {
        display: block;
        width: 135px;
        cursor: pointer;
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-medium);
        border: none;
    }
}
