.framework-selector {
    --height: 44px;
    --icon-size: 26px;
    --font-size: 16px;
    --border-width: 2px;

    display: flex;
    width: 100%;
    min-width: 220px;
    font-weight: 500;
}

.framework-selector__option {
    $selected-color: #3798f9;

    display: flex;
    position: relative;
    justify-content: center;
    padding: calc((var(--height) - var(--icon-size)) / 2) 0;
    text-decoration: none;
    background-color: white;

    &:not(:first-child) {
        margin-left: var(--border-width);
    }

    &:first-child {
        padding-left: calc(var(--height) / 4);
    }

    &:last-child{
        padding-right: calc(var(--height) / 4);
    }

    // Using ::after to create borders to create pleasant overlap
    &::after {
        content: "";
        position: absolute;
        height: 100%;
        top: 0;
        left: calc(var(--border-width) * -1);
        right: calc(var(--border-width) * -1);
        border: var(--border-width) solid transparent;
        transition: border-color .25s ease-in-out;
    }

    &:first-child::after {
        left: 0;
    }

    &:last-child::after {
        right: 0;
    }

    &:first-child,
    &:first-child::after {
        border-top-left-radius: calc(var(--height) / 2);
        border-bottom-left-radius: calc(var(--height) / 2);
    }

    &:last-child,
    &:last-child::after {
        border-top-right-radius: calc(var(--height) / 2);
        border-bottom-right-radius: calc(var(--height) / 2);
    }

    img {
        width: var(--icon-size);
        height: var(--icon-size);
    }

    span {
        display: none;
        margin-left: 4px;
        font-size: var(--font-size);
        color: #212529;
        transition: opacity .25s ease-in-out;
    }

    &:hover {
        text-decoration: none;
        
        &::after {
            border-color: rgba($selected-color, 0.5);
        }
    }


    &--selected{
        &::after,
        &:hover::after {
            border-color: $selected-color;
        }

        span {
            opacity: 1;
        }
    }
}

.framework-selector--show-selected .framework-selector__option {
    width: 25%;

    span {
        opacity: .6666;
    }

    &:hover {
        opacity: .85;
    }

    @media screen and ( min-width: 880px ) {
        width: unset;
        padding: calc((var(--height) - var(--icon-size)) / 2);

        &:first-child {
            padding-left: calc(var(--height) / 1.75);
        }
    
        &:last-child{
            padding-right: calc(var(--height) / 2);
        }

        span {
            display: inline;
        }
    }
}

.framework-selector--full-width {
    max-width: 420px;

    .framework-selector__option {
        width: 20%;
    }

    @media screen and ( min-width: 740px ) {
        width: unset;
        max-width: unset;

        .framework-selector__option {
            width: unset;
            padding: calc((var(--height) - var(--icon-size)) / 2);
    
            &:first-child {
                padding-left: calc(var(--height) / 1.75);
            }
        
            &:last-child{
                padding-right: calc(var(--height) / 2);
            }
    
            span {
                display: inline;
            }
        }
    }

    @media screen and ( min-width: 1020px ) {
        --height: 62px;
        --icon-size: 36px;
        --font-size: 22px;
        --border-width: 3px;

        .framework-selector__option {
            padding: calc((var(--height) - var(--icon-size)) / 2) calc(var(--height) / 3);
        }

        span {
            margin-left: 8px;
        }
    }
}