.gif {
    max-width: 100%;
    margin-bottom: 1rem;
    outline: none !important;

    &--wrapped {
        margin-bottom: 0;
    }
}

:global {
    .gif_player {
        display: inline-block;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;

        .play_button {
            background-color: rgba(0, 0, 0, 0.5);
            border: 2px dashed #fff;
            border-radius: 50%;
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
            color: #fff;
            cursor: pointer;
            font-size: 40px;
            line-height: 30px;
            left: 50%;
            opacity: 1;
            padding: 14px 10px;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%) scale(1) rotate(0deg);
            transition: transform 0.4s, opacity 0.4s;

            &:hover {
                background-color: rgba(0, 0, 0, 0.7);
                box-shadow: 0 0 0 3px rgba(236, 234, 234, 0.7);
            }

            &::after {
                font-family: sans-serif;
                content: "\25B6";
                padding: 0 2px;
            }
        }

        &.playing .play_button {
            transform: translate(-50%, -50%) scale(0) rotate(180deg);
            opacity: 0.5;
        }

        img {
            max-width: 100%;
        }
    }
}
