.header-nav {
    composes: navbar navbar-expand-md navbar-dark px-0 py-0 from global;
    margin-left: auto;

    &__wrapper {
        composes: d-flex flex-column-reverse flex-md-row px-md-0 from global;
        text-align: right;
    }

    &__widgets {
        composes: d-flex from global;
    }

    &__button {
        appearance: none;
        margin-left: auto;
        padding-top: 6px;
        padding-bottom: 6px;
        border: none;
        background-color: transparent;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__navbar-collapse {
        composes: collapse navbar-collapse from global;
        flex-basis: auto !important;
    }

    &__navbar {
        composes: navbar-nav from global;
    }

    &__link {
        composes: nav-link from global;
        position: relative;

        a {
            color: white;
            font-weight: 500;
            letter-spacing: 0.01em;
            
            &:hover {
                color: white;
                text-decoration: none;
            }

            @media screen and (min-width: 860px) {
                font-size: 18px;
            }
        }

        &--active {
            @include media-breakpoint-up(md) {
                &::after {
                    content: "";
                    height: 0.2rem;
                    width: 100%;
                    background-color: #fff;
                    position: absolute;
                    left: 0;
                    bottom: -0.7rem;
                }
            }
        }
    }

    &__link-anchor {
        composes: py-2 px-md-4 from global;
    }
}
