.icons-panel {
    &__container {
        composes: nav nav-tabs bg-primary pl-2 pt-2 from global;
    }

    &__item {
        composes: nav-item mr-2 from global;
    }

    &__nav-link {
        composes: nav-link from global;

        background-color: transparent;
        color: $light;

        &:focus {
            outline: none;
        }

        &--active {
            composes: active from global;

            background-color: $light;
            color: black;
        }

        &:hover {
            color: $light;
        }
    }

    &__wrapper {
        composes: tab-content border border-top-0 from global;

        height: 34rem;
        overflow: hidden;
    }

    &__body {
        composes: tab-pane show active container px-0 from global;

        position: relative;
        height: 34rem;
        overflow-y: scroll;
    }

    &__icon-list {
        composes: row mx-0 w-100 flex-fill from global;
    }

    &__icon-tile {
        composes: col col-3 p-0 d-flex flex-column align-items-center justify-content-center from global;

        height: 5rem;
        border: 1px solid transparent;
        border-right-color: lightgrey;
        border-bottom-color: lightgray;
        font-size: 0.8rem;

        img {
            height: 32px;
        }

        &__name {
            composes: m-0 from global;
        }
    }

    &__download {
        composes: bg-primary p-2 from global;

        a {
            color: $light;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
