.image-caption {
    composes: card mx-3 my-3 from global;
    border: none;

    &--centered {
        composes: mx-auto from global;
    }

    &--constrained {
        max-width: 100%;
    }

    &__image {
        composes: p-2 from global;

        &--constrained {
            max-width: 100%;
        }

        &--centered {
            composes: mx-auto d-block from global;
        }
    }

    &__body {
        composes: card-body from global;

        &--description-top {
            composes: p-1 text-center from global;
        }
    }

    &__body-text {
        composes: card-text from global;

        white-space: nowrap;
    }
}
