@use '../design-system' as *;

.imageCaption {
    display: flex;
    flex-direction: column;
    margin: $size-2 $size-3 $size-1;
}

.imageCaption.centered {
    margin-right: auto;
    margin-left: auto;

    .image {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

.imageCaption.constrained {
    max-width: 100%;

    .image {
        max-width: 100%;
    }
}

.body {
    padding: $size-2;

    &.top {
        padding: $size-half;
    }
}

.bodyText {
    white-space: nowrap;
}

#{$darkmode-selector} .imageCaption.filterDarkMode img {
    filter: invert(1) hue-rotate(180deg) saturate(1.25);
    mix-blend-mode: screen;
}
