@use '../design-system' as *;

.learningVideos {
    display: flex;
    flex-direction: column;
    gap: $size-2;
}

.video {
    display: inline-flex;
    gap: $size-2;
    transition: color 0.2s ease-in-out;

    h2 {
        --font-size: var(--font-size-medium);

        margin-top: 0;

        @media screen and (min-width: $breakpoint-videos-extra-small) {
            --font-size: var(--font-size-large);
        }

        @media screen and (min-width: $breakpoint-videos-medium) {
            --font-size: var(--font-size-extra-large);
        }
    }

    img {
        height: 60px;
        width: auto;
        border-radius: var(--border-radius);
        border: 2px solid var(--border-color);
        transition: border-color $default-transition-timing;

        @media screen and (min-width: $breakpoint-videos-extra-small) {
            height: 100px;
            --font-size: var(--font-size-large);
        }
    }

    &:hover img {
        border-color: var(--link-hover-color);
    }

    .body {
        flex-grow: 1;
        min-width: 50%;
    }

    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        list-style: disc;
        gap: 0 $size-1;

        @media screen and (min-width: $breakpoint-videos-medium) {
            flex-wrap: wrap;
            flex-direction: row;
        }
    }

    // !important to deal with .doc-page issues
    .body ul {
        margin-bottom: 0 !important;
    }

    li {
        color: var(--text-color);

        margin-left: $size-2;

        @media screen and (min-width: $breakpoint-videos-medium) {
            width: 40%;
        }

        @media screen and (min-width: $breakpoint-videos-large) {
            width: 33%;
        }
    }
}
