.learning-videos {
    composes: d-flex from global;

    display: flex;
    flex-direction: column;

    a {
        color: inherit;
        &:hover {
            color: inherit;
        }
    }

    &--header {
        font-size: 1.25rem;
    }

    &__frame {
        composes: ml-3 from global;

        border: 2px solid $dark;
        border-radius: 5px;
    }

    &__video {
        padding: 1.5rem 0.5rem 0 0.5rem;
        width: 100%;

        &:hover {
            color: inherit;
            background-color: rgba(0, 0, 0, 0.05);
        }

        &__anchor-body {
            composes: d-flex from global;

            &__index {
                padding-right: 1rem;
                margin-top: 20px;
                align-items: center;
                font-weight: bold;
                color: #666;
            }
            &__body {
                composes: w-100 d-flex flex-column flex-lg-row from global;

                padding-bottom: 0.75rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.10);

                ul {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    @include media-breakpoint-up(lg) {
                        flex-direction: row;
                        flex-wrap: wrap;
                    }
                    

                    li {
                        flex-grow: 1;
                        min-width: 50%;
                    }
                }

                &__video-content {
                    composes: d-flex from global;

                    position: relative;
                    max-width: 30rem;

                    &__running-time {
                        position: absolute;
                        padding: 0.25rem;
                        font-size: smaller;
                        margin: 0;
                        color: white;
                        background-color: rgba(0,0,0,.5);
                    }
                    > img {
                        width: 100%;
                        @include media-breakpoint-up(lg) {
                            width: auto;
                            height: 100px;
                        }
                    }
                }

                &__video-notes {
                    composes: pl-lg-3 from global;
                    max-width: 35rem;
                    h4 {
                        margin-top: 0.25rem;
                        font-size: 1rem;
                        @include media-breakpoint-up(lg) {
                            margin-top: 0;
                            font-size: 1.5rem;
                        }

                    }
                }
            }
        }
    }
}
