.learning-videos {
    composes: d-flex from global;

    display: flex;
    flex-direction: column;

    a {
        color: inherit;
        &:hover {
            color: inherit;
        }
    }

    &--header {
        font-size: 1.25rem;
    }

    &__frame {
        composes: ml-3 from global;

        border: 2px solid $dark;
        border-radius: 5px;
    }

    &__video {
        padding: 1.5rem 0.5rem 0 0.5rem;
        width: 100%;

        &:hover {
            color: inherit;
            background-color: rgba(0, 0, 0, 0.05);
        }

        &__anchor-body {
            display: flex;
            height: 100px;

            &__index {
                padding-right: 1rem;
                display: flex;
                align-items: center;
            }
            &__body {
                display: flex;
                width: 100%;
                padding-bottom: 0.75rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.10);

                ul {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        flex-grow: 1;
                        min-width: 50%;
                    }
                }

                &__video-content {
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;

                    &__running-time {
                        position: absolute;
                        padding: 0.25rem;
                        font-size: smaller;
                        margin: 0;
                        color: white;
                        background-color: rgba(0,0,0,.5);
                    }
                }

                &__video-notes {
                    padding-left: 0.5rem;
                    width: 60%;
                    margin-top: -1rem;
                }
            }
        }
    }
}
