.matrix-table {
    &--pad3 {
        composes: ml-3 from global;
    }

    &--pad4 {
        composes: ml-5 from global;
    }

    &__title {
        font-size: 1.5rem;
    }

    &__true {
        color: $success;
    }

    &__false {
        color: $danger;
    }
}
