@use '../design-system' as *;

.outer {
    container-type: inline-size;
}

.matrix {
    table-layout: auto !important;

    @container (max-width: #{$breakpoint-table-small}) {
        @include stack-table();

        // Fixing .ag-styles specificity issues
        tr,
        td {
            background-color: transparent !important;
        }

        // Fixing .ag-styles specificity issues
        td {
            padding: 0 !important;
            border: none !important;
        }

        div {
            display: inline;
        }
    }

    th {
        white-space: nowrap;
    }
}

.title {
    font-size: var(--font-size-extra-large);
}

.level-3 {
    @container (min-width: #{$breakpoint-table-small}) {
        margin-left: $size-2;
    }
}

.level-4 {
    @container (min-width: #{$breakpoint-table-small}) {
        margin-left: $size-5;
    }
}

.tick,
.cross {
    --icon-size: #{$size-3};
}

.tick {
    --text-color: #{$success};
}

.cross {
    --text-color: #{$danger};
}
