@use '../design-system' as *;

.menu {
    $top-bar-height: 58px;

    border-bottom: 1px solid var(--border-color);

    @media screen and (max-width: $breakpoint-docs-nav-medium) {
        @include page-horizontal-margins();
    }

    @media screen and (min-width: $breakpoint-docs-nav-medium) {
        --left-padding: max(var(--horizontal-margin), calc(50vw - var(--max-page-width) / 2));

        flex-shrink: 0;
        width: calc(300px + var(--left-padding));
        padding-right: $size-2;
        padding-left: var(--left-padding);
        border-right: solid 1px var(--bright-blue-gray);

        @supports (position: sticky) {
            position: sticky;
            top: $top-bar-height;
            height: calc(100vh - #{$top-bar-height});
            overflow: hidden;
            overflow-y: auto;
        }
    }

    &__arrow {
        composes: mr-1 from global;

        transition: all 0.5s;
        height: 0.8rem;
        width: 1rem;
        vertical-align: -0.05rem;
    }
}

.menuInner {
    flex-basis: auto !important;
    flex-direction: column;
    padding-top: $size-3;
    padding-bottom: $size-4;

    @media screen and (min-width: $breakpoint-docs-nav-medium) {
        display: block !important; // !important to override bootstrap styles
    }
}

.menuSection {
    padding-top: $size-1;
    padding-bottom: $size-1;
}

.sectionHeader {
    width: 100%;
    font-weight: var(--font-weight-bold);
    border: 2px solid transparent !important; // !important for .ag-styles specificity
    outline: none;
    transition: border-color $default-transition-timing;
    border-radius: var(--border-radius);

    &:focus,
    &:focus-visible {
        border-color: var(--sky-blue) !important; // !important for .ag-styles specificity
    }
}

.menuGroup {
    $first-indent-size: 20px;
    $indent-size: 14px;

    line-height: var(--line-height-tight) !important; // !important for .ag-styles specificity
    font-size: var(--font-size-small);

    a {
        position: relative;
        display: block;
        padding-top: $size-half;
        padding-bottom: $size-half;
        padding-left: $first-indent-size;
        outline: none;
        border-radius: var(--border-radius);
        border: 2px solid transparent;
        color: var(--text-color) !important; // !important for .ag-styles specificity
        transition: border-color $default-transition-timing;

        &:hover {
            color: var(--link-color) !important; // !important for .ag-styles specificity
        }

        &:focus,
        &:focus-visible {
            border-color: var(--sky-blue);
        }
    }

    ul a {
        padding-left: $first-indent-size + $indent-size;
        color: var(--secondary-text-color) !important; // !important for .ag-styles specificity

        &.activeMenuItem {
            color: var(--text-color) !important; // !important for .ag-styles specificity
        }
    }

    ul ul a {
        padding-left: $first-indent-size + $indent-size * 2;
    }

    .enterpriseIcon {
        --icon-size: 1.15em !important; // !important for .ag-styles specificity

        margin-top: -0.15em;
        margin-left: 0.15em;
        fill: red !important; // !important for .ag-styles specificity
    }
}

.activeMenuItem {
    pointer-events: none;

    &::before {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        transform: translate(-10px, 6px);
        border-radius: 50%;
        background-color: var(--text-color);
    }
}
