@use '../design-system' as *;

.menu {
    $top-bar-height: 58px;

    border-bottom: 1px solid var(--border-color);

    @media screen and (max-width: $breakpoint-docs-nav-medium) {
        @include page-horizontal-margins();
    }

    @media screen and (min-width: $breakpoint-docs-nav-medium) {
        width: 300px;
        flex-shrink: 0;
        border-right: solid 1px var(--bright-blue-gray);
        padding-right: $size-2;

        @supports (position: sticky) {
            position: sticky;
            top: $top-bar-height;
            height: calc(100vh - #{$top-bar-height});
            overflow: hidden;
            overflow-y: auto;
        }
    }

    &__arrow {
        composes: mr-1 from global;

        transition: all 0.5s;
        height: 0.8rem;
        width: 1rem;
        vertical-align: -0.05rem;
    }
}

.menuInner {
    composes: collapse navbar-collapse from global;

    flex-basis: auto !important;
    flex-direction: column;
    padding-top: $size-2;
    padding-bottom: $size-4;

    @media screen and (min-width: $breakpoint-docs-nav-medium) {
        display: block !important; // !important to override bootstrap styles
    }
}

.menuSection {
    padding-top: $size-1;
    padding-bottom: $size-1;
}

.sectionHeader {
    font-weight: var(--font-weight-bold);
}

.menuGroup {
    padding-left: 20px !important; // !important for .ag-styles specificity
    line-height: var(--line-height-tight) !important; // !important for .ag-styles specificity

    a {
        position: relative;
        display: block;
        padding-top: $size-half;
        padding-bottom: $size-half;
        color: var(--text-color) !important; // !important for .ag-styles specificity

        &:hover {
            color: var(--link-color) !important; // !important for .ag-styles specificity
        }
    }

    ul a {
        color: var(--secondary-text-color) !important; // !important for .ag-styles specificity

        &.activeMenuItem {
            color: var(--text-color) !important; // !important for .ag-styles specificity
        }
    }

    .enterpriseIcon {
        --icon-size: 1.15em !important; // !important for .ag-styles specificity

        margin-top: -0.15em;
        margin-left: 0.15em;
        fill: red !important; // !important for .ag-styles specificity
    }
}

.activeMenuItem {
    pointer-events: none;

    &::before {
        content: '•';
        position: absolute;
        top: -0.3em;
        left: -0.5em;
        font-size: 2.125em;
    }
}
