@use '../design-system' as *;

.menu {
    $top-bar-height: 58px;

    border-bottom: 1px solid var(--border-color);

    @media screen and (max-width: $breakpoint-docs-nav-medium) {
        @include page-horizontal-margins();
    }

    @media screen and (min-width: $breakpoint-docs-nav-medium) {
        --left-padding: max(var(--horizontal-margin), calc(50vw - var(--max-page-width) / 2));

        flex-shrink: 0;
        width: calc(300px + var(--left-padding));
        padding-right: $size-4;
        padding-left: var(--left-padding);
        border-right: solid 1px var(--bright-blue-gray);

        @supports (position: sticky) {
            position: sticky;
            top: $top-bar-height;
            height: calc(100vh - #{$top-bar-height});
            overflow: hidden;
            overflow-y: auto;
        }
    }
}

.menuInner {
    flex-basis: auto !important;
    flex-direction: column;
    padding-top: $size-3;
    padding-bottom: $size-4;

    @media screen and (min-width: $breakpoint-docs-nav-medium) {
        display: block !important; // !important to override bootstrap styles
    }
}

.sectionHeader {
    width: 100%;
    padding-top: $size-1 !important; // !important for .ag-styles specificity
    padding-bottom: $size-1 !important; // !important for .ag-styles specificity
    font-weight: var(--font-weight-bold);
    border: 2px solid transparent !important; // !important for .ag-styles specificity
    outline: none;
    transition: color $default-transition-timing, border-color $default-transition-timing;
    border-radius: var(--border-radius);

    &:hover {
        --text-color: var(--link-color) !important; // !important for .ag-styles specificity
    }

    &:focus,
    &:focus-visible {
        border-color: var(--bright-blue-gray) !important; // !important for .ag-styles specificity
    }

    &:hover .sectionIcon {
        transform: translateX(3px);
    }
}

.sectionIcon {
    --icon-size: 20px;

    position: relative;
    top: -1px;
    transition: transform 0.33s ease-in-out, fill $default-transition-timing;

    &.active {
        transform: rotate(90deg) !important;
    }
}

.menuGroup {
    --first-indent-size: 4px;
    --indent-size: 12px;

    line-height: var(--line-height-tight) !important; // !important for .ag-styles specificity
    font-size: var(--font-size-small);

    ul a {
        margin-left: calc(var(--first-indent-size) + var(--indent-size));
    }

    ul ul a {
        margin-left: calc(var(--first-indent-size) + var(--indent-size) * 2);
    }

    .enterpriseIcon {
        --icon-size: 1.15em !important; // !important for .ag-styles specificity

        margin-top: -0.15em;
        margin-left: 0.15em;
        fill: red !important; // !important for .ag-styles specificity
    }
}

.menuGroup a {
    position: relative;
    display: block;
    padding-top: $size-half;
    padding-bottom: $size-half;
    padding-left: $size-2;
    margin-left: var(--first-indent-size);
    outline: none;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    color: var(--secondary-text-color) !important; // !important for .ag-styles specificity
    font-weight: var(--font-weight-bold);
    transition: color $default-transition-timing, border-color $default-transition-timing;

    &::before {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        transform: translate(-10px, 6px);
        border-radius: 50%;
        background-color: var(--white);
        transition: background-color $default-transition-timing;
    }

    &:hover {
        color: var(--link-color) !important; // !important for .ag-styles specificity

        &::before {
            background-color: var(--link-color) !important;
        }
    }

    &:focus,
    &:focus-visible {
        border-color: var(--bright-blue-gray) !important; // !important for .ag-styles specificity

        &::before {
            background-color: var(--dull-light-gray);
        }
    }

    &.activeMenuItem {
        pointer-events: none;
        color: var(--text-color) !important; // !important for .ag-styles specificity

        &::before {
            background-color: var(--text-color);
        }
    }
}
