@use '../design-system' as *;

.cta {
    --button-text-color: var(--link-color);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $size-5;
    height: $size-5;
    border-radius: var(--border-radius);
    transition: color $default-transition-timing, background-color $default-transition-timing;
    cursor: pointer;

    &:hover {
        --button-text-color: var(--link-color);

        background-color: var(--background-400);

        svg {
            --text-color: var(--link-color);
        }

        #{$darkmode-selector} & {
            background-color: var(--primary-100);
        }
    }

    svg {
        --icon-size: 1.25em;

        transform: translate(1px, 0.75px);
        transition: fill $default-transition-timing;
    }

    li:first-child & svg {
        --icon-size: 1.35em;
    }
}

.tooltip {
    --tooltip-background: var(--default-text-color);

    position: absolute;
    display: block;
    color: var(--default-background-color);
    top: -44px;
    padding: $size-half $size-2;
    white-space: nowrap;
    font-weight: 600;
    background-color: var(--tooltip-background);
    border-radius: 6px;
    transform: translateY($size-half);
    opacity: 0;
    pointer-events: none;
    transition-delay: 0;
    transition: opacity 0.165s ease-in, transform 0.165s ease-in;
    z-index: 1;

    &::before {
        $pointer-size: 8px;

        content: '';
        position: absolute;
        background-color: var(--tooltip-background);
        width: $pointer-size * 2;
        height: $pointer-size * 2;
        transform: rotate(45deg);
        bottom: -7px;
        left: calc(50% - $pointer-size);
        border-radius: 3px;
        z-index: -1;
    }

    .cta:hover & {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.33s ease-in, transform 0.33s ease-in;
        transition-delay: 0.165s;
    }

    #{$darkmode-selector} & {
        --tooltip-background: #202A34;
        
        color: var(--default-text-color);
        box-shadow: 0 -4px 16px 0 rgba(0, 0, 0, 0.4);
    }
}
