@use '../design-system' as *;

.sideNav {
    $top-bar-height: 58px;

    display: none;
    width: 220px;
    padding-left: $size-2;
    line-height: var(--line-height-tight);
    border-left: solid 1px var(--bright-blue-gray);

    @media screen and (min-width: $breakpoint-docs-nav-large) {
        display: block;
    }

    > div {
        @supports (position: sticky) {
            position: sticky;
            top: $top-bar-height;
            height: calc(100vh - #{$top-bar-height});
            overflow: hidden;
            overflow-y: auto;
        }
    }

    li:not(.level-2):not(:first-child) {
        margin-top: $size-2;
    }

    li:not(.level-2) a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.level-2 {
    margin-top: $size-half;
    margin-left: $size-2;
    font-size: var(--font-size-small);
}
