@use '../design-system' as *;

.sideNav {
    $top-bar-height: 58px;

    --right-padding: max(var(--horizontal-margin), calc(50vw - var(--max-page-width) / 2));

    display: none;
    width: calc(240px + var(--right-padding));
    padding-top: $size-4;
    padding-bottom: $size-7;
    padding-right: var(--right-padding);
    line-height: var(--line-height-tight);
    border-left: 1px solid var(--bright-blue-gray);

    @supports (position: sticky) {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    @media screen and (min-width: $breakpoint-docs-nav-large) {
        display: block;
    }

    > div {
        @supports (position: sticky) {
            padding-top: $size-4;
            padding-right: var(--right-padding);
            padding-bottom: $size-7;
            padding-left: $size-4;
            position: sticky;
            top: $top-bar-height;
            height: calc(100vh - #{$top-bar-height});
            overflow: hidden;
            overflow-y: auto;
        }
    }

    h3 {
        line-height: var(--line-height-tight);
        font-weight: var(--font-weight-normal);
        margin-bottom: $size-2 !important; // !important for .ag-styles specificity
    }

    a {
        font-weight: var(--font-weight-thin);
    }

    li:not(.level-2):not(:first-child) {
        margin-top: $size-1;
    }

    li:not(.level-2) a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.level-2 {
    margin-top: $size-half !important; // !important for .ag-styles specificity

    a {
        display: block;
        position: relative;
        padding-left: 0.625em;
    }

    a::before {
        content: '- ';
        position: absolute;
        left: 0;
        color: var(--sky-blue);
    }
}
