@use '../design-system' as *;

.sideNav {
    display: none;
    width: 220px;
    padding-left: $size-2;
    line-height: var(--line-height-tight);
    border-left: solid 1px var(--bright-blue-gray);

    @media screen and (min-width: $breakpoint-docs-nav-large) {
        display: block;
    }

    ul {
    }

    li:not(.level-2):not(:first-child) {
        margin-top: $size-2;
    }
}

.level-2 {
    margin-top: $size-half;
    margin-left: $size-2;
    font-size: var(--font-size-small);
}
