.tabs {
    .tab-list {
        border-bottom: 1px solid #ccc;
        padding-left: 0;

        .tab {
            display: inline-block;
            list-style: none;
            margin-bottom: -1px;
            padding: 0.5rem 0.75rem;

            &.active {
                background-color: white;
                border: solid #ccc;
                border-width: 1px 1px 0 1px;
            }
        }
    }
}
