@use '../design-system' as *;

.version {
    padding: $spacing-size-2;
    background-color: var(--background-100);
    border-radius: var(--border-radius);
    border: 2px solid var(--secondary-border-color);

    header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0 $spacing-size-4;

        span {
            font-weight: var(--font-weight-thin);
            margin-right: $spacing-size-12;
        }
    }

    p:not(:last-child) {
        margin-top: $spacing-size-2;
        margin-bottom: $size-half;
    }

    ul {
        margin-bottom: $spacing-size-4;

        a::before {
            content: '- ';
        }
    }
}
