@use '../design-system' as *;

.version {
    padding: $size-1;
    background-color: var(--background-100);
    border-radius: var(--border-radius);
    border: 2px solid var(--bright-blue-gray);

    header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0 $size-2;

        span {
            font-weight: var(--font-weight-thin);
            margin-right: $size-6;
        }
    }

    p:not(:last-child) {
        margin-top: $size-1;
        margin-bottom: $size-half;
    }

    ul {
        margin-bottom: $size-2;

        a::before {
            content: '- ';
        }
    }
}
