@use '../design-system' as *;

.videoSection {
    display: flex;
    flex-direction: column;
    gap: $size-2;
    margin-bottom: $size-2;

    @media screen and (min-width: $breakpoint-docs-home-small) {
        flex-direction: row;
        align-items: flex-start;
    }
}

.header {
    font-size: var(--font-size-large);
}

.ytIframe {
    aspect-ratio: 16/9;
    border-radius: var(--border-radius);
    border: 2px solid var(--secondary-border-color);

    @media screen and (min-width: $breakpoint-docs-home-small) {
        max-width: 16rem;
    }
}
