.video-link {
    composes: d-flex align-items-center my-2 from global;

    img {
        height: 30px;
    }

    &__link {
        composes: ml-2 from global;

        &:hover {
            text-decoration: none;
        }
    }
}
