@use '../design-system' as *;

.videoSection {
    display: flex;
    flex-direction: column;
    gap: $size-2;

    @media screen and (min-width: $breakpoint-docs-home-small) {
        flex-direction: row;
        align-items: flex-start;
    }

    // `&:global(.ag-styles)` for .ag-styles specificity issues
    &:global(.ag-styles) p {
        margin-bottom: 0 !important; // !important for .ag-styles specificity;
    }
}

.header {
    font-size: var(--font-size-extra-large);
}

.ytIframe {
    aspect-ratio: 16/9;
    border-radius: var(--border-radius);
    border: 2px solid var(--bright-blue-gray);

    @media screen and (min-width: $breakpoint-docs-home-small) {
        max-width: 16rem;
    }
}
