.top-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.panel-body {
    display: flex;
    align-items: center;
}

.example-toolbar label {
    margin: 0 15px 0 0;
}

.example-toolbar input[type='radio'] {
    margin: 0 0.25rem 0 0;
}

.grid-wrapper {
    display: flex;
    flex: 1 1 auto;
    margin-top: 5px;
}

.grid-wrapper .panel {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.grid-wrapper .panel-body {
    flex: 1 1 auto;
    overflow: hidden;
    padding: 0;
    display: flex;
}

.grid-wrapper .panel-body > div {
    width: 100%;
}
