.options {
    line-height: 1.6em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #495057;
    font-size: 0.9em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.options__content {
    overflow-y: scroll;
}

.options__no-content {
    margin: 2em;
    font-size: 1.2em;
    text-align: center;
}

.section {
    margin: 10px;
}

.section:not(.section--hidden)+.section {
    margin-top: 0;
}

.section--hidden, .option--hidden {
    display: none;
}

.section__heading {
    margin: 0;
    padding: 10px;
    color: white;
    background-color: #0084e7;
    border-radius: 10px;
}

.section__heading--expanded {
    border-radius: 10px 10px 0 0;
}

.section__heading::after {
    content: "❯";
    float: right;
    font-size: 80%;
    transition: transform 0.3s ease-out;
}

.section__heading--expanded::after {
    transform: rotate(90deg);
}

.section__content {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.125);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.section__content--hidden {
    display: none;
}

.option {
    padding: 10px;
}

.option:nth-of-type(even) {
    background-color: #f1f7ff;
}

.option__name {
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 10px;
}

.option__required {
    float: right;
    font-weight: bold;
    color: red;
}

.option__type {
    color: #0084e7;
}

.option__default {
    float: right;
}

.option__params code {
    font-size: 0.8rem;
}

.option code {
    color: #0084e7;
}

.search {
    padding: 10px;
    background-color: #f1f7ff;
    text-align: right;
}

.search__input {
    border: 1px solid #0084e7;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 0.8rem;
    margin-left: 5px;
}