@import './svg-encode';

$ag-alpine-blue: #2196f3;
$ag-alpine-orange: #ff9800;
$ag-alpine-purple: #e040fb; // good candidate for secondary color
$ag-alpine-green: #76ff03;

$ag-alpine-black: #181d1f;
$ag-alpine-white: #fff;

$ag-alpine-gray-1: #222628;
$ag-alpine-gray-2: #585652;
$ag-alpine-gray-3: #68686e;
$ag-alpine-gray-4: #babfc7;
$ag-alpine-gray-5: #fcfdfe;

$ag-alpine-light-pink: #fce4ec;
$ag-alpine-dim-green: #43a047;
$ag-alpine-dim-red: #e53935;
$ag-alpine-deep-teal: #16a085;

// Add your SVG code here:
@function dropdown-arrow($fill-color) {
    @return '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><g fill="' + $fill-color +
        '" fill-rule="nonzero"><path d="M24.708 12.355l-8.708 8.706-8.708-8.706 1.416-1.416 7.292 7.294 7.292-7.294c0.472 0.472 0.944 0.944 1.416 1.416z"></path></g></svg>';
}

$ag-white-dropdown-arrow: svg-encode(dropdown-arrow($ag-alpine-white));
$ag-blue-dropdown-arrow: svg-encode(dropdown-arrow($ag-alpine-blue));
$ag-black-dropdown-arrow: svg-encode(dropdown-arrow($ag-alpine-gray-3));
