.search-result {
    @extend .card;
    position: absolute;
    z-index: 99999;
    width: 400px;
    margin-top: 0.25rem;

    .hit-wrapper {
        @extend .card-header, .p-1;
        text-align: end;
    }

    .hit-count {
        @extend .badge, .badge-pill, .badge-primary;
    }

    .ais-Hits-list {
        @extend .list-group, .list-group-flush;
    }

    .ais-Hits-item {
        @extend .list-group-item, .list-group-item-action;
        overflow: hidden;
        &:hover {
            background-color: lighten(theme-color(primary), 10%);
            a {
                color: theme-color(light);
            }
        }

        h4 {
            font-size: 1rem;
            font-weight: bold;
        }
    }

    .ais-Snippet {
        white-space: normal;
        font-size: 0.9rem;
    }

    mark,
    .mark {
        @extend .p-0;
        background-color: transparent;
        color: theme-color(dark);
        font-weight: bold;
    }
}
