@use 'design-system' as *;

.container {
    height: calc(100vh - var(--layout-site-header-height) - 2px);
    box-sizing: border-box;
}

.grid {
    height: 100%;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap: $spacing-size-4;

    @media screen and (min-width: 720px) {
        flex-wrap: nowrap;
    }
}

.tabItem {
    position: relative;
    width: 100%;
    max-width: 200px;
    aspect-ratio: 16 / 9;
    border-radius: var(--radius-lg);
    background-color: #e5e9ed;
    border: 1px solid var(--color-border-primary);
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    &:hover {
        background-color: #c8cfd8;
        transition: all 0.5s ease-in-out;
    }

    &.activeTab {
        outline: 2px solid #044b93;
        border-radius: var(--radius-lg);
    }

    a {
        display: block;
        height: 100%;
    }

    @media screen and (min-width: 720px) {
        max-height: 140px;
    }

    @media screen and (max-height: 728px) {
        height: 80px;
    }

    #{$selector-darkmode} & {
        background-color: var(--color-bg-secondary);

        &:hover {
            background-color: var(--color-bg-secondary);
            transition: all 0.5s ease-in-out;
        }

        &.tabActive {
            outline: 2px solid var(--color-link);
        }
    }
}

.showcaseImg {
    position: relative;
    max-width: 100%;
    left: 24px;
    top: 20px;
    pointer-events: none;
    transition: all 0.3s ease-in-out;

    .tabItem:hover & {
        transform: scale(1.1);
        transition: all 0.4s ease-in-out;
    }
}

.showcaseImgLight {
    #{$selector-darkmode} & {
        display: none;
    }
}

.showcaseImgDark {
    display: none;

    #{$selector-darkmode} & {
        display: block;
    }
}

.label {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    height: 40px;
    width: 100%;
    bottom: 0;
    padding-top: $spacing-size-4;
    padding-bottom: $spacing-size-2;
    padding-left: $spacing-size-3;
    font-weight: 600;
    background: linear-gradient(358deg, #e5e9ed 40%, transparent);
    color: #044b93;
    pointer-events: none;
    transition:
        color 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
    color: color-mix(in srgb, var(--color-fg-primary), var(--color-text-tertiary) 100%);

    .tabItem:hover & {
        color: color-mix(in srgb, var(--color-fg-primary), var(--color-text-tertiary) 10%);
    }

    .activeTab & {
        color: #044b93;

        #{$selector-darkmode} & {
            color: var(--color-link);
        }
    }

    #{$selector-darkmode} & {
        background: linear-gradient(358deg, var(--color-bg-secondary) 30%, transparent);
        color: color-mix(in srgb, var(--color-fg-primary), var(--color-text-tertiary) 50%);
    }
}
