@use 'sass:map';
@use 'design-system' as *;

.required {
    color: red;
    font-size: 0.7em;
    vertical-align: text-top;
}

.apiReferenceOuter {
    container-type: inline-size;
    width: 100%;
    margin-top: $spacing-size-5;
    margin-bottom: $spacing-size-5;

    + .apiReferenceOuter {
        margin-top: -1px;
    }

    > a[id] {
        scroll-margin-top: var(--anchor-offset, 0);
    }

    :global(.tabs-content) & table {
        margin-bottom: -$spacing-size-2;
        border-bottom: none;
    }

    :global(.docPage) & {
        margin-bottom: $spacing-size-4;
    }
}

.propertyDescription {
    margin-top: -$spacing-size-2;
    margin-bottom: $spacing-size-6;
    color: var(--color-fg-secondary);
}

.apiReference {
    display: table; // remove after table > div refactor
    position: relative;
    table-layout: fixed;
    width: 100%;

    @container (max-width: #{$breakpoint-table-small}) {
        display: block;
    }

    @container (min-width: #{$breakpoint-table-small}) {
        height: 1px; // needed for divs to fit table cell heights correctly
    }

    tbody {
        display: table-cell;
        width: 100%;
        @container (max-width: #{$breakpoint-table-small}) {
            display: block;
        }
    }

    tr {
        display: flex;
        flex-direction: row;
        border-top: 1px solid color-mix(in srgb, var(--color-border-primary), var(--color-bg-primary) 30%);
        justify-content: space-between;
        @container (max-width: #{$breakpoint-table-small}) {
            display: flex;
            flex-direction: column;
        }
    }

    pre:global(.code) {
        margin-bottom: $spacing-size-2;
        margin-top: 0;
    }

    .linkIcon {
        font-size: var(--text-fs-lg);
    }
}
.apiReference {
    border-bottom: 1px solid color-mix(in srgb, var(--color-border-primary), var(--color-bg-primary) 30%);
}

.propertyRow {
    display: flex;
    flex-wrap: wrap;
    scroll-margin-top: var(--anchor-offset, 0);

    &:where(:not(:first-child)) {
        border-top: 1px solid var(--color-border-secondary);
    }

    &:hover .linkIcon {
        opacity: 0.5;
    }

    @container (max-width: #{$breakpoint-table-small}) {
        display: block;
        width: 100%;
        padding-top: $spacing-size-2;
        padding-bottom: $spacing-size-2;
    }

    #{$selector-darkmode} & {
        border-top-color: var(--color-util-gray-400);
    }
}

.leftColumn {
    flex-shrink: 0;
    width: 50%;
    padding: $spacing-size-2 $spacing-size-4 $spacing-size-2 calc(var(--nested-path-depth, 0) * $spacing-size-2);

    @container (max-width: #{$breakpoint-table-small}) {
        width: 100%;
        padding-right: 0;
    }

    @container (max-width: #{$breakpoint-table-small}) {
        a {
            display: none;
        }
    }
}

.rightColumn {
    width: 100%;
    margin-bottom: $spacing-size-3;

    &:not(td) {
        display: flex;
        flex-direction: column;
    }

    @container (max-width: #{$breakpoint-table-small}) {
        width: 100%;
        padding-left: calc(var(--nested-path-depth, 0) * $spacing-size-2);
    }
}

.name {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --parent-properties-color: var(--color-fg-secondary);
    --parent-properties-font-weight: var(--text-regular);

    position: relative;
    display: inline-block;
    margin-top: 0;
    padding-right: $spacing-size-2;
    font-family: var(--text-monospace-font-family);
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 0;

    @container (min-width: #{$breakpoint-table-small}) {
        font-size: 15px;
    }

    :hover .linkIcon {
        opacity: 0.5;
    }

    .linkIcon {
        position: absolute;
        bottom: -0.125em;
    }
}

.parentProperties {
    font-weight: var(--parent-properties-font-weight);
    color: var(--parent-properties-color);
    line-break: anywhere;
}

.metaList {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-size-2 $spacing-size-6;
    padding-bottom: $spacing-size-3;

    h1 + & {
        margin-top: 16px;
    }
}

.metaItem {
    display: flex;
    flex-direction: row;
    gap: $spacing-size-2;
    align-items: center;
    flex-wrap: wrap;
}

.metaLabel {
    font-size: var(--text-fs-sm);
    color: var(--color-fg-secondary);
    opacity: 0.8;
}

.metaValue {
    font-size: var(--text-fs-sm);
    font-family: var(--text-monospace-font-family);
    color: var(--color-fg-code);
}

.defaultValue {
    font-size: var(--text-fs-sm);
    padding: 3px;
    padding: 1px 0.375rem;
    font-family: var(--text-monospace-font-family);
    white-space: normal;
    border-radius: var(--radius-sm, 0.375rem);
    background-color: var(--color-bg-code) !important;
    color: var(--color-fg-primary);
    // border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0.875em;
    font-variant-ligatures: none;
    font-optical-sizing: auto;
    font-weight: 400;
}
.initialItem,
a.metaValue {
    color: var(--color-link);
    text-decoration: underline;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: var(--radius-sm);
    background-color: color-mix(in srgb, var(--color-link), var(--color-bg-primary) 90%);

    &:hover {
        color: var(--color-link-hover);
    }
}

.description {
    padding-top: $spacing-size-1;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-size-4 $spacing-size-8;
    padding-left: $spacing-size-2;

    pre {
        min-width: 100%;
    }
}

.seeMoreLink {
    font-size: var(--text-fs-base);
    width: 100%;
    justify-content: right;
    align-items: center;
    display: flex;

    svg {
        --icon-size: 1.25em;
        fill: var(--color-link);
        margin-right: $spacing-size-2;
    }
    a {
        justify-content: right;
        display: flex;
        width: max-content;
    }
}

button.seeMore {
    color: var(--color-link);
    transition: color $transition-default-timing;
    justify-content: right;
    display: flex;
    align-items: center;
    gap: $spacing-size-2;
    color: var(--color-link);
    padding-right: 0.5em;
    font-weight: 600;

    svg {
        --icon-size: 16px;

        fill: var(--color-link);
        transition: fill $transition-default-timing;
    }

    span {
        height: 24px;

        @container (max-width: #{$breakpoint-table-small}) {
            display: none;
        }
    }
    &:hover {
        color: var(--color-link-hover);

        svg {
            fill: var(--color-link-hover);
        }
    }

    @container (max-width: #{$breakpoint-table-small}) {
        min-width: 1.5ch;
    }
}

.highlightAnimate {
    animation: highlight-animation 3000ms ease-out;

    #{$selector-darkmode} & {
        animation: highlight-animation-dark 3000ms ease-out;
    }
}

@keyframes highlight-animation {
    0%,
    100% {
        background-color: transparent;
    }

    10%,
    50% {
        background-color: var(--color-util-brand-100);
    }
}

@keyframes highlight-animation-dark {
    0%,
    100% {
        background-color: transparent;
    }

    10%,
    50% {
        background-color: rgba(255, 255, 255, 0.075);
    }
}

.isChildProp {
    border-top: 1px dashed var(--color-util-gray-200);

    .name {
        font-size: calc(var(--text-fs-base) * 0.92);
    }

    .description p,
    .description ul,
    .actions button {
        font-size: calc(var(--text-fs-base) * 0.9);
    }

    .description code {
        font-size: calc(var(--text-fs-base) * 0.8125);
    }

    .metaValue {
        font-size: calc(var(--text-fs-sm) * 0.92);
    }
}

@container (max-width: #{$breakpoint-table-small}) {
    .level-1 .rightColumn {
        padding-left: $spacing-size-2;
    }

    .level-2 .rightColumn {
        padding-left: $spacing-size-4;
    }

    .level-3 .rightColumn {
        padding-left: $spacing-size-6;
    }
}

.expandedContent {
    border-top: 1px solid var(--color-bg-primary) !important;
}

.expandedContent > td {
    padding: $spacing-size-2 0 $spacing-size-4;
    display: flex;
    flex-direction: column;
}

.propertyName {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @container (max-width: #{$breakpoint-table-small}) {
        flex-direction: column;
        align-items: start;
        margin-top: $spacing-size-2;
        gap: 8px;
    }
}

.propertyMeta {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: $spacing-size-2;
    flex-direction: column;
}

.metaRow {
    background-color: color-mix(in srgb, var(--color-fg-code), var(--color-bg-primary) 94%);
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.5rem;
    padding-right: 0;
    border-radius: var(--radius-sm, 0.375rem);
}

.propertyNameDescription {
    display: flex;
    flex-direction: column;
}

.apiReference td {
    // background-color: rgba(255, 0, 0, 0.105);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: $spacing-size-2;
    padding-top: $spacing-size-4;
    padding-bottom: $spacing-size-4;

    .columnWrapper {
        display: flex;
        flex-direction: row;
    }
}

.expandable {
    cursor: pointer;
    width: 100%;
}

.initialLabel {
    font-family: var(--text-monospace-font-family);
    font-size: var(--text-fs-sm);
}

.required {
    font-family: var(--text-monospace-font-family);
    font-size: var(--text-fs-sm);
    font-weight: 400;
    background-color: color-mix(in srgb, red, var(--color-bg-primary) 95%);
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: var(--radius-sm, 0.375rem);

    #{$selector-darkmode} & {
        color: rgb(255, 174, 174);
        background-color: color-mix(in srgb, rgb(236, 180, 180), var(--color-bg-primary) 90%);
    }
}
.contentDescription {
    display: flex;
    flex-direction: row;
    gap: $spacing-size-4;
    justify-content: space-between;
}

.docLink {
    white-space: nowrap;
    display: flex;
    gap: 8px;
    align-items: center;

    svg {
        --icon-size: 16px;
    }
}
.separator {
    border-left: 1px solid var(--color-border-secondary);
    padding-left: $spacing-size-2;
}

.actionsRow {
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding-top: $spacing-size-2;
}

.metaRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
}
