.highlight {
    font-weight: bold;
}
.paragraph {
    width: 800px;
    padding-top: 20px;
}
body {
    font-size: 20px;
}

.dot {
    font-size: 13px;
    position: relative;
    top: -3px;
}

.checkitem {
    color: darkgreen;
}