.customHeaderMenuButton {
    float: left;
}

.customHeaderLabel {
    float: left;
}

.customSortDownLabel {
    float: left;
}

.customSortUpLabel {
    float: left;
}

.customSortRemoveLabel {
    float: left;
    font-size: 11px;
}

.active {
    color: cornflowerblue;
}

.hidden {
    display: none;
}

.fa-times, .fa-long-arrow-alt-up, .fa-long-arrow-alt-down, .fa-bars, .customExpandButton {
    display: inline-block;
    margin-top: 14px;
    margin-left: 5px;
}
