.ag-header-group-cell.ag-column-first {
    background-color: #2244cc66; /* bluest */
}

.ag-header-cell.ag-column-first {
    background-color: #2244cc44; /* bluer */
}

.ag-floating-filter.ag-column-first {
    background-color: #2244cc22; /* blue */
}

.ag-header-group-cell.ag-column-last {
    background-color: #33cc3366; /* greenest */
}

.ag-header-cell.ag-column-last {
    background-color: #33cc3344; /* greener */
}

.ag-floating-filter.ag-column-last {
    background-color: #33cc3322; /* green */
}
