.ag-filter {
    position: absolute;
}

.ag-filter-list-viewport {
    overflow-x: auto;
    height: 300px;
    width: 200px;
}

.ag-filter-list-container {
    position: relative;
    overflow: hidden;
}

.ag-filter-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
}

.ag-filter-filter {
    width: 170px;
    margin: 4px;
}

.ag-fresh .ag-filter-header-container {
    border-bottom: 1px solid lightgrey;
}

.ag-fresh .ag-filter {
    border: 1px solid black;
    background-color: #f0f0f0;
}

.ag-standard .ag-filter-header-container {
    border-bottom: 1px solid lightgrey;
}

.ag-standard .ag-filter {
    border: 1px solid black;
    background-color: white;
}

.ag-dark .ag-filter-header-container {
    border-bottom: 1px solid lightgrey;
}

.ag-dark .ag-filter {
    border: 1px solid black;
    background-color: #f0f0f0;
}