.highlight {
    font-weight: bold;
}
.paragraph {
    width: 800px;
    padding-top: 20px;
}

.big-text {
    font-size: 120%;
}

.dot {
    font-size: 13px;
    position: relative;
    top: -3px;
}

.checkitem {
    color: darkgreen;
}

.feature {
    display: inline-block;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: 5px;
}

.menu {
    display: none;
    color: white;
    background: #333;
    color: white;
    position: absolute;
    z-index: 2;
    border: 1px solid black;
}

.menuButton {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 2px;
}

.menuButton:hover {
    border: 1px solid #777;
}

.menuButton-wrapper {
    white-space: nowrap;
    padding: 10px;
    display: inline-block;
}

h3 {
}

h4 {
}

.horizontal-rule {
    margin-top: 80px;
    margin-bottom: 80px;
}

.top-header {
    padding-top: 8px;
    padding-bottom: 2px;
}

@media (min-width: 200px) and (max-width: 800px) {
    body {
        font-size: 20px !important;
    }
    .hide-when-small {
        display: none;
    }
}

@media (min-width: 1100px) {
    .hide-when-medium {
        display: none;
    }
}

@media (max-width: 1100px) {
    .show-when-medium {
        display: none;
    }
    .share-link {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 800px) {
    body {
        font-size: 16px !important;
    }
    .hide-when-big {
        display: none;
    }
}

.my-navbar {
    background-color: #101010;
}

.top-button-wrapper {
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
}

.top-button {
    color: #888888;
}

.top-button:link {
    text-decoration: none;
}

.top-button:visited {
    text-decoration: none;
}

.top-button:hover {
    text-decoration: none;
    color: #eeeeee;
}

.top-button:active {
    text-decoration: none;
}

.top-button-selected {
    color: #eeeeee;
}

.top-button-selected:link {
    text-decoration: none;
}

.top-button-selected:visited {
    text-decoration: none;
}

.top-button-selected:hover {
    text-decoration: none;
    color: #eeeeee;
}

.top-button-selected:active {
    text-decoration: none;
}

.share-link:hover {
    opacity: 0.8;
    text-decoration: none;
}

.share-link {
    text-decoration: none;
}

.no-user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header-row {
    background: #101010;
    background-image: url("images/background.jpg");
    color: #eee;
    /*padding-bottom: 20px;*/
}

.header-row h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.index-header-row {
    padding-top: 50px;
    padding-bottom: 60px;
}

.header-logo {
    padding-right: 20px;
    font-family: Impact, Charcoal, sans-serif;
}

.header-icon {
    font-size: 150%;
}

.header-button {
    margin-left: 10px;
    margin-right: 10px;
}

.license {
    font-size: 80%;
}

.quote-block {
    margin-top: 50px;
}

.quote {
    font-style: italic;
    text-align: center;
}

.under-quote {
    font-size: 80%;
    text-align: center;
}

.quote-side-panel {
    border-left: 1px solid grey;
    padding-left: 50px;
}
