$breakpoint-medium: 940px;
$breakpoint-large: 1200px;

.container {
  --avatar-size: 54px;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media screen and (min-width: $breakpoint-medium) {
    flex-direction: row;
    max-width: none;
    gap: 20px;
  }

  @media screen and (min-width: $breakpoint-large) {
    --avatar-size: 80px;

    gap: 40px;
  }
}

blockquote {
  $background-color: #d9f0fa;
  $background-color-rgb: "rgb(217, 240, 250)";

  position: relative;
  margin-bottom: 20px;
  padding: 12px 20px 14px;
  background-color: $background-color;
  border-radius: 4px;

  &:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 22px;
    bottom: -16px;
    left: var(--avatar-size);
    background-image: url(
      "data:image/svg+xml,\
      <svg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 22'>\
        <path style='fill: #{$background-color-rgb};' d='M0 21V0h18L1.8 21.6c-.577.769-1.8.361-1.8-.6Z'/>\
      </svg>"
    );

    @media screen and (min-width: $breakpoint-large) {
      bottom: -22px;
    }
  }
}

li:nth-child(odd) {
  @media screen and (max-width: $breakpoint-medium) {
    align-self: flex-end;
  }
}

figure {
  max-width: 540px;
  margin-bottom: 48px;

  li:last-child & {
    margin-bottom: 0;
  }
}

blockquote p {
  position: relative;
  font-size: 18px;
  line-height: 1.4;

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    content: open-quote;
    position: absolute;
    left: -0.4em;
  }

  &:after {
    content: close-quote;
  }
}

figcaption {
  display: grid;
  grid-template-columns: var(--avatar-size) auto;
  column-gap: 8px;
  grid-template-rows: auto;
  grid-template-areas: 
    "avatar name"
    "avatar orgContainer";
  line-height: 1;
}

.avatar {
  grid-area: avatar;
  width: var(--avatar-size);
  height: var(--avatar-size);
  margin-right: 8px;
  border-radius: 50%;
}

.name,
.orgContainer {
  position: relative;
  top: -3px;
}

.name {
  grid-area: name;
  align-self: end;
  font-size: 22px;
  font-weight: 700;
}

.orgContainer {
  grid-area: orgContainer;
  display: flex;
  align-items: center;

  @media screen and (min-width: $breakpoint-large) {
    top: -7px;
  }
}

.orgRole {
  font-size: 10px;
  color: #6c757d;
}

.orgIcon {
  width: 18px;
  height: 18px;
  margin: 0 4px;
  border-radius: 2px;
}

.orgName {
  font-size: 14px;
}