@use "../../design-system/" as *;

.showHideButton {
    --button-text-color: var(--link-color);
    --button-color: var(--background-500);
    --button-active-color: var(--background-500);
    --button-hover-color: var(--background-500);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $size-1;
    width: 100%;
    padding: $size-1 $size-1 $size-1 $size-2;
    text-align: left;
    font-weight: $font-weight-bold;
    transition: color $default-transition-timing !important;

    &:hover {
        --button-text-color: var(--dark-blue-300);

        #{$darkmode-selector} & {
            --button-text-color: rgb(0, 123, 255);
        }
    }

    &:disabled {
        cursor: default;
        color: black;
        background-color: var(--background-500);
    }

    &:not(:disabled) {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    svg {
        width: 20px;
        height: 20px;
        fill: var(--button-text-color);
        transition: fill $default-transition-timing, transform $default-transition-timing;
    }

    #{$darkmode-selector} & {
        background-color: #121f29;
        border: 1px solid rgb(255, 255, 255, 0.15);
    }
}

.content {
    $border: 1px solid var(--border-color);

    position: relative;
    padding: $size-2;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-right: $border;
    border-bottom: $border;
    border-left: $border;
    overflow: hidden;

    &:not(.notExpandable) > div {
        overflow: hidden;
        padding-bottom: $size-7;
    }

    &.contentCollapsed:not(.notExpandable) > div {
        max-height: 340px;
    }

    &.contentExpanded {
        > div {
            max-height: none;
        }

        .showMoreLink {
            padding-top: $size-2;
            background-image: none;
        }
    }

    &.noContent {
        border: none;
        padding: 0 !important;
    }
}

.showMoreLink {
    display: block;
    position: absolute;
    font-size: var(--font-size-large);
    width: 100%;
    left: 0;
    bottom: 0;
    padding: $size-8 $size-2 $size-2;
    text-align: center;
    background-image: linear-gradient(transparent, var(--default-background-color) 75%);
    border-radius: var(--border-radius);
    color: var(--link-color);
    transition: color $default-transition-timing;

    svg {
        --text-color: var(--link-color);
        --icon-size: 1em;

        fill: var(--link-color);
        transition: fill $default-transition-timing;
    }

    &:hover {
        color: var(--link-hover-color);

        svg {
            fill: var(--link-hover-color);
        }
    }
}

.versionLabel {
    font-weight: var(--font-weight-normal);
    color: var(--secondary-text-color);
}
