@import './colors';

////////////////////////////////////////
// Colors
////////////////////////////////////////

// Used as an active state across the grid - focus forms, caret, etc.
$color-primary: $alpine-blue !default;
// color used for the grid selection and selection checkboxes.
$color-secondary: $alpine-orange !default;
// background
$color-background: $alpine-white !default;

// text
$color-foreground: $alpine-black !default;

// used for panels and popups
$color-background-alt: $alpine-gray-5 !default;

// borders between the grid elements (body, panel, header, etc.)
$color-border-primary: $alpine-gray-4 !default;

// borders between body cells
$color-border-secondary: transparentize($alpine-gray-4, 0.5) !default;

$color-icon: $alpine-gray-3 !default;

// range selection
$color-selected: lighten($color-secondary, 40) !default;
$color-background-range-selection: transparentize($color-selected, 0.8) !default;
$color-background-range-selected-1: opacify($color-background-range-selection, 0.2) !default;
$color-background-range-selected-2: opacify($color-background-range-selection, 0.4) !default;
$color-background-range-selected-3: opacify($color-background-range-selection, 0.6) !default;
$color-background-range-selected-4: opacify($color-background-range-selection, 0.8) !default;


$color-row-hover: transparentize($color-primary, 0.9) !default;

// shadows of popups, menus, etc
$color-chrome-shadow: $alpine-gray-4 !default;

// dropdown arrow
$url-data-image-dropdown-arrow: url($black-dropdown-arrow) !default;
$url-hover-data-image-dropdown-arrow: url($blue-dropdown-arrow) !default;
$url-pressed-data-image-dropdown-arrow: url($white-dropdown-arrow) !default;

// color for the reset / cancel buttons
$color-form-element-secondary: $alpine-gray-3;
$color-border-form-element: $alpine-gray-4 !default;
$color-background-form-element-disabled: transparentize($alpine-gray-4, 0.8) !default;

// inactive color for the switch
$color-background-toggle-button: $alpine-gray-4 !default;

// chart selections
$color-background-chart-range-selection-category: $alpine-green !default;
$color-background-chart-range-selection: $alpine-blue !default;

// chips in grouping and aggregation
$color-background-chip: transparentize($alpine-gray-4, 0.8) !default;

// delta changes
$color-cell-data-changed: $alpine-light-pink !default;
$color-value-change-delta-up: $alpine-dim-green !default;
$color-value-change-delta-down: $alpine-dim-red !default;
$color-value-change-value-highlight-background: transparentize($alpine-deep-teal, 0.5) !default;

////////////////////////////////////////
//Fonts
////////////////////////////////////////

// Primary
$font-family-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !default;
$size-font-default: 14px !default;
$weight-font-default: 400 !default;
$font-default: $weight-font-default $size-font-default $font-family-default;

// Secondary (used mostly in headers)
$font-family-secondary: $font-family-default !default;
$size-font-secondary: 13px !default;
$weight-font-secondary: 700 !default;
$font-secondary: $weight-font-secondary $size-font-secondary $font-family-secondary;

// Form elements
$font-family-form-element: $font-family-default !default;
$size-font-form-element: 13px !default;
$weight-font-form-element: 400 !default;
$font-form-element: $weight-font-form-element $size-font-form-element $font-family-form-element;

// Chrome UI (menu, tool panel, etc)
$font-family-chrome: $font-family-default !default;
$size-font-chrome: 13px !default;
$weight-font-chrome: 400 !default;
$font-chrome: $weight-font-chrome $size-font-chrome $font-family-chrome;

// tooltip and status bar are chrome but smaller
$size-font-tooltip: $size-font-chrome - 1 !default;
$size-font-status-bar: $size-font-chrome - 1 !default;
