@use './core' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    --color-scheme: light;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: var(--text-font-family);
    font-size: var(--text-fs-base);
    line-height: var(--text-lh-base);
    font-weight: var(--text-regular);
    background-color: var(--color-bg-primary);
    color: var(--color-fg-primary);
    scroll-padding-top: var(--layout-scroll-offset);

    @media (min-width: $breakpoint-docs-nav-medium) {
        --header-nav-height: 59px;
    }

    #{$selector-darkmode} & {
        color-scheme: dark;
    }
}
