@use './core' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;

    font-family: var(--text-font-family);
    font-size: var(--text-fs-base);
    line-height: var(--text-lh-base);
    font-weight: var(--text-regular);
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    scroll-padding-top: var(--layout-scroll-offset);
    color-scheme: var(--color-scheme);

    @media (min-width: $breakpoint-docs-nav-medium) {
        --header-nav-height: 64px;
    }
}
