@use 'core' as *;

#{$css-variables-root} {
    // create a CSS variable for every abstract color
    @each $name, $hex in $abstract-colors {
        --#{$name}: #{$hex};
    }

    --border-radius: #{$border-radius};

    --font-family: #{$font-family};
    --monospace-font-family: #{$monospace-font-family};

    --font-size: #{$font-size-medium};
    --line-height: #{$line-height-normal};
    --font-weight: #{$font-weight-normal};
    --font-weight-bold: #{$font-weight-bold};

    --text-color: var(--dark-gunmetal-gray);
    --secondary-text-color: var(--auro-metal);

    --border-color: var(--light-gray);

    --link-color: var(--azure-blue);
    --link-hover-color: var(--ag-grid-orange);

    --button-text-color: var(--white);
    --button-color: var(--azure-blue);
    --button-hover-color: var(--medium-electric-blue);
    --button-active-color: var(--dark-cerulean-blue);

    --inline-element-background: var(--ghost-white);

    --code-text-color: var(--cerise-pink);

    --input-background-color: var(--white);
    --input-secondary-background-color: var(--ag-grid-grey);
    --input-secondary-border-color: var(--auro-metal);
    --input-primary-color: var(--azure-blue);
    --input-focus-border-color: var(--sky-blue);
    --input-focus-box-shadow-color: var(--water-blue);

    --table-odd-row-background-color: var(--ghost-blue);
}
