@use '../../design-system/' as *;


.alert {
    --alert-background-color: var(--background-500);
    --icon-size: 1.5rem;

    
    gap: $size-2;
    align-items: center;
    padding: $size-2;
    background-color: var(--alert-background-color);
    border-radius: 8px;
    color: var(--text-color);

    :global(.icon) {
        align-self: flex-start;
        position: relative;
        flex-shrink: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }

    kbd {
        margin: 0;
       

    }
    #{$darkmode-selector} & { 
   
    code {
        -webkit-font-smoothing: subpixel-antialiased;
        border: 1px solid rgba(131, 72, 50, 0.3411764706);
        background-color: transparent;
        color: #ffffff;
        background-color: #202f3d;
        padding: 1px 4px;
        font-size: 14px;
    }
    

}
    #{$darkmode-selector} & {
        :global(.icon) {
            opacity: 0.6;
        }
        --alert-background-color: #121f29;
        border: 1px solid rgb(255,255,255,0.15);

        a {
            -webkit-font-smoothing: subpixel-antialiased;
        }
    }
}



.alert.info {
    --text-color: var(--dark-blue-300);
    display: flex;

    #{$darkmode-selector} & {
        --text-color: var(--default-text-color);
    }
}

.alert.idea {
    :global(.icon) {
        --text-color: var(--orange-500);

        bottom: 0.125em;
    }

    #{$darkmode-selector} & :global(.icon) {
        --text-color: var(--orange-900);
    }
}

.alert.warning {
    --alert-background-color: var(--warning-background);
    --text-color: var(--warning-text);
    border: 1px solid rgba(209, 142, 0, 0.3);

    display: flex;
    :global(.icon) {
        --text-color: : #F4C000;
    }

    #{$darkmode-selector} & {
        --alert-background-color: #262119;
        --text-color: var(--default-text-color);

        p {
            color: rgb(255, 249, 235);
            font-size: 16px;
        }

       svg {
            fill : #F4C000;
            opacity: 1;
        }
    }
}

.alert p {
    font-size: 16px !important;
}
