@use "sass:map";
@use '../../design-system/' as *;

.alert {
    --alert-background-color: var(--bright-blue-gray);
    --icon-size: 3em;

    display: flex;
    gap: $size-2;
    align-items: center;
    padding: $size-2;
    background-color: var(--alert-background-color);
    border-radius: var(--border-radius);

    :global(.icon) {
        align-self: flex-start;
        position: relative;
        flex-shrink: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }

    kbd {
        margin: 0;
    }
}

.alert.info {
    --text-color: var(--dark-blue-300);

    color: var(--text-color);
}

.alert.idea {
    :global(.icon) {
        --text-color: var(--orange-500);

        bottom: 0.125em;
    }
}

.alert.warning {
    --alert-background-color: var(--warning-background);
    --text-color: var(--warning-text);

    color: var(--text-color);

    :global(.icon) {
        --text-color: var(--orange-700);
    }
}
