@import '../ag-theme-balham/vars/ag-theme-balham-vars';
@import '../mixins/ag-theme-mixins';

@font-face {
    font-family: '#{$icon-font-family}';
    src: url("data:application/x-font-ttf;charset=utf-8;base64,#{$icons-data}") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@include icons_webfont();
