/* stylelint-disable selector-max-specificity -- cell and column borders have
    lots of overlapping rules defined in different files that rely on different
    specificities to work, one day it would be good to tackle this and properly
    refactor border styles to be less specific */

/**
 * NOTE: these don't need RTL versions when pinning columns, "left" always means
 * visually on the left
 */

.ag-header-row .ag-grid-pinned-right-cells .ag-grid-container-wrapper {
    /* rtl:ignore */
    border-left: var(--ag-pinned-column-border);
}

.ag-header-row .ag-grid-pinned-left-cells .ag-grid-container-wrapper {
    /* rtl:ignore */
    border-right: var(--ag-pinned-column-border);
}

.ag-cell.ag-cell-first-right-pinned:not(
        .ag-cell-range-left,
        .ag-cell-range-single-cell,
        .ag-cell-focus:not(.ag-cell-range-selected):focus-within
    ) {
    /* rtl:ignore */
    border-left: var(--ag-pinned-column-border);
}

.ag-cell.ag-cell-last-left-pinned:not(
        .ag-cell-range-right,
        .ag-cell-range-single-cell,
        .ag-cell-focus:not(.ag-cell-range-selected):focus-within
    ) {
    /* rtl:ignore */
    border-right: var(--ag-pinned-column-border);
}

.ag-grid-pinned-left-cells .ag-header-cell-resize::after {
    /* rtl:ignore */
    left: calc(50% - var(--ag-header-column-resize-handle-width));
}

.ag-grid-pinned-right-cells .ag-header-cell-resize::after {
    /* rtl:ignore */
    left: 50%;
}

.ag-grid-pinned-left-cells .ag-header-cell-resize {
    /* pinned left headers always have their resize on the right, even in RTL mode */
    /* rtl:ignore */
    right: -3px;
}

.ag-grid-pinned-right-cells .ag-header-cell-resize {
    /* pinned right headers always have their resize on the left, even in RTL mode */
    /* rtl:ignore */
    left: -3px;
}
