.ag-pinned-left-cols-container .custom-detail {
    background-color: bisque;
}

.ag-pinned-right-cols-container .custom-detail {
    background-color: bisque;
}

.ag-center-cols-container .custom-detail {
    background-color: coral;
}