.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    background-color: lightgrey;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
}

.component {
    margin-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
}

.status-bar-input {
    height: initial !important;
}
