.ag-floating-top-container > .ag-row:last-child {
    border-bottom-color: rgb(252, 196, 196);
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.ag-floating-bottom-container > .ag-row:first-child {
    border-top-color: rgb(252, 196, 196);
    border-top-width: 2px;
    border-top-style: solid;
}

.ag-floating-top-container > .ag-row,
.ag-floating-top-container > .ag-row {
    background-color: rgb(212, 93, 111);
}
