.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#controls div {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#controls pre {
    white-space: pre-wrap;
}
