@use '../../core' as *;

.communityMenu {
    z-index: 1;
    display: flex;
    padding-top: $spacing-size-4;
    padding-bottom: $spacing-size-4;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin-top: $spacing-size-5;
}

.community-menu-item {
    margin-top: $spacing-size-2;
    padding: $spacing-size-2;
    padding-left: $spacing-size-4;
    padding-right: $spacing-size-4;
    cursor: pointer;
    opacity: 0.7;

    a {
        color: var(--color-fg-secondary);
    }

    &.selected {
        background-color: var(--color-util-brand-100);
        border-radius: var(--radius-4xl);
        color: var(--color-fg-primary);
        opacity: 1;
    }

    &:last-child {
        margin-bottom: $spacing-size-2;
    }
}
