.communityMenu {
    position: fixed;
    z-index: 1000;
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    background: #192232;  
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    border-bottom: 1px solid var(--color-border-primary); 
  
    .community-menu-item {
      margin-top: 8px;
      padding: 10px;
      cursor: pointer;

      a {
        color: white;
      }
  
      &.selected {
        background-color: var(--color-bg-secondary);
        border-radius: 20px;
        color: white;
      }

      &:last-child {
        margin-bottom: 8px;
      }
    }
  }