@use '../../core/' as *;

.container {
}

.tabContainer {
    display: flex;
    gap: $spacing-size-4;
    margin: $spacing-size-8 0px;
}

.tabButton {
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    opacity: 0.7;
    transition:
        background-color 0.2s,
        opacity 0.2s;
    display: inline-block;
    border-radius: var(--radius-4xl);
    margin-bottom: 0;
    cursor: pointer;
    color: var(--color-text-secondary);
    transition: background-color 0.3s ease;
    background-color: var(--color-bg-primary);
    border: none;
    box-shadow: none;
    &:hover {
        background-color: var(--color-util-brand-100);
        color: var(--color-text-secondary);
    }
}

.active {
    color: var(--color-fg-primary);
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: var(--color-util-brand-100);
}

.filterContainer {
    display: flex;
    justify-content: flex-end;
    margin: $spacing-size-8 0px;
}

.filterDropdown {
}

.eventsContainer {
    display: flex;
    flex-direction: column;
    gap: $spacing-size-8;
}

.eventItemContainer {
    display: flex;
    gap: var(--layout-gap);
    background: var(--color-bg-primary);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-xs);
    border: 1px solid var(--color-border-secondary);
    overflow: hidden;
}

.eventItemLeftColumn {
    width: var(--layout-width-4-6);
    padding: $spacing-size-4;
    display: flex;
    flex-direction: column;
}

.titleContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $spacing-size-4;
    margin-bottom: $spacing-size-4;

    p {
        margin: 0px;
    }
}

.organiserLogo {
    width: 32px;
    height: auto;
}

.title {
    font-size: var(--text-fs-xl);
    font-weight: var(--text-semibold);
    color: var(--color-text-primary);
}

.date {
    text-align: end;
    flex-grow: 1;
    font-weight: 200;
    font-style: italic;
}

.description {
    flex-grow: 1;
    white-space: pre-wrap;
}

.footer {
    display: flex;
    width: 100%;
}

.ctaContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: $spacing-size-8;
}

.primaryCta {
    gap: $spacing-size-8;
    margin: 0px;
}

.secondaryCta {
    gap: $spacing-size-8;
    margin: 0px;
    font-weight: 400;
}

.locationContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: $spacing-size-2;
}

.location {
    font-weight: 200;
    margin: 0px;
}

.flag {
    width: 22px;
    height: 22px;
}

.eventItemRightColumn {
    width: var(--layout-width-2-6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventLogo {
    width: 100%;
    max-height: 150px;
    padding: $spacing-size-4;
    object-fit: contain;
}

.eventImage {
    width: 100%;
    object-fit: contain;
}
