@use 'design-system' as *;

.docsPageHeader {
    position: relative;
}

.docsPageTitle {
    margin-bottom: $spacing-size-1;

    span:nth-of-type(2) {
        letter-spacing: -1.2px;
    }

    @media screen and (min-width: $breakpoint-docs-nav-medium) {
        line-height: var(--line-height-ultra-tight);
    }

    > span {
        margin-bottom: $spacing-size-2;
    }
}

.pageTitleContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    @media screen and (min-width: $breakpoint-docs-search-medium) {
        flex-direction: row;
    }

    // Prevent framework selector dropdown from appearing off screen
    @media screen and (min-width: $breakpoint-docs-search-medium) and (max-width: $breakpoint-docs-nav-large) {
        button {
            min-width: 140px;
        }
    }
}

.pageTitleGroup {
    display: flex;
    flex-direction: column;
    color: var(--color-fg-primary);

    @media screen and (max-width: $breakpoint-docs-search-medium) {
        margin-top: $spacing-size-4;
    }
}

.headerFramework {
    display: none;
    font-size: var(--text-fs-base);
    font-weight: var(--text-semibold);
    color: var(--color-text-brand-primary);
    padding-bottom: $spacing-size-3;

    @media screen and (min-width: $breakpoint-docs-search-medium) {
        display: block;
    }
}

.enterpriseLabel {
    display: inline-block;
    position: relative;
    bottom: 0.05em;
    font-size: var(--text-fs-xl);
    font-weight: var(--text-regular);
    color: var(--color-text-tertiary);

    @media screen and (min-width: $breakpoint-docs-search-medium) {
        position: absolute;
        top: 2.25em;
        right: -2px;
        bottom: auto;
        padding-left: 0;
    }

    :global(.icon) {
        --icon-size: 1.25em;
        --icon-color: var(--color-enterprise-icon);

        position: relative;
        top: -0.1em;
        margin-left: $spacing-size-1;
    }
}
