.ag-theme-alpine .ag-icon-aggregation {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/aggregation.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-arrows {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/arrows.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-asc {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/asc.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-cancel {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/cancel.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-chart {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/chart.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-checkbox-checked {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/checkbox-checked.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-checkbox-indeterminate {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/checkbox-indeterminate.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-checkbox-unchecked {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/checkbox-unchecked.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-color-picker {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/color-picker.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-column {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/column.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-columns {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/columns.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-contracted {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/contracted.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-copy {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/copy.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-cut {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/cut.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-cross {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/cross.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-cut {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/cut.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-data {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/data.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-desc {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/desc.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-expanded {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/expanded.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-eye-slash {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/eye-slash.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-eye {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/eye.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-filter {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/filter.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-first {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/first.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-grip {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/grip.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-group {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/group.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-indeterminate {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/indeterminate.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-last {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/last.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-left {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/left.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-loading {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/loading.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-maximize {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/maximize.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-menu {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/menu.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-minimize {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/minimize.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-minus {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/minus.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-next {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/next.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-none {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/none.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-not-allowed {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/not-allowed.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-paste {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/paste.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-pin {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/pin.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-pivot {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/pivot.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-plus {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/plus.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-previous {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/previous.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-radio-button-off {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/radio-button-off.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-radio-button-on {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/radio-button-on.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-right {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/right.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-save {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/save.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-small-down {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/small-down.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-small-left {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/small-left.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-small-right {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/small-right.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-small-up {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/small-up.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-tick {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/tick.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-tree-closed {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/tree-closed.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-tree-indeterminate {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/tree-indeterminate.svg") center/contain no-repeat;
  color: transparent;
}

.ag-theme-alpine .ag-icon-tree-open {
  background: transparent url("https://www.ag-grid.com/example-assets/svg-icons/tree-open.svg") center/contain no-repeat;
  color: transparent;
}