---
import Warning from '@components/alert/Warning';
import Layout from '../layouts/Layout.astro';
---

<Layout title="AG Grid">
    <div class="layout-max-width-small">
        <main>
            <Warning>Work in progress</Warning>
            <h1>Available pages</h1>
            <ul>
                <li><a href="/javascript/getting-started">Getting started</a></li>
            </ul>
        </main>
    </div>
</Layout>
