---
import Warning from '@components/alert/Warning';
import Layout from '../layouts/Layout.astro';
---

<Layout title="AG Grid">
    <div class="layout-max-width-small">
        <main>
            <Warning>Work in progress</Warning>
            <h1>Available pages</h1>
            <ul>
                <li><a href="/react/getting-started">Getting started</a></li>
                <li><a href="/react/grouping-single-group-column">Grouping Single Group Column</a></li>
                <li><a href="/react/filtering">Column Filters</a></li>
                <li><a href="/react/column-definitions">Column Definitions</a></li>
                <li><a href="/react/filter-set">Filter Set</a></li>
                <li>
                    <a href="/react/integrated-charts-chart-tool-panels">Integrated Charts Chart Tool Panels</a>
                </li>
                <li><a href="/react/licensing">Licensing</a></li>
                <li><a href="/react/filter-set-excel-mode">Filter Set Excel Mode</a></li>
                <li><a href="/react/modules">Modules</a></li>
                <li><a href="/react/row-models">Row Models</a></li>
            </ul>
        </main>
    </div>
</Layout>
