@import '~prismjs/themes/prism';

pre[class*="language-"], snippet pre {
    margin-top: 0;
    margin-bottom: 1rem;
    @extend .rounded;
    background-color: $offwhite;
    border: 1px solid $gray-300;
    padding: 1rem;
    font-size: 80%;
    white-space: pre-wrap;
}

.token.string {
    color: $blue-2;
}

.token.operator {
    background-color: transparent;
}

.token.boolean {
    color: $red;
}

code {
    color: $red-highlight;
}
