@function encodecolor($string) {
    @if $string == null {
        @return '';
    }

    @if type-of($string) == 'color' {
        $hex: str-slice(ie-hex-str($string), 4);
        $string: unquote('#{$hex}');
    }
    $string: '%23' + $string;
    @return $string;
}

$red: #e11f22;
$red-highlight: #EB1C17;
$blue-1: #00407f;
$blue-2: #0084e7;
$blue-3: #8abde3;
$blue-4: #f1f7ff;
$offwhite: rgb(249, 252, 255);
$white: #ffffff;
$yellow: #FFFBD9;
$teal: #00E7B1;

$max-width: 1380px;

$primary: $blue-2;
$secondary: #A3A4A5;

$border-color: #dee2e6;
$code-background-color: #212529;

body {
    background-color: $white;
}

@mixin enterprise-icon($size) {
    color: $white;
    background-color: $red;
    transform: translatey(-6px);
    font-variant: normal;
    font-weight: 700;
    text-transform: lowercase;
    font-size: $size;
    display: inline-block;
    border-radius: $size * 1.6 / 2;
    width: $size * 1.6;
    height: $size * 1.6;
    padding-left: $size / 2;
}

.enterprise-icon {
    @include enterprise-icon(8px);
}
