.ag-selection-checkbox .ag-checkbox-input-wrapper {
    &::before {
        content: '';
        position: absolute;
        top: -8px;
        left: -8px;
        right: -8px;
        bottom: -8px;
        cursor: pointer;
    }
}
