:where(.ag-selection-checkbox) .ag-checkbox-input-wrapper {
    &::before {
        content: '';
        position: absolute;
        inset: -8px;
        cursor: pointer;
    }
}

:where(.ag-selection-checkbox) .ag-checkbox-input-wrapper.ag-disabled {
    &::before {
        pointer-events: none;
    }
}
