body {
    @extend .m-0, .p-0, .w-100, .h-100;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    -webkit-font-smoothing: antialiased;
}

.custom-block {
    &.note {
        @extend .alert, .alert-primary;

        &.warning {
            @extend .alert-warning;
        }

        &.info {
            @extend .alert-info;
        }
    }

    &.note &-heading {
        @extend .h4, .alert-heading;
    }

    &.note &-body {
        :last-child {
            margin-bottom: 0;
        }
    }
}

a {
    color: theme-color(primary);
}

.event-hierarchy {
    font-size: 0.8rem;
    font-weight: bold;
    white-space: pre-wrap;
    width: 100%;

    &__property {
        color: darkgreen;
        font-weight: normal;
    }

    &__attribute {
        color: darkorchid;
        font-weight: bold;
    }
}

.anchor {
    color: black;
    font-size: 1.3rem;

    &.before {
        top: 0.4rem;
        padding-right: 6px;
    }
}
