@import "~bootstrap/scss/type";
@import "~bootstrap/scss/alert";

html {
    @include media-breakpoint-up(lg) {
        scroll-padding-top: 72px;
    }
    overflow-x: hidden;
}

main {
    flex: 1 1 auto;
    min-width: 0px;
}

.main-container {
    composes: container-fluid p-0 d-flex flex-column from global;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
}

.content-viewport {
    composes: d-flex flex-column flex-lg-row flex-grow-1 from global;
}

.header {
    composes: d-flex align-items-center px-2 px-md-3 py-1 from global;
    position: relative;
    background-color: #003264;

    &__wrapper {
        composes: container-lg my-2 px-0 d-flex from global;
    }

    &__logo {
        composes: d-block from global;

        img {
            height: 40px;
        }
    }
}

.top-bar {
    composes: px-2 px-md-3 from global;
    position: relative;
    background-color: transparentize($light, 0.05);
    border-bottom: 1px solid $ag-light-grey;

    @supports (backdrop-filter: none) {
        background-color: transparentize($light, 0.30);
        backdrop-filter: blur(20px);
    }

    @include media-breakpoint-up(lg) {
        @supports (position: sticky) {
            position: sticky;
            top: 0;
            z-index: 3;
        }
    }

    &__wrapper {
        composes: d-flex w-100 justify-content-end justify-content-lg-between flex-wrap container-lg px-0 from global;
    }

    &__search {
        composes: pl-0 pr-2 py-2 navbar navbar-expand-lg flex-nowrap navbar-light from global;
        width: 290px;
        margin: auto 0;

        @include media-breakpoint-down(md) {
            flex: 1 1 auto;
        }
    }

    &__nav-button {
        composes: navbar-toggler mr-2 from global;

        &-icon {
            composes: navbar-toggler-icon from global;
        }
    }

    &__framework-selector {
        composes: p-2 from global;
    }
}

.main-menu {
    composes: d-flex from global;

    position: relative;
    top: 0;
    flex: none;
    width: auto;
    border-width: 1px;
    border-color: $ag-light-grey;
    border-bottom-style: solid;
    background-color: $white;
}

@include media-breakpoint-up(lg) {
    .main-menu {
        width: 300px;
        border-bottom-style: none;
        border-right-style: solid;
    }

    @supports (position: sticky) {
        .main-menu {
            position: sticky;
            z-index: 2;
            top: 64px;
            height: calc(100vh - 64px);
        }
    }
}

@media all and (-ms-high-contrast: none) {
    .main-menu {
        form svg {
            top: 10px;
            left: 0;
        }
    }
}

.content {
    width: 100vw;
    max-width: 100%;
}

@include media-breakpoint-up(lg) {
    .content {
        max-width: calc(100% - 300px);
    }
}

:global(.custom-block) {
    &:global(.note) {
        @extend .alert, .alert-primary;

        background-image: url("../images/info.svg");
        background-size: 3rem;
        background-repeat: no-repeat;
        background-position: 1rem 1rem;
        padding-left: 5rem;
        min-height: 5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        :global(code.language-text) {
            background-color: $pink;
            color: $light;
        }

        a {
            color: $pink;

            &:hover {
                color: $red;
            }
        }

        &:global(.warning) {
            @extend .alert-warning;
            background-image: url("../images/warning.svg");
        }
    }

    &:global(-heading) {
        @extend .alert-heading, .h5;
    }

    &:global(-body) {
        p:last-child {
            margin-bottom: 0;
        }
    }
}

:global {
    .event-hierarchy {
        font-size: 0.8rem;
        font-weight: bold;
        white-space: pre-wrap;
        width: 100%;

        &__property {
            color: darkgreen;
            font-weight: normal;
        }

        &__attribute {
            color: darkorchid;
            font-weight: bold;
        }
    }

    .anchor {
        color: black;
        font-size: 1.3rem;

        &.before {
            height: 100%;
            width: 1.5rem;
            display: flex;
            align-items: center;
        }
    }
}
