@use '../design-system' as ds; // .ag-styles - remove namespace after bootstrap removed.

@import '~bootstrap/scss/type';
@import '~bootstrap/scss/alert';

html {
    // Font smoothing can be moved to _typography.scss after .ag-styles is removed
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow-x: hidden;
}

main {
    flex: 1 1 auto;
    min-width: 0px;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    width: 100%;
}

.content-viewport {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @media (min-width: 992px) {
        flex-direction: row;
    }
}

:global {
    .event-hierarchy {
        font-size: 0.8rem;
        font-weight: bold;
        white-space: pre-wrap;
        width: 100%;

        &__property {
            color: darkgreen;
            font-weight: normal;
        }

        &__attribute {
            color: darkorchid;
            font-weight: bold;
        }
    }

    .anchor {
        color: black;
        font-size: 1.3rem;

        &.before {
            height: 100%;
            width: 1.5rem;
            display: flex;
            align-items: center;
        }
    }
}
