@use '../core' as *;

.card {
    --card-color: var(--border-color);
    --header-tint: 77.5%;
    --content-tint: 95%;

    display: flex;
    flex-direction: column;
    border-radius: calc(var(--border-radius) * 2);
    border: 3px solid var(--card-color);
    background-color: var(--card-color);
    overflow: hidden;

    header,
    .header,
    .top {
        padding: $size-1 $size-2;
        background-color: color-mix(in srgb, var(--default-background-color) var(--header-tint), var(--card-color));
    }

    .content,
    .bottom {
        flex-grow: 1;
        padding: $size-2;
        background-color: color-mix(in srgb, var(--default-background-color) var(--content-tint), var(--card-color));
    }
}

.tabs-outer {
    header,
    .tabs-header {
        display: flex;
        gap: 0 $size-4;
        width: 100%;
        border-top-right-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);
        border-top: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
        border-left: 1px solid var(--border-color);
        box-shadow: inset 0 -1px 0 0 var(--border-color);
        overflow-x: auto;

        #{$darkmode-selector} & {
            background-color: var(--background-100);
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            border: 1px solid #121f29;
            border-right: 1px solid #121f29;
            border-left: 1px solid #121f29;
            box-shadow: inset 0 0px 0 0;
            background-color: #121f29;
        }
    }

    pre.code {
        margin-bottom: 0;
    }

    // If the only item in a tab is a code snippet ignore padding & remove border
    div[tab-label] pre.code:only-child {
        margin: -$size-2;
        border: none;
    }
}

.tabs-nav-list {
    display: flex;
    flex-shrink: 0;
    margin: 0;
    padding-left: $size-half;
    list-style-type: none;
    border-bottom: none;
}

.tabs-nav-item {
    margin-bottom: 0;
    padding-left: $size-1;
    padding-right: $size-1;
}

.tabs-nav-link {
    --button-text-color: var(--secondary-text-color);

    position: relative;
    display: inline-block;
    padding: ($size-1 + $size-half) $size-half;
    line-height: var(--line-height-tight);
    transition: color $default-transition-timing;
    cursor: pointer;

    &:hover {
        --button-text-color: var(--link-color);
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        opacity: 0;
        background-color: var(--link-color);
        transition: opacity 0.3s ease-in-out;
    }

    &:hover::after {
        opacity: 0.6666;
    }

    svg {
        --icon-size: #{$size-3};

        margin: -0.125em 0 0;
        transition: fill $default-transition-timing;
    }
}

.tabs-nav-link.active {
    --button-text-color: var(--text-color);

    pointer-events: none;

    &::after {
        opacity: 1;
    }

    svg {
        transition: none;
    }
}

.tabs-content {
    position: relative;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    padding: $size-2;
}
