.custom-tooltip {
    position: absolute;
    padding: 20px;
    width: 200px;
    pointer-events: none;
    transition: opacity 1s;
    overflow: auto;
    color: var(--ag-foreground-color);
    background-color: #5577cc;
}

.custom-tooltip.ag-tooltip-hiding {
    opacity: 0;
}
