
.ag-theme-quartz .ag-row-group {
    text-transform: uppercase;
    font-size: 11px;
    color: #6f6f6f;
    .ag-icon {
        opacity: 0.5;
    }
}

.ag-theme-quartz .ag-cell{
display: flex;
height: 80px;
align-items: center;
}

.ag-theme-quartz {
--ag-header-background-color: transparent !important;
--ag-data-color: rgb(23, 23, 23);
--ag-header-foreground-color: rgb(96, 96, 96) !important;
--ag-row-hover-color: #f4f4f4 !important;
}

.advice {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #686868;
    margin-top: 4px;
}
.adviceIcon {
    height: 16px;
    width: 16px;
    opacity: 0.6;
}
.image-container {
width: 60px;
height: 60px;
background-color: rgba(201, 201, 201, 0.2);
border-radius: 8px;
margin: 8px;;
}

.product-cell {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    div:first-child {
        font-weight: 500;
    }
    div {
        padding-bottom: 0;
        line-height:1.5;
    }
}
.stock-cell {
    opacity: 0.7;
}

.status-cell {
    border-radius: 100px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 2;
    font-weight: 500;
    color: #343434;
    border: 1.5px solid rgba(91, 91, 91, 0.2);
}
.active-tag {
    background-color: rgb(242, 242, 242);
    color: rgb(49, 49, 49);
    border: 0px;
}

.product-cell-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin-right: 0 !important;
    }
}

.delete-button {
    background-color: hsl(0 72.22% 50.59% / 1);
    border: 1px solid hsl(0, 67%, 40%);
    height: 40px;
    width: 40px;

    img {
        width: 20px;
        left: 25px;
        position: absolute;
        top: 30px;
    }

    &:hover {
        background-color: hsl(0, 67%, 40%);
    }
}

.button-stop-selling {
    height: 40px;
    line-height: 1.8;
}

.button-cell  {
    display: flex;
    gap: 8px;
}