.ag-body-viewport {
    --ag-pinned-source-row-colour: var(--ag-input-disabled-text-color);
}

.ag-row-pinned-source {
    color: var(--ag-pinned-source-row-colour);
}

[data-ag-theme-mode='light'] {
    --ag-pinned-top-row-border-color: rgb(220, 220, 220);
    --ag-pinned-bottom-row-border-color: rgb(220, 220, 220);
}

[data-ag-theme-mode='dark'],
[data-ag-theme-mode='dark-blue'] {
    --ag-pinned-top-row-border-color: rgb(110, 110, 110);
    --ag-pinned-bottom-row-border-color: rgb(110, 110, 110);
}

.ag-floating-top-container > .ag-row:last-child {
    border-bottom: 3px solid var(--ag-pinned-top-row-border-color);
}

.ag-floating-bottom-container > .ag-row:first-child {
    border-top: 2px solid var(--ag-pinned-bottom-row-border-color);
}
