.chart-wrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid darkslategray;
    height: 440px;
    overflow: hidden;
}

.chart-wrapper-top {
    height: 40px;
    padding: 10px;
    text-align: center;
}

.chart-wrapper-title {
    font-weight: bold;
}
