.grid {
    --ag-header-background-color: transparent !important;
    --ag-data-color: rgb(23, 23, 23) !important;
    --ag-header-foreground-color: rgb(96, 96, 96) !important;
}

:global {
    .rag-red {
        background-color: #cc222244;
    }

    .rag-green {
        background-color: #33cc3344;
    }

    .rag-amber {
        background-color: #ffbf00;
    }
}

.toolbar {
    padding-bottom: 16px;
    font-size: 14px;
    button {
        font-weight: 500;
    }
}

.grid {
    height: 100vh;
}
