---
import { urlWithBaseUrl } from '@utils/urlWithBaseUrl';
import styles from './index.module.scss';
---

<div class={styles.wrapper}>
    <div class={styles.container}>
        <div class={styles.toolbar}>
            <button id="export-to-excel" class="button-secondary">
                <img class={styles.buttonIcon} src={urlWithBaseUrl('/example/finance/icons/download.svg')} />Export to
                Excel
            </button>
        </div>
        <div id="myGrid" class:list={['ag-theme-quartz', styles.grid]}></div>
    </div>
</div>

<script src="./main.ts"></script>
