---
import styles from '../../Showcase.module.scss';
---

<div class={styles.container}>
    <button id="export-to-excel">Export to Excel</button>
    <div id="myGrid" class:list={['ag-theme-quartz', styles.grid]}></div>
</div>

<script src="./main.ts"></script>
